Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-02, with the labels that each got.

#7205 Wpcom-only subdomain suggestions in new site-creation
  WordPress/src/main/java/org/wordpress/android/ui/accounts/NewBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainLoaderFragment.java
  build.gradle
Labels: Site Creation

#7234 Feature/plugin browser tweaks
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/res/layout/plugin_browser_row.xml
Labels: Jetpack Plugins

#7232 ViewModel constructor injection
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelFactory.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelSubComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
Labels: Jetpack Plugins

#7229 Use ViewModel & LiveData for Plugin Directory
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelFactory.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelSubComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginList.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Jetpack Plugins

#7240 ViewModelFactory refactoring
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelSubComponent.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/ViewModelFactory.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/ViewModelKey.java
Labels: Jetpack Plugins

#7242 Fix the plugin chevron animation
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
Labels: Jetpack Plugins

#7244 Save PluginBrowserViewModel to Bundle
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
Labels: Jetpack Plugins

#7207 Feature/plugin browser master
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginList.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/ViewModelFactory.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/ViewModelKey.java
  WordPress/src/main/res/drawable/ic_checkmark_green_24dp.xml
  WordPress/src/main/res/drawable/plugin_update_available_icon.xml
  WordPress/src/main/res/layout/plugin_browser_activity.xml
  WordPress/src/main/res/layout/plugin_browser_row.xml
  WordPress/src/main/res/layout/plugin_detail_activity.xml
  WordPress/src/main/res/layout/plugin_list_activity.xml
  WordPress/src/main/res/layout/plugin_list_fragment.xml
  WordPress/src/main/res/layout/plugin_list_row.xml
  WordPress/src/main/res/layout/plugin_ratings_cardview.xml
  WordPress/src/main/res/menu/search.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Plugins, [Status] Needs Design Review

#7254 Issue/plugins tap target
  WordPress/src/main/res/layout/plugin_browser_activity.xml
Labels: Jetpack Plugins

#7253 Issue/plugins-toolbar-shadow
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
Labels: Jetpack Plugins

#7248 Pull to Refresh Plugins
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  WordPress/src/main/res/layout/plugin_list_fragment.xml
  build.gradle
Labels: Jetpack Plugins

#7270 Feature/awesome accesibility custom views
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsBarGraph.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPScrollView.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPViewPager.java
  WordPress/src/main/res/layout/about_activity.xml
  WordPress/src/main/res/layout/category_select_button.xml
  WordPress/src/main/res/layout/comment_action_footer.xml
  WordPress/src/main/res/layout/create_blog_fragment.xml
  WordPress/src/main/res/layout/magic_link_request_fragment.xml
  WordPress/src/main/res/layout/magic_link_sent_fragment.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/layout/media_preview_fragment.xml
  WordPress/src/main/res/layout/new_account_user_fragment_screen.xml
  WordPress/src/main/res/layout/new_edit_post_activity.xml
  WordPress/src/main/res/layout/note_block_comment_user.xml
  WordPress/src/main/res/layout/note_block_footer.xml
  WordPress/src/main/res/layout/note_block_header.xml
  WordPress/src/main/res/layout/note_block_user.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/layout/notifications_settings_activity.xml
  WordPress/src/main/res/layout/people_invite_fragment.xml
  WordPress/src/main/res/layout/person_detail_fragment.xml
  WordPress/src/main/res/layout/promo_dialog_advanced.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/signin_fragment.xml
  WordPress/src/main/res/layout/stats_top_module_pager_button.xml
  WordPress/src/main/res/layout/stats_visitors_and_views_tab.xml
  WordPress/src/main/res/layout/wp_simple_list_item_1.xml
Labels: Accessibility

#7264 Issue/7241 update site button
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_domains_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_user_circle_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login

#7275 Don't promote to foreground if null state
  libs/login/WordPressLoginFlow/build.gradle
  libs/utils/WordPressUtils/build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AutoForeground.java
Labels: Login

#7228 Prompt for Jetpack setup from Notifications
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionDeeplinkActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.java
  WordPress/src/main/res/drawable/jetpack_connection_notifications.xml
  WordPress/src/main/res/drawable/jetpack_connection_stats.xml
  WordPress/src/main/res/layout/notifications_fragment_notes_list.xml
  WordPress/src/main/res/layout/stats_jetpack_connection_activity.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Jetpack

#7256 Jetpack speed up settings
  WordPress/src/main/java/org/wordpress/android/models/JetpackSettingsModel.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DotComSiteSettings.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/site_settings.xml
  libs/networking/WordPressNetworking/src/main/java/org/wordpress/android/networking/RestClientUtils.java
Labels: Jetpack

#7260 Remove Reblog button for Jetpack sites
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeManageConnectionsFragment.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPPrefView.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/publicize_preferences.xml
Labels: Jetpack, [Type] Broken Window

#7280 Reflects FluxC changes for Plugins
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginList.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  WordPress/src/main/res/layout/plugin_detail_activity.xml
  WordPress/src/main/res/layout/plugin_ratings_cardview.xml
  build.gradle
Labels: Jetpack Plugins

#7307 issue/7306-plugin-detail-npe-9.5
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
Labels: Jetpack Plugins

#7274 Use jetpack settings for comment likes
  WordPress/src/main/java/org/wordpress/android/models/JetpackSettingsModel.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DotComSiteSettings.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
Labels: Jetpack, [Type] Broken Window

#7310 Setup strict check on log-in site path in Jetpack connection flow
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewClient.java
Labels: Jetpack

#7329 Issue/7327 update signup magic
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupMagicLinkFragment.java
  WordPress/src/main/res/layout-land/signup_magic_link.xml
  WordPress/src/main/res/layout/signup_magic_link.xml
  WordPress/src/main/res/values/strings.xml
Labels: Signup

#7292 Handle plugin change events in PluginBrowserViewModel
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginList.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  build.gradle
Labels: Jetpack Plugins
