Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-03, with the labels that each got.

#7335 Just continue if NEW_SITE fails due to "site exists"
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCreatingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationService.java
Labels: Site Creation

#7341 Issue/7339 crash download avatar
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
Labels: Signup, [Type] Crash

#7343 Issue/7342 tos link locale
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
Labels: Signup, [Type] Bug

#7293 Activate the plugin after installation
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  build.gradle
Labels: Jetpack Plugins

#7308 Hide Sharing settings when Jetpack Sharing module is disabled
  WordPress/src/main/java/org/wordpress/android/models/JetpackSettingsModel.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DotComSiteSettings.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java
  WordPress/src/main/res/layout/publicize_button_prefs_fragment.xml
  WordPress/src/main/res/layout/publicize_list_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack, [Type] Broken Window

#7345 Use site's title for domain suggestions primer
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
Labels: Site Creation

#7356 Fix copy/paste error
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
Labels: Login

#7349 Use FluxC with authenticated /domains/suggestions
  build.gradle
Labels: Site Creation

#7337 Hide plugin install button while already installing
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
Labels: Jetpack Plugins

#7365 Issue/7321 signup epilogue blank
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
Labels: Signup, [Pri] High, [Type] Bug

#7387 Guard for null Activity
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
Labels: Media

#7380 Issue/7379 signup password toggle
  WordPress/src/main/res/layout/signup_epilogue.xml
Labels: Signup

#7381 Issue/7322 signup gravatar upload
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/res/values/strings.xml
Labels: Signup, [Pri] High, [Type] Bug

#7347 Featured plugins
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  WordPress/src/main/res/layout/plugin_browser_activity.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Jetpack Plugins

#7412 issue/7411-fix-media-preview-npe
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
Labels: Media

#7410 Jetpack connection code improvements
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewClient.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.java
Labels: Jetpack

#7366 Plugins: Better handle network conditions
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
Labels: Jetpack Plugins

#7443 Fix plugin search and update fluxc hash
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  build.gradle
Labels: Jetpack Plugins

#7445 Plugin Improvements
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginList.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  WordPress/src/main/res/layout/plugin_browser_activity.xml
  WordPress/src/main/res/layout/plugin_detail_activity.xml
  WordPress/src/main/res/layout/plugin_ratings_cardview.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Plugins

#7440 issue/7437-email-availability-error
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Login

#7458 Issue/7456 update site error
  WordPress/src/main/res/values/strings.xml
Labels: Site Creation

#7447 Issue/7363 plugin detail row
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/res/drawable-hdpi/button_blue.9.png
  WordPress/src/main/res/drawable-xhdpi/button_blue.9.png
  WordPress/src/main/res/drawable-xxhdpi/button_blue.9.png
  WordPress/src/main/res/layout/plugin_browser_activity.xml
  WordPress/src/main/res/layout/plugin_browser_row.xml
  WordPress/src/main/res/layout/plugin_detail_activity.xml
  WordPress/src/main/res/values/styles.xml
Labels: Jetpack Plugins

#7331 Add source to Jetpack connection flow tracking + make events generic
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionDeeplinkActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack

#7465 Issue/7464 display site quota
  WordPress/src/main/java/org/wordpress/android/models/SiteSettingsModel.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/site_settings.xml
  build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/FormatUtils.java
Labels: Media, Site Settings

#7474 Feature/extract signup flow
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/res/values/dimens.xml
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/di/LoginFragmentModule.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_magic_link.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_email_fragment.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_magic_link.xml
  libs/login/WordPressLoginFlow/src/main/res/values/dimens.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Signup

#7466 New Editor toolbar actions
  WordPress/src/main/java/org/wordpress/android/ui/posts/BaseYesNoFragmentDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/res/layout/new_edit_post_activity.xml
  WordPress/src/main/res/menu/edit_post.xml
  WordPress/src/main/res/values/strings.xml
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/res/menu/menu_aztec.xml
Labels: Posting/Editing, [Status] In Progress

#7461 Kotlin support + ktlint setup
  .travis.yml
  WordPress/build.gradle
  build.gradle
Labels: Core

#7482 Fix title TalkBack announcements in me section
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: /Me, Accessibility, [Status] In Progress

#7490 Feature/awesome accessibility notification
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderUserAdapter.java
  WordPress/src/main/res/layout/note_block_comment_user.xml
  WordPress/src/main/res/layout/note_block_user.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: Accessibility, Notifications

#7477 Need positional args when multiple subtitutions
  WordPress/src/main/res/values/strings.xml
Labels: General, [Status] In Progress

#7494 Issue/7492 username changer crash
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/UsernameChangerFullScreenDialogFragment.java
Labels: [Pri] Blocking, [Type] Crash

#7496 Issue/update signup analytics
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupGoogleFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: Analytics, Login, Signup

#7512 Issue/magic link sent
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
Labels: Analytics, Signup

#7481 Feature/stock photos search
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaRetainedFragment.java
  WordPress/src/main/res/layout/stock_media_picker_activity.xml
  WordPress/src/main/res/layout/stock_media_picker_thumbnail.xml
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Stock Photos

#7499 Fix title TalkBack announcements in my site section
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/EditCommentActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlansActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeBaseFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/res/layout/media_settings_activity.xml
  WordPress/src/main/res/layout/publicize_detail_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Accessibility

#7519 Feature/awesome accesible stats
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsAuthorsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsBarGraph.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsClicksFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsCommentsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsFollowersFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsGeoviewsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsPublicizeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsReferrersFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsSearchTermsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsSingleItemDetailsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsTagsAndCategoriesFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsVideoplaysFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsVisitorsAndViewsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/adapters/PostsAndPagesAdapter.java
  WordPress/src/main/res/layout-sw720dp/stats_insights_all_time_item.xml
  WordPress/src/main/res/layout/stats_activity_single_post_details.xml
  WordPress/src/main/res/layout/stats_insights_all_time_item.xml
  WordPress/src/main/res/layout/stats_insights_most_popular_item.xml
  WordPress/src/main/res/layout/stats_visitors_and_views_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Accessibility, Stats

#7516 Issue/7515 update authentication analytics
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginMagicLinkInterceptActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/MagicLinkRequestFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
Labels: Analytics, Login, Signup

#7530 Feature/improving stats bar announcements
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsSingleItemDetailsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsVisitorsAndViewsFragment.java
  WordPress/src/main/res/values/strings.xml
Labels: Stats

#7537 issue/7534-reader-empty-after-resume
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#7514 Feature/stock photos upload
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
Labels: Stock Photos

#7535 Issue/7533 add tab analytics
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Masterbar

#7544 Issue/7483 post preview blank after rotate
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPreviewFragment.java
Labels: Posting/Editing

#7541 Issue/7463 post list settings gone on rotate
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsListDialogFragment.java
Labels: Posting/Editing

#7438 Issue/7368 update dialog style
  WordPress/src/main/java/org/wordpress/android/ui/AddQuickPressShortcutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/UsernameChangerFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/EditCommentActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/people/RoleChangeDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/RoleSelectDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/AddCategoryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/BaseYesNoFragmentDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostDatePickerDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsListDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DeleteSiteDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DetailListPreference.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/NumberPickerDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ProfileInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/RelatedPostsDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFormatDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTagListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTimezoneDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SummaryEditTextPreference.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/util/SelfSignedSSLUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/java/org/wordpress/android/widgets/AuthErrorDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPAlertDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPPrefView.java
  WordPress/src/main/res/layout/promo_dialog.xml
  WordPress/src/main/res/layout/promo_dialog_advanced.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles_calypso.xml
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/ImageSettingsDialogFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/LegacyEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/LinkDialogFragment.java
  libs/editor/WordPressEditor/src/main/res/values/colors.xml
  libs/editor/WordPressEditor/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginHttpAuthDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressHelpDialogFragment.java
Labels: Posting/Editing, [Status] Needs Code Review

#7538 Feature/stock photos preview
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/res/layout/media_preview_activity.xml
  WordPress/src/main/res/layout/stock_media_picker_activity.xml
  WordPress/src/main/res/values/strings.xml
Labels: Stock Photos

#7547 Feature/stock photos editor and analytics
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stock Photos

#7551 Convert PluginBrowserViewModel to Kotlin
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.kt
Labels: Jetpack Plugins

#7560 Feature/awesome accessibility font size audit
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsSingleItemDetailsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsVisitorsAndViewsFragment.java
  WordPress/src/main/res/layout/comment_action_footer.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/people_list_row.xml
  WordPress/src/main/res/layout/person_detail_fragment.xml
  WordPress/src/main/res/layout/reader_activity_subs.xml
  WordPress/src/main/res/layout/site_picker_listitem.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_input_row.xml
Labels: Accessibility

#7558 Disable Widgets for ARC devices
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsActivity.java
Labels: Tablet Refresh

#7556 Feature/stock photos design review
  .idea/codeStyles/codeStyleConfig.xml
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/res/drawable/ic_stock_media.xml
  WordPress/src/main/res/layout/stock_media_picker_activity.xml
  WordPress/src/main/res/values/strings.xml
Labels: Stock Photos, [Status] Needs Design Review

#7561 Update Gradle for Android Studio 3.1
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/res/layout/site_settings_format_dialog.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  libs/analytics/WordPressAnalytics/build.gradle
  libs/analytics/gradle/wrapper/gradle-wrapper.properties
  libs/editor/.travis.yml
  libs/editor/WordPressEditor/build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorMediaUtils.java
  libs/editor/WordPressEditor/src/main/res/layout/alert_image_options.xml
  libs/editor/example/build.gradle
  libs/editor/gradle/wrapper/gradle-wrapper.properties
  libs/login/.travis.yml
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/gradle/wrapper/gradle-wrapper.properties
  libs/networking/WordPressNetworking/build.gradle
  libs/networking/gradle/wrapper/gradle-wrapper.properties
  libs/utils/.travis.yml
  libs/utils/WordPressUtils/build.gradle
  libs/utils/gradle/wrapper/gradle-wrapper.properties
Labels: Core
