Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-12, with the labels that each got.

#8702 Issue/history list diffs
  WordPress/src/main/java/org/wordpress/android/ui/history/RevisionItemViewHolder.kt
Labels: Posting/Editing, [Type] Bug

#8709 Issue/lint my site
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
Labels: General

#8714 Fix crash on api level < 24 in APP settings
  WordPress/src/main/res/values/strings.xml
Labels: gutenberg-mobile

#8707 Issue/8642 sites quick start
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/res/color/quick_start_title_selector.xml
  WordPress/src/main/res/drawable/bg_oval_accent.xml
  WordPress/src/main/res/drawable/bg_oval_blue_medium_customize_white_40dp.xml
  WordPress/src/main/res/drawable/bg_oval_blue_medium_customize_white_40dp_selector.xml
  WordPress/src/main/res/drawable/bg_oval_grey_customize_white_40dp.xml
  WordPress/src/main/res/drawable/bg_oval_grey_multiple_users_white_40dp.xml
  WordPress/src/main/res/drawable/bg_oval_pink_500_multiple_users_white_40dp.xml
  WordPress/src/main/res/drawable/bg_oval_pink_500_multiple_users_white_40dp_selector.xml
  WordPress/src/main/res/drawable/ic_list_checkmark_grey_24dp.xml
  WordPress/src/main/res/drawable/ic_more_vert_white_24dp.xml
  WordPress/src/main/res/drawable/ic_multiple_users_white_24dp.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/quickstart/QuickStartViewModelTest.kt
  build.gradle
Labels: Checklist, [Status] Needs Design Review, [Type] Task

#8716 Remove aztec Toolbar from Gutenberg editor fragment
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
  libs/editor/WordPressEditor/src/main/res/layout/fragment_gutenberg_editor.xml
Labels: gutenberg-mobile

#8675 Feature/8498 sc main vm wizard
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/OnSkipClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SegmentsScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentPromptUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/VerticalsScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/util/wizard/WizardManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/SingleEventObservable.kt
  WordPress/src/main/res/layout/new_site_creation_verticals_screen.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsPromptUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation

#8718 Remove android.permission.SYSTEM_ALERT_WINDOW in release builds
  WordPress/src/release/AndroidManifest.xml
Labels: gutenberg-mobile

#8697 Refactor SegmentViewModelTest
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
Labels: Site Creation

#8721 Site Creation Wizard - fix wrong target branch
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/OnSkipClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SegmentsScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentPromptUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/VerticalsScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/util/wizard/WizardManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/SingleEventObservable.kt
  WordPress/src/main/res/layout/new_site_creation_verticals_screen.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation

#8656 Feature/keep ui state of block items
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsBlockAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsBlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/InsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TodayStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/BlockListViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/main/res/layout/stats_block_divider_item.xml
  WordPress/src/main/res/layout/stats_block_expandable_item.xml
  WordPress/src/main/res/layout/stats_block_tabs_item.xml
  WordPress/src/main/res/layout/stats_list_block.xml
  WordPress/src/main/res/layout/stats_list_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TodayStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/util/LiveDataUtilsTest.kt
Labels: Stats Refresh

#8729 Specify the mediaToolbarAvailable flag
  libs/editor/WordPressEditor/src/main/res/layout/fragment_aztec_editor.xml
Labels: gutenberg-mobile

#8728 Fix/the rotation issue with the gutenberg editor
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: gutenberg-mobile

#8719 Site Creation: Site Info VM, Fragment and Unit Tests
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationSiteInfoViewModel.kt
  WordPress/src/main/res/layout/new_site_creation_site_info_screen.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/SiteInfoUiStateTest.kt
Labels: Site Creation, [Status] Needs Design Review

#8740 Add RELEASE-NOTES.txt file to encourage adding release notes iteratively
  .github/PULL_REQUEST_TEMPLATE.md
  RELEASE-NOTES.txt
  fastlane/helpers/android_git_helper.rb
Labels: [Type] Enhancement

#8742 Remove handling of Note ids in adapter
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
Labels: [Type] Crash

#8737 Site Creation: Duplicate reused layouts
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainFragment.java
  WordPress/src/main/res/layout/new_site_creation_activity.xml
  WordPress/src/main/res/layout/new_site_creation_domain_header.xml
  WordPress/src/main/res/layout/new_site_creation_domain_input.xml
  WordPress/src/main/res/layout/new_site_creation_domain_item.xml
  WordPress/src/main/res/layout/new_site_creation_domain_screen.xml
Labels: Site Creation, [Status] Not Ready for Review

#8720 Issue/8643 full screen dialog
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/res/color/quick_start_icon_selector.xml
  WordPress/src/main/res/drawable/ic_stats_alt_white_24dp.xml
  WordPress/src/main/res/layout/quick_start_dialog_fragment.xml
  WordPress/src/main/res/layout/quick_start_list_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Checklist, [Type] Task

#8732 Issue/8670 site creation errors segments
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/NetworkUtilsWrapper.kt
  WordPress/src/main/res/layout/site_creation_error_with_retry.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/CoroutinesUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation, [Status] Needs Design Review

#8733 Issue/8670 Site creation error verticals
  WordPress/src/main/java/org/wordpress/android/models/networkresource/ListState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/main/res/layout/new_site_creation_verticals_error_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation, [Status] Needs Design Review

#8745 Site Creation: Fixes the lint issue in domain input layout in new site creation
  WordPress/src/main/res/layout/new_site_creation_domain_input.xml
Labels: Site Creation

#8743 Add CircleCI config
  .circleci/config.yml
  WordPress/build.gradle
Labels: [Type] Enhancement

#8734 Create referrers block in Stats
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/BaseListUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8657 Issue/exported service
  WordPress/lint.xml
  WordPress/src/main/AndroidManifest.xml
Labels: [Type] Bug

#8761 Feature/8759 site creation connect steps
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteInfoScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationSiteInfoViewModel.kt
  WordPress/src/main/res/layout/new_site_creation_site_info_screen.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/SiteInfoUiStateTest.kt
Labels: Site Creation

#8765 Move React Native/Gutenberg repositories to project build.gradle to fix ordering
  WordPress/build.gradle
  build.gradle
Labels: [Type] Enhancement, gutenberg-mobile

#8753 Site Creation: SearchInputWithHeader
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationHeaderUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationSearchInputUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/main/res/layout/new_site_creation_verticals_screen.xml
Labels: Site Creation

#8738 Create clicks block
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8764 Re-add the `rebuild_screenshot_devices` action
  fastlane/ScreenshotFastfile
Labels: Tooling

#8750 Issue/8644 remove unused activity
  WordPress/lint-baseline.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFragment.kt
  WordPress/src/main/res/drawable/img_emoji_party_popper_24sp.xml
  WordPress/src/main/res/layout/quick_start_activity.xml
  WordPress/src/main/res/layout/quick_start_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Checklist, [Type] Task

#8756 Issue/8690 site creation titles
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationBaseFormFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationCreatingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationNewSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationThemeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/wizard/WizardManager.kt
  WordPress/src/main/res/values/strings.xml
Labels: Site Creation

#8769 CircleCI improvements
  .circleci/config.yml
Labels: Tooling

#8760 Create SelectedDateProvider to keep selected date and update use cases
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/SelectedDateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8781 Hide the Gutenberg debug menu in release builds
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#8758 Fixes help button on NewSiteCreation segments, verticals and site info screens
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/OnHelpClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationSiteInfoViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation

#8777 open Gutenberg editor for empty-bodied Posts if Gutenberg is enabled
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
Labels: gutenberg-mobile

#8793 Site Creation: Enable new site creation flow for DEBUG builds in WIP branch
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCase.kt
Labels: Site Creation

#8797 Remove unused Maven repository
  WordPress/build.gradle
Labels: Tooling

#8747 Consolidate styles in Insights in refreshed Stats
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsBlockAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TodayStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/LoadingViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/BarChartUtils.kt
  WordPress/src/main/res/layout/stats_block_bar_chart_item.xml
  WordPress/src/main/res/layout/stats_block_column_item.xml
  WordPress/src/main/res/layout/stats_block_header_item.xml
  WordPress/src/main/res/layout/stats_block_info_item.xml
  WordPress/src/main/res/layout/stats_block_link_item.xml
  WordPress/src/main/res/layout/stats_block_list_item.xml
  WordPress/src/main/res/layout/stats_block_tabs_item.xml
  WordPress/src/main/res/layout/stats_block_text_item.xml
  WordPress/src/main/res/layout/stats_block_user_item.xml
  WordPress/src/main/res/layout/stats_fragment.xml
  WordPress/src/main/res/layout/stats_list_block.xml
  WordPress/src/main/res/layout/stats_list_fragment.xml
  WordPress/src/main/res/layout/stats_loading_view.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCaseTest.kt
Labels: Stats Refresh

#8786 Create countries block
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCase.kt
  WordPress/src/main/res/layout/stats_block_web_view_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8803 Disable Danger for forks
  .circleci/config.yml
  .travis.yml
Labels: Tooling

#8789 Create video plays block in Stats
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCaseTest.kt
Labels: Stats Refresh

#8784 Create authors block in Stats
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/res/layout/stats_block_list_item.xml
  WordPress/src/main/res/layout/stats_block_user_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
Labels: Stats Refresh

#8806 Add .blog subdomain support
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainLoaderFragment.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Site Creation

#8804 Site Creation: Domains Screen
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainLoaderFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationHeaderUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationSearchInputUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/DomainsScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchDomainsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiString.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiStringHelper.kt
  WordPress/src/main/res/color/grey_blue_radio_button_state_list.xml
  WordPress/src/main/res/layout/new_site_creation_domain_header.xml
  WordPress/src/main/res/layout/new_site_creation_domain_input.xml
  WordPress/src/main/res/layout/new_site_creation_domain_item.xml
  WordPress/src/main/res/layout/new_site_creation_domain_screen.xml
  WordPress/src/main/res/layout/new_site_creation_domains_item.xml
  WordPress/src/main/res/layout/new_site_creation_domains_screen.xml
  WordPress/src/main/res/layout/new_site_creation_site_info_screen.xml
  WordPress/src/main/res/layout/new_site_creation_suggestions_error_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation, [Status] Needs Design Review

#8775 Create overview block
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/SelectedDateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/BarChartUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/res/color/stats_block_column.xml
  WordPress/src/main/res/layout/stats_block_column.xml
  WordPress/src/main/res/layout/stats_block_column_item.xml
  WordPress/src/main/res/layout/stats_block_columns_item.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TodayStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
Labels: Stats Refresh

#8818 Replace obsolete configuration in build.gradle
  WordPress/build.gradle
Labels: Tooling

#8795 Feature/8512 create site service
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationCreatingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationService.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/CreateSiteUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationService.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceData.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceNotification.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceState.kt
  WordPress/src/main/java/org/wordpress/android/util/LocaleManager.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/CreateSiteUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManagerTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AutoForegroundNotification.java
Labels: Site Creation

#8816 Put the Gutenberg app setting at the top of the list
  WordPress/src/main/res/xml/app_settings.xml
Labels: gutenberg-mobile

#8826 Focus on title when the new post loads
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
  libs/editor/WordPressEditor/src/main/res/layout/fragment_gutenberg_editor.xml
Labels: gutenberg-mobile

#8835 Create date block
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/DateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/BaseStatsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/BlockListViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/res/layout/stats_block_background_information_item.xml
  WordPress/src/main/res/layout/stats_list_block.xml
  WordPress/src/main/res/layout/stats_loading_view.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/DateUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
  build.gradle
Labels: Stats Refresh

#8798 Editor: verify Aztec mode before running Aztec's media uploading checking methods
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Posting/Editing, gutenberg-mobile

#8825 Feature/8796 create site ui
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/CreateSiteUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/FetchWpComSiteUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceData.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/SitePreviewScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/wizard/WizardManager.kt
  WordPress/src/main/res/layout/new_site_creation_preview_screen.xml
  WordPress/src/main/res/layout/new_site_creation_progress.xml
  WordPress/src/main/res/layout/site_creation_error_with_retry.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/CreateSiteUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManagerTest.kt
Labels: Site Creation, [Status] Needs Design Review

#8845 NewSitePreview - > Transition animation + OnConfigChange fix
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSitePreviewViewModel.kt
Labels: Site Creation, [Status] Needs Design Review

#8792 Giphy Picker
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/assets/licenses.html
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActionableEmptyView.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/giphy/GiphyMediaViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/giphy/GiphyPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/giphy/GiphyPickerPagedListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/giphy/LifecycleOwnerViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/util/LiveDataExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/giphy/CoroutineScopedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/giphy/GiphyMediaFetcher.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/giphy/GiphyMediaViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/giphy/GiphyPickerDataSource.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/giphy/GiphyPickerDataSourceFactory.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/giphy/GiphyPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/giphy/MutableGiphyMediaViewModel.kt
  WordPress/src/main/res/drawable/giphy_attribution_100dp.xml
  WordPress/src/main/res/layout/actionable_empty_view.xml
  WordPress/src/main/res/layout/media_picker_activity.xml
  WordPress/src/main/res/layout/media_picker_thumbnail.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/giphy/GiphyPickerViewModelTest.kt
  gradle.properties-example
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Media, [Type] Enhancement

#8836 Analytics in refreshed Stats
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsTrackerWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCaseTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stats Refresh

#8847 Fixes the initial loading state of domains page
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsViewModel.kt
Labels: Site Creation, [Status] Needs Design Review

#8844 Stats design improvements
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListItemDecoration.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsBlockAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/GranularStatefulUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/GranularStatelessUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/SelectedDateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/DateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/BlockListViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/BarChartUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/res/color/stats_block_column.xml
  WordPress/src/main/res/layout/stats_block_column_centered.xml
  WordPress/src/main/res/layout/stats_block_columns_item.xml
  WordPress/src/main/res/layout/stats_block_four_columns_item.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/DateUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
Labels: Stats Refresh

#8772 Editor: fix "discard local changes" behavior
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing

#8854 Feature/site creation minor issues
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/res/layout/new_site_creation_segments_header_item.xml
  WordPress/src/main/res/layout/new_site_creation_site_info_screen.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_header_item.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_screen.xml
Labels: Site Creation

#8860 Issue/update me layout
  RELEASE-NOTES.txt
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: /Me, Tablet Refresh, [Status] Needs Code Review

#8861 Issue/update notifications layout
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles_calypso.xml
Labels: Notifications, [Type] Enhancement

#8867 InstallationReferrerService: add permission
  WordPress/src/main/AndroidManifest.xml
Labels: Analytics, [Type] Bug

#8870 Site Creation: Add a timeout to preload of preview WebView
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/URLFilteredWebViewClient.java
  WordPress/src/main/res/layout/new_site_creation_preview_screen.xml
Labels: Site Creation

#8869 Site Creation: Handle the case in which the site is created but couldn't be fetched
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/res/layout/site_picker_activity.xml
  WordPress/src/main/res/values/integers.xml
  WordPress/src/main/res/values/strings.xml
Labels: Site Creation

#8875 Issue/8443 signup password errors
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
Labels: Signup, [Status] Needs Code Review, [Type] Enhancement

#8878 Site Creation: Domain page improvements
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/res/layout/new_site_creation_domains_item.xml
  build.gradle
Labels: Domain Search, Site Creation

#8882 Site Creation: Open keyboard as user enters verticals and domains screens
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationSiteInfoViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation
