Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-05, with the labels that each got.

#7662 Feature/android shortcuts
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/Shortcut.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsActivity.java
  WordPress/src/main/java/org/wordpress/android/util/ShortcutUtils.java
  WordPress/src/main/res/drawable-anydpi-v26/ic_shortcut_create_post.xml
  WordPress/src/main/res/drawable-anydpi-v26/ic_shortcut_notifications.xml
  WordPress/src/main/res/drawable-anydpi-v26/ic_shortcut_stats.xml
  WordPress/src/main/res/drawable-anydpi/ic_shortcut_create_post.xml
  WordPress/src/main/res/drawable-anydpi/ic_shortcut_notifications.xml
  WordPress/src/main/res/drawable-anydpi/ic_shortcut_stats.xml
  WordPress/src/main/res/drawable/ic_gridicons_bell.xml
  WordPress/src/main/res/drawable/ic_gridicons_create_post.xml
  WordPress/src/main/res/drawable/ic_gridicons_stats_alt.xml
  WordPress/src/main/res/drawable/ic_shortcut_background.xml
  WordPress/src/main/res/xml/shortcuts.xml
  WordPress/src/wasabi/res/xml/shortcuts.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Status] Needs Code Review

#7692 Analytics: Log tracks to the console. Highlight with dot.
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Enhancement

#7652 Show delete confirmation message according of the type of Post
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/res/values/strings.xml
Labels: Post List, [Status] Needs Code Review

#7717 Add add/remove bookmark actions
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
Labels: Reader

#7718 Add bookmarked posts into reader's dropdown spinner
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/res/values/strings.xml
Labels: Reader

#7701 Issue/7545 chromeos back button
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsActivity.java
  libs/utils/WordPressUtils/build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/DeviceUtils.java
Labels: General, Tablet Refresh

#7725 Fix publish with confidence shown when updating a draft
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Posting/Editing, [Status] Not Ready for Review

#7726 Feature/save post for later native caching
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostWebViewCachingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
Labels: Reader

#7714 Issue/7708 custom dialog snackbar
  WordPress/src/main/java/org/wordpress/android/widgets/WPDialogSnackbar.java
  WordPress/src/main/res/layout/dialog_snackbar.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Checklist, [Status] In Progress

#7694 Issue/update reader analytics
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics

#7731 issue/5500 Default category/post format
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
Labels: Site Settings, [Status] Needs Code Review

#7684 Issue/7540 followed blog notifications
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostsListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderMenuAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSimplePostContainerView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSimplePostView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/main/res/drawable/ic_bell_alert_green_24dp.xml
  WordPress/src/main/res/drawable/ic_bell_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_block_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_share_grey_dark_24dp.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Notifications, Reader

#7732 Feature/save post for later button in post details
  WordPress/src/main/java/org/wordpress/android/models/ReaderPostList.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderBookmarkButton.kt
  WordPress/src/main/res/color/reader_bookmark_button_text.xml
  WordPress/src/main/res/drawable/ic_bookmark_selector_18dp.xml
  WordPress/src/main/res/layout/reader_bookmark_button.xml
  WordPress/src/main/res/layout/reader_include_post_detail_footer.xml
  WordPress/src/main/res/values/strings.xml
Labels: Reader

#7644 Rename ListNetworkResource to ListState
  WordPress/src/main/java/org/wordpress/android/models/networkresource/ListState.kt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.kt
  WordPress/src/test/java/org/wordpress/android/models/networkresource/ListStateTest.kt
Labels: General, [Status] In Progress

#7697 Hide/show the bottom navbar on search action
  WordPress/src/main/java/org/wordpress/android/ui/main/BottomNavController.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/widgets/SuggestionAutoCompleteText.java
  WordPress/src/main/res/layout/main_activity.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/DeviceUtils.java
Labels: Bottom Navigation, Reader, [Status] Needs Code Review

#7744 ListState
  WordPress/src/main/java/org/wordpress/android/models/networkresource/ListState.kt
  WordPress/src/main/java/org/wordpress/android/ui/ListDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.kt
  WordPress/src/test/java/org/wordpress/android/models/networkresource/ListStateTest.kt
Labels: Jetpack Plugins

#7680 Feature/bottom nav phase2
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/BottomNavController.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainTabAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainTabLayout.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/util/CoreEvents.java
  WordPress/src/main/java/org/wordpress/android/widgets/SuggestionAutoCompleteText.java
  WordPress/src/main/res/anim/navbar_button_scale.xml
  WordPress/src/main/res/drawable/badge.xml
  WordPress/src/main/res/drawable/badge_normal.xml
  WordPress/src/main/res/drawable/badge_pressed.xml
  WordPress/src/main/res/drawable/ic_bell_white_translucent_60_32dp.xml
  WordPress/src/main/res/drawable/ic_my_sites_white_translucent_60_32dp.xml
  WordPress/src/main/res/drawable/ic_reader_white_translucent_60_32dp.xml
  WordPress/src/main/res/drawable/ic_user_circle_white_translucent_60_32dp.xml
  WordPress/src/main/res/drawable/main_tab_me.xml
  WordPress/src/main/res/drawable/main_tab_notifications.xml
  WordPress/src/main/res/drawable/main_tab_reader.xml
  WordPress/src/main/res/drawable/main_tab_sites.xml
  WordPress/src/main/res/drawable/nav_bar_button_background.xml
  WordPress/src/main/res/drawable/notification_badge.xml
  WordPress/src/main/res/layout/main_activity.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/navbar_item.xml
  WordPress/src/main/res/layout/navbar_post_item.xml
  WordPress/src/main/res/layout/tab_icon.xml
  WordPress/src/main/res/menu/bottom_nav_main.xml
  WordPress/src/main/res/values-w400dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/DeviceUtils.java
Labels: Bottom Navigation

#7745 Remove unused magic link fragments
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SignInDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/MagicLinkRequestFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/MagicLinkSentFragment.java
  WordPress/src/main/java/org/wordpress/android/util/HelpshiftHelper.java
  WordPress/src/main/res/layout/magic_link_request_fragment.xml
  WordPress/src/main/res/layout/magic_link_sent_fragment.xml
  WordPress/src/main/res/layout/signin_dialog_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Login

#7733 Issue/5491 missing posts in reader
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostLogic.java
Labels: Reader, [Status] Needs Code Review

#7722 Site icon editing
  WordPress/src/main/java/org/wordpress/android/WordPressDB.java
  WordPress/src/main/java/org/wordpress/android/models/SiteSettingsModel.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserType.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicFragmentDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicYesNoFragmentDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPComSiteSettings.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Status] Needs Code Review

#7749 Issue/remove swipe analytics
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics

#7705 Activity Log Detail
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogDetailModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/main/res/drawable/ic_jetpack_icon_36dp.xml
  WordPress/src/main/res/layout/activity_log_detail_activity.xml
  WordPress/src/main/res/layout/activity_log_item_detail.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Stats

#7752 Issue/7751 crash resume page
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
Labels: [Type] Crash

#7747 Issue/reader post layout
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/res/drawable/ic_external_blue_light_24dp.xml
  WordPress/src/main/res/drawable/ic_external_grey_min_24dp.xml
  WordPress/src/main/res/drawable/reader_button_visit.xml
  WordPress/src/main/res/drawable/reader_visit.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
Labels: Reader, [Status] Needs Design Review

#7746 Feature/save post for later snackbar
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/res/values/strings.xml
Labels: Reader

#7755 Remove unused setHelpContext from the login listeners
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
Labels: Login

#7763 issue/7762-reader-post-list-bottomnav-crash
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#7753 Feature/kotlin bottom nav
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
Labels: Bottom Navigation

#7780 Issue/7683 bottom nav snackbar
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/layout/main_activity.xml
Labels: Bottom Navigation

#7789 Issue/7787 update calypso dialog
  WordPress/src/main/java/org/wordpress/android/ui/AddQuickPressShortcutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/EditCommentActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/people/RoleChangeDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/RoleSelectDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/AddCategoryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicFragmentDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostDatePickerDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsListDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DeleteSiteDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DetailListPreference.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/NumberPickerDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ProfileInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/RelatedPostsDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFormatDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTagListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTimezoneDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SummaryEditTextPreference.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationSettingsFollowedDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/util/SelfSignedSSLUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/java/org/wordpress/android/widgets/AuthErrorDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPAlertDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPPrefView.java
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/values/styles_calypso.xml
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/ImageSettingsDialogFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/LegacyEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/LinkDialogFragment.java
  libs/editor/WordPressEditor/src/main/res/values/styles.xml
Labels: Design, Groundskeeping, [Pri] High, [Type] Broken Window

#7788 Don't fetch account settings if there is no account in AppSettings
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
Labels: [Type] Broken Window

#7756 Zendesk WIP: Removing HelpshiftHelper and some organization
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/GCMRegistrationIntentService.java
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SignInDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/MagicLinkRequestFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/MagicLinkSentFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ReleaseNotesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/HelpshiftHelper.java
  gradle.properties-example
Labels: Support

#7781 Issue/7709 whats next sites
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PromoDialog.kt
  WordPress/src/main/java/org/wordpress/android/widgets/WPDialogSnackbar.java
  WordPress/src/main/res/drawable/bg_oval_accent.xml
  WordPress/src/main/res/drawable/ic_list_checkmark_grey_24dp.xml
  WordPress/src/main/res/drawable/img_promo_quick_start.xml
  WordPress/src/main/res/layout/dialog_snackbar.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/promo_dialog.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Checklist, [Status] Needs Design Review, [Type] Task

#7806 Show a message when there are no activity events
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogListFragment.kt
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Activity Log

#7741 Add Post sync on pause + do not show snackbar when the app is not active
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Posting/Editing, [Status] Needs Code Review

#7770 Save posts for later - Expand/collapse animation
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/res/color/button_medium_blue_tint_disabled.xml
  WordPress/src/main/res/drawable-ldrtl-v18/ic_undo_24dp.xml
  WordPress/src/main/res/drawable/ic_undo_24dp.xml
  WordPress/src/main/res/layout/reader_cardview_removed_post.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Needs Code Review, [Status] Needs Design Review

#7812 Issue/7810 retain saved posts
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
Labels: Reader

#7814 Save posts for later
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPostList.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagType.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostWebViewCachingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderBookmarkButton.kt
  WordPress/src/main/res/color/button_medium_blue_tint_disabled.xml
  WordPress/src/main/res/color/button_medium_blue_tint_enabled.xml
  WordPress/src/main/res/color/reader_bookmark_button_text.xml
  WordPress/src/main/res/drawable-ldrtl-v18/ic_undo_24dp.xml
  WordPress/src/main/res/drawable/ic_bookmark_18dp.xml
  WordPress/src/main/res/drawable/ic_bookmark_outline_18dp.xml
  WordPress/src/main/res/drawable/ic_bookmark_selector_18dp.xml
  WordPress/src/main/res/drawable/ic_undo_24dp.xml
  WordPress/src/main/res/layout/reader_bookmark_button.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_cardview_removed_post.xml
  WordPress/src/main/res/layout/reader_empty_view.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/reader_include_post_detail_footer.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Posting/Editing, [Status] Needs Code Review, [Type] Task

#7817 Update with FluxC UserAgent changes
  WordPress/src/debug/java/org/wordpress/android/modules/AppComponentDebug.java
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/AppConfigModule.java
  build.gradle
Labels: Core

#7807 Zendesk WIP: Selected site, Site State & Log changes
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ReleaseNotesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/SiteModelExtensions.kt
Labels: Support

#7801 Create service to check rewind status
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogDetailModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStateProgressWorkerController.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStatusService.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
  build.gradle
Labels: Activity Log

#7835 Issue/crash subscription error
  build.gradle
Labels: Notifications, [Type] Bug, [Type] Crash
