Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-07, with the labels that each got.

#7971 Update Aztec to v1.3.7
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec

#7844 Issue/7710 whats next progress
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskState.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/quickstart/QuickStartViewModel.kt
  WordPress/src/main/res/drawable/ic_customize_white_24dp.xml
  WordPress/src/main/res/drawable/ic_external_white_24dp.xml
  WordPress/src/main/res/drawable/ic_reader_follow_white_24dp.xml
  WordPress/src/main/res/drawable/img_emoji_party_popper_24sp.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/quick_start_activity.xml
  WordPress/src/main/res/layout/quick_start_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/quickstart/QuickStartViewModelTest.kt
  build.gradle
Labels: Checklist, [Type] Task

#7976 Issue/glide fallback placeholder
  WordPress/src/main/java/org/wordpress/android/ui/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
Labels: Reader

#7931 Properly placed pages - Part 1 - Setup architecture
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/layout/pages_activity.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/pages_list_fragment.xml
  WordPress/src/main/res/menu/menu_search.xml
  WordPress/src/main/res/values/strings.xml
Labels: Properly placed pages

#7969 Add fallthrough comment to switch cases
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#7986 Migrate ThumbnailStrip from Volley to Glide
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderThumbnailStrip.java
  WordPress/src/main/res/layout/reader_thumbnail_strip_image.xml
  WordPress/src/main/res/values/strings.xml
Labels: Reader

#7987 Properly placed pages 2 - adapters and lists
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/page_divider_item.xml
  WordPress/src/main/res/layout/page_empty_item.xml
  WordPress/src/main/res/layout/page_item.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/menu/page_more.xml
  WordPress/src/main/res/values/strings.xml
Labels: Properly placed pages, [Status] Not Ready for Review

#7994 Notifications Quick Actions processor: don't process if intent is null
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
Labels: Notifications

#7995 don't accept feed with no id and no url in updateFeedInfo
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
Labels: Reader

#7999 Issue/7998 update editor snackbar
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/res/values/strings.xml
Labels: Design

#8001 Use Activity instead of app Context to launch JobIntentService
  WordPress/src/main/java/org/wordpress/android/WordPress.java
Labels: Notifications

#8003 Issue/notification header clipped
  WordPress/src/main/res/layout/notifications_list_item.xml
Labels: Design

#8005 Issue/5681 discard changes action
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostsListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AccountSettingsFragment.java
  WordPress/src/main/res/layout/post_preview_activity.xml
  WordPress/src/main/res/menu/edit_post.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Mobile Request, [Type] Enhancement

#7985 Replace Volley with Glide in the EditPostSettings fragment
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/layout/edit_post_settings_fragment.xml
  WordPress/src/main/res/layout/post_cardview.xml
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing

#8011 Aztec: match `undo` and `discard local changes` options
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
Labels: Aztec, Posting/Editing

#8020 Replace Volley with Glide in Notifications
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/res/layout/note_block_comment_user.xml
  WordPress/src/main/res/layout/note_block_header.xml
  WordPress/src/main/res/layout/note_block_user.xml
Labels: GIF support, Notifications

#8021 Replace Volley with Glide in the Theme browser
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/layout/theme_grid_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: GIF support, Themes

#8032 Adds Android Zendesk tag
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
Labels: Support

#8029 Replace Volley with Glide in Site picker fragment
  WordPress/src/main/java/org/wordpress/android/ui/AddQuickPressShortcutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsWidgetConfigureAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/res/layout/site_picker_listitem.xml
  WordPress/src/main/res/values/strings.xml
Labels: GIF support, Site Picker

#8033 Issue/crash compound drawable
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFragment.kt
  WordPress/src/main/res/layout/quick_start_fragment.xml
Labels: [Type] Crash

#8031 Issue/8012 discard changes additions
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostPreviewActivity.java
  WordPress/src/main/res/values/dimens.xml
Labels: Mobile Request, [Type] Enhancement

#8043 Added snackbar when coming from Zendesk notfication
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: Support, [Pri] High

#8042 Allow activating premium themes on premium/business plans
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
Labels: Plans & Checkout, Themes

#8047 Add content description to images in StockLibrary
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
Labels: Accessibility

#8051 Preserve translator comments when the metadata .po file is updated
  fastlane/actions/update_metadata_source.rb
Labels: General

#8055 Issue/7996 actionable empty states (Part 1)
  WordPress/src/main/java/org/wordpress/android/ui/ActionableEmptyView.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridFragment.java
  WordPress/src/main/res/drawable/img_illustration_media.xml
  WordPress/src/main/res/layout/actionable_empty_view.xml
  WordPress/src/main/res/layout/media_grid_fragment.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: General

#8064 Replace volley with glide in Publicize section
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeConnectionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeServiceAdapter.java
  WordPress/src/main/res/layout/publicize_connection_list_item.xml
  WordPress/src/main/res/layout/publicize_listitem_connection.xml
  WordPress/src/main/res/layout/publicize_listitem_service.xml
Labels: GIF support

#8054 Make tapping on a Zendesk notification show Zendesk tickets list
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: Support, [Pri] High

#8071 Localize the error message for invalid 2fa codes
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
Labels: Project Glot, i18n

#8061 Replace Volley with Glide in Plugins
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/layout/plugin_browser_row.xml
  WordPress/src/main/res/layout/plugin_detail_activity.xml
  WordPress/src/main/res/layout/plugin_list_row.xml
Labels: GIF support, Jetpack Plugins

#8077 Replace Volley with Glide in Activity Log
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/res/layout/activity_log_item_detail.xml
Labels: Activity Log, GIF support

#8091 Replace Volley with Glide - site search result
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteSearchResultView.java
  WordPress/src/main/res/layout/reader_site_search_result.xml
Labels: GIF support, Reader

#8093 Fix forgotten WpNetworkImageView in xmls
  WordPress/src/main/res/layout/login_epilogue_sites_listitem.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/layout/site_creation_theme_item.xml
Labels: GIF support

#8038 Glide - comments
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/WPTextViewDrawableCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/java/org/wordpress/android/util/image/getters/WPCustomImageGetter.kt
  WordPress/src/main/java/org/wordpress/android/util/image/getters/WPRemoteResourceViewTarget.kt
  WordPress/src/main/res/layout/comment_detail_fragment.xml
  WordPress/src/main/res/layout/comment_listitem.xml
  WordPress/src/main/res/layout/reader_listitem_comment.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/HtmlUtils.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/ImageUtils.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/helpers/WPImageGetter.java
  libs/utils/WordPressUtils/src/main/res/values/tags.xml
Labels: Comments, GIF support

#8095 Reader: localized filters (ReaderTag)
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagList.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateService.java
  WordPress/src/main/java/org/wordpress/android/util/LocaleManager.java
Labels: Reader, i18n

#8085 Replace Volley with Glide - liked by section
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderUserAdapter.java
  WordPress/src/main/res/layout/reader_listitem_user.xml
Labels: GIF support, Reader

#8101 Glide - Plans
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlanFragment.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/layout/plan_feature_item.xml
  WordPress/src/main/res/layout/plan_fragment.xml
Labels: GIF support, Plans & Checkout

#8072 Issue/7996 actionable empty states (Part 2)
  WordPress/src/main/java/org/wordpress/android/ui/ActionableEmptyView.kt
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/res/drawable/img_illustration_empty_results_216dp.xml
  WordPress/src/main/res/drawable/img_illustration_pages_104dp.xml
  WordPress/src/main/res/drawable/img_illustration_posts_75dp.xml
  WordPress/src/main/res/drawable/jetpack_connection_notifications.xml
  WordPress/src/main/res/layout/actionable_empty_view.xml
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/layout/comment_list_fragment.xml
  WordPress/src/main/res/layout/filtered_list_component.xml
  WordPress/src/main/res/layout/notifications_fragment_notes_list.xml
  WordPress/src/main/res/layout/people_list_fragment.xml
  WordPress/src/main/res/layout/post_list_fragment.xml
  WordPress/src/main/res/layout/reader_fragment_list.xml
  WordPress/src/main/res/values/strings.xml
Labels: General

#8089 Replace Volley with Glide - login epilogue
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginHeaderViewHolder.java
  WordPress/src/main/res/layout/login_epilogue_header.xml
Labels: GIF support, Login

#8087 Replace Volley with Glide - ReaderBlogFragment
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/res/layout/reader_listitem_blog.xml
Labels: GIF support, Reader

#8105 Update testCompile to testImplementation
  WordPress/build.gradle
Labels: Core

#8048 Feature/glide media
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/layout/media_grid_item.xml
  WordPress/src/main/res/layout/stock_media_picker_thumbnail.xml
  WordPress/src/main/res/values/ids.xml
Labels: GIF support, Media

#8083 Replace Volley with Glide in custom reader tag header view
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.java
  WordPress/src/main/res/layout/reader_tag_header_view.xml
Labels: GIF support

#8075 Replaces Volley with Glide in ReaderPostDetail section
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderLikingUsersView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSimplePostView.java
  WordPress/src/main/res/layout/reader_like_avatar.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/layout/reader_simple_post_view.xml
Labels: GIF support, Reader

#8102 Limit the max length of support name to 50 for Zendesk
  WordPress/src/main/res/layout/support_email_and_name_dialog.xml
  WordPress/src/main/res/values/integers.xml
Labels: Support

#8094 Update screenshots to match agreed set
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
Labels: General

#8081 Replace Volley with Glide in the Reader Comment header view
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderCommentsPostHeaderView.java
  WordPress/src/main/res/layout/reader_comments_post_header_view.xml
Labels: Comments, GIF support

#8049 Add max length checks for translated metadata strings
  fastlane/Fastfile
  fastlane/helpers/metadata_download_helper.rb
Labels: General

#8113 Feature/aztec gif
  libs/editor/WordPressEditor/build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/res/drawable/gif_overlay_vector.xml
  libs/utils/README.md
  libs/utils/WordPressUtils/build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/MediaUtils.java
Labels: Aztec, GIF support

#8104 Issue/7996 actionable empty states (Part 3)
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/res/anim/box_with_pages_slide_up_page1.xml
  WordPress/src/main/res/anim/box_with_pages_slide_up_page2.xml
  WordPress/src/main/res/anim/box_with_pages_slide_up_page3.xml
  WordPress/src/main/res/drawable/box_with_pages_bottom.xml
  WordPress/src/main/res/drawable/box_with_pages_page1.xml
  WordPress/src/main/res/drawable/box_with_pages_page2.xml
  WordPress/src/main/res/drawable/box_with_pages_page3.xml
  WordPress/src/main/res/drawable/ic_bookmark_grey_dark_18dp.xml
  WordPress/src/main/res/layout/reader_empty_view.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: General

#8115 Facebook Publicize disable selection of profiles
  WordPress/src/main/java/org/wordpress/android/WordPressDB.java
  WordPress/src/main/java/org/wordpress/android/datasets/PublicizeTable.java
  WordPress/src/main/java/org/wordpress/android/models/PublicizeConnection.java
  WordPress/src/main/java/org/wordpress/android/models/PublicizeService.java
  WordPress/src/main/java/org/wordpress/android/models/PublicizeServiceList.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeActions.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeServiceAdapter.java
  WordPress/src/main/res/layout/publicize_detail_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Sharing, [Pri] High

#8125 Release image resources on view detach
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
Labels: GIF support

#8120 Issue/update activity layouts
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/res/layout/activity_log_list_event_item.xml
  WordPress/src/main/res/layout/activity_log_list_footer_item.xml
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/layout/activity_log_list_header_item.xml
  WordPress/src/main/res/layout/activity_log_list_progress_item.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Activity Log

#8079 Replace Volley with Glide in Comments - suggestions list
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/adapters/SuggestionAdapter.java
  WordPress/src/main/res/layout/suggestion_list_row.xml
Labels: Comments, GIF support

#8097 Feature/pages redesign 4 store
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/models/pages/PageModel.kt
  WordPress/src/main/java/org/wordpress/android/models/pages/PageStatus.kt
  WordPress/src/main/java/org/wordpress/android/networking/PageStore.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/NullCheckExtensions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/layout/pages_activity.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/pages_list_fragment.xml
Labels: Properly placed pages

#8059 Support for numeric-only tags in posts
  build.gradle
Labels: Tag/Category Management

#8099 Feature/glide notification detail
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/GeneratedNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
Labels: GIF support, Notifications
