Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-09, with the labels that each got.

#8267 Allign kotlin code rules with ktlint
  .idea/codeStyles/Project.xml
Labels: [Type] Enhancement

#8265 Fix Stats Widget broken for API 19
  WordPress/src/main/res/layout-v19/stats_widget_layout.xml
  WordPress/src/main/res/layout-v21/stats_widget_layout.xml
Labels: Stats

#8272 Try/checkstyle avoid native fragment
  WordPress/src/main/java/org/wordpress/android/ui/prefs/BlogPreferencesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DeleteSiteDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/NumberPickerDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/RelatedPostsDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFormatDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTagDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTimezoneDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationSettingsFollowedDialog.java
  WordPress/src/main/java/org/wordpress/android/util/WPActivityUtils.java
  config/checkstyle.xml
Labels: General

#8258 Don't rely on `sleep` to load images while generating screenshots
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/EmptyImageMatcher.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/FirstMatcher.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/FlashCaretViewAction.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/PlaceholderComparison.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/PlaceholderImageMatcher.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/RefreshingRecyclerViewMatcher.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/SupplierIdler.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/WPScreenshotIdler.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/support/WPScreenshotSupport.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/services/AztecImageLoader.kt
Labels: General

#8264 Feature/activity log coroutines
  WordPress/build.gradle
  WordPress/src/debug/java/org/wordpress/android/modules/AppComponentDebug.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ThreadModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindProgressChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStatusService.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
Labels: Activity Log

#8227 Add a fastlane action to create screenshot devices
  fastlane/Fastfile
  fastlane/SCREENSHOT_DEVICE_SETUP.md
  fastlane/devices/phone.xml
  fastlane/devices/tablet-10.xml
  fastlane/devices/tablet-7.xml
  fastlane/emulators/base.ini
  fastlane/emulators/fastlane_screenshots_phone.ini
  fastlane/emulators/fastlane_screenshots_seven_inch.ini
  fastlane/emulators/fastlane_screenshots_ten_inch.ini
  fastlane/helpers/copy-device.sh
  fastlane/helpers/fixup-android-emulator.sh
  fastlane/helpers/merge-hardware-profile-into-registry.py
  fastlane/helpers/register-hardware-profile.sh
Labels: General

#8278 Issue/new blog fragment
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/NewBlogFragment.java
  WordPress/src/main/res/drawable-v21/nux_flat_button_selector.xml
  WordPress/src/main/res/drawable/ic_globe_black_24dp.xml
  WordPress/src/main/res/drawable/ic_pencil_white_24dp.xml
  WordPress/src/main/res/drawable/nux_flat_button_selector.xml
  WordPress/src/main/res/drawable/nux_flat_button_text_selector.xml
  WordPress/src/main/res/layout/create_blog_fragment.xml
  WordPress/src/main/res/layout/domain_suggestion_dropdown.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Site Creation

#8279 Make AztecText.fromHtml() isInit=true only when initializing
  libs/editor/WordPressEditor/build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
Labels: Posting/Editing, [Pri] High, [Type] Bug

#8274 Feature/extract notifications
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/GeneratedNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockClickableSpan.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockRangeType.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
Labels: Extract notifications

#8180 PPP: Set parent
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/networking/PageUploadUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/drawable/ic_ellipsis_grey_darken_10_24dp.xml
  WordPress/src/main/res/layout/page_divider_item.xml
  WordPress/src/main/res/layout/page_empty_item.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/layout/page_parent_list_item.xml
  WordPress/src/main/res/layout/page_parent_top_level_item.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/pages_list_fragment.xml
  WordPress/src/main/res/layout/pages_parent_activity.xml
  WordPress/src/main/res/menu/page_parent_menu.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Properly placed pages

#8281 Feature/use formattable content in activity log
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockClickableSpan.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockLinkMovementMethod.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/main/res/layout/activity_log_item_detail.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
  build.gradle
Labels: Activity Log

#8285 PPP: Instant action updates
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/networking/PageUploadUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SnackbarMessageHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/ActionPerformer.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Properly placed pages

#8284 Issue/8283 signup snackbar truncated
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
Labels: Activity Log, Signup, [Type] Bug

#8252 Issue/8225 fix google sign up
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/GoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, Signup

#8290 Properly Placed Pages
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SearchListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SnackbarMessageHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/util/DateTimeExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/NullCheckExtensions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/ActionPerformer.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/plugins/PluginBrowserViewModel.kt
  WordPress/src/main/res/drawable/ic_ellipsis_grey_darken_10_24dp.xml
  WordPress/src/main/res/drawable/ic_gridicons_page_14dp.xml
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/layout/page_divider_item.xml
  WordPress/src/main/res/layout/page_empty_item.xml
  WordPress/src/main/res/layout/page_item.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/layout/page_parent_list_item.xml
  WordPress/src/main/res/layout/page_parent_top_level_item.xml
  WordPress/src/main/res/layout/pages_activity.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/pages_list_fragment.xml
  WordPress/src/main/res/layout/pages_parent_activity.xml
  WordPress/src/main/res/menu/menu_search.xml
  WordPress/src/main/res/menu/page_more.xml
  WordPress/src/main/res/menu/page_parent_menu.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/LiveDataUtils.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Properly placed pages

#8292 Add wordpress.com prefix after encoding the URL
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewClient.java
Labels: Jetpack

#8296 Issue/8253 scheduled post notification
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/res/values/strings.xml
Labels: Pages List, Post List

#8299 Installation referrer tracking
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/JobServiceId.java
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionResultActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/news/NewsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPComSiteSettings.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSimplePostContainerView.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsSingleItemDetailsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsVisitorsAndViewsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsWidgetProvider.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/MediaUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/VideoOptimizer.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/receiver/InstallationReferrerReceiver.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerJobService.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerService.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerServiceLogic.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerServiceStarter.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Enhancement

#8280 Replace raw json with FormattableContent in NoteBlocks
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/GeneratedNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/FormattableContentUtils.kt
  WordPress/src/test/java/org/wordpress/android/util/FormattableContentUtilsTest.kt
Labels: Extract notifications, Notifications

#8305 Use a unique name for post remote ID extra key
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Pages List, Post List

#8307 Issue/7974 update oauth readme
  README.md
Labels: General

#8310 Fix ContextImpl cannot be cast to WordPress
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/MediaUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/util/WPWebViewClient.java
Labels: Media, [Type] Crash

#8312 Issue/8311 crash resume reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader, [Type] Crash

#8297 Issue/8235 editor image dimensions
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/res/layout/media_settings_activity.xml
Labels: Media, [Type] Bug

#8315 Fix crash when onTagChanged invoked multiple times with a same tag
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
Labels: Reader, [Type] Crash

#8321 Add additional tracking for remote install
  WordPress/src/main/java/org/wordpress/android/ui/JetpackRemoteInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/JetpackRemoteInstallViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack

#8316 Private & Pending Pages
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/coroutines/CoroutineHelpers.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/ActionPerformer.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/drawable/ic_gridicons_page_14dp.xml
  WordPress/src/main/res/drawable/page_list_tag_background.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/layout/page_list_tag.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  build.gradle
Labels: Properly placed pages, [Type] Crash

#8328 Extract notifications - merge working branch into develop
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/GeneratedNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockClickableSpan.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockLinkMovementMethod.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockRangeType.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/FormattableContentUtils.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/main/res/layout/activity_log_item_detail.xml
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/util/FormattableContentUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
Labels: Activity Log, Extract notifications, Notifications

#8327 Issue/8326 page upload notification
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: Properly placed pages

#8303 Properly placed pages tests
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/CoroutinesUtils.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/LiveDataUtils.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Properly placed pages, Testing

#8336 Add the missing event string
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Properly placed pages

#8322 Issue/8224 switch site screen search and selection
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
Labels: Site Picker, [Type] Bug

#8342 Issue/8337 add revisions flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/menu/edit_post.xml
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing

#8359 Issue/8358 securityexception crash bind installation referrer service
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerServiceLogic.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics

#8365 Start pages vm when it was killed in background
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
Labels: Properly placed pages, [Type] Crash

#8361 Fix crash when showing a dialog on Google signup/login error
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
Labels: Login, Signup, [Type] Crash

#8352 Private & Pending review pages
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  build.gradle
Labels: Pages List, Post List

#8362 Fix missing site crash in ActivityLogListActivity
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
Labels: [Type] Crash

#8349 Bump Kotlin and Coroutines version to the latest stable one
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/ThreadModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindProgressChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SearchListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/CoroutinesUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  build.gradle
Labels: Core

#8375 Issue/debug launcher icon
  WordPress/src/wasabi/res/drawable/app_icon_background.xml
  WordPress/src/wasabi/res/drawable/app_icon_foreground.xml
Labels: General

#8369 Issue/8337 editor menu history
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Posting/Editing, [Type] Task

#8372 Issue/add list progress
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/LoadingItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/layout/activity_log_list_loading_item.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Activity Log
