Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-10, with the labels that each got.

#8382 Hide get started bar with javascript.
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCreatingFragment.java
Labels: Signup

#8383 Try to fix NPE in PostUploadHandler
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
Labels: Analytics, Posting/Editing

#8386 Fix new site flow and set the correct language ID
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationService.java
Labels: NUX

#8394 Enable pull to refresh when there are no posts in post/page list.
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/res/layout/post_list_fragment.xml
Labels: Post List

#8395 Fix bottom navigation button that does not tint icon when selected on API 21
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/res/drawable/nav_bar_button_selector.xml
  WordPress/src/main/res/layout/navbar_item.xml
Labels: General

#8397 Fix crash - recycled bitmap is being reused in Aztec
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Aztec, [Type] Crash

#8398 Using lowercase locale when building notification links.
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateLogic.java
Labels: Notifications, Support

#8329 Stats - Insights architecture
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsDomain.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NotImplementedViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/insights_list_activity.xml
  WordPress/src/main/res/layout/stats_not_implemented_block.xml
  build.gradle
Labels: Stats Refresh

#8400 Issue/8234 use width height attributes for image size slider
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/res/values/integers.xml
  WordPress/src/main/res/values/strings.xml
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
Labels: Media, Posting/Editing

#8306 Reflect CauseOfOnPostChanged changes in FluxC
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/ActionPerformer.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  build.gradle
Labels: Pages List, Post List

#8412 Add additional tracking info to jetpack remote install
  WordPress/src/main/java/org/wordpress/android/ui/JetpackRemoteInstallViewModel.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack

#8418 Issue/date time extensions
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
Labels: Activity Log

#8407 Issue/8339 add history list
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/history/FooterItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HeaderItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/RevisionItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/HistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/history/HistoryViewModel.kt
  WordPress/src/main/res/drawable/bg_oval_alert_red_minus_white_16dp.xml
  WordPress/src/main/res/drawable/bg_oval_blue_wordpress_plus_white_16dp.xml
  WordPress/src/main/res/drawable/bg_oval_grey_user_32dp.xml
  WordPress/src/main/res/drawable/ic_minus_white_12dp.xml
  WordPress/src/main/res/drawable/ic_plus_white_12dp.xml
  WordPress/src/main/res/layout/history_list_footer.xml
  WordPress/src/main/res/layout/history_list_fragment.xml
  WordPress/src/main/res/layout/history_list_header.xml
  WordPress/src/main/res/layout/history_list_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing, [Status] Needs Design Review, [Type] Task

#8415 Bump Ktlint library to version 0.28.0
  build.gradle
Labels: Core

#8430 Added translatable="false" flag to css image size classes
  WordPress/src/main/res/values/strings.xml
Labels: Media

#8429 Update FluxC version in the release branch
  build.gradle
Labels: General

#8424 Issue/8341 add history load
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/HistoryListFragment.kt
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing, [Status] Needs Design Review, [Type] Task

#8437 All time stats block
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/FailedViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAllTimeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/ListInsightsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/res/drawable/ic_trophy_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_user_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_visible_on_grey_dark_24dp.xml
  WordPress/src/main/res/layout/stats_block_empty_item.xml
  WordPress/src/main/res/layout/stats_block_item.xml
  WordPress/src/main/res/layout/stats_block_title.xml
  WordPress/src/main/res/layout/stats_list_block.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/InsightsAllTimeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsUtilsTest.kt
Labels: Stats Refresh

#8450 Add new top-level Tracks event quick_action_completed
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Notifications

#8406 Issue/7238 notifications filters analytics
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Notifications, [Type] Task

#8439 Remove page related logic from post list
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PageMenuAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostsListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
  WordPress/src/main/res/drawable/page_item_background.xml
  WordPress/src/main/res/layout/page_item.xml
  WordPress/src/main/res/layout/popup_menu_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: Post List

#8456 Update FluxC version to latest
  build.gradle
Labels: [Type] Enhancement

#8454 Add/quick action completed track event with details
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
Labels: Analytics, Notifications

#8447 All time stats tests
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/InsightsAllTimeViewModelTest.kt
Labels: Stats Refresh

#8426 Introduce manual flow fallback on invalid credentials
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackRemoteInstallFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/JetpackRemoteInstallViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/JetpackRemoteInstallViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack

#8453 Don't replace hyphen (-) with en dash (—) in all strings.xml files
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-hu/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  tools/update-translations.sh
Labels: Localization

#8455 Convert post list fragment and adapter to Kotlin
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostsListAdapter.java
Labels: Post List

#8436 Reference the fixed self-hosted page parent FluxC build
  build.gradle
Labels: Pages List, Properly placed pages, [Type] Bug

#8433 Fix Pages crash
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
Labels: [Type] Crash

#8462 Update the FluxC reference that includes the missing trashed pages fix.
  build.gradle
Labels: Pages List, Properly placed pages

#8463 Reference the FluxC version with the Pages fixes for 10.9.3 release
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  build.gradle
Labels: Properly placed pages

#8464 Reference the FluxC version with the Pages fixes for 11.0 release
  build.gradle
Labels: Properly placed pages

#8446 Add Insights empty state
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/EmptyInsightsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/res/drawable/img_illustration_insights_94dp.xml
  WordPress/src/main/res/layout/insight_empty_view.xml
  WordPress/src/main/res/values/strings.xml
Labels: Stats Refresh

#8471 Reorder repositories in build.gradle to fix Gradle
  libs/analytics/WordPressAnalytics/build.gradle
  libs/editor/WordPressEditor/build.gradle
  libs/login/WordPressLoginFlow/build.gradle
  libs/networking/WordPressNetworking/build.gradle
  libs/utils/WordPressUtils/build.gradle
Labels: General

#8448 Latest post summary block - Part 1
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/ResourceProvider.kt
  WordPress/src/main/res/drawable/ic_create_blue_medium_24dp.xml
  WordPress/src/main/res/drawable/ic_share_blue_medium_24dp.xml
  WordPress/src/main/res/layout/stats_block_column_item.xml
  WordPress/src/main/res/layout/stats_block_link_item.xml
  WordPress/src/main/res/layout/stats_block_text_item.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Stats Refresh

#8468 Issue/deprecate avatar type
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginHeaderViewHolder.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeConnectionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsAuthorsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsCommentsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsFollowersFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/adapters/SuggestionAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
Labels: General

#8465 Issue/revisions user details
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/RevisionItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/utils/PeopleUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/HistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/history/HistoryViewModel.kt
Labels: Posting/Editing, [Type] Task

#8473 ListStore integration for Post list
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/ListManagerDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
  WordPress/src/main/res/layout/post_cardview_skeleton.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  build.gradle
Labels: Post List

#8483 Issue/updating bound revision in ViewHolder on change
  WordPress/src/main/java/org/wordpress/android/ui/history/RevisionItemViewHolder.kt
Labels: [Status] Needs Code Review

#8490 Fix the new post list diff calculation
  WordPress/src/main/java/org/wordpress/android/ui/ListManagerDiffCallback.kt
  build.gradle
Labels: Post List

#8484 ListStore integration for Post list (Master PR)
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ListManagerDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostsListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
  WordPress/src/main/res/layout/post_cardview_skeleton.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  build.gradle
Labels: Post List

#8486 Issue/8485 mystery deletion span
  WordPress/src/main/java/org/wordpress/android/widgets/DiffView.kt
Labels: Posting/Editing

#8481 Issue/8340 add history detail (Part 2)
  WordPress/src/main/java/org/wordpress/android/ui/FullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/HistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/history/HistoryViewModel.kt
  WordPress/src/main/res/anim/full_screen_dialog_fragment_none.xml
  WordPress/src/main/res/anim/full_screen_dialog_fragment_slide_down.xml
  WordPress/src/main/res/anim/full_screen_dialog_fragment_slide_up.xml
  WordPress/src/main/res/drawable-ldrtl/ic_chevron_left_grey_dark_24dp.xml
  WordPress/src/main/res/drawable-ldrtl/ic_chevron_left_grey_lighten_10_24dp.xml
  WordPress/src/main/res/drawable-ldrtl/ic_chevron_right_grey_dark_24dp.xml
  WordPress/src/main/res/drawable-ldrtl/ic_chevron_right_grey_lighten_10_24dp.xml
  WordPress/src/main/res/drawable/ic_chevron_left_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_chevron_left_grey_dark_24dp_selector.xml
  WordPress/src/main/res/drawable/ic_chevron_left_grey_lighten_10_24dp.xml
  WordPress/src/main/res/drawable/ic_chevron_right_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_chevron_right_grey_dark_24dp_selector.xml
  WordPress/src/main/res/drawable/ic_chevron_right_grey_lighten_10_24dp.xml
  WordPress/src/main/res/layout/history_detail_dialog_fragment.xml
  WordPress/src/main/res/layout/history_detail_fragment.xml
  WordPress/src/main/res/values/integers.xml
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing, [Type] Task

#8493 Issue/8479 add analytics to revisions
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Status] Needs Code Review

#8494 Adds remove list actions to logout and application's onCreate
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  build.gradle
Labels: Post List

#8491 Issue/8323 add quota bar
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/res/layout/media_browser_activity.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Media, [Type] Enhancement

#8515 Issue/8497 copy site creation flow
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationBaseFormFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationCategoryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationCreatingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationDomainLoaderFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationListener.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationNewSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationService.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationThemeAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationThemeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationThemeLoaderFragment.java
Labels: Site Creation

#8518 Removed redundant diff view options, including hint.
  WordPress/src/main/res/layout/history_detail_fragment.xml
Labels: Posting/Editing

#8514 Feature/remove revisions flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Posting/Editing

#8461 Latest post summary graph
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BarChartUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/FailedViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/LocaleManagerWrapper.kt
  WordPress/src/main/res/layout/stats_block_bar_chart_item.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModelTest.kt
  build.gradle
Labels: Stats Refresh
