Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-06, with the labels that each got.

#7836 Feature/add rewind progress to rewind service
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStateProgressWorkerController.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStatusService.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/RewindStatusServiceTest.kt
  build.gradle
Labels: Activity Log

#7829 Zendesk WIP: New Help Page
  WordPress/src/main/java/org/wordpress/android/support/SupportHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/res/layout/help_activity.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Support

#7827 Changed isDiscover() to match using endpoint rather than title
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
Labels: Reader

#7831 Retain the current fragment rather than recreate it
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
Labels: Bottom Navigation

#7832 Track when reader tag is loaded at startup
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Analytics, Reader

#7860 Issue/7841 fixed unresponsive switch preference
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPSwitchPreference.java
  WordPress/src/main/res/layout/wp_preference_switch.xml
  WordPress/src/main/res/xml/app_settings.xml
  WordPress/src/main/res/xml/notifications_settings.xml
  WordPress/src/main/res/xml/site_settings.xml
Labels: Site Settings

#7863 Align comment actions with calypso
  WordPress/src/main/res/layout/comment_action_footer.xml
Labels: Comments

#7848 Issue/sites layout clipping
  WordPress/src/main/res/layout/my_site_fragment.xml
Labels: General

#7866 Issue/change photo color
  WordPress/src/main/res/layout/me_fragment.xml
Labels: /Me

#7872 Add progress bar to Site creation creating screen
  WordPress/src/main/res/layout/site_creation_creating_screen.xml
Labels: Groundskeeping, Site Creation, [Type] Broken Window

#7867 Make the secondary toolbar the main toolbar in the Reader post list view
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MainToolbarFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/res/layout/main_activity.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/notifications_fragment_notes_list.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/toolbar_main.xml
  WordPress/src/main/res/layout/toolbar_main_spinner_item.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/styles.xml
Labels: Post List, Reader

#7868 Issue/4670 migrate gcm to fcm
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/GCMRegistrationIntentService.java
  WordPress/src/main/java/org/wordpress/android/push/InstanceIDService.java
  WordPress/src/main/java/org/wordpress/android/util/HelpshiftHelper.java
  libs/login/WordPressLoginFlow/build.gradle
Labels: Notifications, [Status] Needs Manual Testing

#7879 Replace missing login strings for translation
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login

#7871 Notifications now refresh periodically
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
Labels: Notifications, [Type] Bug, [Type] Enhancement

#7779 Moving NotificationDismissBroadcastReceiver logic to NotificationsProcessingService
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationDismissBroadcastReceiver.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: General, [Type] Crash

#7888 issue/7887-reader-search-results-come-back
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#7865 Add toolbar with only back button to About App screen
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AboutActivity.java
  WordPress/src/main/res/layout/about_activity.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Broken Window

#7886 issue/7885-reader-last-item-cutoff
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
Labels: Reader

#7858 Plugin fixes and improvements
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.kt
  WordPress/src/main/res/layout/plugin_browser_row.xml
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Plugins

#7880 Issues/7856 refresh meta data
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/util/AnalyticsUtils.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupGoogleFragment.java
Labels: Analytics, Signup

#7891 Allow saving posts from selfhosted non-jetpack sites
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
Labels: Reader, [Type] Bug

#7883 Adds Danger configuration
  .travis.yml
  Dangerfile
  Gemfile
  Gemfile.lock
Labels: General

#7889 Adds PlayStoreStrings file to automate metadata upload
  WordPress/metadata/PlayStoreStrings.po
Labels: General

#7869 Check the html editor for change as well
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/WordPressEditor/build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/LegacyEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/MediaToolbarAction.java
  libs/editor/example/src/test/java/org/wordpress/android/editor/EditorFragmentAbstractTest.java
Labels: Aztec, Posting/Editing

#7845 Zendesk WIP: Migrating to sdk v2
  WordPress/build.gradle
  WordPress/lint.xml
  WordPress/proguard.cfg
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/res/values/strings.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/NetworkUtils.java
Labels: Support

#7896 Fix save for later icon
  WordPress/src/main/res/drawable/ic_bookmark_grey_disabled_18dp.xml
  WordPress/src/main/res/drawable/ic_bookmark_grey_min_18dp.xml
Labels: Reader

#7904 Remove Helpshift analytics events and implement a single event for Zendesk
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Support

#7875 Issue/7847 reader site search
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSiteSearchAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/search/ReaderSearchLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteSearchResultView.java
  WordPress/src/main/res/layout/filtered_list_component.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/reader_search_tabs.xml
  WordPress/src/main/res/layout/reader_site_search_result.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  build.gradle
Labels: Reader

#7833 Show "swipe for more" only once
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
Labels: Notifications, Reader

#7905 Remove Helpshift dependency and related codes
  WordPress/build.gradle
  WordPress/lint-baseline.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/GCMRegistrationIntentService.java
  WordPress/src/main/java/org/wordpress/android/ui/HelpshiftDeepLinkReceiver.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/ValidationUtils.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/util/ValidationUtilsTest.kt
Labels: Site Settings, Support

#7901 adding tracking for Gutenberg and non-Gutenberg posts on open
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/util/AnalyticsUtils.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Posting/Editing

#7897 Issue/7892 save locally dialog
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: Reader

#7914 Fix talkback bottom navigation bar announcements
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
Labels: Accessibility

#7907 Remove extra newline after lists
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
Labels: Notifications

#7911 Inject ZendeskHelper and SupportHelper (instead of static methods)
  WordPress/src/debug/java/org/wordpress/android/modules/AppComponentDebug.java
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/SupportModule.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportHelper.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ReleaseNotesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: Support

#7870 Add source post link to pingback
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/GeneratedNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/res/layout/note_block_basic.xml
  WordPress/src/main/res/values/strings.xml
Labels: Comments, Notifications

#7919 Update Aztec to v1.3.6
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec

#7920 Updates store metadata and release notes for 10.3
  WordPress/metadata/PlayStoreStrings.po
Labels: General

#7854 Issue/list row padding
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: Design

#7926 Register PN Token Analytics cleanup
  WordPress/src/main/java/org/wordpress/android/push/GCMRegistrationIntentService.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/Tracker.java
Labels: General

#7927 Make sure the pn token is sent to our servers after successful login
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: Login, Notifications, [Type] Bug

#7929 bump Aztec version to include update-on-first-mode-switch functionality
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec, [Type] Enhancement

#7912 Add documentation to ZendeskHelper - Feedback PR
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
Labels: Support

#7932 Init HiddenGutenbergPlugin with the visual editor
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
Labels: Gutenberg, [Type] Bug

#7910 Adds support for adding authorization headers to glide requests
  WordPress/src/main/java/org/wordpress/android/modules/WordPressGlideModule.java
  WordPress/src/main/java/org/wordpress/android/modules/WordPressGlideModule.kt
  WordPress/src/main/java/org/wordpress/android/networking/GlideRequestFactory.kt
Labels: General

#7938 Fix ConcurrentModificationExceptions in AppLog
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Support, [Type] Bug

#7893 Retain and restore when reader is refreshing
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#7933 Zendesk changes in preparation of Push Notifications
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/SupportModule.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportHelper.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ReleaseNotesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: Support

#7924 Fix invalid undo item in saved posts list
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#7940 Rewind service fixes
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStateProgressWorkerController.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/RewindStatusService.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Activity Log

#7937 Zendesk: Push Notifications
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/GCMRegistrationIntentService.java
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Notifications, Support

#7925 Use glide instead of Volley on ReaderPostList screen
  WordPress/src/main/java/org/wordpress/android/ui/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderVideoUtils.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPNetworkImageView.java
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_cardview_xpost.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: Reader

#7949 Don't include OAuth token in Android backups
  build.gradle
Labels: Core

#7945 New notifications channel: transient notifications sound
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/push/NativeNotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
  WordPress/src/main/res/values/strings.xml
Labels: Notifications, [Type] Enhancement

#7952 Add promo strings
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/screenshot_1.txt
  WordPress/metadata/screenshot_2.txt
  WordPress/metadata/screenshot_3.txt
  WordPress/metadata/screenshot_4.txt
  WordPress/metadata/screenshot_5.txt
  fastlane/Fastfile
Labels: General

#7951 Zendesk small fixes and push notification improvements
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
Labels: Support

#7955 Integrating Zendesk
  WordPress/build.gradle
  WordPress/lint-baseline.xml
  WordPress/lint.xml
  WordPress/proguard.cfg
  WordPress/src/debug/java/org/wordpress/android/modules/AppComponentDebug.java
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/SupportModule.kt
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/GCMRegistrationIntentService.java
  WordPress/src/main/java/org/wordpress/android/support/SupportHelper.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/HelpshiftDeepLinkReceiver.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/EditTextPreferenceWithValidation.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ReleaseNotesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/HelpshiftHelper.java
  WordPress/src/main/java/org/wordpress/android/util/SiteModelExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/ValidationUtils.kt
  WordPress/src/main/res/layout/help_activity.xml
  WordPress/src/main/res/layout/help_activity_with_helpshift.xml
  WordPress/src/main/res/layout/support_email_and_name_dialog.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/util/ValidationUtilsTest.kt
  gradle.properties-example
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/DeviceUtils.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/NetworkUtils.java
Labels: Support

#7946 Issue #7874 - Fixed empty toolbar title when no title has been set for blog
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/res/values/strings.xml
Labels: General

#7956 Analytics: Tracks support identity feature usage.
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics

#7970 Fix invalid attribute crash when initializing Zendesk
  gradle.properties-example
Labels: [Type] Crash
