Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-11, with the labels that each got.

#8523 Issue/editor history menu
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/menu/edit_post.xml
Labels: Posting/Editing

#8524 Gutenberg content detected dialog - take 2
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergWarningFragmentDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/res/layout/gutenberg_warning_dialog.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Aztec, Gutenberg, Posting/Editing

#8517 Issue/8492 fixing image settings size attributes
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: Media, Posting/Editing, [Pri] High

#8539 Merge release/11.1 into develop
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergWarningFragmentDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/res/layout/gutenberg_warning_dialog.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/editor/WordPressEditor/build.gradle
Labels: Gutenberg, Posting/Editing

#8541 Renamed Tracks values for Gutenberg warning dialog
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListFragment.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Gutenberg

#8542 Merge/release 11 1 to develop take2
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Gutenberg

#8540 Today's stats block
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/TodayStatsUseCase.kt
  WordPress/src/main/res/drawable/ic_comment_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_star_grey_dark_24dp.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/TodayStatsUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8544 Feature/deep link main activity
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/WPLaunchActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/ActivityUtils.java
Labels: Analytics

#8527 Pin the fastlane version
  .bundle/config
  .gitignore
  Gemfile
  Gemfile.lock
Labels: [Type] Enhancement

#8519 Latest post summary actions
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModelTest.kt
Labels: Stats Refresh

#8555 Issue/8546 site search
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#8532 [Site Creation] Segments screen - VM
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ThreadModule.kt
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationCategoryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCase.kt
  WordPress/src/main/res/layout/new_site_creation_segments_screen.xml
  build.gradle
Labels: Site Creation

#8533 [Site Creation] Segments screen - unit tests
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCaseTest.kt
Labels: Site Creation

#8495 Add some tooling for code freeze
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/actions/android_codefreeze.rb
  fastlane/env.example
  fastlane/helpers/android_git_helper.rb
  fastlane/helpers/android_version_helper.rb
Labels: General

#8576 Update Aztec to 1.3.11
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec

#8577 Revisions visual preview pt1 (moving Revision details to activity)
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailContainerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/layout/history_detail_activity.xml
  WordPress/src/main/res/layout/history_detail_container_fragment.xml
  WordPress/src/main/res/menu/history_detail.xml
Labels: Posting/Editing, [Status] Needs Code Review, [Status] Needs Design Review

#8547 Feature/8537 site creation segments ui
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCase.kt
  WordPress/src/main/res/layout/new_site_creation_segment_item.xml
  WordPress/src/main/res/layout/new_site_creation_segments_header_item.xml
  WordPress/src/main/res/layout/new_site_creation_segments_progress.xml
  WordPress/src/main/res/layout/new_site_creation_segments_screen.xml
  WordPress/src/main/res/layout/site_creation_error_with_retry.xml
  WordPress/src/main/res/values-sw600dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCaseTest.kt
  build.gradle
Labels: Site Creation

#8584 Include comment likes in the Likes notification filter
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
Labels: Mobile Request, Notifications

#8556 Create followers block
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockTabPagerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/ListInsightsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/main/res/layout/stats_block_information.xml
  WordPress/src/main/res/layout/stats_block_item.xml
  WordPress/src/main/res/layout/stats_block_label.xml
  WordPress/src/main/res/layout/stats_block_tabs_item.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModelTest.kt
  build.gradle
Labels: Stats Refresh

#8587 Introduce PostListViewModel and use PagedList from FluxC
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ListManagerDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/PagedListDiffItemCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SnackbarMessageHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicFragmentDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostAdapterItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUploadAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/helpers/ConnectionStatusLiveData.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/helpers/DialogHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/helpers/ToastMessageHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
  build.gradle
Labels: Post List

#8545 Issue/8331 add refresh logic
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/DaysTabViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAllTimeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsTabViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/ListInsightsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/TodayStatsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/InsightsAllTimeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/TodayStatsUseCaseTest.kt
Labels: Stats Refresh

#8588 Issue/update help dialog
  WordPress/src/main/java/org/wordpress/android/support/SupportHelper.kt
  WordPress/src/main/res/layout/support_email_and_name_dialog.xml
  WordPress/src/main/res/values/strings.xml
Labels: Support, [Type] Enhancement

#8602 Issue/8596 refresh quota bar
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridFragment.java
  WordPress/src/main/res/layout/media_browser_activity.xml
Labels: Media, [Type] Enhancement

#8573 Gutenberg Mobile: Limit to media library picker
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: gutenberg-mobile

#8566 Create comments block
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/CommentsUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8603 Update FluxC hash to latest
  build.gradle
Labels: Post List

#8606 Handle empty states
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAllTimeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/TodayStatsUseCase.kt
Labels: Stats Refresh

#8585 Issue/5107 add change password
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AccountSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/EditTextPreferenceWithValidation.java
  WordPress/src/main/java/org/wordpress/android/util/ValidationUtils.kt
  WordPress/src/main/res/color-v23/dialog_button_selector.xml
  WordPress/src/main/res/color/dialog_button_selector.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/account_settings.xml
Labels: /Me, Mobile Request, [Type] Enhancement

#8600 Pages: Fix for a crash when setting a page parent
  WordPress/src/main/java/org/wordpress/android/util/coroutines/CoroutineHelpers.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/ActionPerformer.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
Labels: Pages List, [Type] Crash

#8616 Issues/8560 analytics tweaks
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics

#8593 Revisions visual preview pt2 (visual preview)
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailContainerFragment.java
  WordPress/src/main/res/layout/history_detail_container_fragment.xml
  WordPress/src/main/res/menu/history_detail.xml
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing, [Status] Needs Code Review

#8578 Feature/deep linking improvements
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionResultActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
Labels: Analytics

#8629 Bump Aztec version to 1.3.12
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec

#8610 Use live data in stats use cases
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/FailedViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsAllTimeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsTabViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/InsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LoadingInsightsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NotImplementedViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/TodayStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/BaseInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsAllTimeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/TodayStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/main/res/layout/insight_loading_view.xml
  WordPress/src/main/res/layout/stats_block_empty_item.xml
  WordPress/src/main/res/layout/stats_error_block.xml
  WordPress/src/test/java/org/wordpress/android/BaseUnitTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/BaseInsightsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsAllTimeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/LatestPostSummaryUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/TodayStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/util/LiveDataUtilsTest.kt
Labels: Stats Refresh

#8621 Do not track QS task completion on self-hosted sites.
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
Labels: Analytics, Posting/Editing, [Status] Needs Code Review

#8623 Pages: Tabs/STR gesture collision fix
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
Labels: Properly placed pages, [Status] Needs Code Review

#8617 Create tags and categories block
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsAllTimeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/TodayStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/RtlUtils.java
  WordPress/src/main/java/org/wordpress/android/util/ViewUtils.kt
  WordPress/src/main/res/drawable/ic_chevron_down_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_folder_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_folder_multiple_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/ic_tag_grey_dark_24dp.xml
  WordPress/src/main/res/layout/stats_block_expandable_item.xml
  WordPress/src/main/res/layout/stats_block_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsAllTimeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/TagsAndCategoriesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/TodayStatsUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8631 Fix the list scrolling and swiping in Stats
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockTabPagerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/res/layout/stats_fragment.xml
Labels: Stats Refresh

#8613 Add the Most popular day/hour block
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/DateUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/BaseInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsAllTimeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/InsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/MostPopularInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/usecases/TodayStatsUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/usecases/MostPopularInsightsUseCaseTest.kt
  build.gradle
Labels: Stats Refresh

#8618 Feature/8534 sc verticals vm
  WordPress/src/main/java/org/wordpress/android/modules/ThreadModule.kt
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentPromptUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  build.gradle
Labels: Site Creation

#8650 Improve release scripts
  WordPress/build.gradle
  tools/release-checks.sh
  tools/update-translations.sh
Labels: releases

#8620 Feature/8502 sc verticals tests
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsPromptUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation

#8654 Site Creation: Site Preview UI
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/res/drawable/wp_grey_lighten_30_rounded_bg.xml
  WordPress/src/main/res/layout/new_site_creation_preview_screen.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Site Creation, [Status] Needs Design Review

#8669 Decrease the severity of lint vectorPath issue from error to warning
  WordPress/lint.xml
Labels: Lint

#8663 Introduce subtext to block item
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/res/layout/stats_block_list_item.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
Labels: Stats Refresh

#8668 Minor fixes in SiteCreation tests - follow up
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsPromptUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation

#8688 Issue/contributing drawable resources
  CONTRIBUTING.md
Labels: General

#8691 Increase severity of AS issue for protected field in final class
  .idea/inspectionProfiles/Project_Default.xml
Labels: [Pri] Low

#8692 Issue/8641 update permission dialog
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/drawable/img_illustration_site_about_280dp.xml
  WordPress/src/main/res/drawable/img_promo_quick_start.xml
  WordPress/src/main/res/values/strings.xml
Labels: Checklist, [Type] Task

#8672 Add attribution details to README Play Store link
  README.md
Labels: Analytics

#8686 Changes how the app going into the background is detected.
  WordPress/src/main/java/org/wordpress/android/WordPress.java
Labels: Analytics

#8696 Gb/js bundle in wpandroid directly
  .gitignore
  WordPress/build.gradle
  WordPress/gutenberg-tasks.gradle
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: gutenberg-mobile

#8693 Release tools: add release prechecks lane
  fastlane/Fastfile
  fastlane/actions/android_current_branch_is_hotfix.rb
  fastlane/actions/android_finalize_prechecks.rb
  fastlane/actions/android_update_metadata.rb
  fastlane/helpers/android_git_helper.rb
  fastlane/helpers/android_version_helper.rb
Labels: General

#8674 Fix SiteCreation segment icon color tint
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Site Creation

#8698 Travis CI: Reduce build time from ~12 minutes to ~8 minutes
  .travis.yml
Labels: [Type] Enhancement

#8685 Issue/8640 add migration dialog
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/res/drawable/img_illustration_checkmark_280dp.xml
  WordPress/src/main/res/values/strings.xml
Labels: Checklist, [Type] Task

#8706 Travis CI: Pass '--stacktrace' to gradle to help debug failures
  .travis.yml
Labels: [Type] Enhancement

#8708 Only prompt if Gutenberg is not enabled
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
Labels: gutenberg-mobile
