Repository wordpress-mobile/WordPress-Android, pull requests merged in 2018-04, with the labels that each got.

#7590 Specify Google Auth is not supported in dev builds
  README.md
Labels: General

#7611 removes the Sight And Sounds category on API26+
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
Labels: Notifications

#7617 Api26/jobschedule stats service
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/JobServiceId.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/push/GCMRegistrationIntentService.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateServiceStarter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/services/PublicizeUpdateService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/search/ReaderSearchServiceStarter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateServiceStarter.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/ReferrerSpamHelper.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsAbstractFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsAuthorsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsClicksFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsCommentsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsFollowersFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsGeoviewsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsInsightsAllTimeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsInsightsLatestPostSummaryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsInsightsMostPopularFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsInsightsTodayFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsPublicizeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsReferrersFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsSearchTermsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsTagsAndCategoriesFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsTopPostsAndPagesFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsVideoplaysFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsVisitorsAndViewsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsWidgetProvider.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/datasets/StatsTable.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/service/StatsJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/service/StatsService.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/service/StatsServiceLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/service/StatsServiceStarter.java
Labels: Stats

#7580 Fixing TalkBack issues around site creation process
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCreatingFragment.java
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Accessibility, Mobile Request

#7601 Issue/7594 reader image scanner
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderImageScanner.java
  WordPress/src/main/res/layout/reader_activity_photo_viewer.xml
Labels: Reader

#7582 Issue/7574 stock photo featured image
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/res/drawable/ic_camera_white_48dp.xml
  WordPress/src/main/res/drawable/ic_image_white_48dp.xml
  WordPress/src/main/res/layout/photo_picker_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Stock Photos

#7621 Stats on API26: avoid scheduling jobs with identical parameters
  WordPress/src/main/java/org/wordpress/android/JobServiceId.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/service/StatsServiceStarter.java
Labels: Stats

#7633 Issue/7600 crash social response
  build.gradle
Labels: Login, [Type] Bug, [Type] Crash

#7599 Introducing ListNetworkResource (this time for real!)
  WordPress/src/main/java/org/wordpress/android/models/networkresource/ListNetworkResource.kt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.kt
Labels: [Type] Enhancement

#7589 Issue/7579 featured image confirmation
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/res/layout/photo_picker_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Media

#7637 Sync analytics opt-out settings with dotcom
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/AnalyticsUtils.java
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics

#7638 Issue/7635 update signup analytics
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginMagicLinkInterceptActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkSentFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
Labels: Analytics, Signup

#7643 Issue/7639 photo picker loses selection
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Media, Posting/Editing

#7650 Issue/7649 reader fix regex
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderIframeScanner.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderImageScanner.java
Labels: Reader

#7651 Issue/reader excerpt fix
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
Labels: Reader

#7609 Automated Transfers v1
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.kt
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Jetpack Plugins

#7614 Issue/7540 followed blog notifications
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationSettingsFollowedDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/res/layout/followed_sites_dialog.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/notifications_settings.xml
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
Labels: Notifications, Reader

#7658 Feature/jetpack connect signup
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionDeeplinkActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionSource.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginMagicLinkInterceptActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.java
  WordPress/src/main/res/layout/notifications_fragment_notes_list.xml
  WordPress/src/main/res/layout/stats_jetpack_connection_activity.xml
  WordPress/src/main/res/values/strings.xml
  build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Jetpack, Login, Signup, [Type] Enhancement

#7664 Automated Transfer Analytics, Design & Copy Review
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Plugins

#7676 Setup unit tests - Add mockito, kotlin support and support of final classes
  WordPress/build.gradle
  WordPress/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: Testing

#7678 Automated Transfers
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/PluginBrowserViewModel.kt
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Plugins

#7674 Issue/jetpack connect notifications
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/res/layout/notifications_fragment_notes_list.xml
Labels: Notifications
