Repository wordpress-mobile/WordPress-Android, pull requests merged in 2019-01, with the labels that each got.

#8888 Don't download Gutenberg JS Bundle on every build
  WordPress/gutenberg-tasks.gradle
Labels: Tooling, gutenberg-mobile

#8889 Site Creation: Injected UI Helper
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domain/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiHelpers.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiStringHelper.kt
Labels: Site Creation

#8892 Site Creation: Save and Restore state in Main VM
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/util/wizard/WizardManager.kt
Labels: Site Creation

#8801 Issue/8700 update layouts large
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
  WordPress/src/main/res/drawable-sw600dp/bg_rectangle_rounded_bottom_white_card.xml
  WordPress/src/main/res/drawable-sw600dp/bg_rectangle_rounded_top_white_card.xml
  WordPress/src/main/res/drawable-sw600dp/bg_rectangle_rounded_white_card.xml
  WordPress/src/main/res/drawable/bg_rectangle_white.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/quick_start_completed_tasks_list_header.xml
  WordPress/src/main/res/layout/quick_start_dialog_fragment.xml
  WordPress/src/main/res/layout/quick_start_list_item.xml
  WordPress/src/main/res/values-sw600dp/styles.xml
  WordPress/src/main/res/values-w600dp/dimens.xml
  WordPress/src/main/res/values-w720dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/drawables.xml
  WordPress/src/main/res/values/styles.xml
Labels: Checklist, [Status] Needs Code Review, [Type] Task

#8911 Fix/en us locale
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/ScreenshotFastfile
  fastlane/actions/download_metadata.rb
  fastlane/helpers/metadata_download_helper.rb
  fastlane/playstoreres/metadata/en-US/play_store_screenshot_2.txt
Labels: Localization

#8918 Offset needs to point beyond previous results
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSiteSearchAdapter.java
Labels: Reader

#8914 Fix gradle GB build from source flag check
  build.gradle
  settings.gradle
Labels: gutenberg-mobile

#8913 Fix attempt to refresh Note when tapping on notification
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateService.java
Labels: General, Notifications

#8912 Use process lifecycle observer for foreground/background state change detection
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateService.java
Labels: General, Notifications

#8915 Create Site: .blog subdomain support
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCreatingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationService.java
Labels: Site Creation, [Type] Bug

#8891 Change the empty block message in DWMY tabs
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TodayStatsUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/CommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TodayStatsUseCaseTest.kt
Labels: Stats Refresh

#8928 Fix MediaSettingsScreen can't save image on atomic site
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
Labels: Media

#8919 Fix IllegalArgumentException in Glide ImageManager
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
Labels: Media, Reader

#8927 Fix null site while updating post formats
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
Labels: Posting/Editing

#8909 Guard for null Activity in a Gravatar showToast
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
Labels: [Type] Crash

#8923 Stop setting CommentDetailFragment's id manually
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/res/values/ids.xml
Labels: Comments, Notifications

#8922 Date formatting crash
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/ErrorViewHolder.kt
  build.gradle
Labels: Stats Refresh

#8934 Analytic event fixes for login, logout and visible tab tracking
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: Analytics, Login

#8936 Fix pages in offline mode
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: Offline Support, Pages List

#8917 Add settings to remove location from images
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/MediaUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/app_settings.xml
  build.gradle
Labels: [Type] Task

#8933 Fix pages menu
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
Labels: Pages List

#8895 Don’t track non-actionable gravatar exceptions
  WordPress/src/main/java/org/wordpress/android/networking/GravatarApi.java
Labels: [Status] Ready to Merge

#8901 Issue/navigation scroll top
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
Labels: /Me, Bottom Navigation, Notifications, [Status] Needs Code Review, [Type] Bug

#8950 Issue/8402 new page error
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  build.gradle
Labels: Pages List

#8926 Fixing About App layout overlap
  WordPress/src/main/res/layout/about_activity.xml
Labels: [Status] Needs Code Review

#8946 Fix for empty Site title on the main toolbar
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
Labels: Core, General

#8930 Fix opening premium themes in customizer
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeWebActivity.java
Labels: Themes, [Type] Bug

#8939 Self Hosted- Site Settings: Do not hide the account section (username/pass) on non-admins
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: Core, Self-hosted

#8904 Issue/8646 quick start completed view
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
  WordPress/src/main/res/drawable/img_illustration_completed_quick_start_customize_191dp.xml
  WordPress/src/main/res/drawable/img_illustration_completed_quick_start_grow_182dp.xml
  WordPress/src/main/res/layout/quick_start_dialog_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Needs Code Review, [Status] Needs Design Review

#8940 Updated FluxC hash to avoid overwriting locally changed Posts
  build.gradle
Labels: Post List

#8941 Issue/8390 missing reader tags after account creation for non-english locales
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
Labels: Reader, [Status] Needs Code Review

#8961 Do not open stats if the SiteModel is missing
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stats Refresh, [Type] Crash

#8967 Update FluxC to latest
  build.gradle
Labels: [Type] Enhancement

#8893 Site Creation: Domains ViewModel unit tests
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/DomainsScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchDomainsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchDomainsUseCaseTest.kt
Labels: Site Creation

#8973 [Site Creation] Fixes coroutine imports in site creation unit tests
  WordPress/src/test/java/org/wordpress/android/CoroutinesUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/CreateSiteUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchDomainsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsPromptUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchVerticalsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation

#8982 Update fluxc version to fix date format crash
  build.gradle
Labels: [Type] Enhancement

#8981 Merge Release/11.6 into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  build.gradle
Labels: Localization

#8931 Fix OOM Crash after opening Media section
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
Labels: Media

#8952 Issue/5325 setting newly added self hosted site as selected
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: Login, Self-hosted

#8996 Use the end of the day for data selection
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  build.gradle
Labels: Stats Refresh

#9000 Change merge method for RELEASE-NOTES.txt
  .gitattributes
Labels: Tooling

#9001 Hot fix: Stats crash
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  build.gradle
Labels: Stats

#9011 Issue/9002 site creation new params
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/CreateSiteUseCase.kt
  build.gradle
Labels: Site Creation

#9013 Open View More link for selected date
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCaseTest.kt
Labels: Stats Refresh, [Type] Bug

#8991 [Site Creation] Design Review
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/URLFilteredWebViewClient.java
  WordPress/src/main/res/drawable/wp_blue_medium_extra_small_rounded_bg.xml
  WordPress/src/main/res/layout/new_site_creation_domains_screen.xml
  WordPress/src/main/res/layout/new_site_creation_header_item.xml
  WordPress/src/main/res/layout/new_site_creation_preview_screen.xml
  WordPress/src/main/res/layout/new_site_creation_preview_skeleton.xml
  WordPress/src/main/res/layout/new_site_creation_preview_skeleton_set.xml
  WordPress/src/main/res/layout/new_site_creation_segments_header_item.xml
  WordPress/src/main/res/layout/new_site_creation_segments_screen.xml
  WordPress/src/main/res/layout/new_site_creation_site_info_screen.xml
  WordPress/src/main/res/layout/new_site_creation_skip_button_container.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_screen.xml
  WordPress/src/main/res/layout/site_creation_form_screen.xml
  WordPress/src/main/res/values-sw600dp/dimens.xml
  WordPress/src/main/res/values-w600dp/dimens.xml
  WordPress/src/main/res/values-w720dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModelTest.kt
Labels: Site Creation

#9016 Fix IllegalArgumentException in WordPress.getDefaultUserAgent()
  WordPress/src/main/java/org/wordpress/android/WordPress.java
Labels: [Type] Crash

#8960 Fix disappearing saved posts
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
Labels: Reader

#8998 Issue/8509 site creation analytics
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationService.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationSiteInfoViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AutoForeground.java
Labels: Analytics, Site Creation, [Status] Not Ready for Review

#9033 [Fixing merge to a wrong branch] Issue/8509 site creation analytics
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationService.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationSiteInfoViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/creation/NewSiteCreationServiceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AutoForeground.java
Labels: Analytics, Site Creation

#9040 Don't use React Native's version of okhttp3 to fix self signed SSL
  libs/editor/WordPressEditor/build.gradle
Labels: [Type] Bug

#8995 Build APK improvements
  tools/build-all-apks.sh
  tools/build-alpha-beta-apk.sh
  tools/build-apk-core.sh
  tools/build-release-apk.sh
Labels: Tooling

#9043 Remove extra dot from image URL (..jpg)
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/MediaUtils.java
Labels: [Type] Bug

#9036 Fix vertical id for custom verticals
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
Labels: Site Creation

#9046 Remove unused code in the new site creation flow
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationNewSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationThemeAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationThemeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationThemeLoaderFragment.java
Labels: Site Creation

#9048 Switch to the new site creation flow and remove the old one
  RELEASE-NOTES.txt
  WordPress/lint-baseline.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/AbstractFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/NewBlogActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationBaseFormFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCategoryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCreatingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainLoaderFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationListener.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationService.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeLoaderFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/res/drawable/ic_aside_grey_24dp.xml
  WordPress/src/main/res/drawable/img_confetti_284dp.xml
  WordPress/src/main/res/drawable/img_site_error_camera_pencils_226dp.xml
  WordPress/src/main/res/drawable/img_type_blog_80dp.xml
  WordPress/src/main/res/drawable/img_type_portfolio_80dp.xml
  WordPress/src/main/res/drawable/img_type_website_80dp.xml
  WordPress/src/main/res/layout/new_blog_activity.xml
  WordPress/src/main/res/layout/site_creation_activity.xml
  WordPress/src/main/res/layout/site_creation_category_screen.xml
  WordPress/src/main/res/layout/site_creation_creating_screen.xml
  WordPress/src/main/res/layout/site_creation_domain_header.xml
  WordPress/src/main/res/layout/site_creation_domain_input.xml
  WordPress/src/main/res/layout/site_creation_domain_item.xml
  WordPress/src/main/res/layout/site_creation_domain_screen.xml
  WordPress/src/main/res/layout/site_creation_site_details_screen.xml
  WordPress/src/main/res/layout/site_creation_theme_header.xml
  WordPress/src/main/res/layout/site_creation_theme_item.xml
  WordPress/src/main/res/layout/site_creation_theme_screen.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Site Creation

#8980 Issue/8966 site creation rtl
  WordPress/src/main/res/layout/add_new_site_dialog_item.xml
  WordPress/src/main/res/layout/new_site_creation_domains_item.xml
  WordPress/src/main/res/layout/new_site_creation_segment_item.xml
  WordPress/src/main/res/layout/new_site_creation_site_info_screen.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_custom_suggestion_item.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_search_input_item.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_suggestion_item.xml
Labels: Site Creation

#9053 [Site Creation] Only show mobile segments
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  build.gradle
Labels: Site Creation

#8984 Fix RTL in refreshed Stats
  WordPress/src/main/res/layout/stats_block_bar_chart_item.xml
  WordPress/src/main/res/layout/stats_block_empty_item.xml
  WordPress/src/main/res/layout/stats_block_header_item.xml
  WordPress/src/main/res/layout/stats_block_link_item.xml
  WordPress/src/main/res/layout/stats_block_list_item.xml
Labels: Stats Refresh

#9024 Fix the stats graph padding
  WordPress/src/main/res/layout/stats_block_four_columns_item.xml
  WordPress/src/main/res/values/stats_styles.xml
Labels: Stats Refresh

#9054 Keep tab selection in Stats
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManagerTest.kt
Labels: Stats Refresh

#9056 Avoid using content resolver to get valid mime type, instead use UrlU…
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
Labels: [Type] Bug

#9023 Add missing punctuation to insights stats strings
  WordPress/src/main/res/values/strings.xml
Labels: Stats Refresh

#8983 Page list layout update
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/drawable/ic_ellipsis_vertical_white_48dp.xml
  WordPress/src/main/res/drawable/page_list_tag_background.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/layout/page_list_tag.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  build.gradle
Labels: Pages List

#9057 Clean up NewSiteCreationBaseFormFragment
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationBaseFormFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationListener.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/res/layout/site_creation_form_screen.xml
Labels: Site Creation

#9072 Rearrange packages - new site creation
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/NewSiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/creation/SitePreviewScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/NewSiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/OnHelpClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/OnSkipClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationHeaderUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationSearchInputUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/NewSitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/FetchWpComSiteUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationService.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationServiceData.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationServiceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationServiceNotification.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationServiceState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/siteinfo/SiteInfoScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/CreateSiteUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationSiteInfoViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/CreateSiteUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationServiceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsViewModelTest.kt
Labels: Site Creation

#9084 Update DialogHolder to use UiString
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/helpers/DialogHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
Labels: General

#9078 Switch the update_ps_strings lane to the shared action
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/actions/update_metadata_source.rb
  fastlane/helpers/metadata_helper.rb
Labels: Tooling

#9091 Make Stats Header 32dp high
  WordPress/src/main/res/layout/stats_block_header_item.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Stats Refresh

#9090 Remove tab indentation and add padding to items in tabs
  WordPress/src/main/res/layout/stats_fragment.xml
Labels: Stats Refresh

#9055 Make referrer items clickable
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stats Refresh, [Type] Bug

#9073 Merge FluxC change that fixes wrong timezone in requested date stats
  build.gradle
Labels: Stats Refresh

#9096 Feature/improve strings lane
  fastlane/Fastfile
  fastlane/actions/android_update_metadata_source.rb
Labels: Tooling

#8976 Issue/8510 site creation accessibility
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/NewSiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/siteinfo/NewSiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/NewSiteCreationVerticalsFragment.kt
  WordPress/src/main/res/layout/new_site_creation_domains_screen.xml
  WordPress/src/main/res/layout/new_site_creation_header_item.xml
  WordPress/src/main/res/layout/new_site_creation_site_info_screen.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_screen.xml
  WordPress/src/main/res/layout/new_site_creation_verticals_search_input_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: Site Creation

#9086 Issue/8648 update checklist notification
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  build.gradle
Labels: Checklist, [Status] Needs Code Review, [Status] Needs Design Review, [Type] Task

#9021 Showing better quality for featured image in Post Settings
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
Labels: Posting/Editing

#9089 Remove date selection when leaving stats to get rid of inconsistency
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/SelectedDateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
Labels: Stats Refresh, [Type] Bug

#9076 Start shortening numbers from 10k up instead of 1k
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/ServiceMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtilsTest.kt
Labels: Stats Refresh

#8873 Issue/8482 privacy settings crash
  WordPress/src/main/java/org/wordpress/android/ui/prefs/LearnMorePreference.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPSwitchPreference.java
  WordPress/src/main/java/org/wordpress/android/util/CrashlyticsUtils.java
  WordPress/src/main/res/drawable/ic_briefcase_grey_min_24dp.xml
  WordPress/src/main/res/drawable/ic_bug_grey_min_24dp.xml
  WordPress/src/main/res/drawable/ic_info_outline_grey_min_24dp.xml
  WordPress/src/main/res/drawable/ic_user_circle_grey_min_24dp.xml
  WordPress/src/main/res/layout/learn_more_pref.xml
  WordPress/src/main/res/layout/wp_preference.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/app_settings.xml
Labels: Analytics, Low Hanging Fruit, [Status] Needs Code Review, [Type] Enhancement

#9103 bump aztec version to v1.3.18
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec

#9104 Revert to Old Site Creation flow
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/lint-baseline.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/AbstractFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/NewBlogActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SiteCreationActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationBaseFormFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCategoryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationCreatingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationDomainLoaderFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationListener.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationService.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationSiteDetailsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SiteCreationThemeLoaderFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/NewSiteCreationPreviewFragment.kt
  WordPress/src/main/res/drawable/ic_aside_grey_24dp.xml
  WordPress/src/main/res/drawable/img_confetti_284dp.xml
  WordPress/src/main/res/drawable/img_site_error_camera_pencils_226dp.xml
  WordPress/src/main/res/drawable/img_type_blog_80dp.xml
  WordPress/src/main/res/drawable/img_type_portfolio_80dp.xml
  WordPress/src/main/res/drawable/img_type_website_80dp.xml
  WordPress/src/main/res/layout/new_blog_activity.xml
  WordPress/src/main/res/layout/site_creation_activity.xml
  WordPress/src/main/res/layout/site_creation_category_screen.xml
  WordPress/src/main/res/layout/site_creation_creating_screen.xml
  WordPress/src/main/res/layout/site_creation_domain_header.xml
  WordPress/src/main/res/layout/site_creation_domain_input.xml
  WordPress/src/main/res/layout/site_creation_domain_item.xml
  WordPress/src/main/res/layout/site_creation_domain_screen.xml
  WordPress/src/main/res/layout/site_creation_form_screen.xml
  WordPress/src/main/res/layout/site_creation_site_details_screen.xml
  WordPress/src/main/res/layout/site_creation_theme_header.xml
  WordPress/src/main/res/layout/site_creation_theme_item.xml
  WordPress/src/main/res/layout/site_creation_theme_screen.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Site Creation

#9098 PostUploader service: moved initialization of helper classes to onCreate()
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
Labels: Media, Posting/Editing, [Type] Crash

#9107 Suggestions for the Post Conflict Resolution PR: 8989
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
Labels: Post List, [Type] Enhancement

#9101 Fix bug in NewSiteCreationService - service started multiple times
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationService.kt
Labels: Site Creation

#9094 Restore broken lane
  fastlane/Fastfile
Labels: Tooling

#9111 Add a unit test to verify non-mobile segments are filtered out
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentsViewModelTest.kt
Labels: Site Creation, Testing

#9085 Gb/upload captured photo
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: Gutenberg

#9115 Code Freeze: Use release branch instead of tag for get PR list
  fastlane/Fastfile
Labels: Tooling

#9044 Update to Gradle 4.10.3/Android Gradle plugin 3.2.1
  .travis.yml
  WordPress/build.gradle
  WordPress/lint-baseline.xml
  WordPress/lint.xml
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerServiceLogic.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  libs/analytics/WordPressAnalytics/build.gradle
  libs/editor/.travis.yml
  libs/editor/WordPressEditor/build.gradle
  libs/editor/example/build.gradle
  libs/login/.travis.yml
  libs/login/WordPressLoginFlow/build.gradle
  libs/networking/WordPressNetworking/build.gradle
  libs/utils/.travis.yml
  libs/utils/WordPressUtils/build.gradle
Labels: Tooling

#9116 Remove any old stats entry points
  RELEASE-NOTES.txt
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/OldStatsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsAbstractFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsAbstractListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsViewAllActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsWidgetProvider.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsTrackerWrapper.kt
Labels: Stats Refresh

#9121 Fix todo in CreateSiteuseCaseTest
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/CreateSiteUseCaseTest.kt
Labels: Site Creation

#9133 Decrease font size in charts
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/BarChartUtils.kt
  WordPress/src/main/res/layout/stats_block_bar_chart_item.xml
  WordPress/src/main/res/values/stats_styles.xml
  libs/editor/WordPressEditor/src/main/res/values/dimens.xml
Labels: Stats Refresh

#9114 Add test-friendly AppLog
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationService.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationServiceManager.kt
  WordPress/src/test/java/org/wordpress/android/util/AppLog.java
Labels: Site Creation

#9139 Merge Release/11.7 into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: releases

#9112 Add placeholder to segments icon
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/NewSiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/drawable/bg_grey_light_with_radius.xml
  WordPress/src/main/res/drawable/bg_grey_lighten_30_with_radius.xml
Labels: Site Creation, [Status] Needs Code Review

#9132 Gutenberg - async media upload Post background processing
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/MediaUploadReadyProcessor.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: Media, gutenberg-mobile

#9124 Latest post summary improvements
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtils.kt
  WordPress/src/main/res/layout/stats_block_column_centered.xml
  WordPress/src/main/res/layout/stats_block_columns_item.xml
  WordPress/src/main/res/layout/stats_block_text_item.xml
  WordPress/src/main/res/layout/stats_block_value_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtilsTest.kt
Labels: Stats Refresh

#8902 Issue/8666 quick start reminder notifications
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartReminderReceiver.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Needs Code Review

#9150 Avoid multiple selection of pics/video when Gutenberg enabled
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Crash

#9151 Passing mediaId in appendMediaFile gluecode and updated gb-mobile hash
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: Media, gutenberg-mobile

#9152 Issue/notifications filter divider
  WordPress/src/main/res/layout/notifications_fragment_notes_list.xml
Labels: Notifications, [Status] Needs Code Review

#9149 Issue/9143 update migration dialog
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: Checklist, [Type] Task

#9141 Fix issue - NewSiteCreationService can enter invalid state
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/NewSiteCreationService.kt
Labels: Site Creation, [Type] Bug
