Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-09, with the labels that each got.

#12564 [Modal Layout Picker] Create Layout Picker sections and thumbnail UI using static data
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ButtonsUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/GutenbergPageLayouts.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutListItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutsDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerListDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/drawable/ic_layout_selection_overlay_148dp.xml
  WordPress/src/main/res/layout/modal_layout_picker_bottom_toolbar.xml
  WordPress/src/main/res/layout/modal_layout_picker_layouts_card.xml
  WordPress/src/main/res/layout/modal_layout_picker_layouts_row.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
Labels: [Status] Needs Design Review, [Type] Enhancement

#12813 Use real device dimensions for loading featured images on discover
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/DisplayUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/DisplayUtils.java
Labels: New Reader Android

#12849 RI: Fix follow button design on older Android API
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader

#12851 Media Editing: Allow null output file extension
  libs/image-editor/ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
  libs/image-editor/ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModel.kt
Labels: Media Editing

#12850 Media Editing: Delete old output files
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/ImageEditorFileUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/ImageEditorInitializer.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/ImageEditorFileUtilsTest.kt
  libs/image-editor/ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/crop/CropViewModel.kt
Labels: Media, Media Editing, Tech debt

#12855 Testing: Remove references to WordPressMocks repo
  WordPress/src/androidTest/java/org/wordpress/android/e2e/README.md
Labels: Testing

#12818 Consolidate tracking onTabChanged in the main Reader view
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: New Reader Android

#12838 Fix crash on reader discover tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverService.kt
Labels: New Reader Android

#12667 RI: Discover - fix follow action
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSiteFollowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSiteNotificationsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/HtmlMessageUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
Labels: New Reader Android, Reader

#12824 Filtering media items in picker to only show supported mime types
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/DeviceListBuilder.kt
Labels: Media, Media Picker Consolidation

#12620 Media upload error codes wpcom jp in media lib
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Media Picker Consolidation, [Type] Enhancement

#12819 Remove NewsCard
  WordPress/src/main/java/org/wordpress/android/models/news/LocalNewsItem.kt
  WordPress/src/main/java/org/wordpress/android/models/news/NewsItem.kt
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/news/LocalNewsService.kt
  WordPress/src/main/java/org/wordpress/android/ui/news/NewsManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/news/NewsService.kt
  WordPress/src/main/java/org/wordpress/android/ui/news/NewsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/news/NewsTrackerHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/news/NewsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/NewsCardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/main/res/layout/news_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/news/LocalNewsServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/news/NewsManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/NewsCardViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: New Reader Android, News Card

#12811 Introduce media picker setup
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/ThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaLoaderFactory.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12625 Media upload error codes self-hosted in media lib
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Media Picker Consolidation, [Type] Enhancement

#12852 Fix major accessibility issues in reader discover tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_cardview_welcome_banner.xml
  WordPress/src/main/res/values/strings.xml
Labels: Accessibility, New Reader Android

#12860 Remove completed track todos
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
Labels: New Reader Android

#12823 Clean-up todos
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderThumbnailStrip.java
Labels: New Reader Android

#12856 RI: Get user tags only from db if size > 0
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderTagTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
Labels: New Reader Android, Reader

#12672 Media upload error codes in editor
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/res/values/strings.xml
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
  libs/editor/WordPressEditor/src/main/res/values/strings.xml
Labels: Media Picker Consolidation, [Type] Enhancement

#12681 Update CI config for release builds
  .circleci/config.yml
  WordPress/build.gradle
  fastlane/Fastfile
Labels: Tooling

#12826 Fix postcard with empty title in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android

#12866 Track like action on discover tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCaseTest.kt
Labels: Analytics, New Reader Android

#12825 Fix attributes handling when importing strings from libraries
  Gemfile.lock
  fastlane/Pluginfile
Labels: Localization

#12864 Fix indents in RemoteConfigDefaultsBuilderTest.kt
  libs/WordPressProcessors/src/test/kotlin/org/wordpress/android/processor/RemoteConfigDefaultsBuilderTest.kt
Labels: [Type] Bug

#12859 Remove Reader Improvements feature flag
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderTagActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderViewUiState.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: New Reader Android, [Status] Not Ready for Merge

#12870 Fix incorrect bundle location in the Release build job
  .circleci/config.yml
Labels: Tooling

#12873 Update stale issue messaging
  .github/stale.yml
Labels: Tooling

#12868 Issue/12028 refactor bookmark action
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCaseTest.kt
Labels: New Reader Android

#12814 Login: Enable autofill framework for email and password fields
  WordPress/build.gradle
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPLoginInputRow.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
Labels: Login, [Type] Enhancement

#12871 UL&S: Fix nullable parameter in AvatarHelper
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/util/AvatarHelper.kt
Labels: Unified Login & Sign-Up, [Type] Bug

#12872 Refactor PostLikeUseCase
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCaseTest.kt
Labels: New Reader Android

#12861 Added filtering by supported MIME types in device media choose intents
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  build.gradle
Labels: Media Picker Consolidation

#12879 Test WordPressProcessors in CI
  .circleci/config.yml
Labels: Tooling

#12874 Fixing magiclink backstack issue when passwordless
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
Labels: Unified Login & Sign-Up, [Status] Needs Code Review, [Type] Enhancement

#12867 Add more types to media picker
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/FileThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/util/MediaUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/UriWrapper.kt
  WordPress/src/main/res/layout/media_picker_file_item.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Task

#12877 Fix navigation to bookmarked tab
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: New Reader Android

#12887 Fix connected tests - Add interests mock
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/wpcom_v2_reader_interests.json
Labels: [Type] Task

#12869 Feature/build screenshots on ci
  .circleci/config.yml
  .gitignore
  Gemfile
  Gemfile.lock
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  aars/cloudtestingscreenshotter_lib.aar
  build.gradle
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/ScreenshotFastfile
  fastlane/emulators/Nexus_9_API_28.ini
  fastlane/emulators/Pixel_2_XL_API_28.ini
  fastlane/emulators/Pixel_3_API_28.ini
  fastlane/metadata/android/in/full_description.txt
  fastlane/metadata/android/in/short_description.txt
  fastlane/metadata/android/in/title.txt
  fastlane/metadata/android/in/video.txt
  fastlane/playstoreres/metadata/in/play_store_screenshot_1.html
  fastlane/playstoreres/metadata/in/play_store_screenshot_1.txt
  fastlane/playstoreres/metadata/in/play_store_screenshot_2.html
  fastlane/playstoreres/metadata/in/play_store_screenshot_2.txt
  fastlane/playstoreres/metadata/in/play_store_screenshot_3.html
  fastlane/playstoreres/metadata/in/play_store_screenshot_3.txt
  fastlane/playstoreres/metadata/in/play_store_screenshot_4.html
  fastlane/playstoreres/metadata/in/play_store_screenshot_4.txt
  fastlane/playstoreres/metadata/in/play_store_screenshot_5.html
  fastlane/playstoreres/metadata/in/play_store_screenshot_5.txt
  fastlane/playstoreres/metadata/in/play_store_screenshot_6.html
  fastlane/playstoreres/metadata/in/play_store_screenshot_7.html
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/rest_v11_sites_158396482_stats_post_4.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_clicks-day.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_clicks.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_comments.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_country-views-day.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_country-views-month.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_file-downloads-day.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_file-downloads-month.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_insights.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_referrers.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_search-terms.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_search-terms_day.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_summary.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_tags.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-authors.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-posts-day.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-posts.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_video-plays-day.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_video-plays.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_visits_unit_day_1.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_visits_unit_day_12.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_visits_unit_day_15.json
Labels: Tooling

#12876 Add search to media picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12898 RI: Follow use case tests
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderSiteFollowUseCaseTest.kt
Labels: New Reader Android, Reader

#12895 Reader: Show preview images in lists for more posts
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderHtmlUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderImageScanner.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/SrcsetImage.kt
  WordPress/src/test/java/org/wordpress/android/util/ReaderHtmlUtilsTest.kt
Labels: Reader

#12878 Update media picker selector UI
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/res/drawable/bg_oval_stroke_material_on_primary_emphasis_medium.xml
  WordPress/src/main/res/drawable/media_picker_circle_pressed.xml
  WordPress/src/main/res/drawable/media_picker_circle_selector.xml
  WordPress/src/main/res/layout/media_picker_file_item.xml
  WordPress/src/main/res/layout/media_picker_selection_count.xml
  WordPress/src/main/res/layout/media_picker_thumbnail_item.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Media Picker Consolidation, [Type] Enhancement, [Type] Task

#12908 Use API 27 for Connected Tests
  .circleci/config.yml
Labels: Tooling

#12909 Try Firebase with API 28
  .circleci/config.yml
Labels: Tooling

#12892 Hide fab for stories when item selected
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12888 Issue/12028 clean up clicks
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
Labels: New Reader Android

#12905 Update play store screenshot strings for new designs
  WordPress/metadata/screenshot_1.txt
  WordPress/metadata/screenshot_2.txt
  WordPress/metadata/screenshot_3.txt
  WordPress/metadata/screenshot_4.txt
  WordPress/metadata/screenshot_5.txt
  WordPress/metadata/screenshot_6.txt
  WordPress/metadata/screenshot_7.txt
  fastlane/Fastfile
Labels: Tooling

#12910 e2e tests: Use Espresso method to find overflow menus
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/BlockEditorPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/EditorPage.java
Labels: Testing, Tooling

#12912 Add paging and refresh to media picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/LoaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/SelectableItem.kt
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/main/res/layout/media_picker_loader_item.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12743 AppBar refresh - Reader and Notifications
  WordPress/src/main/java/org/wordpress/android/ui/ViewPagerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderUserListActivity.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPScrollView.java
  WordPress/src/main/res/layout/comments_detail_activity.xml
  WordPress/src/main/res/layout/filtered_list_component.xml
  WordPress/src/main/res/layout/notifications_detail_activity.xml
  WordPress/src/main/res/layout/notifications_fragment_detail_list.xml
  WordPress/src/main/res/layout/notifications_settings_activity.xml
  WordPress/src/main/res/layout/reader_activity_comment_list.xml
  WordPress/src/main/res/layout/reader_activity_post_list.xml
  WordPress/src/main/res/layout/reader_activity_post_pager.xml
  WordPress/src/main/res/layout/reader_activity_userlist.xml
Labels: [Status] Needs Code Review, [Type] Enhancement

#12904 Issue/12028 add tests for discover vm
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android, Testing

#12930 Fix discover shown in onResume
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: New Reader Android

#12928 Disable release builds
  .circleci/config.yml
Labels: Tooling

#12926 Merge release 15.7 into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#12925 Switch configuration to trunk
  .configure
  Gemfile
  Gemfile.lock
Labels: Tooling

#12929 Add style for figure
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
Labels: Reader

#12918 Issue/12028 add tests for action handler
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/reblog/ReblogState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/reblog/ReblogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/widgets/AppRatingDialogWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/reblog/ReblogUseCaseTest.kt
Labels: New Reader Android, Testing

#12937 Fix tests in develop
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
Labels: New Reader Android, Testing

#12884 Browse for device items in media picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/menu/menu_media_picker.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Task

#12941 Increase no_output_timeout for lint task to 20m
  .circleci/config.yml
Labels: Tooling

#12573 [Modal Layout Picker] Create Layout Picker category bar UI using static data
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mlp/CategoriesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/CategoriesDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/CategoriesItemDecoration.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/CategoryListItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/CategoryViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutCategoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutCategoryDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutCategoryUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutListItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutsItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerListDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiHelpers.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/drawable/modal_layout_picker_category_background.xml
  WordPress/src/main/res/layout-land/modal_layout_picker_header_section.xml
  WordPress/src/main/res/layout/modal_layout_picker_categories_row.xml
  WordPress/src/main/res/layout/modal_layout_picker_category.xml
  WordPress/src/main/res/layout/modal_layout_picker_fragment.xml
  WordPress/src/main/res/layout/modal_layout_picker_header_section.xml
  WordPress/src/main/res/layout/modal_layout_picker_subtitle_row.xml
  WordPress/src/main/res/layout/modal_layout_picker_title_row.xml
  WordPress/src/main/res/layout/modal_layout_picker_titlebar.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
Labels: [Status] Needs Design Review, [Type] Enhancement

#12946 Merge Release/15.7 back into develop
  .circleci/config.yml
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Releases

#12911 Recommended blogs card item in Discovery tab
  WordPress/src/main/java/org/wordpress/android/models/ReaderCardRecommendedBlog.kt
  WordPress/src/main/java/org/wordpress/android/models/discover/ReaderDiscoverCards.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderRecommendedBlogsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ParseDiscoverCardsJsonUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/RecyclerViewExtensions.kt
  WordPress/src/main/res/drawable/discover_list_divider.xml
  WordPress/src/main/res/layout/reader_interest_card.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item.xml
  WordPress/src/main/res/layout/reader_recommended_blogs_card.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCaseTest.kt
Labels: New Reader Android, Reader

#12893 UL&S: Improved login flow for passwordless accounts.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/AuthOptions.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkSentFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/auth/auth-options_unknown_user.json
Labels: Unified Login & Sign-Up, [Status] Needs Code Review, [Status] Needs Design Review, [Type] Enhancement

#12921 Setting FAB visibility in onResume.
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: [Status] Needs Code Review, [Type] Bug

#12961 Fixing connected tests issues
  WordPress/src/androidTest/java/org/wordpress/android/e2e/components/MasterbarComponent.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/SiteSettingsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/support/BetterScrollToAction.kt
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
  WordPress/src/main/java/org/wordpress/android/widgets/MySiteTitleAndSubtitleLabelView.kt
Labels: [Status] Needs Code Review, [Type] Bug

#12950 Fix comment render crash
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/res/values/strings.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/HtmlUtils.java
Labels: Reader

#12966 Adds tag followed tracking to the select interests view
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
Labels: New Reader Android

#12967 Track which tag is followed
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
Labels: New Reader Android

#12969 Add topic follow and unfollow track event
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
Labels: New Reader Android

#12958 Issue/12951 report post action
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: New Reader Android

#12959 Issue/remove code related to status bar color update
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/WPActivityUtils.java
  WordPress/src/main/res/values/colors.xml
Labels: [Status] Needs Code Review, [Type] Bug

#12935 Issue/12915 permission label overlap
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/EmptyViewRecyclerView.java
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Bug

#12940 Login: Replace endpoint that fetches site info when using a site address to login
  .circleci/config.yml
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
Labels: Login, [Type] Bug

#12963 Issue/fix missed appbar and status bar color
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/gif/GifPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/res/layout/media_picker_activity.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Code Review, [Type] Bug

#12979 Login: Fix connected tests
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/self-hosted/rest_v11_connect_site_info_self-hosted.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/sites/site-info-wordpress-com.json
Labels: Login, Testing

#12972 WP Stories: Make story bottom sheet thumbnail background transparent
  WordPress/src/main/res/drawable/story_title_thumbnail_background.xml
Labels: WP Stories

#12974 Merge release 15.7-rc-4 into develop
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
  fastlane/resources/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Releases

#12948 Fix build and tests on JDK11
  .circleci/config.yml
  WordPress/build.gradle
  WordPress/lint.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
  libs/editor/example/build.gradle
  libs/login/WordPressLoginFlow/build.gradle
  libs/utils/WordPressUtils/build.gradle
Labels: Tech debt

#12985 Fix RTL support on interests you might like reader card
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, [Type] Bug

#12971 Enable like and comments action on bookmark list
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android, [Type] Enhancement

#12978 Login: Properly handle Simple, Atomic and Jetpack sites addresses
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, [Status] Needs Code Review, [Status] Needs Design Review, [Type] Bug

#12981 Login: Enable signup when adding a WordPress.com account from the Me screen
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
Labels: Login, [Type] Bug

#12977 Fixed wrong appbar theme in post list and media picker.
  WordPress/src/main/res/layout/media_picker_activity.xml
  WordPress/src/main/res/layout/post_list_activity.xml
Labels: Post List, [Status] Needs Code Review, [Type] Bug

#12994 Remove the overlay from the Unsupported Block Editor web view, if Login with WordPress.com is requested.
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/WPGutenbergWebViewActivity.java
Labels: gutenberg-mobile

#12992 Refactor report post action
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
Labels: New Reader Android

#12989 Remove line breaks from screenshot strings
  WordPress/metadata/screenshot_1.txt
  WordPress/metadata/screenshot_2.txt
  WordPress/metadata/screenshot_3.txt
  WordPress/metadata/screenshot_4.txt
  WordPress/metadata/screenshot_5.txt
  WordPress/metadata/screenshot_6.txt
  WordPress/metadata/screenshot_7.txt
Labels: Tooling

#12965 Update zendesk version to 5.1
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SettingsUsernameChangerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicFragmentDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostNotificationScheduleTimeDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeErrorDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetColorSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetSiteSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/widgets/WPDialogSnackbar.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPSnackbar.java
Labels: [Type] Enhancement

#12999 Update utils bintray publish instructions
  libs/utils/.circleci/config.yml
  libs/utils/README.md
  libs/utils/WordPressUtils/build.gradle
Labels: Tooling

#12919 Add WP media source to media picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLibraryDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Task

#13000 Login: Fix connected tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
Labels: Login, Testing

#12956 Update chart library
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/LargeValueFormatter.kt
Labels: [Type] Enhancement

#12953 Manual feature configuration
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/BuildConfigWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/AppConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ConsolidatedMediaPickerFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/GutenbergMentionsFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ModalLayoutPickerFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/WPStoriesFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/manual/FeatureAdapter.kt
  WordPress/src/main/java/org/wordpress/android/util/config/manual/FeatureDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/util/config/manual/FeatureItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/config/manual/ManualFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/manual/ManualFeatureConfigActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/config/manual/ManualFeatureConfigFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/config/manual/ManualFeatureConfigViewModel.kt
  WordPress/src/main/res/layout/manual_feature_button.xml
  WordPress/src/main/res/layout/manual_feature_config_activity.xml
  WordPress/src/main/res/layout/manual_feature_config_fragment.xml
  WordPress/src/main/res/layout/manual_feature_header.xml
  WordPress/src/main/res/layout/manual_feature_item.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/app_settings.xml
  WordPress/src/test/java/org/wordpress/android/util/config/AppConfigTest.kt
  WordPress/src/test/java/org/wordpress/android/util/config/manual/ManualFeatureConfigTest.kt
  WordPress/src/test/java/org/wordpress/android/util/config/manual/ManualFeatureConfigViewModelTest.kt
  libs/WordPressAnnotations/src/main/java/org/wordpress/android/annotation/FeatureInDevelopment.kt
  libs/WordPressProcessors/src/main/java/org/wordpress/android/processor/FeaturesInDevelopmentDefaultsBuilder.kt
  libs/WordPressProcessors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessor.kt
Labels: [Type] Enhancement

#12986 Update harmless libraries
  WordPress/build.gradle
  build.gradle
Labels: [Type] Enhancement

#12984 Issue/12865 media picker action mode badge
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/res/drawable/bg_oval_secondary_stroke_on_surface.xml
  WordPress/src/main/res/layout/media_picker_customize_action_layout.xml
  WordPress/src/main/res/menu/photo_picker_action_mode.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Status] Needs Code Review

#12932 [Modal Layout Picker] Populate UI for WPCOM sites with data from the API
  WordPress/src/main/java/org/wordpress/android/ui/mlp/GutenbergPageLayouts.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutListItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/layout/modal_layout_picker_categories_skeleton.xml
  WordPress/src/main/res/layout/modal_layout_picker_fragment.xml
  WordPress/src/main/res/layout/modal_layout_picker_layouts_skeleton.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
  build.gradle
Labels: [Type] Enhancement

#12997 Merge Release/15.8 back into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/screenshot_1.txt
  WordPress/metadata/screenshot_2.txt
  WordPress/metadata/screenshot_3.txt
  WordPress/metadata/screenshot_4.txt
  WordPress/metadata/screenshot_5.txt
  WordPress/metadata/screenshot_6.txt
  WordPress/metadata/screenshot_7.txt
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#12995 Add a test to create the 'My site' screenshot
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
Labels: Testing, Tooling

#13002 Reader: Support Stories in detail view
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
Labels: Reader, WP Stories

#13012 Reader: Fix deeplink activity disable/enable
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/util/WPActivityUtils.java
Labels: Reader, WP Stories

#13004 Refactor to make variable more in line with it's meaning.
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12968 Add message when cannot load mentions because offline
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/SuggestUsersActivity.kt
  WordPress/src/main/res/values/strings.xml
Labels: gutenberg-mobile

#13013 Update Readme after the migration to JDK11
  README.md
Labels: Documentation

#13020 Add missing strings for screenshots
  WordPress/metadata/PlayStoreStrings.po
Labels: Releases

#13008 Media picker edit button tweaks
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActionModeCallback.kt
  WordPress/src/main/res/layout/media_picker_customize_action_layout.xml
Labels: Media Picker Consolidation, [Type] Enhancement

#12943 [Modal Layout Picker] "Create Page" button functionality
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/drawable/ic_layout_selection_overlay_148dp.xml
  WordPress/src/main/res/layout/modal_layout_picker_bottom_toolbar.xml
  WordPress/src/main/res/layout/modal_layout_picker_fragment.xml
  WordPress/src/main/res/layout/modal_layout_picker_titlebar.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
Labels: Part of a WIP Feature, [Type] Enhancement

#13021 Merge Release/15.8 into develop
  WordPress/metadata/PlayStoreStrings.po
Labels: Releases

#13028 Fixed about activity color
  WordPress/src/main/res/layout/about_activity.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Code Review, [Type] Bug

#13024 Bump default LoginFlow's FluxC version
  libs/login/WordPressLoginFlow/build.gradle
Labels: Login

#13033 Login: Add test case for the passwordless login flow
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
  gradle.properties-example
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/auth/auth-options_passwordless_user.json
Labels: Login, Testing

#13001 Adds FluxC as composite build
  .gitignore
  .idea/compiler.xml
  WordPress/build.gradle
  local-builds.gradle-example
  settings.gradle
Labels: Tooling

#13035 Removed the `contentResolver.getMimeType - isSupportedMimeType() ` check for populating the picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
Labels: Media, Media Picker Consolidation, [Type] Bug

#13007 Remove browser type from media picker
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoriesMediaPickerResultHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/LiveDataUtilsTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement
