Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-06, with the labels that each got.

#12046 Add dummy methods
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
Labels: New Reader Android

#12065 Merge 15.0 code freeze to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Releases

#12067 Temporarily disable Slack notifications for failing connected tests
  .circleci/config.yml
Labels: Tooling

#12070 Do not translate dot separator
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, [Type] Bug

#12049 RI: Init "Choose Your Interests"
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader

#12050 Introduce runtime feature flag for reader improvements phase 2
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
Labels: Core, New Reader Android

#12071 Fix incorrect translation
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug

#12081 Editor: fix isRestarting flag
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Bug

#12082 Update wiremock dependency and include jackson-core group
  WordPress/build.gradle
Labels: Testing, Tooling

#12060 RI: Show a list of "chips" with interests on the UI
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/res/color/black_white_selector.xml
  WordPress/src/main/res/color/purple_0_blue_30_selector.xml
  WordPress/src/main/res/layout/reader_interest_filter_chip.xml
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/test/java/org/wordpress/android/MainCoroutineScopeRule.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader

#12085 Show keyboard upon entry
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationSearchInputUiState.kt
Labels: Domain Search, Site Creation, [Type] Enhancement

#12052 Init discover fragment and vm
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android

#12008 Prepublishing Nudges : Refactor Visibility to match Post Status
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostStatusUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostStatusUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12069 Add stub functions to support reader improvement dev
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
Labels: New Reader Android, Reader

#12092 Fix dagger issues in develop
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
Labels: New Reader Android, [Pri] Blocking

#12090 Missing indicators in pages list
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: [Type] Bug

#11996 Issue/11911 Open post for editing using intents
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
Labels: [Type] Enhancement

#12006 Prepublishing Nudges : Schedule - Secondary Action
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/GetButtonUiStateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/PublishPostImmediatelyUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/PublishPostImmediatelyUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12088 Add tracking event for Plan details
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlansViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Task

#12095 Add downsample strategy to thumbnails.
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
Labels: Media, Reader, [Status] Needs Code Review, [Type] Crash

#12099 Update README.md
  README.md
Labels: Documentation

#12089 Unified login tracking 1 - Screens
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/LoginAnalyticsModule.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginPrologueFragment.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkSentFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12103 Fix possible NPE for plugin removed snackbar
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
Labels: Jetpack Plugins, [Type] Crash

#12087 Issue/11837 allow editing image media text block
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/res/layout/photo_picker_fragment.xml
Labels: Media, Media Editing

#11828 Issue/hide edit action for video in custom picker
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/res/layout/photo_picker_fragment.xml
Labels: [Type] Bug

#12096 WPMainActivity - Added comment to clarify functioning of hasFullAccessToContent()
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: [Type] Task

#12102 Improve EventBus crash logging by removing top level exception
  WordPress/src/main/java/org/wordpress/android/util/CrashLoggingUtils.kt
Labels: Tooling

#12097 Enable slack notifications for connected tests
  .circleci/config.yml
Labels: Tooling

#12091 Merge 15.0 release notes to master
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Releases

#12118 Merge 15.0-rc-2 to develop
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Releases

#12013 Prepublishing Nudges : Disable Publish Date on Private Posts.
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCase.kt
  WordPress/src/main/res/layout/edit_post_settings_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12073 RI: Propagate selected "chip" state into the VM, introduce "Done" button
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader

#12128 Merge 15.0-rc-3 to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
Labels: Releases

#12130 Use boolean flag to determine whether there is a custom empty view
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: [Type] Bug

#12132 Clear site settings when fragments are destroyed
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java
Labels: [Type] Bug

#12129 Make Notifications adapter static and remove reference to context
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
Labels: [Type] Bug

#12134 Remove reference to notes adapter
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.java
Labels: [Type] Bug

#12139 Convert my site fragment to kotlin
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
Labels: [Type] Bug, [Type] Enhancement

#12138 Convert notifications to kotlin
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
Labels: Tech debt, [Type] Enhancement

#12131 End progress when the login fragment is destroyed
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
Labels: [Type] Bug

#12019 Feature/multiple releasenotes versions 2
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#12114 Guard for nulls in processors and abort if necessary
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/CoverBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/GalleryBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/ImageBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaTextBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoBlockProcessor.java
Labels: Gutenberg, Media

#12123 Show post status on post list search results
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemType.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
  WordPress/src/main/res/layout/post_list_item.xml
  WordPress/src/main/res/layout/post_list_item_compact.xml
  WordPress/src/main/res/layout/post_list_item_skeleton.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: Post List, [Status] Needs Design Review, [Type] Enhancement

#12140 Issue/12064 add zendesk plan field
  WordPress/src/main/java/org/wordpress/android/modules/SupportModule.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskPlanFieldHelper.kt
  WordPress/src/test/java/org/wordpress/android/support/ZendeskPlanFieldHelperTest.kt
Labels: Zendesk, [Status] Needs Code Review, [Type] Task

#12122 Prepublishing Nudges : Submit for review
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/GetButtonUiStateUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostSettingsUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/GetButtonUiStateUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12174 Prepublishing Nudges - Design review
  WordPress/src/main/res/layout/prepublishing_action_list_item.xml
  WordPress/src/main/res/layout/prepublishing_home_header_list_item.xml
  WordPress/src/main/res/values/colors.xml
Labels: Prepublishing Nudges, [Type] Task

#12126 Show dialog when the user clicks on a trashed post
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListActionTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListDialogHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/widgets/PostListButtonType.kt
  WordPress/src/main/res/values/strings.xml
Labels: Post List, [Status] Needs Copy Review, [Status] Needs Design Review, [Type] Enhancement

#12154 Issue/10726 site pages author picker phase iii
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
Labels: Pages List, Part of a WIP Feature, [Type] Enhancement

#12160 Convert notifs list frg page to kotlin
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
Labels: Notifications, Tech debt

#12177 Epa refactoring on upload error
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorMediaUploadListener.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: Posting/Editing, Tech debt, [Type] Enhancement

#12170 Added CCPA notice to privacy settings
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/app_settings.xml
Labels: General

#12180 Issue/10726 site pages author picker phase v
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Pages List, Part of a WIP Feature, [Type] Enhancement

#12153 Fix memory leaks SiteCreation Segments and Domains screens
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationBaseFormFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SiteCreationSegmentsFragment.kt
Labels: Tech debt

#12178 Media Browser: fix media preview for private sites
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/GetMediaModelUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/services/AztecVideoLoader.java
  WordPress/src/main/java/org/wordpress/android/util/MediaUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/GetMediaModelUseCaseTest.kt
  libs/editor/WordPressEditor/build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorMediaUtils.java
  libs/editor/example/build.gradle
  libs/utils/WordPressUtils/build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/EmoticonsUtils.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/ImageUtils.java
Labels: [Type] Bug

#12152 Convert me fragment to kotlin
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/main/MeViewModelTest.kt
Labels: [Type] Bug, [Type] Enhancement

#12194 Prepublishing Nudges : Dark mode issue
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
Labels: Prepublishing Nudges, [Type] Task

#12113 RI: Choose Interests - Introduce loading state
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader

#12110 RI: Choose Interests UI
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#12155 Add Sentry User Data
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/SupportModule.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskPlanFieldHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/CriticalPostActionTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/EditorActionsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/CopyMediaToAppStorageUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadStarter.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/VideoOptimizer.java
  WordPress/src/main/java/org/wordpress/android/util/CrashLogging.kt
  WordPress/src/main/java/org/wordpress/android/util/CrashLoggingUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/CrashLoggingUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
  WordPress/src/main/java/org/wordpress/android/util/HtmlToSpannedConverter.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerServiceLogic.java
  WordPress/src/test/java/org/wordpress/android/support/ZendeskPlanFieldHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/EditorActionsProviderTest.kt
Labels: [Type] Enhancement

#12111 Re-enable editor UI tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/EditorTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/SiteSettingsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
Labels: Testing

#12202 Issue/12028 discover ui state
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, [Type] Task

#12179 Unified login tracking fix
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/accounts/PostSignupInterstitialViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/accounts/PostSignupInterstitialViewModelTest.kt
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12204 Merge 15.1 code freeze to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  build.gradle
Labels: Releases

#11944 Unified Login & Sign-Up: Epilogue screen UI update
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginFooterViewHolder.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginHeaderViewHolder.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/drawable/bg_oval_surface.xml
  WordPress/src/main/res/drawable/bg_oval_white.xml
  WordPress/src/main/res/drawable/bg_rectangle_neutral_10_radius_4dp.xml
  WordPress/src/main/res/drawable/bg_rectangle_neutral_10_radius_4dp_globe_32dp.xml
  WordPress/src/main/res/drawable/blavatar_border.xml
  WordPress/src/main/res/drawable/ic_user_circle_no_padding_grey_24dp.xml
  WordPress/src/main/res/drawable/ic_user_circle_white_24dp.xml
  WordPress/src/main/res/layout/base_site_listitem.xml
  WordPress/src/main/res/layout/login_epilogue_footer.xml
  WordPress/src/main/res/layout/login_epilogue_header.xml
  WordPress/src/main/res/layout/login_epilogue_screen.xml
  WordPress/src/main/res/layout/login_epilogue_sites_listitem.xml
  WordPress/src/main/res/layout/login_include_epilogue_header.xml
  WordPress/src/main/res/layout/login_include_epilogue_sites_subheader.xml
  WordPress/src/main/res/layout/share_intent_receiver_fragment.xml
  WordPress/src/main/res/layout/share_intent_receiver_header.xml
  WordPress/src/main/res/layout/share_intent_sites_listitem.xml
  WordPress/src/main/res/layout/signup_epilogue.xml
  WordPress/src/main/res/layout/site_picker_listitem.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Unified Login & Sign-Up, [Status] Needs Code Review, [Status] Needs Design Review, [Type] Task

#12201 RI: Choose interests - introduce failed state
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SiteCreationSegmentsFragment.kt
  WordPress/src/main/res/layout-land/site_creation_preview_screen.xml
  WordPress/src/main/res/layout/fullscreen_error_with_retry.xml
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/layout/site_creation_preview_screen_default.xml
  WordPress/src/main/res/layout/site_creation_segments_screen.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader, [Status] Needs Code Review

#12209 Issue/12028 init rv
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderViewHolder.kt
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
Labels: New Reader Android, Part of a WIP Feature, [Status] Needs Code Review

#12214 Issue/12028 init loading
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review, [Type] Task

#11930 WP Stories integration - Activity launch
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/PagePostCreationSourcesDetail.kt
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/drawable/ic_story_icon_24dp.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: WP Stories

#12185 Issue/10726 site pages author picker
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesAuthorFilterUIState.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/AuthorSelectionAdapter.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/drawable/bg_oval_transparent_stroke_white.xml
  WordPress/src/main/res/layout/author_selection.xml
  WordPress/src/main/res/layout/author_selection_dropdown.xml
  WordPress/src/main/res/layout/me_action_layout.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/post_list_activity.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Pages List, [Type] Enhancement

#12041 [Gutenberg] Support Theme Colors and Gradients
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorThemeUpdateListener.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergContainerFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: Gutenberg, gutenberg-mobile

#12047 Unified Login & Sign-Up: Login library theme and styles update
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/res/layout-land/login_prologue_bottom_buttons_container_default.xml
  WordPress/src/main/res/layout-land/login_prologue_bottom_buttons_container_unified.xml
  WordPress/src/main/res/layout-sw600dp/login_prologue_bottom_buttons_container_default.xml
  WordPress/src/main/res/layout-sw600dp/login_prologue_bottom_buttons_container_unified.xml
  WordPress/src/main/res/layout/base_site_listitem.xml
  WordPress/src/main/res/layout/login_activity.xml
  WordPress/src/main/res/layout/login_epilogue_screen.xml
  WordPress/src/main/res/layout/login_include_epilogue_header.xml
  WordPress/src/main/res/layout/login_include_epilogue_sites_subheader.xml
  WordPress/src/main/res/layout/login_intro_template_view.xml
  WordPress/src/main/res/layout/login_prologue_bottom_buttons_container_default.xml
  WordPress/src/main/res/layout/login_prologue_bottom_buttons_container_unified.xml
  WordPress/src/main/res/layout/login_signup_screen.xml
  WordPress/src/main/res/layout/share_intent_receiver_fragment.xml
  WordPress/src/main/res/layout/signup_epilogue.xml
  WordPress/src/main/res/layout/site_creation_domains_screen.xml
  WordPress/src/main/res/layout/username_changer_dialog_fragment.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/res/color/login_on_background_medium_selector.xml
  libs/login/WordPressLoginFlow/src/main/res/color/login_on_surface_high_selector.xml
  libs/login/WordPressLoginFlow/src/main/res/color/login_on_surface_medium_selector.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/login_magic_link_request_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/login_magic_link_sent_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_magic_link.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_2fa_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_alert_http_auth.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_alert_site_address_help.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_form_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_input_row.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_magic_link_request_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_magic_link_sent_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_site_address_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_username_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_email_fragment.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_magic_link.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/toolbar_login.xml
  libs/login/WordPressLoginFlow/src/main/res/values-night/themes.xml
  libs/login/WordPressLoginFlow/src/main/res/values-v23/themes.xml
  libs/login/WordPressLoginFlow/src/main/res/values-v27/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/values-v27/themes.xml
  libs/login/WordPressLoginFlow/src/main/res/values/colors.xml
  libs/login/WordPressLoginFlow/src/main/res/values/shapes.xml
  libs/login/WordPressLoginFlow/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/values/themes.xml
  libs/login/WordPressLoginFlow/src/main/res/values/types.xml
Labels: Unified Login & Sign-Up, [Type] Task

#12207 [Gutenberg] Cover video upload completion processor
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/CoverBlockProcessor.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/CoverBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/TestContent.kt
Labels: Gutenberg, Media

#12219 Update FluxC version
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#12217 Add automated play store uploads
  .configure
  .configure-files/google-upload-credentials.json.enc
  .gitignore
  fastlane/Fastfile
Labels: Tooling

#12221 Fix NPE change && to ||
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
Labels: [Type] Crash

#12205 Feature/whats new v2
  WordPress/FEATURE_ANNOUNCEMENTS.json-example
  WordPress/src/androidTest/java/org/wordpress/android/util/FeatureAnnouncementJsonValidityTest.kt
  WordPress/src/main/assets/FEATURE_ANNOUNCEMENTS.json
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncement.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncements.kt
  WordPress/src/main/java/org/wordpress/android/util/BuildConfigWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/util/FeatureAnnouncementValidityTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
  build.gradle
Labels: What's New, [Status] Needs Code Review

#12225 Prepublishing Nudges : Fixed issue where rotating device would cause new tag to not persist
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsViewModel.kt
Labels: Prepublishing Nudges, [Type] Task

#12222 [Gutenberg] Fix gutenberg web-view auth issues with Atomic sites
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Gutenberg

#12234 Adds stubbing for /mobile/feature-announcements
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/mobile/feature-announcements.json
Labels: Testing, What's New

#12220 Issue/12028 post card ui
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12233 Merge 15.1-rc-2 to master
  .configure
  .configure-files/google-upload-credentials.json.enc
  .gitignore
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsViewModel.kt
  build.gradle
  fastlane/Fastfile
Labels: Releases

#12232 Merge 15.1-rc-2 to develop
  .configure
  .configure-files/google-upload-credentials.json.enc
  .gitignore
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsViewModel.kt
  fastlane/Fastfile
Labels: Releases

#12045 WP Stories integration: add EmojiCompat library for stories emoji support
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/res/values/font_certs.xml
Labels: WP Stories

#12236 Issue/12028 post card ui part 2
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/GravatarUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/UrlUtilsWrapper.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12244 Feature/single gif picker support
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/gif/GifMediaViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/gif/GifPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/gif/GifPickerPagedListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/gif/GifPickerViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/gif/GifPickerViewModelTest.kt
Labels: [Status] Needs Code Review, [Type] Enhancement

#11741 App config
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsTrackerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/AppConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ExampleExperimentConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ExperimentConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/FeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/RemoteConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/TenorFeatureConfig.kt
  WordPress/src/main/res/xml/remote_config_defaults.xml
  WordPress/src/test/java/org/wordpress/android/util/config/AppConfigTest.kt
  WordPress/src/test/java/org/wordpress/android/util/config/ExperimentConfigTest.kt
  WordPress/src/test/java/org/wordpress/android/util/config/FeatureConfigTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Enhancement

#12061 App config annotation processing
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/ExampleExperimentConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ExampleRemoteFeature.kt
  WordPress/src/main/java/org/wordpress/android/util/config/RemoteConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/TenorFeatureConfig.kt
  WordPress/src/main/res/xml/remote_config_defaults.xml
  build.gradle
  libs/WordPressAnnotations/.gitignore
  libs/WordPressAnnotations/build.gradle
  libs/WordPressAnnotations/src/main/java/org/wordpress/android/annotation/Experiment.kt
  libs/WordPressAnnotations/src/main/java/org/wordpress/android/annotation/Feature.kt
  libs/WordPressProcessors/.gitignore
  libs/WordPressProcessors/build.gradle
  libs/WordPressProcessors/src/main/java/org/wordpress/android/processor/RemoteConfigDefaultsBuilder.kt
  libs/WordPressProcessors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessor.kt
  libs/WordPressProcessors/src/test/kotlin/org/wordpress/android/processor/RemoteConfigDefaultsBuilderTest.kt
  settings.gradle
Labels: [Type] Enhancement

#12208 Add a CI job to build a special version for translation reviewers
  .circleci/config.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  tools/update-translations.sh
Labels: Tooling

#12238 Issue/12028 post card ui part 3.5
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12240 Issue/12028 post card ui part 3.6
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12246 Use vector drawable for the insights management news card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ManagementNewsCardUseCase.kt
  WordPress/src/main/res/drawable-hdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-hdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-mdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-mdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-night-hdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-night-hdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-night-mdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-night-mdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-night-xhdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-night-xhdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-night-xxhdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-night-xxhdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-night-xxxhdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-night-xxxhdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-xhdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-xhdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable-xxhdpi/insights_management_feature_image.png
  WordPress/src/main/res/drawable-xxhdpi/insights_management_feature_image_tab.png
  WordPress/src/main/res/drawable/bg_rectangle_white_gradient.xml
  WordPress/src/main/res/drawable/insights_management_feature_image.xml
  WordPress/src/main/res/layout/stats_block_image_item.xml
  WordPress/src/main/res/values-sw600dp-land/drawables.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/drawables.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ManagementNewsCardUseCaseTest.kt
Labels: Stats, [Type] Enhancement

#12241 Fix: don't close MediaSettingsActivity for failed video thumbnail loads
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug

#12133 Use view.postDelayed instead of creating a handler
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: [Type] Bug

#12135 Leak in animation
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: [Type] Bug

#12252 Updated SnackBar style
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Code Review, [Type] Enhancement

#12213 Use shared reader css file
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderResourceVars.java
  WordPress/src/main/res/values/dimens.xml
Labels: New Reader Android, Reader, [Type] Enhancement

#12161 Add GIF support to Gutenberg editor
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/gif/GifMediaViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/gif/GifPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/gif/GifPickerPagedListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/util/config/TenorFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/gif/GifPickerViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/gif/GifPickerViewModelTest.kt
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: [Type] Enhancement, [Type] Task

#12056 Unified Login & Sign-Up: Add Signup Confirmation screen
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/GoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupConfirmationFragment.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupGoogleFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/di/LoginFragmentModule.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/util/AvatarHelper.kt
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_confirmation_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Unified Login & Sign-Up, [Status] Needs Design Review, [Type] Task

#12175 Prepublishing Nudges : bottom sheet shown above keyboard
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Prepublishing Nudges, [Type] Task

#12247 Rename get started flow
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginPrologueFragment.kt
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12254 Change source for wordpress_com login
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12218 RI: Choose Interests - Navigate to discover
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader

#12116 Unified login failure tracking
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/accounts/PostSignupInterstitialViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseDiscoveryFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Task

#12117 Add click tracking to unified login and signup flow
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginPrologueFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/accounts/PostSignupInterstitialViewModel.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginBaseFormFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressHelpDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Task

#12267 Add CCPA link to store description
  WordPress/metadata/full_description.txt
Labels: Tooling

#12245 Crash in full screen dialog
  WordPress/src/main/java/org/wordpress/android/ui/FullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/BaseUsernameChangerFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SettingsUsernameChangerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlanDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
Labels: [Type] Crash

#12265 Mock getUserTags
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
Labels: New Reader Android

#12271 Unified Login & Sign-Up: Add tracking to Signup Confirmation screen
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkSentFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupConfirmationFragment.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12276 WP Stories: Set navigation bar to black
  WordPress/src/main/res/values/styles.xml
Labels: WP Stories

#12266 Add reader css expiration logic
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCssProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostWebViewCachingFragment.java
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderCssProviderTest.kt
Labels: New Reader Android, Reader, [Type] Enhancement

#12256 Issue/12028 discover view holder
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderViewHolder.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12274 Update `yarn install` reference to `npm install`
  .circleci/config.yml
  build.gradle
Labels: gutenberg-mobile

#12272 Update screengrab and use_adb_root for screenshot generation
  WordPress/build.gradle
  fastlane/ScreenshotFastfile
Labels: Tooling

#12285 Temporarily disable Slack notifications for failing connected tests
  .circleci/config.yml
Labels: Testing

#12287 WordPress Stories : Updated string from Story to Story post
  WordPress/src/main/res/values/strings.xml
Labels: WP Stories, [Type] Enhancement

#12196 Prepublishing Nudges : Persist post changes that occur in the bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/SavePostToDbUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/SavePostToDbUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12273 Unified Login & Sign-Up: Fix tracking source for default login flow
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Bug

#12206 RI: Post Card UI - Use default material theme colors
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/drawable/bg_oval_placeholder_globe_32dp.xml
  WordPress/src/main/res/drawable/bg_oval_stroke_placeholder_1dp.xml
  WordPress/src/main/res/drawable/bg_reader_image_featured.xml
  WordPress/src/main/res/drawable/bg_rectangle_placeholder_radius_4dp.xml
  WordPress/src/main/res/drawable/bg_rectangle_stroke_placeholder_radius_4dp.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_cardview_xpost.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader

#12302 Fix build in develop
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
Labels: New Reader Android, Reader, [Type] Bug

#12275 Added a special focus point position for VIEW_SITE task
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Status] Needs Code Review, [Status] Needs Design Review, [Type] Bug

#12280 Remove java/kotlin code constraint creation in ReaderPostAdapter with xml
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/res/layout/reader_cardview_post.xml
Labels: Tech debt, [Type] Enhancement

#12310 Fix npe in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader, [Type] Bug

#12249 Set user-agent to Gutenberg WebView
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/WPGutenbergWebViewActivity.java
Labels: Gutenberg

#12289 [Gutenberg] Adjust the fetching of custom colors
  build.gradle
Labels: [Type] Bug, gutenberg-mobile

#12313 Merge 15.2 code freeze to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  build.gradle
Labels: Releases

#12283 Issue/12028 reader post builder clean up
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Reader, [Type] Task

#12295 Issue/12028 use new viewholder in reader adapter
  WordPress/src/main/java/org/wordpress/android/models/ReaderPostDiscoverData.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/ContextExtensions.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Reader, [Type] Task

#12309 Fix lint issues in ReaderPostAdapter
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
Labels: New Reader Android, Reader, Tech debt

#12311 Move ReaderCardUiState into its own class
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderViewHolder.kt
Labels: New Reader Android, Reader, Tech debt

#12279 Switch to dedicated file on develop to upload strings for translation
  fastlane/Fastfile
  fastlane/resources/values/strings.xml
Labels: Tooling
