Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-02, with the labels that each got.

#11184 New design reader bottom sheet - step 2
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SiteViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SubfilterListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/TagViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/res/layout/subfilter_component.xml
  WordPress/src/main/res/layout/subfilter_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: IA, Reader, [Status] Needs Code Review, [Type] Enhancement

#11200 Link media editor module to the main project
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
  ImageEditor/src/main/res/values/strings.xml
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorEditMediaListener.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/GutenbergEditorFragment.java
Labels: Media, Media Editing

#11206 Refactor getValidTagForSharedPrefs and don't return null value
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
Labels: Reader, [Type] Crash

#11197 Merge release/14.1 back in develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
Labels: releases

#11179 Initiate upload starter on Pull-to-refresh and opening post list
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: Offline Support, Pages List

#11218 Fix Reader tab bar not retaining its scroll position
  WordPress/src/main/java/org/wordpress/android/ui/FilteredPagerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/res/layout/filtered_list_component.xml
Labels: IA, Reader, [Type] Bug

#11193 New design reader bottom sheet - step3
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/BottomSheetEmptyUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SubFilterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/SubfilterPageViewModel.kt
  WordPress/src/main/res/layout/add_content_bottom_sheet.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/SubfilterPageViewModelTest.kt
Labels: IA, Reader, [Status] Needs Code Review, [Type] Enhancement

#11243 Put reader EventBus behind feature flag
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
Labels: IA, Reader, [Type] Enhancement

#11240 Fix #10747: Bump phase 2 rollout to 100%
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
Labels: gutenberg-mobile

#11247 Fixing i18n auto update when changing language.
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
Labels: /Me, [Type] Bug

#11226 Set webview data directory suffix before starting crash logging
  WordPress/src/main/java/org/wordpress/android/WordPress.java
Labels: [Type] Crash

#11212 fix typos
  fastlane/actions/android_update_metadata_source.rb
  libs/editor/example/src/test/java/org/wordpress/android/editor/HtmlStyleTextWatcherTest.java
Labels: Testing, Tooling, [Type] Bug

#11258 Merge back 14.1 to develop
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
Labels: releases

#11237 Issue/1852 gutenberg mobile retry media
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
Labels: Media, Posting/Editing, [Type] Bug

#11227 Update FluxC to 1.6.2
  build.gradle
Labels: gutenberg-mobile

#11261 Add localization doc
  docs/README.md
  docs/localization.md
Labels: Documentation

#11191 Offline Pages : PageList Item Progress State
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemDiffUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageSearchAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SearchListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostModelUploadStatusTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageItemUploadProgressHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemType.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/uistate/ProgressBarUiState.kt
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: Offline Support, Pages List, [Type] Enhancement

#10970 Issue/10638 material sharing settings
  WordPress/src/main/java/org/wordpress/android/ui/publicize/ConnectButton.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeBaseFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeConnectionAdapter.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPPrefView.java
  WordPress/src/main/res/layout/publicize_button_prefs_fragment.xml
  WordPress/src/main/res/layout/publicize_connect_button.xml
  WordPress/src/main/res/layout/publicize_connection_list_item.xml
  WordPress/src/main/res/layout/publicize_detail_fragment.xml
  WordPress/src/main/res/layout/publicize_list_activity.xml
  WordPress/src/main/res/layout/publicize_list_fragment.xml
  WordPress/src/main/res/layout/publicize_listitem_connection.xml
  WordPress/src/main/res/layout/publicize_listitem_service.xml
  WordPress/src/main/res/layout/wppref_view.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: Dark Mode, Sharing, [Status] Needs Code Review

#11169 Issue/10648 material web preview
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/util/ConfigurationExtensions.kt
  WordPress/src/main/res/drawable/web_preview_navbar_selector.xml
  WordPress/src/main/res/layout/preview_mode_popup_menu_item.xml
  WordPress/src/main/res/layout/wpwebview_activity.xml
  WordPress/src/main/res/menu/webview.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: Dark Mode, Previews, [Status] Needs Code Review

#11262 Rename afterSavePostListener
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/UploadMediaUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/UploadMediaUseCaseTest.kt
Labels: Tech debt, [Type] Task

#11222 Issue/11142 show low resolution image on the preview screen
  ImageEditor/build.gradle
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/ImageEditor.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModel.kt
  ImageEditor/src/main/res/drawable/placeholder_image.xml
  ImageEditor/src/main/res/layout/fragment_preview_image.xml
  ImageEditor/src/main/res/values/dimens.xml
  ImageEditor/src/test/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModelTest.kt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/ImageEditorInitializer.kt
  build.gradle
Labels: Media, Media Editing

#11275 Merge 14.2 code freeze to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: releases

#11283 Temporarily disable login and signup connected tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.java
Labels: Testing

#11166 Issue/10649 material reader post
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderResourceVars.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderUserListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderCommentsPostHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
  WordPress/src/main/res/layout/reader_activity_comment_list.xml
  WordPress/src/main/res/layout/reader_activity_post_pager.xml
  WordPress/src/main/res/layout/reader_activity_userlist.xml
  WordPress/src/main/res/layout/reader_comments_post_header_view.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_include_post_detail_content.xml
  WordPress/src/main/res/layout/reader_include_post_detail_footer.xml
  WordPress/src/main/res/layout/reader_listitem_comment.xml
  WordPress/src/main/res/layout/reader_listitem_user.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/layout/reader_simple_post_view.xml
  WordPress/src/main/res/layout/reader_simple_posts_container_view.xml
  WordPress/src/main/res/layout/reader_tag_strip_label.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: Dark Mode, Reader, [Status] Needs Code Review

#11228 Offline Pages : Added Support for unpublished revision to Page List
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiHelpers.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiString.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageConflictResolver.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListDialogHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: Offline Support, Pages List, [Type] Enhancement

#11051 Fix Navigation Bar Buttons Not Visible with Signup Sheet
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values-sw600dp-land/dimens.xml
  WordPress/src/main/res/values-w600dp-land/dimens.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialog.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/values-v27/styles.xml
  libs/login/WordPressLoginFlow/src/main/res/values/styles.xml
Labels: Signup, [Status] Needs Design Review, [Type] Bug

#11257 Issue/update pages item ui
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Pages List, [Status] Needs Code Review, [Status] Needs Design Review, [Type] Enhancement

#11219 Add follow/unfollow button to the Followed Sites tab on Reader's management section
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/res/layout/reader_listitem_blog.xml
Labels: IA, Reader, [Status] Needs Code Review, [Type] Enhancement

#11278 Issue/11133 update page item labels
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemLabelsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageUploadUiStateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageItemUploadProgressHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Offline Support, Pages List, [Type] Enhancement

#11280 Issue/11128 page label colors
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemLabelsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/ResolvePageListItemsColorUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Offline Support, Pages List, [Type] Enhancement

#11281 Add unit tests for PageListItemLabelsUseCase
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemLabelsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemLabelsUseCaseTest.kt
Labels: Offline Support, Pages List, Tech debt, Testing

#11192 Issue/10651 material notifications list and settings
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/FullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationSettingsFollowedDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsDialogPreference.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/PrefMasterSwitchToolbarView.kt
  WordPress/src/main/java/org/wordpress/android/widgets/WPTextView.java
  WordPress/src/main/res/color/primary_30_neutral_10_selector.xml
  WordPress/src/main/res/color/primary_30_neutral_selector.xml
  WordPress/src/main/res/color/primary_30_primary_20_selector.xml
  WordPress/src/main/res/color/primary_5_neutral_20_selector.xml
  WordPress/src/main/res/drawable/bg_oval_neutral_20_stroke_surface.xml
  WordPress/src/main/res/drawable/bg_oval_neutral_20_stroke_white.xml
  WordPress/src/main/res/drawable/bg_oval_primary_40_stroke_notification_unread.xml
  WordPress/src/main/res/drawable/bg_oval_primary_stroke_surface.xml
  WordPress/src/main/res/drawable/bg_oval_warning_stroke_surface.xml
  WordPress/src/main/res/drawable/related_posts_divider.xml
  WordPress/src/main/res/layout/followed_sites_dialog.xml
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/layout/notifications_settings_activity.xml
  WordPress/src/main/res/layout/notifications_settings_switch.xml
  WordPress/src/main/res/layout/notifications_tab_disabled_text_layout.xml
  WordPress/src/main/res/layout/notifications_tab_for_blog_title_layout.xml
  WordPress/src/main/res/layout/preference_dialog_title.xml
  WordPress/src/main/res/layout/preferences_master_switch_toolbar.xml
  WordPress/src/main/res/layout/toolbar_switch.xml
  WordPress/src/main/res/menu/notifications_settings.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/values/styles_calypso.xml
  WordPress/src/main/res/xml/notifications_settings.xml
Labels: Dark Mode, Notifications, [Status] Needs Code Review

#11112 Issue/10650 material me screen
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/support/SupportHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/WebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/BaseUsernameChangerFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SettingsUsernameChangerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AboutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AccountSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ProfileInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPSwitchPreference.java
  WordPress/src/main/res/color/neutral_10_neutral_0_selector.xml
  WordPress/src/main/res/color/neutral_neutral_20_selector.xml
  WordPress/src/main/res/color/primary_40_gray_20_gray_40_selector.xml
  WordPress/src/main/res/layout/about_activity.xml
  WordPress/src/main/res/layout/account_settings_activity.xml
  WordPress/src/main/res/layout/app_settings_activity.xml
  WordPress/src/main/res/layout/help_activity.xml
  WordPress/src/main/res/layout/learn_more_pref.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/layout/my_profile_activity.xml
  WordPress/src/main/res/layout/my_profile_dialog.xml
  WordPress/src/main/res/layout/my_profile_fragment.xml
  WordPress/src/main/res/layout/settings_username_changer_confirm_dialog.xml
  WordPress/src/main/res/layout/single_choice_recycler_view_item.xml
  WordPress/src/main/res/layout/username_changer_dialog_fragment.xml
  WordPress/src/main/res/layout/webview.xml
  WordPress/src/main/res/layout/wp_preference.xml
  WordPress/src/main/res/layout/wp_preference_layout.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/values/styles_calypso.xml
  WordPress/src/main/res/xml/account_settings.xml
  WordPress/src/main/res/xml/app_settings.xml
Labels: /Me, Dark Mode, [Status] Needs Code Review

#11308 Allow separate handling of requests to load a thumbnail and a full-sized image using ImageManager
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPhotoView.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
Labels: Media

#11269 Issue/11119 search in set parent page
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentSearchAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentSearchFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/res/layout/page_parent_fragment.xml
  WordPress/src/main/res/menu/page_parent_menu.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageParentSearchViewModelTest.kt
Labels: Pages List, [Type] Enhancement

#11321 Updates release notes for 14.2 after editorial review
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: releases

#11315 Fix upload status cache issue
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageUploadUiStateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Offline Support, Pages List, [Type] Bug

#11329 Replace isFirstResource in ImageManager's RequestListener methods with model param
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPhotoView.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
Labels: Media

#11313 Feature/master search in set parent page
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentSearchAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentSearchFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentViewModel.kt
  WordPress/src/main/res/layout/page_parent_fragment.xml
  WordPress/src/main/res/menu/page_parent_menu.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageParentSearchViewModelTest.kt
Labels: Pages List, [Type] Enhancement

#11229 Issue/10646 material login flow
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginPrologueAnimationFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MainBottomSheetFragment.kt
  WordPress/src/main/res/layout-land/login_intro_template_view.xml
  WordPress/src/main/res/layout-land/login_signup_screen.xml
  WordPress/src/main/res/layout/login_epilogue_header.xml
  WordPress/src/main/res/layout/login_epilogue_screen.xml
  WordPress/src/main/res/layout/login_intro_template_view.xml
  WordPress/src/main/res/layout/login_signup_screen.xml
  WordPress/src/main/res/layout/post_signup_interstitial_default.xml
  WordPress/src/main/res/layout/post_signup_interstitial_landscape.xml
  WordPress/src/main/res/layout/signup_epilogue.xml
  WordPress/src/main/res/layout/toolbar_login.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  libs/login/WordPressLoginFlow/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginHttpAuthDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressHelpDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupMagicLinkFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPBottomSheetDialogFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPLoginInputRow.java
  libs/login/WordPressLoginFlow/src/main/res/layout-land/login_magic_link_request_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/login_magic_link_sent_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout-land/signup_magic_link.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_2fa_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_alert_http_auth.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_alert_site_address_help.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_form_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_input_row.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_magic_link_request_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_magic_link_sent_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_site_address_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/login_username_password_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_bottom_sheet_dialog.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_email_fragment.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_magic_link.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/toolbar_login.xml
  libs/login/WordPressLoginFlow/src/main/res/values/attrs.xml
  libs/login/WordPressLoginFlow/src/main/res/values/styles.xml
Labels: Dark Mode, Login, [Status] Needs Code Review

#11293 Add historical searches list to the Reader initial search screen
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionListeners.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionRecyclerAdapter.java
  WordPress/src/main/res/layout/filtered_list_component.xml
  WordPress/src/main/res/layout/reader_listitem_suggestion_recycler.xml
  WordPress/src/main/res/values/strings.xml
Labels: Reader, [Status] Needs Code Review, [Type] Enhancement

#11301 Fixing reader bottom sheet RTL support.
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/values/styles.xml
Labels: IA, Reader, [Type] Enhancement

#11266 Offline Support Pages : Cancel Auto Upload
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemDiffUtil.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageItemProgressUiStateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/menu/page_more.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Offline Support, Pages List, [Type] Enhancement

#11334 Remove duplicate release not for gallery image sizes
  RELEASE-NOTES.txt
Labels: gutenberg-mobile

#11332 Issue/11271 add post to page model
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
  build.gradle
Labels: Pages List, [Type] Enhancement

#11270 IA Reader self-hosted improvements
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagList.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/TagUpdateClientUtilsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/BottomSheetEmptyUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterBottomSheetEmptyUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SubFilterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/SubfilterPageViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/TagUpdateClientUtilsProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/utils/ReaderUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/SubfilterPageViewModelTest.kt
Labels: IA, Reader, Self-hosted, [Status] Needs Code Review, [Type] Enhancement

#11302 Update Sentry sdk to v2.0
  WordPress/build.gradle
  WordPress/multidex-config.pro
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/util/CrashLoggingUtils.kt
Labels: Tooling

#11241 Issue/11143 show loading indicator and blur effect on the preview screen
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/ImageEditor.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModel.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/utils/UiHelpers.kt
  ImageEditor/src/main/res/layout/fragment_preview_image.xml
  ImageEditor/src/test/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModelTest.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/ImageEditorInitializer.kt
Labels: Media, Media Editing

#11251 Autosave or update draft
  WordPress/src/main/java/org/wordpress/android/ui/uploads/AutoSavePostIfNotDraftUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/AutoSavePostIfNotDraftUseCaseTest.kt
Labels: Posting/Editing

#11333 IA reader accessibility audit
  WordPress/src/main/res/layout/add_content_bottom_sheet.xml
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/layout/subfilter_component.xml
  WordPress/src/main/res/layout/subfilter_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Accessibility, IA, Reader, TalkBack, [Type] Enhancement

#11335 Issue/11177 update snackbar msgs 1
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: Pages List

#11340 Fix page list upload state
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  build.gradle
Labels: Pages List, [Type] Bug

#11252 Issue/10646 material post settings
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/AddCategoryFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/CategoryArrayAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostDatePickerDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsListDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsTagsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostTimePickerDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/SelectCategoriesActivity.java
  WordPress/src/main/res/color/neutral_50_neutral_20_selector.xml
  WordPress/src/main/res/drawable/category_checkmark.xml
  WordPress/src/main/res/drawable/photo_picker_circle_pressed.xml
  WordPress/src/main/res/layout/add_category.xml
  WordPress/src/main/res/layout/categories_row.xml
  WordPress/src/main/res/layout/categories_row_parent.xml
  WordPress/src/main/res/layout/edit_post_published_settings_fragment.xml
  WordPress/src/main/res/layout/edit_post_settings_fragment.xml
  WordPress/src/main/res/layout/new_edit_post_activity.xml
  WordPress/src/main/res/layout/photo_picker_activity.xml
  WordPress/src/main/res/layout/photo_picker_fragment.xml
  WordPress/src/main/res/layout/photo_picker_thumbnail.xml
  WordPress/src/main/res/layout/post_settings_input_dialog.xml
  WordPress/src/main/res/layout/post_settings_tags_activity.xml
  WordPress/src/main/res/layout/select_categories.xml
  WordPress/src/main/res/layout/tags_list_row.xml
  WordPress/src/main/res/menu/photo_picker_action_mode.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/values/styles_calypso.xml
Labels: Dark Mode, Posting/Editing, [Status] Needs Code Review

#11345 Fix connected tests on develop
  WordPress/build.gradle
  WordPress/multidex-config.pro
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/util/CrashLoggingUtils.kt
Labels: [Type] Bug

#11325 IA Reader add dedicated tracking for time spend in sub-filtered streams.
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTrackerInfo.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
Labels: IA, Reader, [Type] Enhancement

#11352 Offline Pages : Pagel Labels in Search Mode
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Offline Support, Pages List, [Type] Enhancement

#11356 Preserve toolbar collapsing state in reader.
  WordPress/src/main/res/layout/filtered_list_component.xml
Labels: IA, Reader, [Type] Enhancement

#11360 Ensuring the fragment isAdded before to continue with the AsyncTask.
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: IA, Reader, [Type] Enhancement

#11348 Issue/11144 load high res image into file
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/ImageEditor.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModel.kt
  ImageEditor/src/test/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModelTest.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/ImageEditorInitializer.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
Labels: Media, Media Editing

#11343 Removing Feature Flag for IA reader feature.
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/res/layout/filtered_list_component.xml
  WordPress/src/main/res/layout/subfilter_component.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
Labels: IA, Reader, [Type] Enhancement

#11337 Update My Site bottom sheet layout
  WordPress/src/main/java/org/wordpress/android/ui/main/MainBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/res/layout/add_content_bottom_sheet.xml
  WordPress/src/main/res/layout/bottom_sheet_handle_view.xml
  WordPress/src/main/res/layout/main_action_list_item.xml
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/layout/subfilter_page_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: /My site, IA, Reader, [Status] Needs Code Review, [Status] Needs Design Review, [Type] Enhancement

#11355 Centering vertically the items of reader bottom sheet.
  WordPress/src/main/res/layout/subfilter_list_item.xml
  WordPress/src/main/res/layout/subfilter_page_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: IA, Reader, [Type] Enhancement

#11072 Media Sharing - Latitude Column Fix
  libs/utils/WordPressUtils/build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/DateTimeUtils.java
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/MediaUtils.java
  libs/utils/WordPressUtils/src/test/java/org/wordpress/android/util/DateTimeUtilsTest.java
  libs/utils/build.gradle
  libs/utils/gradle/wrapper/gradle-wrapper.properties
Labels: Media, [Type] Bug

#11292 Issue/fix lifecycle crash with appcompat 1 1 0
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationVerticalsFragment.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginMagicLinkRequestFragment.java
Labels: [Status] Needs Code Review, [Type] Bug

#11268 Issue/11267 aztec dark mode
  WordPress/lint-baseline.xml
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/color/on_surface_medium_disabled_checked_selector.xml
  WordPress/src/main/res/color/primary_on_surface_disabled_selector.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values-night/styles.xml
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/res/color/media_button_background_tint_selector.xml
  libs/editor/WordPressEditor/src/main/res/drawable-anydpi-v21/img_hr.xml
  libs/editor/WordPressEditor/src/main/res/drawable/img_hr.xml
  libs/editor/WordPressEditor/src/main/res/layout/fragment_aztec_editor.xml
  libs/editor/WordPressEditor/src/main/res/values/colors.xml
Labels: Aztec, Dark Mode, [Status] Needs Code Review

#11368 Add the missing release note for the Block editor
  RELEASE-NOTES.txt
Labels: Documentation

#11347 Enable publish page action on page list in offline
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: Offline Support, Pages List

#11369 Merge 14.2 final into develop
  WordPress/build.gradle
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/826.txt
  fastlane/metadata/android/de-DE/changelogs/826.txt
  fastlane/metadata/android/de-DE/changelogs/831.txt
  fastlane/metadata/android/en-US/changelogs/826.txt
  fastlane/metadata/android/en-US/changelogs/831.txt
  fastlane/metadata/android/es-ES/changelogs/826.txt
  fastlane/metadata/android/es-ES/changelogs/831.txt
  fastlane/metadata/android/fr-CA/changelogs/826.txt
  fastlane/metadata/android/fr-CA/changelogs/831.txt
  fastlane/metadata/android/fr-FR/changelogs/826.txt
  fastlane/metadata/android/fr-FR/changelogs/831.txt
  fastlane/metadata/android/id/changelogs/831.txt
  fastlane/metadata/android/it-IT/changelogs/826.txt
  fastlane/metadata/android/it-IT/changelogs/831.txt
  fastlane/metadata/android/iw-IL/changelogs/826.txt
  fastlane/metadata/android/ja-JP/changelogs/826.txt
  fastlane/metadata/android/ko-KR/changelogs/826.txt
  fastlane/metadata/android/nl-NL/changelogs/831.txt
  fastlane/metadata/android/pt-BR/changelogs/826.txt
  fastlane/metadata/android/pt-BR/changelogs/831.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/826.txt
  fastlane/metadata/android/ru-RU/changelogs/831.txt
  fastlane/metadata/android/sv-SE/changelogs/826.txt
  fastlane/metadata/android/sv-SE/changelogs/831.txt
  fastlane/metadata/android/tr-TR/changelogs/826.txt
  fastlane/metadata/android/tr-TR/changelogs/831.txt
  fastlane/metadata/android/zh-CN/changelogs/826.txt
  fastlane/metadata/android/zh-CN/changelogs/831.txt
  fastlane/metadata/android/zh-TW/changelogs/826.txt
  fastlane/metadata/android/zh-TW/changelogs/831.txt
Labels: releases

#11370 Merge 14.2 final into master
  WordPress/build.gradle
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/826.txt
  fastlane/metadata/android/de-DE/changelogs/826.txt
  fastlane/metadata/android/de-DE/changelogs/831.txt
  fastlane/metadata/android/en-US/changelogs/826.txt
  fastlane/metadata/android/en-US/changelogs/831.txt
  fastlane/metadata/android/es-ES/changelogs/826.txt
  fastlane/metadata/android/es-ES/changelogs/831.txt
  fastlane/metadata/android/fr-CA/changelogs/826.txt
  fastlane/metadata/android/fr-CA/changelogs/831.txt
  fastlane/metadata/android/fr-FR/changelogs/826.txt
  fastlane/metadata/android/fr-FR/changelogs/831.txt
  fastlane/metadata/android/id/changelogs/831.txt
  fastlane/metadata/android/it-IT/changelogs/826.txt
  fastlane/metadata/android/it-IT/changelogs/831.txt
  fastlane/metadata/android/iw-IL/changelogs/826.txt
  fastlane/metadata/android/ja-JP/changelogs/826.txt
  fastlane/metadata/android/ko-KR/changelogs/826.txt
  fastlane/metadata/android/nl-NL/changelogs/831.txt
  fastlane/metadata/android/pt-BR/changelogs/826.txt
  fastlane/metadata/android/pt-BR/changelogs/831.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/826.txt
  fastlane/metadata/android/ru-RU/changelogs/831.txt
  fastlane/metadata/android/sv-SE/changelogs/826.txt
  fastlane/metadata/android/sv-SE/changelogs/831.txt
  fastlane/metadata/android/tr-TR/changelogs/826.txt
  fastlane/metadata/android/tr-TR/changelogs/831.txt
  fastlane/metadata/android/zh-CN/changelogs/826.txt
  fastlane/metadata/android/zh-CN/changelogs/831.txt
  fastlane/metadata/android/zh-TW/changelogs/826.txt
  fastlane/metadata/android/zh-TW/changelogs/831.txt
Labels: releases

#11372 Merge 14.3 code freeze into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  build.gradle
Labels: releases

#10995 Insights management tweaks
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/AddedInsightViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/ItemTouchHelperCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/RemovedInsightViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ManagementControlUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ManagementNewsCardUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LinkButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/BaseStatsViewHolder.kt
  WordPress/src/main/res/drawable/ic_add_circle.xml
  WordPress/src/main/res/drawable/ic_material_drag_handle_24dp.xml
  WordPress/src/main/res/drawable/ic_minus_small_24dp.xml
  WordPress/src/main/res/drawable/ic_plus_small_24dp.xml
  WordPress/src/main/res/drawable/ic_remove_circle.xml
  WordPress/src/main/res/layout-w528dp/insights_management_fragment.xml
  WordPress/src/main/res/layout/insights_management_fragment.xml
  WordPress/src/main/res/layout/insights_management_header_item.xml
  WordPress/src/main/res/layout/insights_management_list_item.xml
  WordPress/src/main/res/layout/stats_block_link_button_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ManagementNewsCardUseCaseTest.kt
  build.gradle
Labels: Stats Refresh, [Type] Enhancement

#11379 Add unit tests for UploadUtils getErrorMessageResId
  WordPress/src/test/java/org/wordpress/android/ui/uploads/UploadUtilsTest.kt
Labels: Pages List, Post List, Testing

#11374 Issue/material log view activity
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/AppLogViewerActivity.java
  WordPress/src/main/res/layout/logviewer_activity.xml
  WordPress/src/main/res/layout/logviewer_listitem.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Dark Mode, [Status] Needs Code Review

#11344 Hiding lazy loading preferences for unsupported sites.
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: Jetpack, Site Settings, [Type] Bug

#11376 Issue/11145 start ucrop with high res image
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/EditImageActivity.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModel.kt
  ImageEditor/src/main/kotlin/org/wordpress/android/imageeditor/utils/CropUtil.kt
  ImageEditor/src/main/res/layout/activity_edit_image.xml
  ImageEditor/src/main/res/navigation/nav_graph.xml
  ImageEditor/src/main/res/values/strings.xml
  ImageEditor/src/test/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModelTest.kt
Labels: Media, Media Editing, [Status] Needs Design Review

#11235 Issue/10644 material site creation
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationBaseFormFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SiteCreationSegmentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/siteinfo/SiteCreationSiteInfoFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationSiteInfoViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/alltime/StatsAllTimeWidgetConfigureActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/StatsMinifiedWidgetConfigureActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/StatsTodayWidgetConfigureActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/StatsViewsWidgetConfigureActivity.kt
  WordPress/src/main/res/layout-land/site_creation_preview_screen.xml
  WordPress/src/main/res/layout/progress_layout.xml
  WordPress/src/main/res/layout/site_creation_domains_item.xml
  WordPress/src/main/res/layout/site_creation_domains_screen.xml
  WordPress/src/main/res/layout/site_creation_error_with_retry.xml
  WordPress/src/main/res/layout/site_creation_form_screen.xml
  WordPress/src/main/res/layout/site_creation_header_item.xml
  WordPress/src/main/res/layout/site_creation_preview_header_item.xml
  WordPress/src/main/res/layout/site_creation_preview_screen_default.xml
  WordPress/src/main/res/layout/site_creation_preview_skeleton.xml
  WordPress/src/main/res/layout/site_creation_preview_skeleton_set.xml
  WordPress/src/main/res/layout/site_creation_preview_web_view_container.xml
  WordPress/src/main/res/layout/site_creation_search_input_item.xml
  WordPress/src/main/res/layout/site_creation_segment_item.xml
  WordPress/src/main/res/layout/site_creation_site_info_screen.xml
  WordPress/src/main/res/layout/site_creation_skip_button_container.xml
  WordPress/src/main/res/layout/site_creation_suggestions_error_item.xml
  WordPress/src/main/res/layout/site_creation_verticals_custom_suggestion_item.xml
  WordPress/src/main/res/layout/site_creation_verticals_suggestion_item.xml
  WordPress/src/main/res/layout/toolbar.xml
  WordPress/src/main/res/values/styles.xml
Labels: Dark Mode, Site Creation, [Status] Needs Code Review

#11390 IA Reader: fix potential issue with version update or language change
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: IA, Reader, [Type] Bug

#11389 Merge 14.3 release notes into master
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: releases

#11396 Merge 14.3 release note changes and bug fixes to develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: releases

#11381 Inject Tracker and disable tracking for tests
  WordPress/src/androidTest/java/org/wordpress/android/modules/AppComponentTest.kt
  WordPress/src/androidTest/java/org/wordpress/android/modules/TrackerTestModule.kt
  WordPress/src/debug/java/org/wordpress/android/modules/AppComponentDebug.java
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/TrackerModule.kt
Labels: Analytics
