Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-12, with the labels that each got.

#13470 Issue/13268 on item click
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/DummyActivityTypesProvider.kt
  WordPress/src/main/res/layout/activity_log_type_filter_item.xml
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModelTest.kt
Labels: Activity Log, Jetpack, Jetpack Mobile

#13499 Fixes NullPointerException on synthetic notifications_list RecyclerView
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
Labels: [Type] Bug

#13483 Issue/13268 implement clear and apply actions
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModelTest.kt
Labels: Activity Log, Jetpack Mobile, [Status] Not Ready for Merge

#13485 Issue/13268 persist activity type filters in parent vm
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Activity Log, Jetpack, Jetpack Mobile, [Status] Not Ready for Merge

#13505 Guard for null kotlin synthetic during orientation change
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
Labels: /My site, [Type] Bug, [Type] Crash

#13517 WP Stories: Only show Story block in GB picker if supported by the site
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: WP Stories

#13487 Issue/13268 add scrolling behavior to filter bar
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Activity Log, Jetpack, Jetpack Mobile

#13500 Issue/13417 fix site creation restoration
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModelTest.kt
Labels: Site Creation

#13507 Add jetpack package
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadProgressChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/rewind/RewindProgressChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/rewind/RewindStatusService.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack Mobile

#13513 Removes `background-color` from reader posts
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
Labels: [Type] Bug

#13478 Site block icon interactions
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteInfoViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteDialogModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteIconUploadHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteInfoBlockBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteIconUploadHandlerTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13481 Site block title settings
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards

#13497 Create My Site header item
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCategoryViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteCategoryItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtilsWrapper.kt
  WordPress/src/main/res/layout/my_site_category_header_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteCategoryItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemsBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13506 Create my site list item
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtilsWrapper.kt
  WordPress/src/main/res/layout/my_site_item_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteListItemBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13510 Implement click logic on site items
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ListItemAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteListItemBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13494 Create Quick Actions block item
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickActionsViewHolder.kt
  WordPress/src/main/res/layout/quick_actions_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13528 Merge release 16.3 back into develop
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModelTest.kt
Labels: Releases

#13512 Remove injected CSS/JS that is no longer needed
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/main/res/layout/site_creation_preview_web_view_container.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModelTest.kt
Labels: Site Creation, Tech debt

#13525 Stories: Fix StringIndexOutOfBoundsException when below another block
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCase.kt
Labels: WP Stories

#13526 Update Story intro screen assets and links
  WordPress/src/main/java/org/wordpress/android/ui/stories/intro/StoriesIntroViewModel.kt
  WordPress/src/main/res/drawable-hdpi/stories_intro_cover_1.png
  WordPress/src/main/res/drawable-hdpi/stories_intro_cover_2.png
  WordPress/src/main/res/drawable-xhdpi/stories_intro_cover_1.png
  WordPress/src/main/res/drawable-xhdpi/stories_intro_cover_2.png
Labels: WP Stories

#13518 WP Stories: only allow updating a Post to the server when a Story is finished being saved
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StoriesEventListener.kt
  WordPress/src/main/res/values/strings.xml
Labels: WP Stories

#13524 Issue/13333 add p2 site icon
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderBlogSectionUiState.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/util/image/BlavatarShape.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/drawable/bg_oval_placeholder_p2_32dp.xml
  WordPress/src/main/res/drawable/bg_oval_stroke_placeholder_1dp.xml
  WordPress/src/main/res/drawable/bg_rectangle_placeholder_p2_32dp.xml
  WordPress/src/main/res/drawable/bg_rectangle_placeholder_radius_4dp_p2_32dp.xml
  WordPress/src/main/res/drawable/ic_p2_white_24dp.xml
  WordPress/src/main/res/layout/reader_blog_section_view.xml
  WordPress/src/main/res/layout/reader_cardview_xpost.xml
  WordPress/src/main/res/layout/reader_site_header_view.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
Labels: P2, [Status] Needs Code Review

#13541 Merge Release/16.3 back into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
Labels: Releases

#13523 Skip prechecks on release builds on CI
  fastlane/Fastfile
Labels: Tooling

#13548 WP Stories: changed flow for remote media from WP site to be copied locally
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
Labels: WP Stories, [Type] Crash

#13546 Fix position of Quick Start focus point in bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/main/ActionListItemViewHolder.kt
Labels: Quick Start, [Status] Needs Code Review, [Type] Bug

#13527 Scan: Create skeleton vm, fragment, test
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/res/layout/scan_activity.xml
  WordPress/src/main/res/layout/scan_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
Labels: Jetpack Mobile

#13551 Revert "Stories: Show 'New' tag for Story entry in bottom sheets"
  WordPress/src/main/java/org/wordpress/android/ui/main/ActionListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModel.kt
  WordPress/src/main/res/layout/main_action_list_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: WP Stories

#13557 Fix develop after PRs conflict
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
Labels: [Type] Bug

#13529 Fix logic showing Jetpack header
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteCategoryItemBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteCategoryItemBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Bug

#13530 Deprecate MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13554 Use function pointers in ListItemInteraction calls
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/ListItemInteraction.kt
  WordPress/src/test/java/org/wordpress/android/ui/utils/ListItemInteractionTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Bug

#13520 Issue/13329 backup download details skeleton
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/res/layout/backup_details_choose_items.xml
  WordPress/src/main/res/layout/backup_download_activity.xml
  WordPress/src/main/res/layout/backup_download_details_fragment.xml
  WordPress/src/main/res/values/backup_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Mobile

#13562 Fix viewmodelproviders
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsFragment.kt
Labels: [Type] Bug

#13521 Adds Duplicate/Copy post functionality
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListActionTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListDialogHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/widgets/PostListButtonType.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelCopyPostTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
  build.gradle
Labels: [Type] Enhancement

#13533 Stories in the updated my site
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteStoriesHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoriesMediaPickerResultHandler.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13532 Issue/13329 expose backup feature
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/EventItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_event_item.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack Mobile

#13544 Issue/13329 choose items to recyclerview
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/BackupAvailableItemsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/res/layout/backup_details_list_item.xml
  WordPress/src/main/res/layout/backup_download_details_fragment.xml
  WordPress/src/main/res/values/backup_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Mobile

#13489 [Home Page Picker] Adds template to the existing site creation analytics if a template was used
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/SiteCreationServiceManager.kt
Labels: Analytics, Site Creation

#13568 Add Domain Registration item to the improved My Site fragment
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/DomainRegistrationHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/DomainRegistrationViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/util/DomainRegistrationUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtilsWrapper.kt
  WordPress/src/main/res/layout/domain_registration_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/DomainRegistrationHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13569 Fix "First preview attempt does not work"
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Previews

#13570 Gutenberg - Fix Gallery block uploads when the editor is closed
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/GalleryBlockProcessor.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/TestContent.kt
Labels: gutenberg-mobile

#13545 Issue/13329 backup details unit tests
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/BackupAvailableItemsProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadDetailsViewModelTest.kt
Labels: Jetpack Mobile

#13567 Issue/13329 activity more menu
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItemMenuAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/EventItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/drawable/ic_get_app_24dp.xml
  WordPress/src/main/res/layout/activity_log_list_item_menu_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13565 Add accessibility test framework to project and tests
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
Labels: [Type] Enhancement

#13563 [Home Page Picker] - Fixes title and action bar overlap
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/ThumbDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/util/DisplayUtilsWrapper.kt
  WordPress/src/main/res/layout/home_page_picker_titlebar.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Design Review, [Type] Bug

#13556 Add tracking for stats inconsistency
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCaseTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stats, [Type] Bug

#13581 Follow unfollow unit test
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderCommentsFollowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/PostSubscribersApiCallsProvider.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderCommentListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderFollowCommentsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderCommentsFollowUseCaseTest.kt
Labels: P2, Reader, [Type] Task

#13564 Activity type filter UI
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/DummyActivityTypesProvider.kt
  WordPress/src/main/res/layout/activity_log_type_filter_fragment.xml
  WordPress/src/main/res/layout/activity_log_type_filter_header.xml
  WordPress/src/main/res/layout/activity_log_type_filter_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Needs Design Review

#13515 NPE when rendering post with video in WebView
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeWebViewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderVideoViewerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
  build.gradle
Labels: Reader, [Type] Crash

#13592 Suppress a lint false positive related to WordPress-Android-Utils
  WordPress/lint-baseline.xml
Labels: Tooling

#13596 Targeting the correct WPUtils lib version.
  build.gradle
Labels: [Type] Task

#13593 Remove Gutenberg Editor Popup
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: gutenberg-mobile

#13553 Indent code block to continue numbering
  README.md
Labels: Documentation

#13586 Issue/13329 backup wizard skeleton
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadViewModelTest.kt
Labels: Jetpack Mobile

#13587 Issue/13329 backup progress skeleton
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/res/layout/backup_download_progress_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadProgressViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13588 Issue/13329 backup complete skeleton
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/complete/BackupDownloadCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/complete/BackupDownloadCompleteViewModel.kt
  WordPress/src/main/res/layout/backup_download_complete_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadCompleteViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13574 Issue/13573 add organization id to reader
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/ui/Organization.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/util/OrganizationTest.kt
Labels: P2, [Status] Needs Code Review

#13600 Removing reference to removed string resource from Screenshot tests
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
Labels: Testing

#13598 Merge Release/16.4 back into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#13608 Reorder quick actions and publish items
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickActionsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/quick_actions_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemsBuilderTest.kt
Labels: /My site, [Type] Enhancement

#13579 Polish Date Range picker UI
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/res/values/styles.xml
Labels: Activity Log

#13602 Issue/13434 added missing comment related analytics
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Status] Needs Code Review

#13624 Revert "Fix position of Quick Start focus point in bottom sheet"
  WordPress/src/main/java/org/wordpress/android/ui/main/ActionListItemViewHolder.kt
Labels: Quick Start, [Status] Needs Code Review, [Type] Bug

#13620 Issue/13329 backup toolbar state
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/details/BackupDownloadDetailsFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/BackupDownloadViewModelTest.kt
Labels: Jetpack Mobile

#13555 Jetpack Section: Scan menu
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteListItemBuilderTest.kt
Labels: Jetpack, Jetpack Mobile

#13578 Jetpack Mobile: Scan Introduce UiState
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ScanStateViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ScanViewHolder.kt
  WordPress/src/main/res/drawable/ic_scan_idle_threats_found.xml
  WordPress/src/main/res/drawable/ic_scan_idle_threats_not_found.xml
  WordPress/src/main/res/drawable/ic_scan_scanning.xml
  WordPress/src/main/res/layout/scan_activity.xml
  WordPress/src/main/res/layout/scan_fragment.xml
  WordPress/src/main/res/layout/scan_list_scan_state_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
Labels: Jetpack, Jetpack Mobile

#13626 Fix a typo in a new string
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Localization

#13628 Merge Release/16.4 back into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#13627 Revert 13546 issue/fix bottom sheet qs position
  WordPress/src/main/java/org/wordpress/android/ui/main/ActionListItemViewHolder.kt
Labels: Quick Start

#13561 Issue/13514 add p2 category to reader
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/TagUpdateClientUtilsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/TagUpdateClientUtilsProviderTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: P2, [Status] Needs Code Review

#13632 Added stub for /rest/v1.3/read/menu
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v13_read_menu.json
Labels: Testing

#13617 Rename to support reuse
  WordPress/src/main/res/layout/backup_details_list_item.xml
  WordPress/src/main/res/layout/backup_download_complete_fragment.xml
  WordPress/src/main/res/layout/backup_download_list_button_item.xml
  WordPress/src/main/res/layout/backup_download_list_checkbox_item.xml
  WordPress/src/main/res/layout/backup_download_list_description_item.xml
  WordPress/src/main/res/layout/backup_download_list_header_item.xml
  WordPress/src/main/res/layout/backup_download_list_subheader_item.xml
  WordPress/src/main/res/layout/backup_download_progress_fragment.xml
  WordPress/src/main/res/values/jetpack_styles.xml
Labels: Jetpack Mobile

#13605 Jetpack Mobile: Scan UiStates part(ii)
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ScanStateViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatsHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogsCardViewHolder.kt
  WordPress/src/main/res/drawable/default_list_divider.xml
  WordPress/src/main/res/layout/scan_fragment.xml
  WordPress/src/main/res/layout/scan_list_scan_state_item.xml
  WordPress/src/main/res/layout/scan_list_threat_item.xml
  WordPress/src/main/res/layout/scan_list_threats_header_item.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanStateListItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/AppLog.java
  build.gradle
Labels: Jetpack, Jetpack Mobile, [Status] Not Ready for Merge

#13614 Issue/13268 filters 1
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
Labels: Activity Log

#13630 Add download package to jetpack.backup
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadCompleteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModelTest.kt
Labels: Jetpack Mobile

#13607 Add Duplicate (Copy) Page functionality
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListDialogHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/menu/page_more.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: Pages List, [Type] Enhancement

#13636 Refactor ScanListItemState to support reuse
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/ActionButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/DescriptionViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/HeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/IconViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ScanStateViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatsHeaderViewHolder.kt
  WordPress/src/main/res/layout/scan_list_scan_state_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanStateListItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
Labels: Jetpack, Jetpack Mobile

#13638 Rename common components to jetpack
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackDescriptionViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackIconViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/res/layout/jetpack_list_button_item.xml
  WordPress/src/main/res/layout/jetpack_list_description_item.xml
  WordPress/src/main/res/layout/jetpack_list_header_item.xml
  WordPress/src/main/res/layout/jetpack_list_icon_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Mobile

#13639 1ssue/13329 details add extras
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
Labels: Jetpack Mobile

#13615 Issue/13268 filters 2
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/DateUtils.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Activity Log

#13631 Use real endpoint for activity type filter
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/DummyActivityTypesProvider.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13616 Fix gradle substitution for WPUtils
  settings.gradle
Labels: Tooling

#13645 Fix type of ActivityTypeId
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: [Type] Bug

#13641 Issue/13329 backup details viewholder
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/BackupAvailableItemsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/adapters/BackupDownloadDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/adapters/viewholders/BackupDownloadDetailsSubHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/providers/JetpackAvailableItemsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackCheckboxViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackIconViewHolder.kt
  WordPress/src/main/res/layout/backup_download_details_fragment.xml
  WordPress/src/main/res/layout/backup_download_list_checkbox_item.xml
  WordPress/src/main/res/layout/backup_list_subheader_item.xml
  WordPress/src/main/res/layout/jetpack_list_checkbox_item.xml
  WordPress/src/main/res/layout/jetpack_list_icon_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/JetpackAvailableItemsProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13652 Remove checkmark in reader subfilter
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SubfilterListItemViewHolder.kt
  WordPress/src/main/res/color/primary_on_surface_selector.xml
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/layout/subfilter_list_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: P2, Reader, [Type] Task

#13651 Add use case
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/usecases/GetActivityLogItemUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
Labels: Jetpack Mobile

#13622 Adding Tracks Event for Suggestions UI
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/SuggestionActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/SuggestionViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/suggestion/SuggestionViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: gutenberg-mobile

#13659 Added EditorMediaListener as a parameter of StoriesEventListener to use in internal EditorMedia
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StoriesEventListener.kt
Labels: WP Stories

#13660 Fix getMediaWithLocalId receiver to accept null value
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StoriesEventListener.kt
Labels: WP Stories

#13661 WP Stories: skip Post processing for uploaded media if the passed media does not yet have a remote mediaID
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCase.kt
Labels: WP Stories

#13646 Jetpack Mobile: Scan - ThreatItem
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/res/layout/scan_list_threat_item.xml
  WordPress/src/main/res/layout/scan_list_threats_header_item.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanStateListItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatItemBuilderTest.kt
Labels: Jetpack, Jetpack Mobile

#13663 Fix crash on calling method to track comment note
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
Labels: Notifications, [Type] Bug

#13647 Issue/13268 data filtering
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
Labels: [Type] Task

#13640 MediaGridAdapter: use Glide to load video thumbnails
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridFragment.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/res/values/ids.xml
Labels: Media

#13666 WP Stories: re-phrasing error message
  WordPress/src/main/res/values/strings.xml
Labels: WP Stories, [Type] Enhancement

#13657 Update Fluxc version
  build.gradle
Labels: Jetpack Mobile

#13676 Add SuggestionSourceModule to AppComponentTest
  WordPress/src/androidTest/java/org/wordpress/android/modules/AppComponentTest.kt
Labels: gutenberg-mobile
