Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-08, with the labels that each got.

#12576 Renamed repos to data provider
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchPostsForTagUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Reader

#12562 RI: Drop unused recommended tags table
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagType.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
Labels: New Reader Android, Reader

#12530 RI: Save Interests (logged out user/ self-hosted site)
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderTagActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FollowInterestTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
Labels: New Reader Android, Reader

#12581 Update .idea/compiler.xml for Android Studio 4.0.1
  .idea/compiler.xml
Labels: Tooling

#12582 Increase the cursor window size to 5MB
  WordPress/src/debug/java/org/wordpress/android/WPWellSqlConfig.kt
Labels: General, [Type] Crash

#12567 Merge 15.4 release notes to develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
Labels: Releases

#12589 Issue/12039 fetch test
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchPostsForTagUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/wrapper/ReaderPostServiceStarterWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/FetchPostsForTagUseCaseTest.kt
Labels: New Reader Android, Reader

#12590 Issue/12578 quick start prompt after login
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/PostSignupInterstitialActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: Signup, [Type] Bug

#12569 Bumping utils version.
  libs/utils/WordPressUtils/build.gradle
Labels: Media, [Type] Enhancement

#12549 Memory leak fix in photo picker adapter
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerItem.kt
Labels: Media Picker Consolidation, [Type] Bug, [Type] Enhancement

#12595 Enable @mentions feature in vanilla flavors for version 15.4
  RELEASE-NOTES.txt
  WordPress/build.gradle
Labels: Posting/Editing

#12555 Improve site icon edit message for self hosted
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/res/values/strings.xml
Labels: Site Settings, [Type] Enhancement

#12592 Add upload of any files to release notes
  RELEASE-NOTES.txt
Labels: [Type] Task

#12563 Issue/12319 clear cards cache when necessary
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagType.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
Labels: New Reader Android, Part of a WIP Feature, Reader

#12593 Issue/12319 refactor cards event handling
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderTagTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderUpdatePostsEndedHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android

#12594 Pass followed tags to /cards endpoint
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverJobService.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverService.kt
Labels: New Reader Android

#12603 Add support for loading more items on discover feed
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, [Status] Not Ready for Merge

#12600 RI: Enable Follow button for logged out user(self-hosted site)
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderViewUiState.kt
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: New Reader Android, Reader

#12604 Enable swipe to refresh gesture on the discover tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
Labels: New Reader Android

#12506 Switch to upload key for release bundle signing
  .configure
  .configure-files/automattic_upload.jks.enc
  .configure-files/gradle.properties.enc
  .gitignore
  WordPress/build.gradle
Labels: Tooling

#12610 Update configuration
  .configure
Labels: Tooling

#12609 Fix load more functionality which expected only Post items in the list
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android

#12584 Remove animateLayoutChanges from discover fragment
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
Labels: New Reader Android

#12612 Set prerelease flags for alpha/beta releases on GH
  fastlane/Fastfile
Labels: Tooling

#12611 Merge 15.4-rc-2 to develop
  .configure
  .configure-files/automattic_upload.jks.enc
  .configure-files/gradle.properties.enc
  .gitignore
  RELEASE-NOTES.txt
  WordPress/build.gradle
Labels: Releases

#12574 Fixing support for reader page jump
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
  WordPress/src/main/res/values/strings.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/UrlUtils.java
Labels: Reader, [Type] Bug

#12551 Convert photo picker fragment to kotlin to avoid memory leaks
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/drawable/ic_photo_camera_24px.xml
  WordPress/src/main/res/drawable/img_illustration_add_media_150dp.xml
Labels: Media Picker Consolidation, [Type] Enhancement

#12613 Increase the no output timeout on CircleCI during linting
  .circleci/config.yml
Labels: Tooling

#12614 Bump Tracks library version to 1.2.1
  libs/analytics/WordPressAnalytics/build.gradle
Labels: Analytics

#12587 Adds missing mocks for stats and theme endpoints for screenshot generation
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  fastlane/playstoreres/assets/intro-text.css
  fastlane/playstoreres/assets/style.css
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_clicks-year.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_referrers.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-authors.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-posts.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/themes/v2_sites_106707880_themes.json
Labels: Tooling

#12547 Issue/base appbar styling
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/ViewPagerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/ViewPagerScrollableViewInitializedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/res/drawable/tab_bottom_divider.xml
  WordPress/src/main/res/drawable/tab_layout_background.xml
  WordPress/src/main/res/layout/me_action_layout.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/ids.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Code Review, [Type] Enhancement

#12571 Integrate encrypted logging
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/AppConfigModule.java
  WordPress/src/main/java/org/wordpress/android/util/CrashLogging.kt
  WordPress/src/main/java/org/wordpress/android/util/EncryptedLogging.kt
  build.gradle
  gradle.properties-example
  libs/login/WordPressLoginFlow/build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/helpers/logfile/LogFileProvider.kt
Labels: Tooling

#12621 Adds upload_and_replace_screenshots_in_play_store lane
  fastlane/Fastfile
Labels: Tooling

#12623 Fix lint errors
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Localization

#12580 Add view model to photo picker
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/EditorPhotoPicker.kt
  WordPress/src/main/res/layout/photo_picker_thumbnail.xml
Labels: Media Picker Consolidation, [Type] Bug, [Type] Enhancement

#12585 Add view model unit tests
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12596 Extract preview action to view model and test it
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/UriWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12597 Convert photo picker adapter to kotlin
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewHolder.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12559 Issue/remove remaining usage of obsolete attributes
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginFlowThemeHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/res/layout/activity_log_item_detail.xml
  WordPress/src/main/res/layout/activity_log_list_progress_item.xml
  WordPress/src/main/res/layout/invite_username_button.xml
  WordPress/src/main/res/layout/media_grid_item.xml
  WordPress/src/main/res/layout/people_invite_fragment.xml
  WordPress/src/main/res/layout/post_list_button.xml
  WordPress/src/main/res/layout/reader_activity_comment_list.xml
  WordPress/src/main/res/layout/suggest_users_activity.xml
  WordPress/src/main/res/layout/suggestion_list_row.xml
  WordPress/src/main/res/layout/support_email_and_name_dialog.xml
  WordPress/src/main/res/layout/toolbar_spinner_dropdown_item.xml
  WordPress/src/main/res/layout/wppref_text_dialog.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/styles.xml
Labels: Dark Mode, [Status] Needs Code Review

#12615 RI: Add new field tags to tbl_posts
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderTagActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
Labels: New Reader Android, Reader, [Status] Not Ready for Merge

#12616 Add merge and fold methods to LiveDataUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/test/java/org/wordpress/android/util/LiveDataUtilsTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12617 Move logic from photo picker fragment to view model
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PermissionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/ViewWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12608 AppBar refresh - Site Picker, Plans, Activity Log, Themes, Publicize
  WordPress/src/main/java/org/wordpress/android/ui/ScrollableViewInitializedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/ViewPagerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeWebViewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/res/layout/activity_log_detail_activity.xml
  WordPress/src/main/res/layout/activity_log_item_detail.xml
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/main/res/layout/activity_log_list_fragment.xml
  WordPress/src/main/res/layout/full_screen_dialog_fragment.xml
  WordPress/src/main/res/layout/plan_details_fragment.xml
  WordPress/src/main/res/layout/plans_activity.xml
  WordPress/src/main/res/layout/publicize_button_prefs_fragment.xml
  WordPress/src/main/res/layout/publicize_detail_fragment.xml
  WordPress/src/main/res/layout/publicize_list_activity.xml
  WordPress/src/main/res/layout/publicize_list_fragment.xml
  WordPress/src/main/res/layout/publicize_webview_fragment.xml
  WordPress/src/main/res/layout/site_picker_activity.xml
  WordPress/src/main/res/layout/theme_browser_activity.xml
  WordPress/src/main/res/layout/theme_browser_fragment.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Code Review, [Type] Enhancement

#12666 Merge Release/15.5 into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
Labels: Releases

#12479 RI: Create expandable tags view
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostTagsUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/TagUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_chip.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_overflow_chip.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader

#12635 State tests for photo picker view model
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12673 Fix translatable attributes
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#12655 Update reader site header UI
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/main/res/drawable/bg_oval_placeholder_globe_no_border_24dp.xml
  WordPress/src/main/res/layout/reader_site_header_view.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#12677 Support AVI file in media upload
  build.gradle
Labels: Media Picker Consolidation, [Type] Bug

#12674 Fix encrypted logging crash
  WordPress/proguard.cfg
Labels: [Type] Bug

#12607 Make mentions api call when user inserts a mention
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/service/RequestThrottler.kt
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/service/SuggestionService.java
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/util/SuggestionServiceConnectionManager.java
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/util/SuggestionUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/suggestion/service/RequestThrottlerTest.kt
Labels: gutenberg-mobile

#12659 [Platform] Fix screenshots lane: Update to x86_64 images
  fastlane/emulators/Nexus_9_API_28.ini
  fastlane/emulators/Pixel_2_XL_API_28.ini
  fastlane/emulators/Pixel_3_API_28.ini
Labels: Tooling

#12688 Update strings.xml file for gb-mobile
  WordPress/src/main/res/values/strings.xml
Labels: gutenberg-mobile

#12687 Issue 12633/contact us string update
  WordPress/src/main/res/layout/help_activity.xml
  WordPress/src/main/res/values/strings.xml
Labels: /Me, [Type] Task

#12680 Update memory for translators builds
  .circleci/config.yml
Labels: Localization

#12676 Merge Release/15.5 into develop
  .circleci/config.yml
  WordPress/build.gradle
  WordPress/proguard.cfg
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/service/RequestThrottler.kt
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/service/SuggestionService.java
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/util/SuggestionServiceConnectionManager.java
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/util/SuggestionUtils.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/suggestion/service/RequestThrottlerTest.kt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#12689 RI: Remove RI FF for topic details header
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderViewUiState.kt
Labels: New Reader Android, Reader

#12703 Pinpoint Android executor to the last JDK 8 image
  .circleci/config.yml
Labels: Tooling

#12707 Add a super secret button that crashes after being tapped 10 times
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AboutActivity.java
  WordPress/src/main/res/layout/about_activity.xml
Labels: Tooling

#12706 Add on video overlay handler for discover items
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
Labels: New Reader Android

#12695 Switch translation reviewers builds to release
  .circleci/config.yml
  fastlane/Fastfile
Labels: Localization

#12710 Merge 15.5-rc-3 to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AboutActivity.java
  WordPress/src/main/res/layout/about_activity.xml
Labels: Releases

#12705 Add support for on item click event to discover reader tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
Labels: New Reader Android

#12708 Add on header clicked handler for discover items
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
Labels: New Reader Android

#12664 Introduce consolidated media picker feature flag enabled only in wasabi
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/ConsolidatedMediaPickerFeatureConfig.kt
Labels: Media Picker Consolidation, [Type] Task

#12713 WP Stories: build the VideoPress URL if mimeType is `video/videopress`
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCase.kt
Labels: WP Stories

#12717 Add "refresh" parameter (seed) to "/cards" endpoint calls
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: New Reader Android

#12656 Split ThumbnailViewHolder.kt into 2 child view holders
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ConsolidatedMediaPickerFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12690 Stop "activity icon" from being read allowed
  WordPress/src/main/res/layout/activity_log_list_event_item.xml
Labels: Accessibility, Activity Log

#12579 Issue/topics you may like
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderInterestAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderInterestViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderInterestsCardViewHolder.kt
  WordPress/src/main/res/layout/reader_interest_card.xml
  WordPress/src/main/res/layout/reader_interest_item.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Reader, [Type] Task

#12669 Issue/topics you may like tests
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android, Reader, [Type] Task

#12731 Revert "WP Stories: build the VideoPress URL if mimeType is `video/videopress`"
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCase.kt
Labels: WP Stories

#12694 Fix/reader blog table
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/test/java/org/wordpress/android/ui/reader/utils/ReaderUtilsTest.kt
Labels: New Reader Android, Reader

#12715 RI: Fix expandable tags view
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#12714 Testing : reverted Use visibleElementWithId instead of onView(withId(elementId))
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
Labels: Login, Testing

#12728 Stories: Only show stories for sites that support them
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModel.kt
  WordPress/src/main/res/layout/post_list_activity.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModelTest.kt
Labels: WP Stories

#12729 Stories: Remove gallery fallback
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryMediaSaveUploadBridge.kt
Labels: WP Stories

#12733 WP Stories: remove ids array from stories block structure
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCase.kt
Labels: WP Stories, [Type] Task

#12734 WP Stories: remove unneeded mediaId replacement method
  WordPress/src/main/java/org/wordpress/android/ui/media/services/MediaUploadReadyListener.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/MediaUploadReadyProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
Labels: WP Stories

#12727 Unified Login & Sign-Up: Stop tracking unnecessary error when signing up with Google
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginGoogleFragment.java
Labels: Unified Login & Sign-Up, [Type] Enhancement

#12724 Use the `main` mobile secrets branch
  .configure
Labels: [Type] Enhancement

#12779 Enable encrypted logging and add tracking
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/util/CrashLogging.kt
  WordPress/src/main/java/org/wordpress/android/util/EncryptedLogging.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Tooling

#12780 Merge 15.6 code freeze to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/util/CrashLogging.kt
  WordPress/src/main/java/org/wordpress/android/util/EncryptedLogging.kt
  build.gradle
  fastlane/resources/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Releases

#12144 Save latest post changes when exiting editor
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/SaveOnExitException.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryMediaSaveUploadBridge.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/UploadMediaUseCaseTest.kt
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#12740 Convert SnackbarMessageHolder message and button title to UIString
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SnackbarMessageHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostConflictResolver.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/BaseListUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryEditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/usecase/StoryEditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: General, [Type] Task

#12789 Convert SnackbarMessageHolder message to CharSequence
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicFragmentDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderMenuAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiHelpers.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiString.kt
Labels: General, [Type] Task

#12781 Build MoreMenuUiState after the user actually clicks on the more button
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android

#12716 Suppress default item animation in ReaderDiscoverAdapter
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
Labels: New Reader Android

#12794 Make SiteModel params nullable on WPMainActivity VM event handler methods
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
Labels: Testing, WP Stories, [Type] Bug

#12783 Fix failing connected tests
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
Labels: Testing, [Type] Bug

#12787 Photo Picker: remove white background from photo picker
  WordPress/src/main/res/layout/photo_picker_fragment.xml
Labels: Media Picker Consolidation, WP Stories

#12791 Fix undo block site action
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
Labels: New Reader Android, [Type] Bug

#12798 Sync 15.6 with develop
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
Labels: Releases

#12777 RI: Implement "Turn on/off notifs" action on Reader discover tab
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSiteNotificationsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderSiteNotificationsUseCaseTest.kt
Labels: New Reader Android, Reader

#12805 Merge 15.5.1 to release/15.6
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
Labels: Releases

#12671 Add like use case
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCaseTest.kt
Labels: New Reader Android, Reader

#12808 Enable Slack notification for connected tests
  .circleci/config.yml
Labels: Tooling

#12725 Issue/12028 tracking events
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: New Reader Android, Reader

#12807 Merge 15.6-rc-2 and 15.6 release notes to develop
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
Labels: Releases

#12810 Remove unused class
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostDataProvider.kt
Labels: New Reader Android

#12748 Discover tab - error and progress handling
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/main/res/layout/reader_fullscreen_error_with_retry.xml
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android

#12801 Issue/12028 fix quick start
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: New Reader Android

#12797 UL&S: Fix minor tracking issues
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
Labels: Unified Login & Sign-Up, [Type] Bug

#12675 AppBar refresh - Stats, Pages, Posts, Media Browser and Domain Registration
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SearchListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsPagerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/DateSelectorViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/widgets/AppBarFadingEdgeView.kt
  WordPress/src/main/res/drawable/bottom_divider_background.xml
  WordPress/src/main/res/drawable/tab_layout_background.xml
  WordPress/src/main/res/layout-w528dp/insights_management_fragment.xml
  WordPress/src/main/res/layout/domain_registration_details_fragment.xml
  WordPress/src/main/res/layout/domain_suggestions_activity.xml
  WordPress/src/main/res/layout/filtered_list_component.xml
  WordPress/src/main/res/layout/insights_management_activity.xml
  WordPress/src/main/res/layout/insights_management_fragment.xml
  WordPress/src/main/res/layout/media_browser_activity.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/post_list_activity.xml
  WordPress/src/main/res/layout/post_list_fragment.xml
  WordPress/src/main/res/layout/stats_date_selector.xml
  WordPress/src/main/res/layout/stats_detail_fragment.xml
  WordPress/src/main/res/layout/stats_fragment.xml
  WordPress/src/main/res/layout/stats_list_fragment.xml
  WordPress/src/main/res/layout/stats_view_all_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/ids.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Code Review, [Type] Enhancement

#12817 Add check for already running
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
Labels: New Reader Android

#12692 RI: Introduce "Welcome to Reader" card
  WordPress/src/main/java/org/wordpress/android/models/discover/ReaderDiscoverCards.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/WelcomeBannerViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCase.kt
  WordPress/src/main/res/color/primary_emphasis_lowest.xml
  WordPress/src/main/res/drawable/bg_colorful_dots.xml
  WordPress/src/main/res/layout/reader_cardview_welcome_banner.xml
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCaseTest.kt
Labels: New Reader Android, Reader

#12792 Issue/12028 fix block site action
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/BlockBlogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/UndoBlockBlogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/BlockBlogUseCaseTest.kt
Labels: New Reader Android

#12678 Create media picker launcher
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerConstants.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoriesMediaPickerResultHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
Labels: Media Picker Consolidation, [Type] Task

#12693 Extract source interface for media picker
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaType.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/mediapicker/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Task

#12712 Replace bottom bar with action mode icon in media picker
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/main/res/menu/photo_picker_action_mode.xml
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Task

#12718 Convert media picker activity to kotlin
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/FeaturedImageHelper.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12806 Issue/12028 consolidate threading in discover tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/reblog/ReblogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/BlockBlogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/reblog/ReblogUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
Labels: New Reader Android

#12793 Move media picker files into ui package
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/ThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/VideoThumbnailViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#12820 Refactor request more check
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverServiceStarter.kt
Labels: New Reader Android

#12778 RI: Expandable tags view design review
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/res/color/on_surface_chip.xml
  WordPress/src/main/res/color/on_surface_disabled_transparent_selector.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_overflow_chip.xml
  WordPress/src/main/res/values-night/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader
