Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-05, with the labels that each got.

#11795 Reblog to wpcom sites only.
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/NoSiteToReblogActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/res/layout/reader_no_site_to_reblog.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
Labels: Reader, [Type] Enhancement

#11640 Introduce new flavor for pr builds
  .circleci/config.yml
  .configure
  .configure-files/automattic.jks.enc
  .configure-files/debug.keystore.enc
  .configure-files/google-services.json.enc
  .configure-files/gradle.properties.enc
  .gitignore
  Gemfile
  Gemfile.lock
  WordPress/build.gradle
  WordPress/google-services.json-example
  WordPress/src/jalapeno/res/drawable/app_icon_background.xml
  WordPress/src/jalapeno/res/drawable/app_icon_foreground.xml
  WordPress/src/jalapeno/res/mipmap-hdpi/app_icon.png
  WordPress/src/jalapeno/res/mipmap-mdpi/app_icon.png
  WordPress/src/jalapeno/res/mipmap-xhdpi/app_icon.png
  WordPress/src/jalapeno/res/mipmap-xxhdpi/app_icon.png
  WordPress/src/jalapeno/res/mipmap-xxxhdpi/app_icon.png
  WordPress/src/jalapeno/res/values/strings.xml
  WordPress/src/jalapeno/res/xml/shortcuts.xml
  fastlane/Pluginfile
Labels: [Type] Enhancement

#11800 Merging reblog feature branch into develop.
  RELEASE-NOTES.txt
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActionableEmptyView.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/PagePostCreationSourcesDetail.kt
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/NoSiteToReblogActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/reblog/ReblogState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderIconCountView.java
  WordPress/src/main/java/org/wordpress/android/util/ReblogUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/UrlUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/SitePickerViewModel.kt
  WordPress/src/main/res/layout/reader_activity_post_pager.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_include_post_detail_footer.xml
  WordPress/src/main/res/layout/reader_no_site_to_reblog.xml
  WordPress/src/main/res/menu/site_picker_reblog_action_mode.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/util/ReblogUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/SitePickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Reader, [Type] Enhancement

#11798 Prepublishing Nudges : Change Publish to Publish Date
  WordPress/src/main/res/values/strings.xml
Labels: Prepublishing Nudges, [Type] Task

#11772 Issue/11769 feature announcement dialog list
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncement.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementViewModel.kt
  WordPress/src/main/res/layout/feature_announcement_dialog_fragment.xml
  WordPress/src/main/res/layout/feature_announcement_list_footer.xml
  WordPress/src/main/res/layout/feature_announcement_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
Labels: What's New, [Status] Needs Code Review

#11806 Fix hide "take photo" on media custom picker in gutenberg merge
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
Labels: [Type] Bug

#11766 Bump libraries to support remote config
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/push/InstanceIDService.java
Labels: [Type] Enhancement

#11802 Merge 14.7 final to develop
  WordPress/build.gradle
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/858.txt
  fastlane/metadata/android/de-DE/changelogs/858.txt
  fastlane/metadata/android/en-US/changelogs/850.txt
  fastlane/metadata/android/en-US/changelogs/858.txt
  fastlane/metadata/android/es-ES/changelogs/850.txt
  fastlane/metadata/android/es-ES/changelogs/858.txt
  fastlane/metadata/android/fr-CA/changelogs/850.txt
  fastlane/metadata/android/fr-CA/changelogs/858.txt
  fastlane/metadata/android/fr-FR/changelogs/850.txt
  fastlane/metadata/android/fr-FR/changelogs/858.txt
  fastlane/metadata/android/id/changelogs/858.txt
  fastlane/metadata/android/it-IT/changelogs/858.txt
  fastlane/metadata/android/iw-IL/changelogs/858.txt
  fastlane/metadata/android/ja-JP/changelogs/858.txt
  fastlane/metadata/android/ko-KR/changelogs/858.txt
  fastlane/metadata/android/nl-NL/changelogs/858.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/850.txt
  fastlane/metadata/android/ru-RU/changelogs/858.txt
  fastlane/metadata/android/sv-SE/changelogs/850.txt
  fastlane/metadata/android/sv-SE/changelogs/858.txt
  fastlane/metadata/android/tr-TR/changelogs/850.txt
  fastlane/metadata/android/tr-TR/changelogs/858.txt
  fastlane/metadata/android/zh-CN/changelogs/858.txt
  fastlane/metadata/android/zh-TW/changelogs/858.txt
Labels: releases

#11801 Merge 14.7 final to master
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.java
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/858.txt
  fastlane/metadata/android/de-DE/changelogs/858.txt
  fastlane/metadata/android/en-US/changelogs/850.txt
  fastlane/metadata/android/en-US/changelogs/858.txt
  fastlane/metadata/android/es-ES/changelogs/850.txt
  fastlane/metadata/android/es-ES/changelogs/858.txt
  fastlane/metadata/android/fr-CA/changelogs/850.txt
  fastlane/metadata/android/fr-CA/changelogs/858.txt
  fastlane/metadata/android/fr-FR/changelogs/850.txt
  fastlane/metadata/android/fr-FR/changelogs/858.txt
  fastlane/metadata/android/id/changelogs/858.txt
  fastlane/metadata/android/it-IT/changelogs/858.txt
  fastlane/metadata/android/iw-IL/changelogs/858.txt
  fastlane/metadata/android/ja-JP/changelogs/858.txt
  fastlane/metadata/android/ko-KR/changelogs/858.txt
  fastlane/metadata/android/nl-NL/changelogs/858.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/850.txt
  fastlane/metadata/android/ru-RU/changelogs/858.txt
  fastlane/metadata/android/sv-SE/changelogs/850.txt
  fastlane/metadata/android/sv-SE/changelogs/858.txt
  fastlane/metadata/android/tr-TR/changelogs/850.txt
  fastlane/metadata/android/tr-TR/changelogs/858.txt
  fastlane/metadata/android/zh-CN/changelogs/858.txt
  fastlane/metadata/android/zh-TW/changelogs/858.txt
Labels: releases

#11808 Temporarily disable connected test notifications
  .circleci/config.yml
Labels: Tooling

#11815 Made whole domain CTA clickable instead of just a row.
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.java
  WordPress/src/main/res/layout/my_site_fragment.xml
Labels: Domain Credit, [Status] Needs Code Review

#11767 Prepublishing Nudges : Home Screen UI Update
  WordPress/src/main/java/org/wordpress/android/ui/posts/GetPostTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/res/layout/post_prepublishing_bottom_sheet.xml
  WordPress/src/main/res/layout/post_prepublishing_home_fragment.xml
  WordPress/src/main/res/layout/prepublishing_action_list_item.xml
  WordPress/src/main/res/layout/prepublishing_home_header_list_item.xml
  WordPress/src/main/res/layout/prepublishing_home_publish_button_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/DisplayUtils.java
Labels: Prepublishing Nudges, [Status] Needs Design Review, [Type] Task

#11814 Merge 14.8-rc-1 to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  build.gradle
Labels: releases

#11649 Retrieve is-new-post flag when switching editors
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/components/MasterbarComponent.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/BlockEditorPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/EditorPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/PostPreviewPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/SiteSettingsPage.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts-draft,pending,no-date-field.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts-private,publish,no-date-field.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v11_sites_106707880_settings_update.json
Labels: [Type] Bug

#11809 NUX: Position scrollbar to the edge of the "Create Site" screen
  WordPress/src/main/res/layout/site_creation_form_screen.xml
  WordPress/src/main/res/layout/site_creation_segments_screen.xml
Labels: NUX, [Type] Bug

#11657 Stop using global scope in coroutines
  WordPress/src/main/java/org/wordpress/android/ui/CommentFullScreenDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTotalsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ActivityViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BarChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/MapViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/MinifiedWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/utils/WidgetUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/ItemPopupMenuHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/NewsCardHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/AutoSavePostIfNotDraftUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/ActionPerformer.kt
  build.gradle
Labels: [Type] Enhancement

#11810 Show video player on long press on video item in media list
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
Labels: [Type] Bug

#11825 Prepublishing Nudges : Toolbar Improvements
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingPublishSettingsFragment.kt
  WordPress/src/main/res/layout/prepublishing_toolbar.xml
Labels: Prepublishing Nudges, [Type] Task

#11796 Prepublishing Nudges : add visibility option
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostStatusUseCase.kt
  WordPress/src/main/res/layout/prepublishing_visibility_fragment.xml
  WordPress/src/main/res/layout/prepublishing_visibility_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostStatusUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#11804 Issue/11799 show announcement on app upgrade
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncement.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementProvider.kt
  WordPress/src/main/java/org/wordpress/android/util/BuildConfigWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
Labels: What's New, [Status] Needs Code Review

#11832 Make app more resilient to empty post-formats.
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterface.java
  build.gradle
Labels: /My site, [Type] Crash

#11831 Don't show insert/edit for video in the custom media picker
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
Labels: [Type] Bug

#11829 Remove dialog error when changing username
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/BaseUsernameChangerFullScreenDialogFragment.java
  WordPress/src/main/res/layout/username_changer_dialog_fragment.xml
Labels: NUX, [Type] Bug

#11838 Show fragments correctly in bottom navigation
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
Labels: [Type] Bug

#11840 Reader move tab layout to parent
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/LoadReaderTabsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_fragment_layout.xml
Labels: Reader, Tech debt

#11851 Issue/10726 site pages author picker phase I
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/AuthorSelectionAdapter.kt
  WordPress/src/main/res/drawable/bg_oval_transparent_stroke_white.xml
  WordPress/src/main/res/layout/author_selection.xml
  WordPress/src/main/res/layout/author_selection_dropdown.xml
  WordPress/src/main/res/layout/me_action_layout.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/post_list_activity.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Pages List, [Type] Enhancement

#11850 Fix logout for connected tests and re-enable Slack notifications
  .circleci/config.yml
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
Labels: Testing

#11848 Reader move tab layout to parent part 2
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/filtered_list_component.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/subfilter_component.xml
  WordPress/src/main/res/values/attrs.xml
Labels: Reader, Tech debt

#11870 Merge 14.8 release notes to develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
Labels: releases

#11869 Merge 14.8 release notes to master
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
Labels: releases

#11862 Prepublishing Nudges : Requested focus for the TagsEditText
  WordPress/src/main/java/org/wordpress/android/ui/posts/TagsFragment.java
Labels: Prepublishing Nudges, [Type] Task

#11834 Issue/11817 read announcement content from json
  WordPress/src/androidTest/java/org/wordpress/android/util/FeatureAnnouncementJsonValidityTest.kt
  WordPress/src/main/assets/FEATURE_ANNOUNCEMENTS.json
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncements.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/layout/feature_announcement_list_item.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: What's New, [Status] Needs Code Review

#11841 Hide audio tab when the user has no audio
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
Labels: [Type] Broken Window, [Type] Enhancement

#11871 Update FluxC version to 1.6.12-beta-3
  build.gradle
Labels: [Type] Task

#11867 Reader move tab layout to parent part 3
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/NewsCardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/NewsCardViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
Labels: Reader, Tech debt

#11885 When upgrading from older version do not go through migration script steps.
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
Labels: Reader, [Status] Needs Code Review

#11873 Fix crash on opening external url
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
Labels: [Type] Bug

#11812 Issue/11760 reader empty view ui
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/res/drawable/img_illustration_following_empty_results_196dp.xml
  WordPress/src/main/res/layout/reader_empty_view.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#11552 Remove extra mocks files
  WordPressMocks/src/main/assets/mocks/mappings/wpcom/auth/magic_link-signup.json
  WordPressMocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_158396482_gutenberg.json
Labels: Testing, [Type] Bug

#11875 Issue/example feature announcement
  WordPress/FEATURE_ANNOUNCEMENTS.json-example
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
Labels: What's New, [Status] Needs Code Review

#11901 Merge 14.7.1 to 14.8
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
Labels: releases

#11903 Remove unnecessary log - gravatar api timeout
  WordPress/src/main/java/org/wordpress/android/networking/GravatarApi.java
Labels: Core

#11881 Reader move tab layout to parent part 3.5 - bug fixes
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/LoadReaderTabsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, Tech debt

#11872 Reader move tab layout to parent part 4 - subfilter component
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
Labels: Reader, Tech debt

#11890 Reader move tab layout to parent part 5 - restore lastly selected tab
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, Tech debt

#11899 Reader move tab layout to parent part 5.1 move toolbar
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/subfilter_component.xml
Labels: Reader, Tech debt

#11878 Remove init method from bottom nav
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
Labels: [Type] Enhancement

#11912 [Fix] Gutenberg - honor allowMultipleSelection js flag in StockMediaPicker
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
Labels: Gutenberg, Media, Stock Photos

#11836 Issue/11816 feature announcement analytics
  WordPress/FEATURE_ANNOUNCEMENTS.json-example
  WordPress/src/main/assets/FEATURE_ANNOUNCEMENTS.json
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: What's New, [Status] Needs Code Review

#11927 Replace FragmentTransaction.show/hide with attach/detach - fix lifecycle
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
Labels: Bottom Navigation, [Type] Bug

#11915 Reader move tab layout to parent part 6 - search
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/FilteredRecyclerView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_activity_search.xml
  WordPress/src/main/res/menu/reader_home.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader

#11928 Issue/11906 reader move tab layout to parent part 6.5 tracking
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, Tech debt, [Type] Task

#11942 Issue/11935 localization of local announcements
  WordPress/FEATURE_ANNOUNCEMENTS.json-example
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncements.kt
  WordPress/src/main/java/org/wordpress/android/util/LocaleManagerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
Labels: What's New, [Status] Needs Code Review

#11940 Merge 14.9 code freeze to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  build.gradle
Labels: Releases

#11916 Remove dead code in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/res/menu/reader_list.xml
Labels: Reader, Tech debt

#11929 Set discover tab selection
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, [Type] Task

#11947 Issue/11917 center empty reader view
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: New Reader Android, Tech debt

#11948 Issue/11905 tab names reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
Labels: New Reader Android, Tech debt

#11805 Prepublishing Nudges : Publish button - Button UI Part 1
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingActionClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/GetPublishButtonLabelUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModelTest.kt
Labels: Prepublishing Nudges, [Type] Task

#11866 Prepublishing Nudges : Track events
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PublishSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/TagsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Prepublishing Nudges, [Type] Task

#11887 Prepublishing Nudges : Refactored PostSettingsUtilsTest
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostSettingsUtilsTest.kt
Labels: Prepublishing Nudges, [Type] Task

#11888 Prepublishing Nudges : Fixed Publish Date status for Private posts
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostSettingsUtilsTest.kt
Labels: Prepublishing Nudges, [Type] Task

#11937 Issue/11759 ri post card ui improvements
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderMenuAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/color/on_surface_medium_secondary_selector.xml
  WordPress/src/main/res/color/on_surface_primary_selector.xml
  WordPress/src/main/res/drawable/bg_oval_white_stroke_neutral_120.xml
  WordPress/src/main/res/drawable/bg_reader_image_featured.xml
  WordPress/src/main/res/drawable/bg_rectangle_placholder_reader_radius_4dp.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/reader_icon_count_view.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#11952 Reader: Fix empty view illustration shown on Liked tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader, [Type] Bug

#11955 Prepublishing Nudges : Page editor doesn't display tags in bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/res/layout/post_prepublishing_bottom_sheet.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
Labels: Prepublishing Nudges, [Type] Task

#11949 Fix ReaderPostListFragmnent consumes unrelated events
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostService.java
Labels: New Reader Android, Tech debt

#11961 Fix bookmark crash in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostWebViewCachingFragment.java
Labels: New Reader Android

#11959 Init posts in ReaderPostListFragment in onStart
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostServiceStarter.java
Labels: New Reader Android, Tech debt

#11962 Issue/ri update xpost card ui
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/res/drawable/bg_reader_avatar_or_blavatar_with_border.xml
  WordPress/src/main/res/drawable/ic_comment_white_24dp.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_cardview_xpost.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#11945 Prepublishing Nudges : EditorActionsProvider integration - Button UI Part 2
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingActionClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/GetButtonUiStateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/GetPublishButtonLabelUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModelTest.kt
Labels: Prepublishing Nudges, [Type] Task

#11946 Prepublishing Nudges : EditorActionsProvider integration - Unit tests
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/home/usecases/GetButtonUiStateUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#11975 Update build.instructions with update submodules git command
  README.md
Labels: Core, Documentation

#11977 Issue/11976 fix snackbar position in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: New Reader Android

#11982 Fix automattic tab in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
Labels: New Reader Android

#11972 WP Stories integration - Media Picker part 2 - unit tests
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/AddLocalMediaToPostUseCaseTest.kt
Labels: WP Stories, [Status] Not Ready for Merge

#11925 Issue/11924 remove whats next feature flag
  WordPress/FEATURE_ANNOUNCEMENTS.json-example
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/util/FeatureAnnouncementJsonValidityTest.kt
  WordPress/src/main/assets/FEATURE_ANNOUNCEMENTS.json
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncements.kt
  WordPress/src/main/java/org/wordpress/android/util/BuildConfigWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/LocaleManagerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/whatsnew/FeatureAnnouncementViewModelTest.kt
Labels: What's New, [Status] Needs Code Review

#11980 PhotoPicker: remove unused code paths for CHILD_REQUEST_CODE
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Gutenberg, Media, Media Editing, gutenberg-mobile

#11989 Merge 14.9 release notes to develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#11988 Merge 14.9 release notes to master
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#11974 Issue/ri post card ui misc fixes
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_cardview_removed_post.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader

#11993 Fix empty content in ReaderPostListTabs after horizontal scroll
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: New Reader Android

#11995 Fix custom list in reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/LoadReaderTabsUseCase.kt
Labels: New Reader Android

#11934 Bumped androidx core and fragment dependencies to latest
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/CommentFullScreenDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/JetpackRemoteInstallFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationResultFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentSearchFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SearchListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlansListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/HistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostDatePickerDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostNotificationScheduleTimeDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostTimePickerDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/segments/SiteCreationSegmentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetColorSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetConfigureFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetDataTypeSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetSiteSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/StatsMinifiedWidgetConfigureFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/whatsnew/FeatureAnnouncementDialogFragment.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
Labels: AndroidX, [Status] Needs Code Review, [Status] Not Ready for Merge

#11998 Issue/Add touch feedback to attribution text and hide follow from posts for tags
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/res/layout/reader_cardview_post.xml
Labels: New Reader Android, Reader

#12007 Changing switch site button height to wrap_content to adapt to system font size change
  WordPress/src/main/res/layout/my_site_fragment.xml
Labels: /My site, [Type] Bug

#12012 Default visibility of More and Edit to gone
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
Labels: Comments, [Pri] High, [Type] Bug

#11990 Add wordpress.com/stats/site deep link
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: General, [Pri] Blocking, [Type] Enhancement

#12018 Fix crash in onSaveInstanceState in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader, [Type] Crash

#12000 Fix Crash InflateException Binary XML file
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/widgets/WPLoginInputRow.java
Labels: [Type] Bug

#12016 Hide search in reader for self-hosted login
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/menu/reader_home.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: New Reader Android

#12004 Issue/11968 site pages deep link
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: Pages List

#12015 Prepublishing Nudges : Navigate to editor before showing bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Prepublishing Nudges, [Type] Task

#12005 Prepublishing Nudges : Expand bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
Labels: Prepublishing Nudges, [Type] Task

#12030 Merge 14.9-rc-2 to develop
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Releases

#12034 Update release notes for Gutenberg 1.29.0 changes
  RELEASE-NOTES.txt
Labels: gutenberg-mobile

#12038 Issue/12026 ri phase 2 init
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
Labels: New Reader Android

#12032 Feature branch/stat pages deep linking
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
Labels: General, [Pri] Blocking, [Type] Enhancement

#12035 add isAdded() check to trashComment
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
Labels: [Type] Bug, [Type] Crash

#12017 Short release notes version handling - part 1: upload originals
  Gemfile.lock
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes_short.txt
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#12029 Issue/ri phase1 design review feedback
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderXPostUtils.java
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values-night/dimens.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader

#12044 Merge 14.9-rc-3 to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
Labels: Releases

#11963 Issue/ri ui improvements phase1
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderMenuAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderXPostUtils.java
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageType.kt
  WordPress/src/main/res/color/on_surface_medium_secondary_selector.xml
  WordPress/src/main/res/color/on_surface_primary_selector.xml
  WordPress/src/main/res/drawable/bg_reader_avatar_or_blavatar_with_border.xml
  WordPress/src/main/res/drawable/bg_reader_image_featured.xml
  WordPress/src/main/res/drawable/bg_rectangle_placholder_reader_radius_4dp.xml
  WordPress/src/main/res/drawable/ic_comment_white_24dp.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/main/res/layout/reader_cardview_removed_post.xml
  WordPress/src/main/res/layout/reader_cardview_xpost.xml
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/reader_icon_count_view.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values-night/dimens.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#11951 Homepage settings in page list
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/menu/page_more.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  build.gradle
Labels: [Type] Enhancement, [Type] Task

#12020 Homepage settings in site settings
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsDataLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsSelectorUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsViewModel.kt
  WordPress/src/main/res/color/on_surface_selector.xml
  WordPress/src/main/res/layout/site_settings_homepage_dialog.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/xml/site_settings.xml
  WordPress/src/test/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsDataLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsSelectorUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsViewModelTest.kt
Labels: [Type] Enhancement, [Type] Task
