Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-07, with the labels that each got.

#12255 RI: Show interests chips only when user tags list is empty
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: New Reader Android, Reader

#12329 Address NPE
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Posting/Editing, [Type] Crash

#12181 Docs: Add issue triage doc
  docs/README.md
  docs/issue-triage.md
Labels: Documentation, [Type] Enhancement

#12320 Show popup more menu part 1
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12321 Show popup more menu part 2
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderMenuAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12338 Merge 15.2 release notes to develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
Labels: Releases

#12337 Merge 15.2 release notes to master
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
Labels: Releases

#12282 WP Stories: fix immersive style
  WordPress/src/main/res/values/styles.xml
Labels: WP Stories

#12348 Fix n-dash in translations
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-hu/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-uz/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  tools/update-translations.sh
Labels: Tooling

#12323 Show popup more menu part 3 - fix button clicks
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
Labels: New Reader Android, Reader, [Status] Not Ready for Merge, [Type] Task

#12352 Zendesk unknown plan ids (0)
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
Labels: Support

#12281 Check for remote field in features
  WordPress/src/main/java/org/wordpress/android/util/config/AppConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ExampleRemoteFeature.kt
  libs/WordPressProcessors/src/main/java/org/wordpress/android/processor/RemoteConfigCheckBuilder.kt
  libs/WordPressProcessors/src/main/java/org/wordpress/android/processor/RemoteConfigDefaultsBuilder.kt
  libs/WordPressProcessors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessor.kt
Labels: [Type] Bug, [Type] Enhancement

#12292 Updated colors used in crop activity.
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
Labels: Dark Mode, [Status] Needs Code Review, [Type] Bug

#12350 Issue/clarify trash message
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListDialogHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing

#12354 Issue/12028 show popup more main
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderMenuAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Reader, [Type] Task

#12335 Init ReaderPostCardActions
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsTrackerWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Reader, [Type] Task

#12326 Address NPEs on NotificationsListFragmentPage
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
Labels: Notifications, [Type] Crash

#12296 RI: Choose Interests - Polish the UI
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/WPActivityUtils.java
  WordPress/src/main/res/color/black_white_selector.xml
  WordPress/src/main/res/color/on_surface_disabled_primary_selector.xml
  WordPress/src/main/res/color/on_surface_surface_selector.xml
  WordPress/src/main/res/color/purple_0_blue_30_selector.xml
  WordPress/src/main/res/layout/reader_interest_filter_chip.xml
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values-w600dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader

#12368 WordPress Stories : Only show Status & Visibility section for non story posts
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
Labels: WP Stories, [Type] Task

#12382 Merge 15.2-rc-2 to develop
  WordPress/build.gradle
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-hu/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-uz/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  tools/update-translations.sh
Labels: Releases

#12351 Issue/update whats new fluxc db migration script
  build.gradle
Labels: What's New, [Status] Needs Code Review, [Type] Enhancement

#12294 Remove unnecessary click event
  WordPress/src/main/java/org/wordpress/android/ui/accounts/UnifiedLoginTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Part of a WIP Feature, [Type] Bug

#12269 Issue/12250 change site title from my site screen
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/TextInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileFragment.java
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/text_input_dialog.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Needs Code Review, [Status] Needs Design Review, [Type] Enhancement

#12293 Updated location of stats and page QS focus point.
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/res/values/strings.xml
Labels: Quick Start, [Status] Needs Code Review, [Status] Needs Design Review

#12355 RI: Topic details follow tag part 1
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.java
  WordPress/src/main/res/color/on_secondary_on_background_selector.xml
  WordPress/src/main/res/color/secondary_surface_selector.xml
  WordPress/src/main/res/layout/reader_follow_button.xml
  WordPress/src/main/res/layout/reader_tag_header_view.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: New Reader Android, Reader

#12385 Modify background color
  WordPress/src/main/res/values/colors.xml
Labels: New Reader Android, Reader

#12386 Fetch WPCom sites on Jetpack connect instead of updating current site
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionResultActivity.java
Labels: Jetpack, [Type] Bug

#12299 Update fetch pages FluxC call
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsDataLoader.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsDataLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  build.gradle
Labels: Pages List, [Type] Bug, [Type] Enhancement

#12357 Refactor reblog action on ReaderPostListFragment and ReaderDiscoverFragment
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/reblog/ReblogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/reblog/ReblogUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
Labels: New Reader Android, Reader, [Status] Not Ready for Merge

#12400 Issue/12028 save for later
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderInterfaces.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
Labels: New Reader Android, Reader, Tech debt, [Type] Task

#12306 WordPress Stories : Story title bottom sheet integration part 1
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoriesTrackerHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryMediaSaveUploadBridge.kt
  WordPress/src/main/java/org/wordpress/android/util/EventBusWrapper.kt
Labels: Prepublishing Nudges, WP Stories

#12402 Use success step in epilogue
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12403 Update Login headline from 36 to 37%
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginProloguePagerAdapter.kt
  WordPress/src/main/res/layout/login_intro_template_view.xml
  WordPress/src/main/res/values/strings.xml
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12413 Remove Group constraint layout element
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/res/layout/reader_cardview_post.xml
Labels: New Reader Android, Reader

#12409 Issue 12404/remove status and visibility option
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCase.kt
  WordPress/src/main/res/layout/prepublishing_visibility_fragment.xml
  WordPress/src/main/res/layout/prepublishing_visibility_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12416 Replace gradle memory setting for CircleCI
  .circleci/config.yml
  .configure
  .configure-files/gradle.properties.enc
Labels: Tooling, [Status] Not Ready for Review

#12419 Avoid NPE when webeditor is null
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: gutenberg-mobile

#12423 Revert "Issue 12404/remove status and visibility option"
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCase.kt
  WordPress/src/main/res/layout/prepublishing_visibility_fragment.xml
  WordPress/src/main/res/layout/prepublishing_visibility_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12427 Prepublishing Nudges : Remove prepublishing status and visibility option
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCase.kt
  WordPress/src/main/res/layout/prepublishing_visibility_fragment.xml
  WordPress/src/main/res/layout/prepublishing_visibility_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/PrepublishingVisibilityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/GetPostVisibilityUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdatePostPasswordUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/visibility/usecases/UpdateVisibilityUseCaseTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12428 Unified Login & Sign-Up: Fix issues with Gravatar placeholder
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginHeaderViewHolder.java
  WordPress/src/main/res/drawable/ic_user_circle_no_padding_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/util/AvatarHelper.kt
  libs/login/WordPressLoginFlow/src/main/res/drawable/ic_user_circle_no_padding_grey_24dp.xml
  libs/login/WordPressLoginFlow/src/main/res/values-night/colors.xml
  libs/login/WordPressLoginFlow/src/main/res/values/colors.xml
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Bug

#12432 Merge 15.3-rc-1 to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#12410 Double the time snackbar appears on screen.
  WordPress/src/main/res/values/integers.xml
Labels: Quick Start, [Status] Needs Code Review

#12290 Issue/12251 add site title qs task
  WordPress/src/main/java/org/wordpress/android/ui/TextInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/res/values/integers.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Quick Start, [Status] Needs Code Review, [Status] Needs Design Review

#12307 WordPress Stories : Story publish bottom sheet integration part 2
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
Labels: Prepublishing Nudges, WP Stories, [Status] Not Ready for Merge, [Type] Task

#12333 Issue 12330/bottom sheet publish flow
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
Labels: Prepublishing Nudges, WP Stories, [Type] Task

#12425 Unified Login & Sign-Up: Fix theming-related issues
  WordPress/src/main/java/org/wordpress/android/ui/FullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginEpilogueActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginFlowThemeHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/PostSignupInterstitialActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SignupEpilogueActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/util/ColorUtils.kt
  WordPress/src/main/res/drawable/ic_close_white_24dp.xml
  WordPress/src/main/res/layout/username_changer_dialog_fragment.xml
  libs/login/WordPressLoginFlow/src/main/res/color/login_on_background_medium_selector.xml
  libs/login/WordPressLoginFlow/src/main/res/color/login_on_surface_high_selector.xml
  libs/login/WordPressLoginFlow/src/main/res/color/login_on_surface_medium_selector.xml
  libs/login/WordPressLoginFlow/src/main/res/values/themes.xml
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Bug

#12439 Skip prologue screen when adding a WP.com account from the Me screen
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
Labels: Unified Login & Sign-Up, [Type] Bug, [Type] Enhancement

#12436 Mark _my_site_title_changer_dialog_title_ (string reference) untranslate
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug

#12449 Merge 15.3 release notes to master
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/ui/TextInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/res/values/integers.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Releases

#12448 Merge 15.3 release notes to develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/ui/TextInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Releases

#12451 Fix crash with vector on older devices
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ImageItemViewHolder.kt
  WordPress/src/main/res/layout/stats_block_image_item.xml
Labels: Stats, [Pri] High, [Type] Crash

#12415 Disable primary buttons on empty fields
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailPasswordFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginUsernamePasswordFragment.java
Labels: Part of a WIP Feature, Unified Login & Sign-Up, [Type] Enhancement

#12456 Fix follow button dark mode style
  WordPress/src/main/res/values-night/styles.xml
Labels: Reader, [Type] Bug

#12460 Fix/beta release lane
  fastlane/Fastfile
  fastlane/resources/values/strings.xml
Labels: Tooling

#12452 Fix/empty release notes short strings
  Gemfile.lock
  WordPress/metadata/PlayStoreStrings.po
  fastlane/Pluginfile
Labels: Tooling, [Type] Bug

#12450 Extract Signup utils to fix crash
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/accounts/signup/SignupUtilsTest.kt
Labels: Signup, [Type] Crash

#12434 RI: Topic details - Convert TagHeaderView + FollowButton to Kotlin
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.kt
Labels: New Reader Android, Reader

#12445 Unified Login & Sign-Up: Update login and sign-up UI tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/SignupFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
Labels: Part of a WIP Feature, Testing, Unified Login & Sign-Up, [Type] Task

#12461 Merge 15.3-rc-2 to develop
  Gemfile.lock
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ImageItemViewHolder.kt
  WordPress/src/main/res/layout/stats_block_image_item.xml
  WordPress/src/main/res/values-night/styles.xml
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/resources/values/strings.xml
Labels: Releases

#12440 Update the finalize_release lane
  fastlane/Fastfile
Labels: Tooling

#12459 Don't tag in hotfix lane
  fastlane/Fastfile
Labels: Tooling

#12441 Update build lanes
  fastlane/Fastfile
Labels: Tooling

#12468 Prepublishing Nudges : Fixes a bug where the bottom sheet was not being dismissed on first try
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
Labels: Prepublishing Nudges, [Type] Task

#12467 Prepublishing Nudges : Update Publish Date Strings
  WordPress/src/main/res/values/strings.xml
Labels: Prepublishing Nudges, [Type] Task

#12435 RI: Topic details - Refactor TagHeaderView to use UiState
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderViewUiState.kt
Labels: New Reader Android, Reader, [Status] Needs Code Review

#12184 Fixed missing tracks for error notifications
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
Labels: Media, Notifications, [Type] Bug

#12470 Fix/code freeze localization
  WordPress/src/main/res/values/strings.xml
  tools/merge_strings_xml.py
Labels: Tooling

#12447 Changed timing of completion of reader QS task.
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Quick Start, [Status] Needs Code Review, [Type] Bug

#12442 issue-12442/ added events for bottom sheet.
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: WP Stories, [Type] Task

#12446 Issue/12278 do not prompt skipped qs task right away
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
Labels: Quick Start, [Status] Needs Code Review, [Type] Enhancement

#12478 RI: Topic details - Polish the UI
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/res/color/on_secondary_on_background_selector.xml
  WordPress/src/main/res/layout/reader_tag_header_view.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader

#12472 Add unit tests for save for later/bookmark action
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderPostTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCaseTest.kt
Labels: New Reader Android, Reader, Tech debt

#12474 Add unit tests for ReaderPostMoreButtonUiStateBuilder
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderPostTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
Labels: New Reader Android, Reader, Testing

#12457 Fix dark mode text color for new follow button, interest chip
  WordPress/src/main/res/color/on_surface_on_primary_surface_selector.xml
  WordPress/src/main/res/color/transparent_on_background_selector.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Reader, [Status] Needs Design Review

#12484 Issue/12028 reader ui state builder tests
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android, Reader, Testing

#12381 RI: Interest API integration
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagType.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/TagUpdateClientUtilsProvider.kt
  libs/networking/WordPressNetworking/build.gradle
Labels: New Reader Android, Reader, [Status] Needs Code Review

#12494 Update WordPress-Utils library version
  libs/login/WordPressLoginFlow/build.gradle
  libs/utils/WordPressUtils/build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/GravatarUtils.java
Labels: [Type] Enhancement

#12499 Issue/12319 reader discover endpoint
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/JobServiceId.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverJobService.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverService.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverServiceStarter.kt
Labels: New Reader Android, Part of a WIP Feature, Reader

#12495 Update/translation review build
  fastlane/Fastfile
  tools/review-language-codes.csv
  tools/update-translations.sh
Labels: Tooling

#12496 Replace temporary GravatarUtils from the Login library with the updated one from the Utils library
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginHeaderViewHolder.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/util/AvatarHelper.kt
Labels: Unified Login & Sign-Up, [Type] Enhancement

#12454 Issue/12039 reader like action
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryCommunication.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetPostsForTagUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetPostsForTagWithCountUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeActionUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ReaderRepositoryDispatchingUseCase.kt
Labels: New Reader Android

#12503 Signup: Add source property to account creation event
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupGoogleFragment.java
Labels: Signup, [Type] Enhancement

#12510 Updated layout params logic in AEV
  WordPress/src/main/java/org/wordpress/android/ui/ActionableEmptyView.kt
Labels: [Status] Needs Code Review, [Type] Enhancement

#12490 RI: Fetch "Interests" tags from ReaderTagRepository
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchInterestTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader

#12508 Add fun to support refresh requests
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
Labels: New Reader Android, Reader

#12511 Prevent LoginEmailFragment from trying to disable nonexistent button when using old layout
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
Labels: Unified Login & Sign-Up, [Type] Bug

#12504 Issue 12492/story composer viewmodel part3
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSessionWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/StoryComposerViewModelTest.kt
Labels: WP Stories, [Type] Task

#12501 Issue 12492/story composer viewmodel part2
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSessionWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/usecase/SetUntitledStoryTitleIfTitleEmptyUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/StoryComposerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/usecase/SetUntitledStoryTitleIfTitleEmptyUseCaseTest.kt
Labels: WP Stories, [Status] Not Ready for Merge, [Type] Task

#12489 Prepublishing Nudges : Remove the close button from the bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingScreenClosedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingPublishSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingPublishSettingsViewModel.kt
  WordPress/src/main/res/layout/prepublishing_toolbar.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingPublishSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingTagsViewModelTest.kt
Labels: Prepublishing Nudges, [Type] Task

#12475 Turn off predictive item animations for WrappingLinearLayoutManager
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/WrappingLinearLayoutManager.kt
Labels: Stats, [Type] Crash

#12412 Guard for json nulls in upload completion processors
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/CoverBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/GalleryBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/ImageBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaTextBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoBlockProcessor.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaUploadCompletionProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/TestContent.kt
Labels: Gutenberg, Media

#12519 WP Stories / Media Picker: Unification of ARG_BROWSER_TYPE
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.java
Labels: WP Stories, [Type] Bug

#12521 Capitalize the first letter of the story title.
  WordPress/src/main/res/layout/prepublishing_story_title_list_item.xml
Labels: Prepublishing Nudges, WP Stories, [Status] Not Ready for Merge, [Type] Task

#12525 Issue/12039 reader improvements repository
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderPostTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderTagTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderUpdatePostsEndedHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetNumPostsForTagUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetPostsForTagUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetPostsForTagWithCountUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeActionUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ReaderRepositoryDispatchingUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ShouldAutoUpdateTagUseCase.kt
Labels: New Reader Android, Reader

#12507 Add support for parsing data from the new discover endpoint
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/models/discover/ReaderDiscoverCards.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: New Reader Android, Part of a WIP Feature, Reader

#12523 WP Stories: introduce feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/util/config/WPStoriesFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: WP Stories

#12517 Issue/12319 new discover endpoint db table
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: New Reader Android, Part of a WIP Feature, Reader

#12531 Issue/12319 new discover endpoint load data
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderUpdatePostsEndedHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ParseDiscoverCardsJsonUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverJobService.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverService.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Type] Task

#12532 Issue 12334/story title layout refactor keyboard fix
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingTagsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingTagsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModelTest.kt
Labels: WP Stories

#12502 Issue/12039 reader table events
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderRepositoryEvents.kt
Labels: New Reader Android, Reader

#12528 Merge 15.4 code freeze to develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#12526 RI: Save Interests (logged in user)
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderTagActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderTagRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FetchInterestTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FollowInterestTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: New Reader Android, Reader, [Status] Needs Code Review

#12538 Disable primary button on 2FA screen when verification code field is empty
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/Login2FaFragment.java
Labels: Unified Login & Sign-Up, [Type] Enhancement

#12516 WP Stories: story composer ViewModel part4
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/EditorTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/AddExistingMediaToPostUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMediaListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryEditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryMediaSaveUploadBridge.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/usecase/StoryEditorMediaTest.kt
Labels: WP Stories

#12493 Issue 12492/story composer viewmodel part 1
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSessionWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/EditorTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/AddExistingMediaToPostUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMediaListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveInitialPostUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryEditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryMediaSaveUploadBridge.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/usecase/SetUntitledStoryTitleIfTitleEmptyUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/SaveInitialPostUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/StoryComposerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/usecase/SetUntitledStoryTitleIfTitleEmptyUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/usecase/StoryEditorMediaTest.kt
Labels: WP Stories, [Status] Not Ready for Merge, [Type] Task

#12393 Issue/12263 updated post creation qs task
  WordPress/src/main/java/org/wordpress/android/ui/main/ActionListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/layout/main_action_list_item.xml
  WordPress/src/main/res/layout/main_activity.xml
  WordPress/src/main/res/layout/quick_start_focus_point_view.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: Quick Start, [Status] Needs Code Review, [Status] Needs Design Review

#12534 Issue 12524/post list fab menu
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/PagePostCreationSourcesDetail.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListCreateMenuFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoriesMediaPickerResultHandler.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModel.kt
  WordPress/src/main/res/layout/post_list_activity.xml
Labels: Post List, [Type] Task

#12541 Move repo work to io thread
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
Labels: New Reader Android, Reader

#12514 Issue/12324 storage limit with stock media
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values/strings.xml
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/FormatUtils.java
Labels: Media, Media Picker Consolidation, [Type] Bug

#12540 Adds unit tests for GetDiscoverCardsUseCase
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCaseTest.kt
Labels: New Reader Android, Part of a WIP Feature, Testing

#12558 Changing the doMediaIdsSelected function logic to allow returning correct activity result.
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
Labels: /My site, WP Stories, [Type] Bug

#12554 Fix 11835: Input validation for post password dialog
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
Labels: Post Settings, [Type] Task

#12560 Add support for pageHandle on /cards endpoint
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: New Reader Android, Part of a WIP Feature, Reader

#12565 Enable Search for Self-Hosted Sites
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
Labels: Post List, Self-hosted

#12566 Fix isDirty check
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
Labels: New Reader Android, Reader

#12488 Choose any file in media library
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/util/config/AnyFileUploadFeatureConfig.kt
  WordPress/src/main/res/drawable/media_item_background.xml
  WordPress/src/main/res/layout/media_grid_item.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  build.gradle
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/MediaUtils.java
Labels: Media Picker Consolidation, [Type] Enhancement

#12572 Issue/12319 new discover endpoint main issue
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/JobServiceId.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/models/discover/ReaderDiscoverCards.kt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderUpdatePostsEndedHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/FetchDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ParseDiscoverCardsJsonUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverJobService.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverService.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverServiceStarter.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCaseTest.kt
Labels: New Reader Android, Reader

#12543 Issue 12524/post list create menu tests
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModelTest.kt
Labels: Post List, WP Stories
