Repository wordpress-mobile/WordPress-Android, pull requests merged in 2020-10, with the labels that each got.

#13039 Merge Release/15.8 back into develop
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
Labels: Releases

#13040 Set the prerelease flag on GitHub release drafts
  fastlane/Fastfile
Labels: Releases

#13038 Wrap verse block
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
Labels: Reader, [Type] Bug

#13041 Add gridline color for table block
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderResourceVars.java
Labels: Reader, [Type] Bug

#13026 Issue/fix my site layout on bigger screens
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/res/layout/me_action_layout.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/my_site_title_subtitle_view.xml
  WordPress/src/main/res/values-w600dp/dimens.xml
  WordPress/src/main/res/values-w720dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Code Review, [Type] Enhancement

#13032 Issue/12767 instagram embed
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
Labels: Reader

#13029 Sync with Analytics subtree
  libs/analytics/WordPressAnalytics/build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Tech debt

#13054 Merge Release/15.9 back into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/lint-baseline.xml
  WordPress/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#13071 Default to (Untitled) on the reader post card when blogName is empty
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android, Reader, [Type] Bug

#13073 Fix SQLiteException: no such table: tbl_discover_cards
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: New Reader Android, Reader, [Type] Bug

#13009 Add stock media source to media picker
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/DeviceListInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/MediaInsertHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/MediaInsertHandlerFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/MediaInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/StockMediaInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLibraryDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/StockMediaDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/DeviceMediaListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PermissionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtilsWrapper.kt
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/main/res/layout/media_picker_progress_dialog.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/insert/StockMediaInsertUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/StockMediaDataSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
  build.gradle
Labels: Media Picker Consolidation, [Type] Enhancement

#13065 Login: Update behavior when logging in with a Jetpack site so it defaults to using site credentials instead of WP.com credentials
  RELEASE-NOTES.txt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
Labels: Login, [Type] Bug

#13074 Merge release notes for Release/15.9 into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Releases

#13083 Fix occasional table not found exception on refresh
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: [Type] Bug

#13084 Merge hotfix 15.8.1 into 15.9
  RELEASE-NOTES.txt
  WordPress/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
Labels: Releases

#13088 Merge Release 15.9-rc-2 into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
Labels: Releases

#13087 Hotfix/15.8.1
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
Labels: Releases

#13098 Add legacy permission to enable media upload
  WordPress/src/main/AndroidManifest.xml
Labels: [Type] Bug, [Type] Crash

#12931 Reader Detail Updates (App bar & Featured Image)
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/FeaturedImageUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/PhotonUtilsWrapper.kt
  WordPress/src/main/res/drawable/bg_rectangle_black_translucent_40.xml
  WordPress/src/main/res/layout/appbar_with_collapsing_toolbar_layout.xml
  WordPress/src/main/res/layout/reader_activity_post_pager.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/values-v23/styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/utils/FeaturedImageUtilsTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader

#13095 Check if site is not null in onSiteChanged in SiteSettingsFragment
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: [Type] Crash

#13060 Reader Detail Updates (Post Header - Kotlin Conversion)
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/res/drawable/bg_oval_neutral_0_stroke_white.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/values/dimens.xml
Labels: New Reader Android, Part of a WIP Feature, Reader

#13061 Reader Detail Updates (Post Header - Extract UiState)
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderViewUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/FollowButtonUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderBlogSectionUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderPostDetailsHeaderViewUiState.kt
  WordPress/src/main/res/layout/reader_blog_section_view.xml
  WordPress/src/main/res/layout/reader_cardview_post.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Not Ready for Merge

#13042 Reader Detail Updates (Post Header)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailsHeaderViewUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderPostDetailsHeaderViewUiState.kt
  WordPress/src/main/res/layout/reader_comments_post_header_view.xml
  WordPress/src/main/res/layout/reader_include_post_detail_content.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review

#13049 Reader Detail Updates (Expandable Tags View)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailsHeaderViewUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagStrip.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderPostDetailsHeaderViewUiState.kt
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_include_post_detail_content.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/layout/reader_tag_strip.xml
  WordPress/src/main/res/layout/reader_tag_strip_label.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Part of a WIP Feature, Reader

#13099 Add validation for translations
  fastlane/Fastfile
Labels: Releases

#13108 Feature/mark referrers as spam
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/ReferrerMenuAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BlockListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ExpandableItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ListItemWithIconViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/ReferrerPopupMenuHandler.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stats, [Type] Enhancement

#13078 Prologue: Background update
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginPrologueFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginProloguePageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginProloguePagerAdapter.kt
  WordPress/src/main/res/drawable/bg_oval_translucent_stroke_3dp.xml
  WordPress/src/main/res/layout-land/login_intro_template_view.xml
  WordPress/src/main/res/layout/login_intro_template_view.xml
  WordPress/src/main/res/layout/login_prologue_background_fifth.xml
  WordPress/src/main/res/layout/login_prologue_background_first.xml
  WordPress/src/main/res/layout/login_prologue_background_fourth.xml
  WordPress/src/main/res/layout/login_prologue_background_second.xml
  WordPress/src/main/res/layout/login_prologue_background_third.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Status] Needs Code Review, [Status] Needs Design Review, [Type] Enhancement

#13048 Introduce pagination for device library
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/DeviceMediaLoader.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/DeviceListBuilderTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13018 [Modal Layout Picker] Filter layouts based on supported blocks
  WordPress/src/main/assets/supported-blocks.json
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mlp/SupportedBlocks.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/ContextUtils.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
  build.gradle
Labels: Part of a WIP Feature, [Type] Enhancement

#13062 Add empty screen handling to media picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/DeviceListBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/GifMediaDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLibraryDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/StockMediaDataSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/StockMediaDataSourceTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13127 Use base 64 encoding to load map webview in stats
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/MapViewHolder.kt
Labels: [Type] Bug

#13080 Issue/13046 fix collapsing toolbar text and icon color
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/res/drawable/collapsing_toolbar_gradient_scrim.xml
  WordPress/src/main/res/layout/media_settings_activity.xml
  WordPress/src/main/res/layout/plugin_detail_activity.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
Labels: [Status] Needs Code Review, [Type] Bug

#13058 Reader Detail Updates (Post Header UI Polishing)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailsHeaderViewUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderPostDetailsHeaderViewUiState.kt
  WordPress/src/main/res/color/secondary_gray_20_selector.xml
  WordPress/src/main/res/layout/reader_blog_section_view.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/layout/reader_simple_post_view.xml
  WordPress/src/main/res/values-w600dp/reader_styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Design Review

#13106 Reader Detail Updates (Sticky Action Bar)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_include_post_detail_footer.xml
Labels: New Reader Android, Part of a WIP Feature, Reader

#13107 Reader Detail Updates (Remove Liked by & More in sections)
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_include_post_detail_content.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review

#13116 Reader Detail Updates (Introduce VM, VMTest)
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review

#13117 Reader Details Updates (Update header view from vm)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailsHeaderViewUiStateBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review

#13134 Enforce use of bundle exec in Fastfile
  fastlane/Fastfile
Labels: Tooling

#13138 Parcel marshaling issue with preview and edit
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/GifMediaInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/GifMediaDataSource.kt
Labels: Media Picker Consolidation, [Type] Bug

#13125 Extracting mockable classes to add unit testing for Tenor
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/GifMediaInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/GifMediaDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/GifMediaRequestFailedException.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/TenorGifClient.kt
  WordPress/src/main/java/org/wordpress/android/util/MimeTypeMapUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/UriUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtilsWrapper.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13075 Media picker tracking
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaNavigationEvent.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/DeviceListInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/GifMediaInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/GifMediaDataSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Media Picker Consolidation, [Type] Enhancement

#13090 Support multiple media sources
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/MediaInsertHandlerFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/FeaturedImageHelper.kt
  WordPress/src/main/res/menu/menu_media_picker.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Media Picker Consolidation, [Type] Enhancement

#13145 Update priority matrix and crash prioritization guidelines
  docs/issue-triage.md
Labels: Documentation

#13146 Task/adjust choose topics
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/main/res/layout/reader_fullscreen_empty_with_action.xml
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: New Reader Android

#13141 WP Stories: Add onboarding screen
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/intro/StoriesIntroDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/intro/StoriesIntroViewModel.kt
  WordPress/src/main/res/drawable-hdpi/stories_intro_cover_1.png
  WordPress/src/main/res/drawable-hdpi/stories_intro_cover_2.png
  WordPress/src/main/res/drawable-xhdpi/stories_intro_cover_1.png
  WordPress/src/main/res/drawable-xhdpi/stories_intro_cover_2.png
  WordPress/src/main/res/layout/stories_intro_dialog_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stories/StoriesIntroViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: WP Stories

#13152 Fix connected tests - Add discover cards API mock json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/reader/wpcom_v2_reader_discover_cards.json
Labels: [Type] Task

#13154 RI: Change copy "tags" to "topics" on the Reader screens
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#13114 Reader Detail Updates (More menu)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/res/menu/reader_detail.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review, [Status] Needs Design Review, [Status] Not Ready for Merge

#13129 Reader Detail Updates (Extract reader post details uiState)
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review, [Status] Not Ready for Merge

#13128 Reader Detail Updates (Update footer actions using the VM)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review

#13144 Reader Detail Updates (Comments entry view)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/res/color/primary_selector.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_include_post_detail_comments_entry.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Part of a WIP Feature, Reader, [Status] Needs Code Review, [Status] Needs Design Review

#13110 Add support for taking photos for site icon/featured image selection
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13118 Implement debounce on search and add test for search
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13136 Gutenberg : Html mode switching after image upload cancellation
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: [Type] Task, gutenberg-mobile

#13097 [Modal Layout Picker] Add analytics metrics for the layout picker
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
Labels: Part of a WIP Feature, [Type] Enhancement

#13105 [Modal Layout Picker] Cache the results of the fetched the layouts call
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiHelpers.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
  build.gradle
Labels: Part of a WIP Feature, [Type] Enhancement

#12960 Follow recommended blog from "recommended_blogs" discovery card
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/models/ReaderCardRecommendedBlog.kt
  WordPress/src/main/java/org/wordpress/android/models/discover/ReaderDiscoverCards.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderRecommendedBlogsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ParseDiscoverCardsJsonUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSiteFollowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/res/color/secondary_gray_20_selector.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item.xml
  WordPress/src/main/res/layout/reader_recommended_blogs_card.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderSiteFollowUseCaseTest.kt
Labels: New Reader Android, Reader, [Status] Needs Design Review

#13158 Reader Detail Updates: Revert comments entry view
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/res/color/primary_selector.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_include_post_detail_comments_entry.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#13157 Add missing tracks events for reader post details after refactoring
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/PostLikeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: New Reader Android, Reader

#13124 13043/improve save progress dialog handling
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/DialogVisibilityInfo.kt
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Posting/Editing

#13164 Reader Improvements: Move settings icon from following tab to reader app nav bar
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_activity_subs.xml
  WordPress/src/main/res/layout/reader_listitem_blog.xml
  WordPress/src/main/res/layout/subfilter_component.xml
  WordPress/src/main/res/menu/reader_home.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: New Reader Android, Reader

#13150 Issue/13066 ppn categories
  WordPress/src/main/java/org/wordpress/android/models/wrappers/CategoryNodeWrapper.kt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/AddCategoryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/GetCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/ParentCategorySpinnerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/UpdatePostCategoriesUseCase.kt
  WordPress/src/main/res/anim/prepublishing_fragment_fade_in.xml
  WordPress/src/main/res/anim/prepublishing_fragment_fade_out.xml
  WordPress/src/main/res/layout/prepublishing_add_category_fragment.xml
  WordPress/src/main/res/layout/prepublishing_categories_fragment.xml
  WordPress/src/main/res/layout/prepublishing_categories_row.xml
  WordPress/src/main/res/layout/prepublishing_toolbar.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Part of a WIP Feature, Prepublishing Nudges

#13167 Issue/13066 ppn add category button
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
  WordPress/src/main/res/layout/add_category.xml
  WordPress/src/main/res/layout/prepublishing_toolbar.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Part of a WIP Feature, Prepublishing Nudges, [Status] Not Ready for Merge

#13176 Merge Release/16.0 back into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/release_notes.txt
  fastlane/resources/values/strings.xml
Labels: Releases

#13172 Reader Improvements: Delete recommended blogs cache on refresh
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: New Reader Android, Reader

#13173 Reader Improvements: Recommended site - add tracking
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: New Reader Android, Reader

#13171 Add FLAG_UPDATE_CURRENT flag to notification pending intent
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
Labels: Post List, [Type] Bug, [Type] Crash

#13180 Reviewing menus availability
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13181 Media and text from WP lib picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLibraryDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Media Picker Consolidation, [Type] Bug

#13162 Reader Improvements: Sites/Blogs you might like
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/models/discover/ReaderDiscoverCards.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderRecommendedBlogsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ParseDiscoverCardsJsonUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSiteFollowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/RecyclerViewExtensions.kt
  WordPress/src/main/res/drawable/discover_list_divider.xml
  WordPress/src/main/res/layout/reader_interest_card.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item.xml
  WordPress/src/main/res/layout/reader_recommended_blogs_card.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/usecases/GetDiscoverCardsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderSiteFollowUseCaseTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: New Reader Android, Reader

#13193 RI: Fix feed preview from the reader details screen
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
Labels: New Reader Android, Reader

#13186 Adding slides to story from photo.
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
Labels: Media Picker Consolidation, [Type] Bug

#13179 Reader Improvements: Fix discover feed ptr scroll issue
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: New Reader Android, Reader

#13189 Add tests for reader post details vm
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: New Reader Android, Reader

#13168 Issue/13066 ppn category select
  WordPress/src/main/java/org/wordpress/android/ui/posts/ParentCategorySpinnerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/UpdatePostCategoriesUseCase.kt
Labels: Part of a WIP Feature, Prepublishing Nudges

#13205 Encode media filenames before upload
  build.gradle
Labels: Media, [Type] Crash

#13202 Issue/13196 fix not initialised featured imageview
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
Labels: New Reader Android, Reader

#13131 Introduce loading and error states in the media picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/LoaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/GifMediaDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLibraryDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/StockMediaDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/main/res/layout/media_picker_loader_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/StockMediaDataSourceTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13204 Fix failing test
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: New Reader Android, Reader, [Type] Bug

#13175 Issue/13066 ppn move add category action
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
  WordPress/src/main/res/layout/prepublishing_categories_fragment.xml
  WordPress/src/main/res/layout/prepublishing_toolbar.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Part of a WIP Feature, Prepublishing Nudges

#13209 Merge release 15.9.1 into 16.0
  WordPress/build.gradle
  build.gradle
Labels: Releases

#13212 Release/15.9.1
  WordPress/build.gradle
  build.gradle
Labels: Releases

#13213 Merge Release/16.0 into develop
  WordPress/build.gradle
  build.gradle
Labels: Releases

#13200 Stories: Onboarding screen tweaks
  WordPress/src/main/res/layout/stories_intro_dialog_fragment.xml
Labels: WP Stories

#13198 Mobile stories block - error handling 4.1 - move code out of EditPostActivity
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StoriesEventListener.kt
Labels: Gutenberg, WP Stories, [Type] Enhancement, gutenberg-mobile

#13214 Set submit button visibility
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryViewModel.kt
  WordPress/src/main/res/layout/add_category.xml
Labels: Prepublishing Nudges

#13203 Changed thumbnail size
  WordPress/src/main/res/drawable/ic_layout_selection_overlay_148dp.xml
  WordPress/src/main/res/drawable/ic_layout_selection_overlay_153dp.xml
  WordPress/src/main/res/layout/modal_layout_picker_layouts_card.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Status] Needs Design Review, [Type] Enhancement

#13159 [Modal Layout Picker] Retry view
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ButtonsUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/GutenbergPageLayouts.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/layout/modal_layout_picker_bottom_toolbar.xml
  WordPress/src/main/res/layout/modal_layout_picker_error.xml
  WordPress/src/main/res/layout/modal_layout_picker_fragment.xml
  WordPress/src/main/res/layout/modal_layout_picker_subtitle_row.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Needs Design Review, [Type] Enhancement

#13206 Fix NPE crash when reponse doesn't contains settings object
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPComSiteSettings.java
Labels: [Type] Crash

#13182 Update FluxC - fix visibility of created sites
  build.gradle
Labels: Site Creation, [Type] Bug

#13219 Issue/13066 add category behavior
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingScreenClosedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/res/layout/prepublishing_categories_fragment.xml
Labels: Part of a WIP Feature, Prepublishing Nudges

#13207 NPE in upload service
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
Labels: [Type] Crash

#13183 Use updated referrers store
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/TimeStatsConsts.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/PostAverageViewsPerDayUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/PostMonthsAndYearsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/PostRecentWeeksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/FileDownloadsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/SearchTermsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/VideoPlaysUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  build.gradle
Labels: Stats, [Type] Crash

#13222 Issue/13066 select category behavior
  WordPress/src/main/java/org/wordpress/android/ui/posts/AddCategoryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingActionClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/res/layout/prepublishing_categories_fragment.xml
Labels: Part of a WIP Feature, Prepublishing Nudges

#13215 Feature/add android complete codefreeze
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#13232 Full screen width search in media picker
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
Labels: Media Picker Consolidation, [Type] Bug

#13233 Cancel search when items are inserted to hide keyboard
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
Labels: Media Picker Consolidation, [Type] Bug

#13092 Fixing app log appbar icon color
  WordPress/src/main/java/org/wordpress/android/ui/AppLogViewerActivity.java
  WordPress/src/main/res/menu/app_log_viewer_menu.xml
Labels: [Status] Needs Code Review, [Type] Bug

#13241 Add translation download to new_beta_release
  fastlane/Fastfile
Labels: Tooling

#13243 CONTRIBUTING.md: Add information about our PR merge policy
  CONTRIBUTING.md
Labels: Documentation, Tooling

#13246 Remove recommended sites from manage topics and sites
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderRecommendBlogList.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderRecommendedBlog.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/res/layout/reader_listitem_blog.xml
  WordPress/src/main/res/values/strings.xml
Labels: New Reader Android, Reader

#13256 Issue/13066 prevent null name crash
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
Labels: Prepublishing Nudges, Tag/Category Management

#13255 Add maxlines and ellipse to site_name
  WordPress/src/main/res/layout/prepublishing_home_header_list_item.xml
Labels: Prepublishing Nudges

#13261 Merge hotfix 15.9.2 into release 16.0 with manual conflicts resolution
  RELEASE-NOTES.txt
  WordPress/build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
Labels: Releases

#13263 [Modal Layout Picker] Disables picker when the block editor is not enabled
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
Labels: [Type] Bug

#13262 Fixes snackbar crash
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
Labels: [Type] Crash

#13257 Feature/13066 ppn categories
  WordPress/src/main/java/org/wordpress/android/models/wrappers/CategoryNodeWrapper.kt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/AddCategoryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/GetCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/ParentCategorySpinnerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingActionClickedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingAddCategoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingCategoriesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingScreenClosedListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/res/anim/prepublishing_fragment_fade_in.xml
  WordPress/src/main/res/anim/prepublishing_fragment_fade_out.xml
  WordPress/src/main/res/layout/add_category.xml
  WordPress/src/main/res/layout/prepublishing_add_category_fragment.xml
  WordPress/src/main/res/layout/prepublishing_categories_fragment.xml
  WordPress/src/main/res/layout/prepublishing_categories_row.xml
  WordPress/src/main/res/layout/prepublishing_toolbar.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  libs/utils/WordPressUtils/src/main/java/org/wordpress/android/util/AppLog.java
Labels: Prepublishing Nudges, Tag/Category Management

#13252 Fix crash with posts containing Story blocks: added safeguard by calling `find`
  WordPress/src/main/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/TestContent.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/SaveStoryGutenbergBlockUseCaseTest.kt
Labels: WP Stories, [Type] Crash

#13126 Tenor data source implementation - adding unit testing
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/GifMediaInsertUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/insert/GifMediaInsertUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/GifMediaDataSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
Labels: Media Picker Consolidation, [Type] Enhancement

#13264 Merge Release/16.0 back into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
Labels: Releases

#13190 [Modal Layout Picker] Enable the new Layout Picker for release
  RELEASE-NOTES.txt
  WordPress/build.gradle
Labels: [Type] Enhancement

#13274 Update Prologue's site button label
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, [Type] Enhancement
