Repository wordpress-mobile/WordPress-Android, pull requests merged in 2021-02, with the labels that each got.

#13921 Remove setHasStableIds
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/adapters/JetpackBackupRestoreAdapter.kt
Labels: Jetpack Mobile

#13858 Implement View Site QS task and scroll logic
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/res/layout/my_site_item_block.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteItemTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13910 Log error when throwing exception
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreFragment.kt
  WordPress/src/test/java/org/wordpress/android/util/AppLog.java
  build.gradle
Labels: Jetpack Mobile

#13917 Enable dot Blog domains for all URL searches
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchDomainsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
Labels: Site Creation, [Type] Bug

#13920 Issue/13326 scan full screen loading & error handling
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/res/layout/scan_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
Labels: Jetpack Mobile, [Type] Task

#13923 Issue/13326 support provisioning and invalid scan states
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilderTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge, [Type] Task

#13914 Jetpack Section: Connect Restore with Activity Log/Backup Screen
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack, [Type] Task

#13897 Feature/enable reader post menu for all posts
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
Labels: Reader, [Status] Needs Code Review

#13891 Implement "Enable post sharing" QS task
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartEvent.kt
  WordPress/src/main/java/org/wordpress/android/util/EventBusWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13931 Issue/13326 missing server credentials
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCaseTest.kt
Labels: Jetpack, Jetpack Mobile

#13924 Issue/13326 navigate to scan screen from detail
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
Labels: Jetpack, Jetpack Mobile, Scan

#13909 Handle site dependent site state in the improved my site fragment
  WordPress/src/main/java/org/wordpress/android/ui/mysite/CurrentAvatarSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/DomainRegistrationHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteStateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteInfoBlockBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/CurrentAvatarSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/DomainRegistrationHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Enhancement

#13926 Jetpack Section: Connect Backup Download with Activity Log/Backup Screen
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
Labels: Jetpack, [Type] Task

#13930 Issue/13328 restore error retry
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCaseTest.kt
Labels: Jetpack Mobile

#13898 Issue/13329 backup restore UI cycle 1
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/CheckboxSpannableLabel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/providers/JetpackAvailableItemsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackCheckboxViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/res/layout/backup_download_activity.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_fragment.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_list_footnote_item.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_list_subheader_item.xml
  WordPress/src/main/res/layout/jetpack_list_checkbox_item.xml
  WordPress/src/main/res/layout/restore_activity.xml
  WordPress/src/main/res/values/jetpack_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
Labels: Jetpack Mobile

#13919 Issue/13328 13329 backup restore UI cycle 2
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackBackupRestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/adapters/JetpackBackupRestoreAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackBackupRestoreBulletViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackBackupRestoreSubHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/res/drawable/ic_cloud_off_white_24dp.xml
  WordPress/src/main/res/drawable/ic_gridicons_checkmark_circle.xml
  WordPress/src/main/res/drawable/ic_query_builder_white_24dp.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_list_bullet_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/jetpack_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13932 Fix restore warning confirm delay
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
Labels: Jetpack Mobile

#13933 Create sheets: Add analytics
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: /My site, Analytics, Post List

#13945 Implement "Check your site stats" QS task
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickActionsViewHolder.kt
  WordPress/src/main/res/layout/quick_actions_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13928 Add post publish QS task
  WordPress/src/main/java/org/wordpress/android/ui/main/MainFabUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13831 Adds analytics to track the thumbnail/preview mode selection
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/DesignPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/PreviewMode.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/PreviewModeSelectorPopup.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Previews, Site Creation

#13938 Issue/13326 get free estimate
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModelTest.kt
Labels: Jetpack, Jetpack Mobile

#13787 Enhances post/page and site previews with tablet mode
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/PreviewMode.kt
  WordPress/src/main/java/org/wordpress/android/ui/PreviewModeMenuAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/PreviewModeSelectorPopup.kt
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/DesignPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/PreviewModeMenuAdapter.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/wpwebview/WPWebViewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/WPWebViewViewModelTest.kt
Labels: Previews, [Type] Enhancement

#13905 Adds the is_beta parameter to the fetch block layouts call
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  build.gradle
Labels: [Type] Enhancement

#13944 Issue/backup restore reduce fetch delay
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCaseTest.kt
  build.gradle
Labels: Jetpack Mobile

#13937 Issue/13326 here to help
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackDescriptionViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/HtmlMessageUtils.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge, [Type] Task

#13948 Prepublishing Nudges fix : Publish button cut off
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingBottomSheetFragment.kt
Labels: Prepublishing Nudges, WP Stories, [Type] Task

#13941 Issue/13326 fix threat found redirection
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
Labels: Jetpack, Jetpack Mobile, Notifications, Scan

#13956 Jetpack Section: Backup Screen Tracking Events
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/ActivityLogTracker.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Jetpack, Jetpack Mobile

#13951 Update login / signup buttons copy
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, Needs Design, [Type] Enhancement

#13940 Issue/13326 scan fixing in builder
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackDescriptionViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/HtmlMessageUtils.kt
  WordPress/src/main/res/layout/scan_list_threat_item.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
Labels: Jetpack Mobile, [Type] Task

#13947 Issue/13328 13329 backup restore tracking
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Mobile

#13957 Enable/disable submit button on checkbox click
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
Labels: Jetpack Mobile

#13954 Scan tracking
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/ScanTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCaseTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Jetpack, Jetpack Mobile

#13949 Issue/13326 scan design review
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/HorizontalMarginItemDecoration.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/res/layout/scan_list_threat_item.xml
  WordPress/src/main/res/layout/scan_list_threats_header_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/jetpack_styles.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Mobile, [Status] Needs Design Review, [Status] Not Ready for Merge

#13946 Analytics: Adds global app_scheme property to store the build flavor
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsMetadata.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Enhancement

#13943 Implement EDIT_HOMEPAGE QS action and tests
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickActionsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/res/layout/quick_actions_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13961 Add "Review pages" quick start task
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13963 Moving invite people to material.
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/WPEditTextWithChipsOutlined.kt
  WordPress/src/main/java/org/wordpress/android/widgets/MultiUsernameEditText.java
  WordPress/src/main/res/drawable/invites_border.xml
  WordPress/src/main/res/layout/invite_username_button.xml
  WordPress/src/main/res/layout/people_invite_fragment.xml
  WordPress/src/main/res/layout/wp_edit_text_with_chips_outlined.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: People Management, [Type] Enhancement

#13966 Enable feature config for Backup/Restore flows, Backup screen and Scan screen
  WordPress/src/main/java/org/wordpress/android/util/config/BackupDownloadFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BackupScreenFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/RestoreFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ScanScreenFeatureConfig.kt
Labels: Jetpack, Jetpack Mobile

#13968 Issue/backup restore design tweaks
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/CheckboxSpannableLabel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/res/values/dimens.xml
Labels: Jetpack Mobile

#13969 Jetpack Section: Optimize My Site Menu Items
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/main/res/drawable/ic_backup_alt_white_24dp.xml
  WordPress/src/main/res/drawable/ic_baseline_security_white_24dp.xml
  WordPress/src/main/res/drawable/ic_gridicons_clipboard_white_24dp.xml
  WordPress/src/main/res/drawable/ic_gridicons_cloud_upload_white_24dp.xml
  WordPress/src/main/res/drawable/ic_history_alt_white_24dp.xml
  WordPress/src/main/res/drawable/ic_scan_alt_white_24dp.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemFixtures.kt
Labels: /My site, Jetpack, Jetpack Mobile, [Status] Needs Design Review

#13950 Issue/13326 threat details & history design review
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/viewholders/ThreatContextLineViewHolder.kt
  WordPress/src/main/res/drawable/bg_rectangle_on_surface_emphasis_lowest.xml
  WordPress/src/main/res/layout/threat_details_list_context_lines_item.xml
  WordPress/src/main/res/layout/threat_details_list_file_name_item.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilderTest.kt
Labels: Jetpack Mobile, [Status] Needs Design Review

#13976 Issue/13326 fix scan backup menu animation
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: /My site, Jetpack Mobile

#13953 Add EXPLORE_PLANS quick start task
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteListItemBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13962 Issue/13326 hide scan on wpcom sites
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
Labels: Jetpack Mobile, Scan

#13977 Add blank jetpack capabilities wiremock response for failing connected tests
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_0_rewind_capabilities.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_106707880_rewind_capabilities.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_181851495_rewind_capabilities.json
Labels: Jetpack Mobile

#13978 Merge changes from 13976
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack Mobile

#13964 Hide a quickstart category until the next restart
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13979 Jetpack Section: Connect Activity Log Detail with Restore
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
Labels: Jetpack, Jetpack Mobile, [Type] Task

#13980 Use firebase config to retrieve codeable url
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsNavigationEvents.kt
Labels: Jetpack Mobile, Scan

#13981 Update RELEASE-NOTES
  RELEASE-NOTES.txt
Labels: Jetpack, Jetpack Mobile

#13959 Offer domain credit to atomic sites without domain.
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
Labels: Domain Credit, [Status] Needs Code Review

#13985 Merge final 16.6 to develop
  WordPress/build.gradle
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/987.txt
  fastlane/metadata/android/de-DE/changelogs/987.txt
  fastlane/metadata/android/en-US/changelogs/982.txt
  fastlane/metadata/android/en-US/changelogs/987.txt
  fastlane/metadata/android/es-ES/changelogs/987.txt
  fastlane/metadata/android/id/changelogs/987.txt
  fastlane/metadata/android/it-IT/changelogs/987.txt
  fastlane/metadata/android/iw-IL/changelogs/987.txt
  fastlane/metadata/android/ja-JP/changelogs/987.txt
  fastlane/metadata/android/ko-KR/changelogs/982.txt
  fastlane/metadata/android/ko-KR/changelogs/987.txt
  fastlane/metadata/android/nl-NL/changelogs/987.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/982.txt
  fastlane/metadata/android/ru-RU/changelogs/987.txt
  fastlane/metadata/android/sv-SE/changelogs/987.txt
  fastlane/metadata/android/tr-TR/changelogs/987.txt
  fastlane/metadata/android/zh-CN/changelogs/987.txt
  fastlane/metadata/android/zh-TW/changelogs/987.txt
Labels: Releases

#13974 Issue/12465 update install referrer library
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerServiceLogic.java
Labels: [Status] Needs Code Review, [Type] Task

#13901 Add seen/unseen support to all posts.
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSeenStatusToggleUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/PostSeenStatusApiCallsProvider.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderPostSeenStatusToggleUseCaseTest.kt
Labels: P2, [Status] Needs Code Review

#13986 Feature/enable seen unseen feature
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/SeenUnseenWithCounterFeatureConfig.kt
Labels: Reader, [Status] Needs Code Review

#13988 Disable progress action button until started
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
Labels: Jetpack Mobile

#13982 Jetpack Section: Update My Site Menu Items Strings
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemFixtures.kt
Labels: /My site, Jetpack, Jetpack Mobile, [Status] Needs Design Review

#13990 Jetpack Scan: Apply copy improvements
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Mobile

#13983 Issue/13328 restore tracks details
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
Labels: Jetpack Mobile

#13967 Add Remove functionality to the quick start dynamic cards
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14000 Show snackbar in activity context
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14006 Merge Release/16.7 into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#13997 Add "Explore Plans" Quick Start card illustrations
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_explore_plans.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_explore_plans.xml
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14001 Update copy on new Quick Start task cards
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.java
  WordPress/src/main/res/layout/quick_start_task_card.xml
  WordPress/src/main/res/values/strings.xml
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13998 Lower min value of bar chart in stats to 4
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BarChartViewHolder.kt
Labels: Stats, [Type] Bug

#14010 Issue/13326 changes for fluxc scanstore suspend function
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/StartScanUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/util/AppLog.java
  build.gradle
Labels: Jetpack Mobile, [Status] Not Ready for Merge, [Type] Task

#14009 Replace flow with live data in sources
  WordPress/src/main/java/org/wordpress/android/ui/mysite/CurrentAvatarSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/DomainRegistrationHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteStateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/CurrentAvatarSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/DomainRegistrationHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Enhancement

#13934 Implement "Follow other sites" QS task
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/layout/my_site_item_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14022 Replace FragmentContainerView with Fragment to fix proguard issue
  WordPress/src/main/res/layout/restore_activity.xml
  WordPress/src/main/res/layout/scan_activity.xml
  WordPress/src/main/res/layout/scan_history_activity.xml
  WordPress/src/main/res/layout/threat_details_activity.xml
Labels: Jetpack, Jetpack Mobile, [Type] Bug

#13993 Add Pin/Unpin functionality to dynamic cards
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartMenuViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartTaskCardAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardMenuFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardMenuViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/layout/quick_start_menu_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteItemTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartMenuViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardMenuViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSourceTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13994 Issue/13326 extract to use case
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanHistoryUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanHistoryUseCaseTest.kt
Labels: Jetpack, Jetpack Mobile, Scan

#14002 Add backoff delay
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCaseTest.kt
Labels: Jetpack Mobile

#14013 Update geochart version to the latest stable
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/MapViewHolder.kt
Labels: Stats, [Type] Bug

#14031 Merge Release/16.7 into develop
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/res/layout/restore_activity.xml
  WordPress/src/main/res/layout/scan_activity.xml
  WordPress/src/main/res/layout/scan_history_activity.xml
  WordPress/src/main/res/layout/threat_details_activity.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#14032 Issue/13326 tweak scan state builder tests
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
Labels: Jetpack Mobile

#13999 [Home Page Picker] Adds sample URL to the Choose a Domain Screen
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/res/drawable/bg_site_creation_domain_example.xml
  WordPress/src/main/res/drawable/bg_site_creation_domain_example_bottomcell.xml
  WordPress/src/main/res/drawable/bg_site_creation_domain_example_cell.xml
  WordPress/src/main/res/drawable/ic_gridicons_lock.xml
  WordPress/src/main/res/layout/site_creation_domains_screen.xml
  WordPress/src/main/res/layout/site_creation_domains_screen_example.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Domain Search, Site Creation, [Status] Needs Design Review

#14021 Issue/13326 pluralisation of strings based on threats count
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/main/res/layout/scan_list_threats_header_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCaseTest.kt
Labels: Jetpack Mobile

#14029 Use Activity context to style QS snackbar text color with an attr color
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Bug

#14038 Retries image fetching if mshot service has not finished
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutViewHolder.kt
Labels: [Type] Enhancement

#14035 Update Project.xml
  .idea/codeStyles/Project.xml
Labels: Tech debt

#14017 Remove APKs from GH releases
  fastlane/Fastfile
Labels: Tooling

#13996 Detekt Integration - Phase.1
  .circleci/config.yml
  WordPress/build.gradle
  build.gradle
  config/detekt/baseline.xml
  config/detekt/detekt.yml
  docs/coding-style.md
Labels: Tooling, [Status] Not Ready for Merge

#14049 Issue/13326 threat details builder tests
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilderTest.kt
Labels: Jetpack Mobile

#14050 Update retry logic for Scan/Restore/DownloadBackup use cases
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCaseTest.kt
Labels: Jetpack, Jetpack Mobile, Scan

#14053 Removed Audio block from release notes
  WordPress/metadata/release_notes.txt
Labels: [Type] Enhancement

#14058 Merge Release/16.7 into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutViewHolder.kt
Labels: Releases

#14055 Suppress detekt warnings
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCase.kt
Labels: [Type] Bug

#14048 Update Pin/Unpin/Hide copy based on the designs
  WordPress/src/main/res/values/strings.xml
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14047 Use safe call when saving instance state in ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
Labels: /My site, My Site Dynamic Cards, [Type] Bug

#14067 Fix Detekt 'MultiLineIfElse' issue on 'LayoutViewHolder'
  WordPress/src/main/java/org/wordpress/android/ui/mlp/LayoutViewHolder.kt
  config/detekt/baseline.xml
Labels: Lint

#14025 Shorter sign up - remove Send Link by email screen
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginAnalyticsListener.kt
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/SignupConfirmationFragment.kt
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_confirmation_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/layout/signup_magic_link_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login, [Type] Enhancement

#14063 With some keyboard creates chips on dot
  WordPress/src/main/java/org/wordpress/android/ui/people/WPEditTextWithChipsOutlined.kt
  WordPress/src/main/res/layout/wp_edit_text_with_chips_outlined.xml
Labels: People Management, [Type] Bug

#14059 Fix/lint pr annotations
  .circleci/config.yml
  WordPress/build.gradle
Labels: Tooling

#14020 Fix "Edit your homepage" Quick Start task completion
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Bug

#14068 Fix failing connected tests for sign up tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/SignupFlow.java
Labels: Testing

#14062 WebViewActivity : Stop audio playback after exiting post preview
  WordPress/src/main/java/org/wordpress/android/ui/WebViewActivity.java
Labels: [Type] Task

#14080 Invalidate bundler cache to fix CI failure
  .circleci/config.yml
Labels: Tooling

#14078 Jetpack Section: Scan - fix crash on snackbar display
  .circleci/config.yml
  Gemfile.lock
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/res/layout/scan_fragment.xml
  WordPress/src/main/res/layout/threat_details_fragment.xml
Labels: Jetpack Mobile

#14082 [Tooling] Fix the bundler/rake failure on CI
  .circleci/config.yml
  Gemfile
  Gemfile.lock
Labels: Tooling

#14075 Issue/13329 backup download notification
  WordPress/src/main/java/org/wordpress/android/datasets/NotificationsTable.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockClickableSpan.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  build.gradle
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#14061 Prevent Homepage from being deleted or moved to a draft
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsListDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
Labels: Post Settings, [Type] Bug

#14090 Jetpack Section: Update time strings in the scan description
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Mobile

#14044 P2 people invite links
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/models/InvitePeopleUtils.kt
  WordPress/src/main/java/org/wordpress/android/models/RoleUtils.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/people/InviteLinksApiCallsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/InviteLinksHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/InviteLinksUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/InviteLinksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/RoleSelectDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/res/layout/people_invite_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: P2, [Type] Enhancement, [Type] Task

#14092 Integrate gutenberg-mobile release 1.46.1 to 1.47.0
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/WPEditTextWithChipsOutlined.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/res/layout/scan_fragment.xml
  WordPress/src/main/res/layout/threat_details_fragment.xml
  WordPress/src/main/res/layout/wp_edit_text_with_chips_outlined.xml
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergPropsBuilder.kt
Labels: gutenberg-mobile

#14097 Use StringBuilder instead of += when building Site Settings blacklist
  WordPress/src/main/java/org/wordpress/android/models/SiteSettingsModel.java
Labels: Site Settings, [Type] Bug

#14085 Add 10mb limit to loading thumbnails from videos
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/media/VideoLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/ThumbnailViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  build.gradle
Labels: /My site, My Site Dynamic Cards, [Type] Crash

#14101 Fix EventBusException(already registered) in JetpackCapabilitiesUseCase
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCaseTest.kt
Labels: Jetpack, Jetpack Mobile, [Type] Crash

#14039 Add Date Headers to "Scan History" screen
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatsDateHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
  WordPress/src/main/res/layout/scan_list_threats_date_item.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
Labels: Jetpack Mobile

#14096 Issue/always hit jetpack capabilities endpoint
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCaseTest.kt
Labels: Jetpack, Jetpack Mobile, [Type] Enhancement

#14098 Issue/14094 backup remove notify me
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackBackupRestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/adapters/JetpackBackupRestoreAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackBackupRestoreFootnoteViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/res/layout/jetpack_backup_restore_list_footnote_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/jetpack_styles.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Mobile

#13965 [Tooling/Fastlane] Delete unused helpers
  .gitignore
  fastlane/helpers/android_git_helper.rb
  fastlane/helpers/android_version_helper.rb
Labels: Tooling

#14084 Restoring the usage of commitAllowingStateLoss instead of commit in Bottom Nav
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: Reader, [Type] ANR, [Type] Bug

#14108 Fix NPE when fetchJetpackPurchasedProduct finishes after onViewDestroyed
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
Labels: /My site, Jetpack Mobile, [Type] Crash

#13960 Integrate ExPlat and add A/A experiment
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/util/experiments/BiasAAExperiment.kt
  WordPress/src/main/java/org/wordpress/android/util/experiments/ExPlat.kt
  WordPress/src/main/java/org/wordpress/android/util/experiments/Experiment.kt
  WordPress/src/test/java/org/wordpress/android/util/experiments/ExPlatTest.kt
Labels: ExPlat, [Status] Not Ready for Merge, [Type] Enhancement

#14045 P2 people invite links analytics
  WordPress/src/main/java/org/wordpress/android/ui/people/InviteLinksAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/InviteLinksUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, P2, [Type] Task

#14112 Add stubbing for experiments endpoint
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/experiments/assignments.json
Labels: ExPlat, Testing

#14113 Hide notify me button and footnote on backup download progress view
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackBackupRestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackBackupRestoreFootnoteViewHolder.kt
Labels: Jetpack Mobile

#14064 Show message when all QS tasks from the same category are completed
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/util/HtmlCompatWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtilsWrapper.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14036 Change pin/hide/remove to site scope
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardMenuFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardMenuViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/CoroutinesUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/CurrentAvatarSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/DomainRegistrationHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteItemTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardMenuViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/util/experiments/ExPlatTest.kt
  build.gradle
Labels: /My site, My Site Dynamic Cards, [Type] Enhancement

#14103 Lower max saved log files and update utils
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  build.gradle
Labels: [Type] Bug, [Type] Crash

#14091 Issue/13326 fix threat list item UI issue
  WordPress/src/main/res/layout/scan_list_threat_item.xml
Labels: Jetpack Mobile

#14115 Only show Snackbar in stories when the target view is present
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
Labels: WP Stories, [Type] Crash

#14117 Jetpack Section: Update Activity Log Details UI and Add Backup Download Button/Flow
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/EventItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/rewind/RewindProgressChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/rewind/RewindStatusService.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/main/res/layout/activity_log_item_detail.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
Labels: Jetpack, Jetpack Mobile, [Status] Needs Design Review, [Type] Task

#14116 Add "Create your site" Quick Start card illustrations
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/res/drawable-night/bg_quick_start_customize_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable-night/bg_quick_start_grow_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_create_site.xml
  WordPress/src/main/res/drawable/bg_quick_start_customize_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable/bg_quick_start_grow_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_create_site.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_placeholder.xml
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14077 P2 people invite links unit test
  WordPress/src/main/java/org/wordpress/android/models/InvitePeopleUtils.kt
  WordPress/src/main/java/org/wordpress/android/models/wrappers/RoleUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/models/wrappers/SimpleDateFormatWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/people/InviteLinksHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/people/InvitePeopleUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/people/PeopleInviteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/people/usecases/InviteLinksUseCaseTest.kt
Labels: P2, People Management, [Status] Not Ready for Merge, [Type] Task

#14125 Fix issues from merge conflict
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackBackupRestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackBackupRestoreFootnoteViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
Labels: Jetpack Mobile

#14127 Issue/13326 display scan finished message
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  config/detekt/baseline.xml
Labels: Jetpack Mobile, [Type] Task

#14105 Make sure site model is selected before the ID of the site is emitted
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteRepository.kt
Labels: /My site, My Site Dynamic Cards, [Type] Bug

#14133 Merge 16.7 into develop
  WordPress/build.gradle
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/metadata/android/ar/changelogs/1002.txt
  fastlane/metadata/android/ar/changelogs/987.txt
  fastlane/metadata/android/de-DE/changelogs/987.txt
  fastlane/metadata/android/en-US/changelogs/1002.txt
  fastlane/metadata/android/en-US/changelogs/987.txt
  fastlane/metadata/android/es-ES/changelogs/1002.txt
  fastlane/metadata/android/es-ES/changelogs/987.txt
  fastlane/metadata/android/fr-CA/changelogs/1002.txt
  fastlane/metadata/android/fr-FR/changelogs/1002.txt
  fastlane/metadata/android/id/changelogs/1002.txt
  fastlane/metadata/android/id/changelogs/987.txt
  fastlane/metadata/android/it-IT/changelogs/1002.txt
  fastlane/metadata/android/it-IT/changelogs/987.txt
  fastlane/metadata/android/iw-IL/changelogs/1002.txt
  fastlane/metadata/android/iw-IL/changelogs/987.txt
  fastlane/metadata/android/ja-JP/changelogs/1002.txt
  fastlane/metadata/android/ja-JP/changelogs/987.txt
  fastlane/metadata/android/ko-KR/changelogs/1002.txt
  fastlane/metadata/android/ko-KR/changelogs/987.txt
  fastlane/metadata/android/nl-NL/changelogs/1002.txt
  fastlane/metadata/android/nl-NL/changelogs/987.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/1002.txt
  fastlane/metadata/android/ru-RU/changelogs/987.txt
  fastlane/metadata/android/sv-SE/changelogs/1002.txt
  fastlane/metadata/android/sv-SE/changelogs/987.txt
  fastlane/metadata/android/tr-TR/changelogs/1002.txt
  fastlane/metadata/android/tr-TR/changelogs/987.txt
  fastlane/metadata/android/zh-CN/changelogs/1002.txt
  fastlane/metadata/android/zh-CN/changelogs/987.txt
  fastlane/metadata/android/zh-TW/changelogs/1002.txt
  fastlane/metadata/android/zh-TW/changelogs/987.txt
Labels: Releases

#14135 Merge Release/16.8 into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#14134 Remove Quick Start category card when all its tasks are completed
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14131 Detekt - Update 'LongParameterList' Configuration
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  config/detekt/baseline.xml
  config/detekt/detekt.yml
Labels: Tooling

#14136 Issue/14128 revert removed related posts
  WordPress/src/main/java/org/wordpress/android/ui/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/values/strings.xml
  config/detekt/baseline.xml
Labels: New Reader Android

#14143 WP Stories: change intro screen subtitle text to match iOS
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: WP Stories

#14040 Add mobile/tablet/desktop thumbnails in MLP layout selection screen
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/layout-land/modal_layout_picker_titlebar.xml
  WordPress/src/main/res/layout/modal_layout_picker_titlebar.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
  build.gradle
  config/detekt/baseline.xml
Labels: [Type] Enhancement

#14142 Issue/14128 fetch related posts on reader post details screen from vm + usecase
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderFetchRelatedPostsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderFetchRelatedPostsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
  config/detekt/baseline.xml
Labels: New Reader Android

#14145 Update and optimize Quick Start task card illustrations
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_check_site_stats.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_create_site.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_edit_site_icon.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_edit_your_homepage.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_enable_post_sharing.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_explore_plans.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_follow_other_sites.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_publish_post.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_review_site_pages.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_set_site_title.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_visit_your_site.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_check_site_stats.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_create_site.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_edit_site_icon.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_edit_your_homepage.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_enable_post_sharing.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_explore_plans.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_follow_other_sites.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_placeholder.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_publish_post.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_review_site_pages.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_set_site_title.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_visit_your_site.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
Labels: /My site, My Site Dynamic Cards, [Type] Task

#14146 Update Quick Start card headings to use sentence case
  WordPress/src/main/res/values/strings.xml
Labels: /My site, My Site Dynamic Cards, [Type] Enhancement

#14153 Modal Layout Picker: Handles null category emoji
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  build.gradle
Labels: [Type] Crash

#14148 Fix NPE when fetchJetpackPurchasedProduct finishes after onViewDestroyed
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
Labels: Jetpack, Jetpack Mobile, [Type] Crash

#14141 Save page info to PostRepository when creating a new page from Layout picker
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: gutenberg-mobile

#14158 Remove unused TODO comment
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
Labels: /My site, My Site Dynamic Cards

#14155 Fix/14030 backup download notice
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/NoticeItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/PostDismissBackupDownloadUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackBackupDownloadActionState.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/ActivityLogTracker.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_notice_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/usecases/PostDismissBackupDownloadUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Mobile, [Type] Task

#14157 Scroll to a Quick Start item on each item click
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Enhancement

#14160 Merge 16.8 release notes into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
Labels: Releases
