Repository wordpress-mobile/WordPress-Android, pull requests merged in 2021-10, with the labels that each got.

#15393 Unified edit comment component
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedCommentsCommentEditFeatureConfig.kt
  WordPress/src/main/res/layout/unified_comments_edit_activity.xml
  WordPress/src/main/res/layout/unified_comments_edit_fragment.xml
  WordPress/src/main/res/menu/edit_comment_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  build.gradle
Labels: [Type] Enhancement, Comments Unification

#15400 Unified Edit comment unit test
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/comments/viewmodels/UnifiedCommentsEditViewModelTest.kt
Labels: [Type] Enhancement, Comments Unification

#15401 Edit comment confirmation dialog
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/EditCancelDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/comments/viewmodels/UnifiedCommentsEditViewModelTest.kt
Labels: [Type] Task, Comments Unification

#15402 Edit comment flag activation
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedCommentsCommentEditFeatureConfig.kt
Labels: [Type] Enhancement, Comments Unification

#15395 [Gutenberg] Mention the editor image size fix in release notes metadata
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
Labels: Releases

#15377 Display list of domains for a site on domains dashboard
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/res/layout/domain_site_domains_header.xml
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: [Type] Task, [Status] Not Ready for Merge, Domains

#15398 Integrate gutenberg-mobile release 1.63.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#15412 Merge release/18.4 into develop (code freeze & 18.4-rc-1)
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/jetpack_metadata/release_notes_short.txt
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#15389 Onboarding Improvements: Remove Feature Flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/QuickStartPromptDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartReminderReceiver.java
  WordPress/src/main/java/org/wordpress/android/util/config/OnboardingImprovementsFeatureConfig.kt
  WordPress/src/main/res/drawable/img_promo_editor.xml
  WordPress/src/main/res/layout/quick_start_prompt_dialog_fragment.xml
  WordPress/src/main/res/layout/quick_start_prompt_dialog_fragment_new.xml
  WordPress/src/main/res/values-sw600dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  config/detekt/baseline.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Onboarding Improvements: Existing Users

#15415 Fixes IllegalArgumentException due to uninitialised site in page template picker
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
Labels: [Type] Crash

#15368 Localization support for stories-android as a binary dependency
  .circleci/config.yml
  fastlane/Fastfile
Labels: Localization, Tooling

#15369 Remove git submodule commands from CircleCI
  .circleci/config.yml
Labels: Tooling

#15352 Fix reader related posts loading the wrong post after rotation
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
Labels: Reader, [Type] Task

#15420 Remove submodule & subtree information from README & docs
  README.md
  docs/subtreed-library-projects.md
Labels: Documentation

#15424 Add feature flag for "My Site Dashboard - Phase 2"
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/MySiteDashboardPhase2FeatureConfig.kt
Labels: My Site Dashboard

#15419 Hide prices from domain credit flow
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/res/layout/domain_suggestion_list_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/domains/DomainSuggestionsViewModelTest.kt
Labels: [Type] Bug, Domains

#15421 Display editor help button for all users
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Enhancement, Support, Gutenberg

#15427 Merge release/18.4 into develop (18.4-rc-2)
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/util/KeyboardResizeViewUtil.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/res/layout/domain_suggestion_list_item.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/domains/DomainSuggestionsViewModelTest.kt
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#15502 Feature/15360 add tracks for domains
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Domains
