Repository wordpress-mobile/WordPress-Android, pull requests merged in 2021-11, with the labels that each got.

#15501 My Site Dashboard-Phase 2: Initial Structure - Refactor sources
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteStateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteIconProgressSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteIconProgressSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
Labels: [Type] Task, /My site, My Site Dashboard

#15513 My Site Dashboard - Phase 2 - Initial Structure - Refresh layout
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, [Status] Not Ready for Merge, My Site Dashboard

#15518 Merge 18.6 code freeze into develop
  Gemfile.lock
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#15520 Domains: Handle checkout result – Part 2
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
Labels: [Type] Task, Domains

#15512 Update aztecVersion to v1.5.0
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec

#15523 Updates WordPressUtils to 2.2.0, stories-android to 1.2.0
  build.gradle
Labels: Tooling

#15521 Domains Dashboard improvements
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/usecases/FetchPlansUseCase.kt
  WordPress/src/main/res/layout/domain_purchase_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainsDashboardViewModelTest.kt
Labels: [Type] Task, Domains

#15515 Feature/15514 unified about feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedAboutFeatureConfig.kt
Labels: [Type] Task, Unified About

#15524 Fix MySite's Domain Registration card logic
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSource.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
Labels: [Type] Bug, Domains

#15465 [Gutenberg] Add blog ID to editor session events
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsTrackerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/PostEditorAnalyticsSessionTest.kt
Labels: Posting/Editing

#15533 Merge release/18.6 into develop - Release Notes
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#15508 Use a single method to retrieve title and content from Gutenberg
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#15536 Add check for null site model during site deletion
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: Site Settings, Delete Site, [Type] Crash

#15538 Related posts featured image fix.
  WordPress/src/main/res/layout/reader_cardview_related_post.xml
Labels: [Type] Bug, Reader

#15534 Unified comments details feature flag and basic activity
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsDetailPagerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsDetailsActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedCommentsDetailFeatureConfig.kt
  WordPress/src/main/res/layout/unified_comment_details_fragment.xml
  WordPress/src/main/res/layout/unified_comments_details_activity.xml
Labels: [Status] Needs Code Review, Comments Unification

#15541 Adds Github action for updating gutenbergMobileVersion
  .github/workflows/automated-version-update-pr.yml
Labels: Tooling

#15509 [Save Post Task Force] Prevent auto-saves after a user-initiated save
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/SaveOnExitException.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
Labels: Posting/Editing

#15544 My Site Dashboard - Phase 2 - Draft and Scheduled Post Cards
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostItemsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/mockdata/MockedPostsData.kt
  WordPress/src/main/res/drawable/ic_time_white_24dp.xml
  WordPress/src/main/res/layout/my_site_post_card.xml
  WordPress/src/main/res/layout/post_card.xml
  WordPress/src/main/res/layout/post_item.xml
  WordPress/src/main/res/raw/mocked_posts_data.json
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilderTest.kt
Labels: My Site Dashboard

#15546 My Site Dashboard - Phase 2 - Create First Post Card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardViewHolder.kt
  WordPress/src/main/res/drawable-xhdpi/create_first_temp.png
  WordPress/src/main/res/layout/my_site_post_card_create_first.xml
  WordPress/src/main/res/layout/my_site_post_card_draft_or_scheduled.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilderTest.kt
Labels: My Site Dynamic Cards, My Site Dashboard

#15554 My Site Dashboard: CurrentAvatarSource Refresh
  WordPress/src/main/java/org/wordpress/android/ui/mysite/CurrentAvatarSource.kt
Labels: [Type] Task, /My site, My Site Dashboard

#15556 My Site Dashboard: DomainRegistrationSource Refresh
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSourceTest.kt
Labels: [Type] Task, My Site Dashboard

#15559 Integrate gutenberg-mobile release 1.66.0
  build.gradle
Labels: gutenberg-mobile

#15558 My Site Dashboard: PostCardsSource refresh
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardsSource.kt
  WordPress/src/main/res/raw/mocked_refresh_posts_data.json
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardsSourceTest.kt
Labels: [Type] Task, /My site, My Site Dashboard

#15557 My Site Dashboard: ScanAndBackupSource refreshData
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
Labels: [Type] Task, My Site Dashboard

#15552 Category Listing Screen - Viewmodel Implementation
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/CategoriesListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/CategoriesListViewModel.kt
  WordPress/src/main/res/layout/site_settings_categories_list_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/prefs/categories/CategoriesListViewModelTest.kt
Labels: Tag/Category Management, [Type] Task

#15555 My Site Dashboard: QuickStartCardSource + QuickStartRepository
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#15564 Remove PR list generation at code freeze
  fastlane/Fastfile
Labels: Tooling

#15565 Integrate gutenberg-mobile release 1.65.1
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#15573 Update release notes with gutenberg-mobile release 1.66.0 changes
  RELEASE-NOTES.txt
Labels: gutenberg-mobile

#15574 Merge release/18.7 into develop (Code Freeze)
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  tools/rename_apk_aab.sh
  version.properties
Labels: Releases

#15575 My Site Dashboard: Selected Site Source refresh prep
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteSourceTest.kt
Labels: [Type] Task, My Site Dashboard

#15563 My Site Dashboard - Phase 2 - Create Next Post Card + Footer Links + Fine-tune UI
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostItemsAdapter.kt
  WordPress/src/main/res/color/primary_emphasis_medium_selector.xml
  WordPress/src/main/res/drawable-night/img_write_72dp.xml
  WordPress/src/main/res/drawable-xhdpi/create_first_temp.png
  WordPress/src/main/res/drawable/img_write_72dp.xml
  WordPress/src/main/res/layout/my_site_card_footer_link.xml
  WordPress/src/main/res/layout/my_site_card_toolbar.xml
  WordPress/src/main/res/layout/my_site_info_card.xml
  WordPress/src/main/res/layout/my_site_post_card_with_post_items.xml
  WordPress/src/main/res/layout/my_site_post_card_without_post_items.xml
  WordPress/src/main/res/layout/my_site_quick_actions_card.xml
  WordPress/src/main/res/layout/post_item.xml
  WordPress/src/main/res/layout/quick_actions_card.xml
  WordPress/src/main/res/layout/quick_start_card.xml
  WordPress/src/main/res/raw/mocked_posts_data.json
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilderTest.kt
Labels: [Status] Needs Design Review, [Status] Not Ready for Merge, My Site Dashboard

#15582 Merge release/18.7 into develop - Release Notes
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#15584 Remove the mention of MSWord fix from WPAndroid release notes
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#15579 PostEditorAnalyticsSession - Utilized savedInstanceState instead of extras for the bundle
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
Labels: [Type] Task

#15577 Remove follow conversation from notification FF and related obsolete code.
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderCommentsFollowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/PostSubscribersApiCallsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderCommentsPostHeaderView.java
  WordPress/src/main/java/org/wordpress/android/util/config/FollowByPushNotificationFeatureConfig.kt
  WordPress/src/main/res/layout/reader_comments_post_header_view.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderCommentListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderCommentsFollowUseCaseTest.kt
Labels: Reader, Comments, [Type] Task

#15583 Editing: Replace snackbar with compact notice when switching editor mode
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtilsWrapper.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Enhancement, Posting/Editing

#15589 Do Not Merge – Only here to trigger CI on https://github.com/wordpress-mobile/WordPress-Android/pull/15583
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtilsWrapper.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Not Ready for Merge

#15588 Merge editorialized release notes for 18.7 fix into `develop`
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  version.properties
Labels: Releases

#15586 My Site Dashboard: MySIteSource refactoring for PTR
  WordPress/src/main/java/org/wordpress/android/ui/mysite/CurrentAvatarSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteIconProgressSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/CurrentAvatarSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteIconProgressSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSourceTest.kt
Labels: [Type] Task, /My site, My Site Dashboard

#15576 Remove inline styling from reader post content
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
Labels: [Type] Bug, Reader, [Type] Task

#15585 Adds tracking coverage to the My Sites No Sites view
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Task, /My site

#15597 Fixes: RTL support for PPN Categories
  RELEASE-NOTES.txt
  WordPress/src/main/res/values/styles.xml
Labels: Prepublishing Nudges, User-Facing

#15603 Category Listing Screen - Retry Logic
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/CategoriesListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/categories/CategoriesListViewModelTest.kt
Labels: Tag/Category Management, [Type] Task

#15587 Threaded comments initial refactor to kotlin
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/CommentNotificationsBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedThreadedCommentsFeatureConfig.kt
  WordPress/src/main/res/layout/threaded_comments_activity.xml
  WordPress/src/main/res/layout/threaded_comments_fragment.xml
Labels: [Type] Task, Comments Unification

#15613 Fix build issue in develop by removing reference to missing class
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsFragment.kt
Labels: [Type] Bug

#15551 Feature/15548 add about word press under me
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Unified About

#15602 Fix/lint issues on develop
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/datasets/PeopleTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/PublicizeTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderCommentTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDiscoverCardsTable.kt
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderUserTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/SiteSettingsTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/UserSuggestionTable.java
  WordPress/src/main/java/org/wordpress/android/models/CategoryModel.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFileDownloadManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionRecyclerAdapter.java
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderFileDownloadManagerTest.kt
Labels: Lint

#15570 Posts List: Add Copy link functionality for posts
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListActionTracker.kt
  WordPress/src/main/java/org/wordpress/android/util/ContextExtensions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/widgets/PostListButtonType.kt
  WordPress/src/main/res/drawable/ic_gridicons_link_white_24dp.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
  config/detekt/baseline.xml
Labels: [Type] Enhancement, Post List, [Status] Needs Design Review

#15606 My Site Dashboard - Phase 2 - Post Card Navigation and Style Updates
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemDecoration.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/mockdata/MockedPostsData.kt
  WordPress/src/main/res/drawable-night/img_write_72dp.xml
  WordPress/src/main/res/drawable/img_write_212dp.xml
  WordPress/src/main/res/drawable/img_write_72dp.xml
  WordPress/src/main/res/layout/debug_settings_header.xml
  WordPress/src/main/res/layout/domain_registration_card.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/my_site_info_card.xml
  WordPress/src/main/res/layout/my_site_post_card_with_post_items.xml
  WordPress/src/main/res/layout/my_site_post_card_without_post_items.xml
  WordPress/src/main/res/layout/my_site_quick_actions_card.xml
  WordPress/src/main/res/layout/post_item.xml
  WordPress/src/main/res/layout/quick_start_card.xml
  WordPress/src/main/res/layout/quick_start_dynamic_card.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardsSourceTest.kt
Labels: [Status] Needs Design Review, [Status] Not Ready for Merge, My Site Dashboard

#15595 Feature/update threaded comment design
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderCommentTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderComment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderCommentsPostHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderIconCountView.java
  WordPress/src/main/res/drawable/bg_rectangle_rounded_primary_dark.xml
  WordPress/src/main/res/drawable/ic_reply_material_white_24dp.xml
  WordPress/src/main/res/layout/reader_comments_post_header_view.xml
  WordPress/src/main/res/layout/reader_listitem_comment.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Enhancement, [Status] Needs Code Review, Comments Unification

#15618 Bump Aztec version to v1.5.1
  build.gradle
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec

#15572 WPWebChromeClient with File Chooser support for form upload input type
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/WPWebChromeClientWithFileChooser.java
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
Labels: [Type] Task

#15616 Integrate gutenberg-mobile release 1.67.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#15529 Integrate About Automattic Library
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/about/AboutWordPressActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationCheckoutWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/res/layout/about_word_press_activity.xml
  build.gradle
  config/checkstyle.xml
  config/lint.xml
  local-builds.gradle-example
  settings.gradle
Labels: [Type] Task, Unified About

#15611 Fix Quick Start bottom padding on the My Site screen
  WordPress/src/main/res/layout/main_activity.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Quick Start, My Site Dashboard

#15580 Category Listing Screen - UI Implementation
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/CategoriesListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/CategoriesListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/SiteSettingsCategoriesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/SiteSettingsCategoriesDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/SiteSettingsCategoriesViewHolder.kt
  WordPress/src/main/res/layout/site_settings_categories_list_fragment.xml
  WordPress/src/main/res/layout/site_settings_categories_row.xml
  WordPress/src/main/res/values/styles.xml
Labels: Tag/Category Management

#15630 Update Unified About library integration
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderCommentTable.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/about/AboutWordPressActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/WpUrlUtilsWrapper.kt
  WordPress/src/main/res/layout/unified_about_activity.xml
  config/checkstyle.xml
Labels: [Type] Task, Unified About

#15631 Enable Unified About remote feature flag
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedAboutFeatureConfig.kt
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, Unified About

#15634 Merge release/18.8 into develop after code freeze
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#15638 Merge Gutenberg 1.67.0 after branch
  build.gradle
  libs/editor/WordPressEditor/build.gradle
Labels: gutenberg-mobile
