Repository wordpress-mobile/WordPress-Android, pull requests merged in 2021-01, with the labels that each got.

#13672 Add snackbar observable
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
Labels: Jetpack Mobile

#13701 Rename backup_download_details_description to avoid lint error
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsStateListItemBuilder.kt
  WordPress/src/main/res/layout/jetpack_list_description_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: Lint

#13691 [Layout Switching] Tweaks to pages list
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/res/drawable/ic_homepage_16dp.xml
  WordPress/src/main/res/drawable/ic_posts_16dp.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/values/strings.xml
Labels: Pages List, [Type] Enhancement

#13704 Jetpack Mobile: Threat Details - custom views
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/ThreatContextLinesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/ThreatDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/viewholders/ThreatContextLineViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/viewholders/ThreatContextLinesViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/viewholders/ThreatFileNameViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/PaddingBackgroundColorSpan.kt
  WordPress/src/main/res/layout/threat_context_lines_list_context_line_item.xml
  WordPress/src/main/res/layout/threat_details_list_context_lines_item.xml
  WordPress/src/main/res/layout/threat_details_list_file_name_item.xml
  WordPress/src/main/res/values/scan_styles.xml
Labels: Jetpack Mobile, [Status] Not Ready for Merge, [Type] Task

#13708 Update fluxc version for backup download status
  build.gradle
Labels: Jetpack Mobile

#13633 Issue/fix zendek colors in dark mode
  WordPress/src/main/res/values-night/styles.xml
Labels: Zendesk, [Status] Needs Code Review

#13702 Issue/13329 backup handlers
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadRequestState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/PostBackupDownloadUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13703 Jetpack Mobile: Threat Details - list items builder
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/ThreatDetailsAdapter.kt
  WordPress/src/main/res/values/jetpack_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatTestData.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModelTest.kt
Labels: Jetpack Mobile, [Type] Task

#13707 Issue/13268 activity type empty view
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModelTest.kt
Labels: Activity Log

#13711 Rename and move package location for reuse
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/adapters/BackupDownloadDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadSubHeaderViewHolder.kt
Labels: Jetpack Mobile

#13712 Issue/13329 backup progress
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/adapters/BackupDownloadProgressAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadAdditionalInformationViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/res/layout/backup_download_progress_fragment.xml
  WordPress/src/main/res/layout/backup_list_additional_information_item.xml
  WordPress/src/main/res/layout/backup_list_progress_item.xml
  WordPress/src/main/res/values/jetpack_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressViewModelTest.kt
Labels: Jetpack Mobile

#13714 Fix toolbar menu item color on activity type filter
  WordPress/src/main/res/layout/activity_log_type_filter_fragment.xml
Labels: Activity Log

#13716 Add content description to activity log filters
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: Accessibility, Activity Log

#13715 Issue/13329 backup complete
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/adapters/BackupDownloadCompleteAdapter.kt
  WordPress/src/main/res/layout/backup_download_complete_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadCompleteViewModelTest.kt
Labels: Jetpack Mobile

#13720 [Layout Switching] Sets homepage first only if it is on the top level
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
Labels: Pages List, [Type] Bug

#13721 Issue/13268 activity log filters visibility
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/FetchJetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ActivityLogFiltersFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/FetchJetpackCapabilitiesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
  build.gradle
Labels: Activity Log, Jetpack Mobile, [Status] Not Ready for Merge

#13625 Adding unread posts count to Reader bottom sheet
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/adapters/SubfilterListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SiteViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SubFilterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/util/config/UnreadPostsCountFeatureConfig.kt
  WordPress/src/main/res/drawable/bg_oval_surface_overlay_emphasis_lowest.xml
  WordPress/src/main/res/layout/subfilter_list_item.xml
  WordPress/src/main/res/values/dimens.xml
Labels: P2, Reader, [Type] Enhancement

#13709 Jetpack Mobile: Backups - Introduce Feature Flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ListItemAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BackupsFeatureConfig.kt
  WordPress/src/main/res/drawable/ic_backup_alt_white_24dp.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteListItemBuilderTest.kt
Labels: Jetpack, [Type] Task

#13719 Activity Log filters final design review
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/activity_log_type_filter_fragment.xml
  WordPress/src/main/res/values/styles.xml
Labels: Activity Log

#13726 Issue/13329 wizard cleanup
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModelTest.kt
Labels: Jetpack Mobile

#13723 Issue/uppercase thousands suffix
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/res/values/strings.xml
Labels: [Status] Needs Code Review, [Type] Enhancement

#13733 Add missing item to release notes
  RELEASE-NOTES.txt
Labels: Releases, [Type] Task

#13610 Introduce empty view handling to the improved My Site fragment
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/util/DisplayUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: My Site Dynamic Cards, [Type] Task

#13687 WP Stories: removed checks for TEMPORARY_ID_PREFIX prefix and alternative code flow in StoriesSaveListener
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StoriesEventListener.kt
Labels: WP Stories

#13736 Issue/13735 fix activity log empty screen
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Activity Log, Jetpack Mobile

#13737 Set default value of ActivityLogFiltersFeatureConfig
  WordPress/src/main/java/org/wordpress/android/util/config/ActivityLogFiltersFeatureConfig.kt
Labels: Activity Log, Jetpack Mobile

#13739 Update fastlane and release-toolkit
  Gemfile.lock
  fastlane/Pluginfile
Labels: Tooling

#13738 Update Indonesian language ID
  fastlane/Fastfile
  fastlane/metadata/android/id/changelogs/975.txt
  fastlane/metadata/android/id/full_description.txt
  fastlane/metadata/android/id/short_description.txt
  fastlane/metadata/android/id/title.txt
  fastlane/metadata/android/in/video.txt
  fastlane/metadata/android/release_notes.xml
Labels: Localization, Tooling

#13742 Merge Release/16.5 back into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#13748 Fix Current date in stats loading
  build.gradle
Labels: Stats, [Type] Bug

#13744 Update visibility of scan menu item
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/FetchJetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/FetchJetpackCapabilitiesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack Mobile

#13743 Issue/13329 error handling
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadErrorTypes.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModelTest.kt
Labels: Jetpack Mobile

#13740 Scan: Fetch scan state with polling
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanStatusService.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanStatusServiceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCaseTest.kt
  build.gradle
Labels: Jetpack Mobile, [Type] Task

#13741 Scan: Start scan
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/StartScanUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/StartScanUseCaseTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge, [Type] Task

#13745 Issue/13329 complete actions
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteViewModel.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13751 Removes segmentId value from site creation call when a design is selected
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
Labels: Site Creation, [Type] Bug

#13756 Remove "Create a new Page" and "Customize your site" from Quick Start…
  build.gradle
Labels: [Type] Bug

#13759 Add restore feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/RestoreFeatureConfig.kt
Labels: Jetpack Mobile

#13765 Merge/release 16.5 into develop
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  build.gradle
Labels: Releases

#13764 Issue/13328 restore skeleton
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/ActivityLogNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreErrorTypes.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/layout/restore_activity.xml
  WordPress/src/main/res/layout/restore_details_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack Mobile

#13762 Jetpack Mobile: Backups - Introduce Backups Screen
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack, [Type] Task

#13753 Save Stories composer from crashing when Post cannot be obtained
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/StoryComposerViewModelTest.kt
Labels: WP Stories

#13781 Fixes broken test due to missing fields in StarterDesignModel
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
  build.gradle
Labels: Testing, [Type] Bug

#13767 Issue/13326 ignore threat usecase
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/usecases/GetThreatModelUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/usecases/IgnoreThreatUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/usecases/IgnoreThreatUseCaseTest.kt
Labels: Jetpack Mobile, [Type] Task

#13783 Reader Details app bar icon color fix (for Pixel 5)
  WordPress/src/main/res/values/dimens.xml
Labels: New Reader Android

#13776 Merge Release/16.5 back into develop
  WordPress/build.gradle
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
Labels: Releases

#13773 Issue/13328 restore details
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/providers/JetpackAvailableItemsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreSubHeaderViewHolder.kt
  WordPress/src/main/res/layout/restore_list_subheader_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
Labels: Jetpack Mobile

#13775 Issue/13328 restore warning
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreErrorTypes.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreRequestState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/PostRestoreUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningViewModel.kt
  WordPress/src/main/res/layout/restore_warning_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreWarningViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13778 Issue/13328 restore progress
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreRequestState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreAdditionalInformationViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreProgressViewHolder.kt
  WordPress/src/main/res/layout/restore_progress_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreWarningViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13779 Issue/13328 restore complete
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteViewModel.kt
  WordPress/src/main/res/layout/restore_complete_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreCompleteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13724 Add initial Quick Start card item implementation to the improved My Site fragment
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/ColorUtils.kt
  WordPress/src/main/res/drawable/quick_start_card_progress_drawable.xml
  WordPress/src/main/res/layout/quick_start_card.xml
  WordPress/src/main/res/layout/quick_start_task_card.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Status] Needs Design Review, [Type] Task

#13725 Add initial Quick Start card bottom sheet menu implementation
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartMenuFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartMenuViewModel.kt
  WordPress/src/main/res/drawable/ic_push_pin_24.xml
  WordPress/src/main/res/drawable/ic_visibility_off_24.xml
  WordPress/src/main/res/layout/quick_start_menu_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartMenuViewModelTest.kt
Labels: /My site, My Site Dynamic Cards, [Status] Needs Design Review, [Type] Task

#13771 Use single and partial states in order to be able to add more sources
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
Labels: /My site, My Site Dynamic Cards, [Type] Enhancement

#13799 Update release notes for 16.5
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#13757 Issue/13326 init history view pager
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
  WordPress/src/main/res/layout/scan_history_activity.xml
  WordPress/src/main/res/layout/scan_history_fragment.xml
  WordPress/src/main/res/layout/scan_history_list_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModelTest.kt
Labels: Jetpack Mobile, Scan

#13788 Rename layout files
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadAdditionalInformationViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadSubHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreAdditionalInformationViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreSubHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningFragment.kt
  WordPress/src/main/res/layout/backup_download_complete_fragment.xml
  WordPress/src/main/res/layout/backup_download_progress_fragment.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_activity.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_fragment.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_list_additional_information_item.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_list_subheader_item.xml
  WordPress/src/main/res/layout/jetpack_list_progress_item.xml
  WordPress/src/main/res/layout/restore_activity.xml
  WordPress/src/main/res/layout/restore_complete_fragment.xml
  WordPress/src/main/res/layout/restore_details_fragment.xml
  WordPress/src/main/res/layout/restore_list_subheader_item.xml
  WordPress/src/main/res/layout/restore_progress_fragment.xml
  WordPress/src/main/res/layout/restore_warning_fragment.xml
Labels: Jetpack Mobile

#13789 Update viewholders for backup restore
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/adapters/BackupDownloadCompleteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/adapters/BackupDownloadDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/adapters/BackupDownloadProgressAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadAdditionalInformationViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/viewholders/BackupDownloadProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackBackupRestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackBackupRestoreAdditionalInformationViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackBackupRestoreSubHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/viewholders/RestoreSubHeaderViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreProgressViewModelTest.kt
Labels: Jetpack Mobile

#13790 Issue/13328 restore backup adapters
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/adapters/BackupDownloadCompleteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/adapters/BackupDownloadProgressAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/adapters/JetpackBackupRestoreAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningFragment.kt
  WordPress/src/main/res/layout/jetpack_backup_restore_fragment.xml
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13770 Update release-toolkit to fix build errors when checking new strings
  Gemfile.lock
  fastlane/Pluginfile
  tools/release-checks.sh
Labels: Tooling

#13766 Adding filtering feature to filterables tabs in reader
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/BottomSheetPageEmptyUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/BottomSheetUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
Labels: P2, Reader, [Type] Enhancement

#13575 Gutenberg - Audio Block Processor
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/AudioBlockProcessor.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/BlockProcessorFactory.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaBlockType.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostUtilsUnitTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/AudioBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/TestContent.kt
Labels: [Status] Not Ready for Merge, gutenberg-mobile

#13755 Ignore .idea/compiler.xml
  .gitignore
  .idea/compiler.xml
Labels: Tooling

#13803 Refactor StateListItemBuilders
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadCompleteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreCompleteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreWarningViewModelTest.kt
Labels: Jetpack Mobile

#13796 Issue/13326 fix threats usecase
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FixThreatsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/usecases/IgnoreThreatUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FixThreatsUseCaseTest.kt
Labels: Jetpack Mobile

#13802 Populate Scan History screen with data from /scan/history endpoint
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/StartScanUseCase.kt
  WordPress/src/main/res/layout/scan_history_list_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/StartScanUseCaseTest.kt
  build.gradle
Labels: Jetpack, Scan

#13768 Issue/13326 ignore threat
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FixThreatsUseCase.kt
  WordPress/src/main/res/layout/threat_details_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/usecases/IgnoreThreatUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FixThreatsUseCaseTest.kt
Labels: Jetpack Mobile, [Type] Task

#13795 Issue/13326 trigger fix threats
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/res/layout/scan_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
Labels: Jetpack Mobile

#13797 Issue/13326 fetch fix threats status usecase
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCaseTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13674 Home Page Picker: Adds mobile/tablet/desktop thumbnails mode
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/PreviewMode.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/PreviewModeMenuAdapter.kt
  WordPress/src/main/res/layout/home_page_picker_titlebar.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
Labels: Site Creation, [Type] Enhancement

#13807 Support message and currentEntry in rewind status
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreRequestState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindProgressCheckerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/rewind/RewindStatusServiceTest.kt
  build.gradle
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13673 Home Page Picker: Adds tablet and desktop preview
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/DesignPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/PreviewMode.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/PreviewModeSelectorPopup.kt
  WordPress/src/main/res/layout/home_page_picker_preview_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
Labels: Site Creation, [Type] Enhancement

#13798 Issue/13326 fetch fix threats status
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/res/layout/jetpack_list_progress_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
Labels: Jetpack Mobile, [Status] Not Ready for Merge

#13752 Improve quota snackbar
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/util/SnackbarSequencer.kt
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPSnackbar.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPSnackbar.kt
  WordPress/src/main/java/org/wordpress/android/widgets/WPSnackbarWrapper.kt
  WordPress/src/main/res/layout/snackbar.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/util/SnackbarSequencerConcurrentTest.kt
  WordPress/src/test/java/org/wordpress/android/util/SnackbarSequencerTest.kt
Labels: Media, [Type] Enhancement

#13816 Catching snackbar by SnackbarContentLayout class.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/EditorPage.java
Labels: Testing, [Type] Task

#13780 Add initial Quick Start Task card item implementation to the improved My Site fragment
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartTaskCardAdapter.kt
  WordPress/src/main/res/color/quick_start_task_card_foreground_selector.xml
  WordPress/src/main/res/color/quick_start_task_card_ripple_selector.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_edit_site_icon.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_edit_your_homepage.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_review_site_pages.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_set_site_title.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_visit_your_site.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_edit_site_icon.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_edit_your_homepage.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_review_site_pages.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_set_site_title.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_visit_your_site.xml
  WordPress/src/main/res/layout/quick_start_card.xml
  WordPress/src/main/res/layout/quick_start_task_card.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: /My site, My Site Dynamic Cards, [Status] Needs Design Review, [Type] Task

#13819 Add icon and rename existing
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListItemMenuAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/res/drawable/ic_cloud_done_white_24dp.xml
  WordPress/src/main/res/drawable/ic_get_app_white_24dp.xml
  WordPress/src/main/res/layout/jetpack_backup_restore_fragment.xml
  WordPress/src/main/res/layout/jetpack_list_icon_item.xml
Labels: Jetpack Mobile

#13784 Populate quick start cards with tasks
  .idea/codeStyles/Project.xml
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ImprovedMySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartTaskCardAdapter.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13823 Reader: add a source property when following a topic
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
Labels: Analytics, New Reader Android, Reader, [Type] Task

#13825 Issue/13326 fix threat from threat details
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModelTest.kt
Labels: Jetpack Mobile, [Type] Task

#13800 Add prompt to update site title
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteInfoViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteInfoBlockBuilder.kt
  WordPress/src/main/java/org/wordpress/android/widgets/QuickStartFocusPoint.kt
  WordPress/src/main/res/layout/my_site_info_block.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteInfoBlockBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13811 Issue/13455 make post as seen
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderDatabase.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderPostTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSeenStatusToggleUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/PostSeenStatusApiCallsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderPostSeenStatusWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtilsWrapper.kt
  WordPress/src/main/res/drawable/ic_not_visible_white_24dp.xml
  WordPress/src/main/res/drawable/ic_visible_white_24dp.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderPostSeenStatusToggleUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/ReaderPostListViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: P2, [Status] Needs Code Review

#13806 Adding more unit test coverage to SubfilterViewModel
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
Labels: P2, Reader, [Type] Task

#13824 Update subheader and icon for threats in fixed and ignored status
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilder.kt
  WordPress/src/main/res/drawable/ic_shield_warning_white.xml
  WordPress/src/main/res/drawable/ic_shield_white.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatTestData.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilderTest.kt
Labels: Jetpack Mobile, Scan

#13827 Issue/13326 update tabs
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
Labels: Jetpack Mobile, Scan

#13834 Issue/13328 backup download single
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadErrorTypes.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadRequestState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/complete/BackupDownloadCompleteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/details/BackupDownloadDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/progress/BackupDownloadProgressViewModel.kt
  WordPress/src/main/res/layout/backup_download_activity.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadCompleteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModelTest.kt
Labels: Jetpack Mobile

#13822 HPP: Prevents fetch when fetching already in progress
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
Labels: Site Creation, [Type] Bug, [Type] Crash

#13826 Do not log default design when design selection is skipped
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
Labels: Analytics, [Type] Bug

#13838 Issue/13812 fix site notifications on following tab
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSiteFollowUseCase.kt
  build.gradle
Labels: New Reader Android

#13854 Issue/13812 site notifications discover
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderFetchSiteUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
Labels: New Reader Android

#13849 Issue/13328 restore single
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreErrorTypes.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreRequestState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/complete/RestoreCompleteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/details/RestoreDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/progress/RestoreProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/warning/RestoreWarningViewModel.kt
  WordPress/src/main/res/layout/restore_activity.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreCompleteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreProgressViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreWarningViewModelTest.kt
Labels: Jetpack Mobile

#13754 Remove unneeded quotes from string resources
  WordPress/src/main/res/values/strings.xml
Labels: gutenberg-mobile

#13842 Scan history UI state
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/ScanAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatLoadingSkeletonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModel.kt
  WordPress/src/main/res/layout/fullscreen_error_with_retry.xml
  WordPress/src/main/res/layout/scan_history_fragment.xml
  WordPress/src/main/res/layout/scan_history_list_fragment.xml
  WordPress/src/main/res/layout/scan_list_threat_item_loading_skeleton.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryViewModelTest.kt
Labels: Jetpack Mobile, Scan

#13837 Remove symlinks to gutenberg-mobile submodule (#13747)
  WordPress/src/main/assets/supported-blocks.json
  libs/editor/WordPressEditor/src/main/assets/unsupported-block-editor
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/WPGutenbergWebViewActivity.java
Labels: Gutenberg Composite Build

#13862 Merge Release/16.5 into develop
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  fastlane/metadata/android/ar/changelogs/975.txt
  fastlane/metadata/android/de-DE/changelogs/975.txt
  fastlane/metadata/android/en-US/changelogs/975.txt
  fastlane/metadata/android/en-US/changelogs/982.txt
  fastlane/metadata/android/es-ES/changelogs/975.txt
  fastlane/metadata/android/fr-CA/changelogs/975.txt
  fastlane/metadata/android/fr-FR/changelogs/975.txt
  fastlane/metadata/android/id/changelogs/975.txt
  fastlane/metadata/android/it-IT/changelogs/975.txt
  fastlane/metadata/android/iw-IL/changelogs/975.txt
  fastlane/metadata/android/ja-JP/changelogs/975.txt
  fastlane/metadata/android/ko-KR/changelogs/975.txt
  fastlane/metadata/android/ko-KR/changelogs/982.txt
  fastlane/metadata/android/nl-NL/changelogs/975.txt
  fastlane/metadata/android/release_notes.xml
  fastlane/metadata/android/ru-RU/changelogs/975.txt
  fastlane/metadata/android/ru-RU/changelogs/982.txt
  fastlane/metadata/android/sv-SE/changelogs/975.txt
  fastlane/metadata/android/tr-TR/changelogs/975.txt
  fastlane/metadata/android/zh-CN/changelogs/975.txt
  fastlane/metadata/android/zh-TW/changelogs/975.txt
Labels: Releases

#13828 Feature/13786 add functionality to update site title
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/ResourceProvider.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartRepositoryTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13839 Add functionality to upload icon QS task
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteInfoViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteInfoBlockBuilder.kt
  WordPress/src/main/java/org/wordpress/android/widgets/QuickStartFocusPoint.kt
  WordPress/src/main/res/layout/my_site_info_block.xml
  WordPress/src/main/res/layout/quick_start_focus_circle_small.xml
  WordPress/src/main/res/layout/quick_start_focus_point_view.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SiteInfoBlockBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Type] Task

#13857 Fixing P2 and A8C tab shown traking in reader.
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
Labels: Analytics, P2, [Type] Bug

#13868 Issue/modify release notes and feature flag for seen toggle
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/adapters/SubfilterListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SeenUnseenWithCounterFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
Labels: Reader, [Status] Needs Code Review

#13869 Mark reference strings as non translatable.
  WordPress/src/main/res/values/strings.xml
Labels: [Pri] High, [Status] Needs Code Review, [Type] Bug

#13856 Scan History OnClick action
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
Labels: Jetpack Mobile, Scan

#13871 Adjust states, context and other minor changes
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
Labels: Jetpack Mobile

#13872 Issue/13326 fix threats status progress labels
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackProgressViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/main/res/layout/jetpack_list_progress_item.xml
  WordPress/src/main/res/values/jetpack_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCaseTest.kt
Labels: Jetpack Mobile

#13870 Adjust states, context and others
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
Labels: Jetpack Mobile

#13835 Add new Quick Start task illustrations and placeholders
  WordPress/src/main/java/org/wordpress/android/ui/mysite/QuickStartItemBuilder.kt
  WordPress/src/main/res/drawable-night/bg_quick_start_customize_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable-night/bg_quick_start_grow_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_check_site_stats.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_edit_your_homepage.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_enable_post_sharing.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_follow_other_sites.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_publish_post.xml
  WordPress/src/main/res/drawable-night/img_illustration_quick_start_task_review_site_pages.xml
  WordPress/src/main/res/drawable/bg_quick_start_customize_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable/bg_quick_start_grow_task_illustration_placeholder.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_check_site_stats.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_edit_your_homepage.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_enable_post_sharing.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_follow_other_sites.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_publish_post.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_review_site_pages.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/QuickStartItemBuilderTest.kt
Labels: /My site, My Site Dynamic Cards, [Status] Needs Design Review, [Type] Task

#13874 Jetpack Mobile: Restore - Fix Dark Theme for Rewind Progress Row
  WordPress/src/main/res/layout/activity_log_list_progress_item.xml
Labels: Jetpack, [Type] Bug

#13881 Merge Release/16.6 into develop
  RELEASE-NOTES.txt
  WordPress/build.gradle
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#13876 Update Zendesk to 5.0.2
  WordPress/build.gradle
Labels: Zendesk

#13864 Issue/13329 backup download error retry
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/usecases/GetBackupDownloadStatusUseCaseTest.kt
Labels: Jetpack Mobile

#13813 Deprecate Ui and Default scopes from thread module
  WordPress/src/main/java/org/wordpress/android/WordPress.java
  WordPress/src/main/java/org/wordpress/android/modules/ThreadModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentSearchFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlansViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/ImageEditorInitializer.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageParentSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageParentSearchViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Tech debt

#13882 Issue/13629 show backup menu item
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/JetpackCapabilitiesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack Mobile, Scan

#13820 Merge latest changes from Login-Flow library
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values/strings.xml
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginEmailFragment.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginListener.java
  libs/login/WordPressLoginFlow/src/main/java/org/wordpress/android/login/LoginSiteAddressFragment.java
  libs/login/WordPressLoginFlow/src/main/res/layout/login_email_optional_site_creds_screen.xml
  libs/login/WordPressLoginFlow/src/main/res/values/colors.xml
  libs/login/WordPressLoginFlow/src/main/res/values/strings.xml
Labels: Login

#13886 Issue/13328 restore other running
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/PostRestoreUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/usecases/PostRestoreUseCaseTest.kt
Labels: Jetpack Mobile

#13887 Issue/13329 backup download use case
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/usecases/PostBackupDownloadUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/usecases/PostBackupDownloadUseCaseTest.kt
Labels: Jetpack Mobile

#13889 Set secondary buttons
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/backup/download/builders/BackupDownloadStateListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/JetpackListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
Labels: Jetpack Mobile

#13883 Fix strings in release/16.6
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Localization

#13893 Issue/13326 threat detail
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/ViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/ThreatDetailsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/viewholders/ThreatDetailHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/DateFormatWrapper.kt
  WordPress/src/main/res/layout/threat_details_list_header.xml
  WordPress/src/main/res/values/scan_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatTestData.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsListItemsBuilderTest.kt
Labels: Jetpack Mobile, Scan

#13899 Quick Start: Cancel Edit homepage when homepage is removed
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
Labels: Quick Start, [Type] Bug

#13894 Merge Release/16.6 back into develop
  WordPress/build.gradle
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/main/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#13895 Issue/13326 threat list item
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanListItemState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/adapters/viewholders/ThreatViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryListViewModelTest.kt
Labels: Jetpack Mobile, Scan

#13900 Issue/13328 progress labels
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/builders/RestoreStateListItemBuilder.kt
Labels: Jetpack Mobile

#13902 Jetpack Section: Restore - Replace Rewind Status Service with Restore Use Cases
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreStates.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/usecases/PostRestoreUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/usecases/GetRestoreStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogViewModelTest.kt
Labels: Jetpack, [Type] Task

#13903 Issue/13326 start scan after delay
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchScanStateUseCaseTest.kt
Labels: Jetpack Mobile

#13904 Issue/13326 check fix threat status on init
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ScanViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/usecases/FetchFixThreatsStatusUseCaseTest.kt
Labels: Jetpack Mobile

#13913 Fix develop
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/builders/ThreatItemBuilder.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/ThreatItemBuilderTest.kt
Labels: Jetpack Mobile, [Type] Bug

#13915 Feature/update release toolkit
  Gemfile.lock
  RELEASE-NOTES.txt
  fastlane/Pluginfile
Labels: Tooling
