Repository wordpress-mobile/WordPress-Android, pull requests merged in 2021-12, with the labels that each got.

#15623 Quick Start: Update snackbars style on non my site screens
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/SnackbarItem.kt
  WordPress/src/main/res/values/integers.xml
Labels: Quick Start, My Site Dashboard

#15601 My Site Dashboard-Phase 2: Implement pull-to-refresh
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#15620 My Site Dashboard: Phase 2: MySiteSourceManager implementation
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, [Status] Not Ready for Merge, My Site Dashboard

#15646 Build: Update kotlin and coroutines to 1.5.32 and 1.5.2 respectively
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BarChartViewHolder.kt
  build.gradle
Labels: Tooling

#15637 My Site Dashboard [Phase 2]: Connect Dashboard Cards Store with Source
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostItemsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/PostCardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/mockdata/MockedDataJsonUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/post/mockdata/MockedPostsData.kt
  WordPress/src/main/res/raw/mocked_posts_data.json
  WordPress/src/main/res/raw/mocked_refresh_posts_data.json
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/post/PostCardsSourceTest.kt
  build.gradle
Labels: [Type] Task, My Site Dashboard

#15647 Build: Update kotlin and coroutines to 1.5.32 and 1.5.2 respectively (on release branch)
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/AuthorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BarChartViewHolder.kt
  build.gradle
Labels: Tooling

#15641 Removed UC Details FF flag from wasabi build.
  WordPress/build.gradle
Labels: [Status] Needs Code Review, [Type] Task, Comments Unification

#15624 Feature/15609 add tracks
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutViewModel.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Unified About

#15656 My Site Dashboard - Phase 2 - Fix nested scrolling
  WordPress/src/main/res/layout/my_site_post_card_with_post_items.xml
Labels: [Type] Bug, My Site Dashboard

#15648 Issue/15639 update look and logic of reply to comment button
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/res/layout/reader_listitem_comment.xml
Labels: [Type] Enhancement, [Status] Needs Code Review, Comments Unification

#15655 My Site Dashboard [Phase 2]: Fix Failing Connected Test due to New API Endpoint
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
Labels: My Site Dashboard

#15657 My Site Dashboard [Phase 2]: Format Date for Scheduled Posts
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
  build.gradle
Labels: [Status] Not Ready for Merge, My Site Dashboard

#15672 My Site: Revert my site bottom spacing
  WordPress/src/main/res/values/dimens.xml
Labels: /My site, My Site Dashboard

#15645 My Site Dashboard: Phase 2: Address PTR Crash
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSource.kt
Labels: [Type] Bug, [Type] Task, My Site Dashboard

#15664 Update event bus to v3.3.1
  WordPress/build.gradle
Labels: Tech debt

#15661 Making comment service able to fetch a reduced set of comments.
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/ReaderCommentService.java
Labels: [Type] Enhancement, Comments Unification

#15682 Update Aztec version to v1.5.2
  build.gradle
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec, gutenberg-mobile

#15669 Add blog item to About screen
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutViewModel.kt
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: [Type] Task, [Status] Not Ready for Merge, Unified About

#15671 fix domains menu appearing for non-jetpack self-hosted site
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
Labels: [Type] Bug

#15683 Integrate gutenberg-mobile release 1.68.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#15686 My Site Dashboard: Phase 2: Relocate init and clear functions
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteSource.kt
Labels: [Type] Task, My Site Dashboard

#15685 My Site Dashboard: Phase 2: Remove Singleton annotation from My Site Sources
  WordPress/src/main/java/org/wordpress/android/ui/mysite/CurrentAvatarSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteIconProgressSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSource.kt
Labels: [Type] Task, My Site Dashboard

#15696 My Site Dashboard [Phase 2]: Point FluxC to Room Database Version 5 Schema
  build.gradle
Labels: My Site Dashboard

#15681 My Site Dashboard - Phase 2 - Hide dashboard cards: jetpack app, non wpcom sites
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
Labels: My Site Dashboard

#15663 Comments snippet under post.
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderCommentTable.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/FollowConversationUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/CommentSnippetAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/CommentSnippetAdatperDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewholders/CommentButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewholders/CommentMessageViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewholders/CommentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewholders/CommentsLoadingViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewholders/CommentsSnippetViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/CommentSnippetItemState.kt
  WordPress/src/main/java/org/wordpress/android/util/config/CommentsSnippetFeatureConfig.kt
  WordPress/src/main/res/color/option_disabled_selector_primary.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_listitem_comment.xml
  WordPress/src/main/res/layout/reader_listitem_comment_button.xml
  WordPress/src/main/res/layout/reader_listitem_comment_loading.xml
  WordPress/src/main/res/layout/reader_listitem_comment_message.xml
  WordPress/src/main/res/layout/reader_post_comments_snippet.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: [Type] Enhancement, Comments Unification

#15699 Workflow: Simplify the PR Title so that it comes from the event
  .github/workflows/automated-version-update-pr.yml
Labels: gutenberg-mobile

#15680 Comment snippet: tracking
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedListNavigationEvent.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFollowCommentsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsActionSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderCommentsFollowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ConversationNotificationsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderFollowCommentsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderCommentsFollowUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ConversationNotificationsViewModelTest.kt
Labels: [Type] Task, Comments Unification

#15700 Use different style for CommentNotificationsBottomSheetFragment
  WordPress/src/main/java/org/wordpress/android/ui/reader/CommentNotificationsBottomSheetFragment.kt
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Enhancement, [Status] Needs Code Review, Comments Unification

#15705 Activating the feature flag for comment snippet below reader post.
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/CommentsSnippetFeatureConfig.kt
Labels: [Type] Task, Comments Unification

#15670 Fix self hosted crash in Plugin Browser
  WordPress/src/main/java/org/wordpress/android/viewmodel/plugins/PluginBrowserViewModel.kt
Labels: [Status] Needs Code Review, Jetpack Plugins, [Type] Crash, Self-hosted

#15694 Update About screen theme
  RELEASE-NOTES.txt
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/res/values/styles.xml
  build.gradle
Labels: [Type] Task, [Status] Not Ready for Merge, Unified About

#15697 Editor: Prevents the editor from handing on Share text and Reblog actions
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Bug, Posting/Editing, Reader, gutenberg-mobile

#15708 Localization support for about-automattic-android library
  Gemfile.lock
  build.gradle
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: Tooling

#15711 Merge release/18.9 into develop after code freeze
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/Pluginfile
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#15706 My Site Dashboard: Phase 2 - Address flicker issue on My Site tab
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickactions/QuickActionsCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#15714 Remove remaining subtree doc reference
  docs/README.md
Labels: Documentation

#15707 Use format instead of + concat
  .github/workflows/automated-version-update-pr.yml
Labels: gutenberg-mobile

#15716 My Site Dashboard: Phase 2 - Reorder quick start dynamic card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#15718 Enable Unified About screen for Jetpack
  WordPress/src/jetpack/res/values/strings.xml
  WordPress/src/jetpack/res/values/styles_unified_about.xml
  WordPress/src/main/java/org/wordpress/android/ui/about/UnifiedAboutViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/values/styles_unified_about.xml
Labels: [Type] Task, Unified About

#15728 My Site Dashboard: Phase 2: Metrics - Track Pull to refresh
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, My Site Dashboard

#15734 My Site Dashboard: Phase 2: Metrics - Track Post Card Footer Link Tapped
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, My Site Dashboard

#15721 My Site Dashboard: Page Behaviours - Loading States - Part 1
  WordPress/src/main/java/org/wordpress/android/ui/mysite/CurrentAvatarSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/ScanAndBackupSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/ScanAndBackupSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/domainregistration/DomainRegistrationSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsSourceTest.kt
Labels: My Site Dashboard

#15739 My Site Dashboard: Phase 2: Metrics - Track "post" site item menu Taps
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsTrackerTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, My Site Dashboard

#15737 My Site Dashboard [Phase 2]: Navigate to Posts
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
Labels: My Site Dashboard

#15719 Limit upload video duration on free plans
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/AddLocalMediaToPostUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMediaListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryMediaSaveUploadBridge.kt
  WordPress/src/main/java/org/wordpress/android/util/MediaUtilsWrapper.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/AddLocalMediaToPostUseCaseTest.kt
Labels: [Type] Task, [Status] Not Ready for Merge

#15740 My Site Dashboard: Page Behaviours - Error States - Part 1
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsDecoration.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/error/ErrorCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostItemsAdapter.kt
  WordPress/src/main/res/drawable/bg_rectangle_dashed_stroke_radius_4dp.xml
  WordPress/src/main/res/layout/my_site_dashboard_cards.xml
  WordPress/src/main/res/layout/my_site_error_card.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
Labels: My Site Dashboard

#15756 My Site Dashboard: Page Behaviours - Error States - Part 2
  WordPress/src/main/java/org/wordpress/android/ui/mysite/CurrentAvatarSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteUiStateTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
Labels: My Site Dashboard

#15763 My Site Dashboard - Phase 2 - Error Card Retry
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/error/ErrorCardViewHolder.kt
  WordPress/src/main/res/layout/my_site_error_card.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
Labels: [Status] Needs Copy Review, My Site Dashboard

#15757 Remove unused threaded comment class
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/comments/ThreadedCommentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedThreadedCommentsFeatureConfig.kt
  WordPress/src/main/res/layout/threaded_comments_activity.xml
  WordPress/src/main/res/layout/threaded_comments_fragment.xml
Labels: Comments, [Type] Task

#15762 My Site Dashboard: Phase 2: Metrics - Track Cards Shown
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/DomainRegistrationCardShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/DomainRegistrationCardShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, My Site Dashboard

#15768 My Site Dashboard - Phase 2 - Stale Message
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/infoitem/MySiteInfoItemViewHolder.kt
  WordPress/src/main/res/layout/my_site_info_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteUiStateTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
Labels: My Site Dashboard

#15764 My Site Dashboard [Phase 2]: Enable Feature Flag
  WordPress/src/main/java/org/wordpress/android/util/config/MySiteDashboardPhase2FeatureConfig.kt
Labels: My Site Dashboard

#15771 My Site Dashboard [Phase 2]: Fix Failing Connected Tests
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_106707880_dashboard_cards.json
Labels: My Site Dashboard, UI Tests

#15760 Remove comments list feature flag.
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/CommentsStoreAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedCommentsListFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Comments Unification

#15772 Separate buildscript dependency versions in build.gradle
  build.gradle
Labels: Tooling

#15765 Remove comments deprecated code
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragmentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDialogs.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentLeveler.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentListItemDecoration.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentListItemDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentListViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentSubHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsListPagerAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/CommentConstants.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/CommentDetailsActivityContract.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/OnLoadMoreListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentListItemDecoration.kt
  WordPress/src/main/res/menu/menu_comments_cab.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/util/CommentLevelerTest.kt
  WordPress/src/test/java/org/wordpress/android/util/UnifiedCommentLevelerTest.kt
Labels: [Type] Task, Comments Unification

#15761 Issue/reflect changes in threaded comments in post details
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderCommentTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/comment/ReaderCommentService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/comment/wrapper/ReaderCommentServiceStarterWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: [Type] Enhancement, Reader, Comments

#15773 Reader - Fix occasional crash on reader interests json parsing
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ParseDiscoverCardsJsonUseCase.kt
Labels: New Reader Android

#15775 Issue/move whats new to parent category
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/res/xml/app_settings.xml
Labels: [Status] Needs Code Review, [Type] Crash, Unified About

#15776 Zendesk: Fix invisible `Start a conversation` button issue
  WordPress/src/main/res/layout/zs_activity_request_list_scene_empty.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values-night/styles_zendesk.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/values/styles_zendesk.xml
Labels: Zendesk

#15741 Add block editor tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/BlockEditorPage.java
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wp/blocks_106707880.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/media/media_133.json
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_106707880_xposts.json
Labels: UI Tests
