Repository wordpress-mobile/WordPress-Android, pull requests merged in 2022-05, with the labels that each got.

#16449 Jetpack App: Pass magic link scheme to signup flow
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  build.gradle
Labels: [Status] Not Ready for Merge, Jetpack App

#16450 App Data Coverage: Add tracking in WPWebView
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/wpwebview/WPWebViewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/WPWebViewViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Tracks

#16455 Add missing parameter to InsightsLatestPostModel in unit tests
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
Labels: [Type] Bug, [Status] Needs Code Review, Testing

#16459 Hotfix - Jetpack App: Pass magic link scheme to signup flow
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  build.gradle
Labels: Jetpack App

#16457 Merge release/19.8 after code freeze
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16427 Open editor screen with blogging prompt
  WordPress/src/main/java/org/wordpress/android/models/bloggingprompts/BloggingPrompt.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/PromptReminderNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  config/detekt/baseline.xml
Labels: [Type] Enhancement, Blogging Prompts v1

#16445 Media Picker: Adds media type in the thumbnail content description
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/PhotoThumbnailViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/VideoThumbnailViewHolder.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Enhancement, Accessibility, TalkBack, Media Picker

#16428 [Site Design Revamp] Remove category filter pills
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/res/layout/home_page_picker_titlebar.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16443 Stats revamp v2 latest post summary card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ListItemWithImageViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/QuickScanItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/TitleWithMoreViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsSinceLabelFormatter.kt
  WordPress/src/main/res/layout/stats_block_list_item_with_image.xml
  WordPress/src/main/res/layout/stats_block_title_with_more_item.xml
  WordPress/src/main/res/layout/stats_quick_scan_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
  build.gradle
Labels: [Type] Task, Stats Revamp

#16475 Merge release/19.7.1 hotfix into release/19.8
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilderTest.kt
Labels: Releases

#16476 Merge release/19.8 — 19.8-rc-2 + 19.7.1 hotfix + Release Notes
  Gemfile.lock
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilderTest.kt
  fastlane/Pluginfile
  fastlane/lanes/release.rb
  version.properties
Labels: Releases

#16061 Use Buildkite AMI
  .buildkite/pipeline.yml
Labels: [Type] Enhancement

#16241 Stats revamp v2 Follower Totals card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NavigationTarget.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ValueWithChartViewHolder.kt
  WordPress/src/main/res/layout/stats_block_value_with_chart_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Stats Revamp

#16474 [Site Design Revamp] Enlarges design thumbnails
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/ThumbDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignPickerDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchHomePageLayoutsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/layout/modal_layout_picker_layouts_skeleton.xml
  WordPress/src/main/res/values-sw600dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/FetchHomePageLayoutsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16462 Fixes: User not guided to Proper tab on Navigation
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
Labels: Quick Start

#16473 Quick Start for Existing Users V2: Add new quick start task type
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/DynamicCardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/quickstart/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: Quick Start

#16480 [Site design revamp] Open preview on thumbnail tap
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutListItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
Labels: Site Creation, Part of a WIP Feature

#16488 [Site Design Revamp] Main View - Hide layouts row separators
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/res/layout/modal_layout_picker_layouts_row.xml
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16460 [Blogging prompts v1] Merge notifications feature flag with main feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsNotificationConfig.kt
  WordPress/src/main/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationScheduler.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/PromptReminderNotifier.kt
  WordPress/src/test/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationSchedulerTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/reminder/PromptReminderNotifierTest.kt
  config/detekt/baseline.xml
Labels: [Type] Enhancement, Blogging Prompts v1

#16493 Total Likes and Comments cards
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LineChartMarkerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NavigationTarget.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalCommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ValueWithChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtils.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalCommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtilsTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Status] Needs Code Review, [Type] Task, Stats Revamp

#16495 My Site Dashboard - Phase 2 - Remove Featured Flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/config/MySiteDashboardPhase2FeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
Labels: My Site Dashboard

#16486 [Site Design Revamp] Adds recommended designs section
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/ThumbDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignPickerDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendedDimensionProvider.kt
  WordPress/src/main/res/layout/modal_layout_picker_layouts_row.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16502 [Blogging prompts v1] Pass prompt ID instead of prompt content to editor screen
  WordPress/src/main/java/org/wordpress/android/models/bloggingprompts/BloggingPrompt.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/PromptReminderNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  config/detekt/baseline.xml
Labels: [Type] Task, Blogging Prompts v1

#16484 Stats revamp v2 views and visitors details
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NavigationTarget.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/UiModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/InsightsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/InsightsDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateSelector.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/res/layout/stats_detail_activity.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16498 Stats revamp v2 total like detail screen
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalLikesDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalLikesDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateSelector.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16507 [Gutenberg] Prevent x-post icon showing on self-hosted sites
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Gutenberg, gutenberg-mobile

#16490 Update Gutenberg and Aztec versions
  RELEASE-NOTES.txt
  build.gradle
  libs/editor/WordPressEditor/build.gradle
Labels: Aztec, gutenberg-mobile

#16485 [Gutenberg] Analytics - Add editor block moved event
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, gutenberg-mobile

#16517 Fix Editor Toggle
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
Labels: Posting/Editing

#16513 My Site Dashboard: Reduce `feature_flag_value(...)` logs
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteDefaultTabExperiment.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteDefaultTabExperimentTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
Labels: My Site Dashboard

#16500 Quick Start for Existing Users V2 - Refactor code to support different quick start types
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/quickstart/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartEvent.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartReminderReceiver.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartType.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/quickstart/QuickStartViewModel.kt
  WordPress/src/main/res/layout/quick_start_card.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/dynamiccards/quickstart/QuickStartItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/quickstart/QuickStartViewModelTest.kt
  build.gradle
Labels: Quick Start

#16505 Quick start for existing users V2 - Changes to tour completion
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
Labels: [Status] Needs Design Review, Quick Start

#16523 Fixes: Test failure on Trunk
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
Labels: Quick Start

#16509 Adds group field in the starter designs response
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
  build.gradle
Labels: [Type] Enhancement, [Type] Task, Site Creation

#16532 Merge release/19.8 (19.8-rc-3 + conflict resolution)
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-hu/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-uz/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  version.properties
Labels: Releases

#16321 Pages List: Add Copy link functionality for pages
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/SearchListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/menu/page_more.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  config/detekt/baseline.xml
Labels: [Type] Enhancement, Pages List

#16522 Integrate gutenberg-mobile release 1.76.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#16514 Add line chart to ValueWithChartViewHolder
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ValueWithChartViewHolder.kt
  WordPress/src/main/res/drawable-hdpi/bg_rectangle_total_stats_line_chart_blue_gradient.xml
  WordPress/src/main/res/drawable/bg_rectangle_total_stats_line_chart_green_gradient.xml
  WordPress/src/main/res/layout/stats_block_value_with_chart_item.xml
Labels: [Type] Task, Stats Revamp

#16417 Domains: enable domains only for jetpack mobile app
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteDomainsFeatureConfig.kt
  WordPress/src/main/res/layout/domains_dashboard_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilderTest.kt
Labels: [Type] Task, Jetpack App, Domains

#16530 Quick Start for Existing Users V2: Assign new tour only to new existing users
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginEpilogueActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartType.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  build.gradle
Labels: [Status] Not Ready for Merge, Quick Start

#16531 [Site Design Revamp] Randomize order of designs for categories
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendationProvider.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendationProviderTest.kt
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16533 QRCode Auth: Add feature flag for qrcode auth flow
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/QRCodeAuthFlowFeatureConfig.kt
Labels: [Type] Task, Auth post-login

#16538 [Site Design Revamp] Send recommended property with Tracks event on design selection
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16537 Quick Start for Existing Users V2: Add check notifications task
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/quickstart/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/values/ids.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Quick Start

#16510 [Site Design Revamp] Recommends designs based on chosen vertical
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendationProvider.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendationProviderTest.kt
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16546 Fixes crash occurring when rotating the Site Intent Question screen
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
Labels: [Type] Bug, Site Creation

#16549 [Site Design Revamp] Updates the UI on vertical change
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
Labels: [Type] Bug, Site Creation

#16547 [RNMobile] Update code comment for clarity
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Gutenberg, gutenberg-mobile

#16545 Stats revamp v2: Total Followers detail screen
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalFollowersDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalFollowersDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateSelector.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
Labels: [Status] Needs Code Review, [Type] Task, Stats Revamp

#16544 Quick Start for Existing Users V2 - Jetpack app - Replace app name in "Get to know the app" quick start card
  WordPress/src/jetpack/res/values/strings.xml
Labels: Quick Start

#16541 Quick start for Existing Users V2 - Media Upload Tour
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/res/layout/media_browser_new_media_menu_action_layout.xml
  WordPress/src/main/res/menu/media_browser.xml
  WordPress/src/main/res/values/strings.xml
  build.gradle
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Status] Not Ready for Merge, Quick Start

#16543 Quick Start for Existing Users V2 - Enable Feature Flag
  WordPress/src/main/java/org/wordpress/android/util/config/QuickStartExistingUsersV2FeatureConfig.kt
Labels: Quick Start

#16558 Quick Start for Existing Users V2: Add release notes
  RELEASE-NOTES.txt
Labels: Quick Start

#16525 [Blogging prompts v1] Implement introduction dialog analytics events
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/featureintroduction/FeatureIntroductionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/featureintroduction/FeatureIntroductionViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/featureintroduction/FeatureIntroductionViewModelTest.kt
  config/detekt/baseline.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blogging Prompts v1

#16559 Quick Start for Existing Users V2: Adjust "Get to know the app" title
  WordPress/src/jetpack/res/values/strings.xml
  WordPress/src/main/res/values/strings.xml
Labels: Quick Start

#16550 [Site Creation] Fix screen titles visibility on tablet for the new & updated screens
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/sitename/SiteCreationSiteNameFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationIntentsFragment.kt
Labels: [Type] Bug, Site Creation

#16561 Merge release/19.9 after Code Freeze
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/jetpack/res/values/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16556 [Site Creation] Align screen titles to left (right for RTL)
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/res/layout/home_page_picker_fragment.xml
  WordPress/src/main/res/layout/home_page_picker_titlebar.xml
  WordPress/src/main/res/layout/site_creation_header_v2.xml
  WordPress/src/main/res/layout/site_creation_intents_titlebar.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16555 [Site design revamp] Add helper text to the bottom of the theme picker
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsRowViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/res/drawable/ic_info_outline_grey_dark_24dp.xml
  WordPress/src/main/res/layout/home_page_picker_footer.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Site Creation, Part of a WIP Feature

#16529 Issue/blogging prompts visual fixes
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/res/layout/avatar_item.xml
  WordPress/src/main/res/layout/blogging_promp_card_compact.xml
  WordPress/src/main/res/layout/my_site_blogging_promp_card.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapperTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16504 Connect Blogging Prompts card to store
  WordPress/src/main/java/org/wordpress/android/ui/avatars/TrainOfAvatarsAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/avatars/TrainOfAvatarsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagementUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardSourceTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16576 Quick Start for Existing Users V2: Hide quick start for self-hosted sites
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
Labels: Quick Start

#16575 [Site Creation] Replace Dagger with Hilt for Dependency Injection
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/sitename/SiteCreationSiteNameFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/sitename/SiteCreationSiteNameViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationIntentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationIntentsViewModel.kt
Labels: [Type] Enhancement, Site Creation, Part of a WIP Feature

#16585 Quick Start for Existing Users V2: Mark reader task as done when user taps on a tag
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: Quick Start

#16593 Merge 19.9-rc-2 & hotfix 19.8.1
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/jetpack_metadata/release_notes_short.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/proguard.cfg
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/release/AndroidManifest.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
  version.properties
Labels: Releases

#16597 [Site Design Revamp] Sets the loading skeleton to the size of the recommended row
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/res/layout/modal_layout_picker_layouts_skeleton.xml
Labels: [Type] Bug, Site Creation

#16368 Refactor Account Settings Screen - Creates AccountSettingsRepository
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/module/AccountSettingsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/FetchAccountSettingsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/GetAccountUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/GetSitesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/PushAccountSettingsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/ConcurrentContinuationWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/ContinuationWrapper.kt
  config/detekt/baseline.xml
Labels: /Me

#16598 Fixes a crash when rotating the site design picker on a slow network connection
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerViewModel.kt
Labels: [Type] Bug, [Type] Crash, Site Creation

#16595 QRCode Auth: Add scan login code to Me view
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeViewModel.kt
  WordPress/src/main/res/drawable/ic_baseline_qr_code_scanner_white_24dp.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Auth post-login

#16554 Stats Revamp v2: Follower Types card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCaseTest.kt
  build.gradle
Labels: [Type] Task, Stats Revamp

#16599 Fixes a UI regression by setting the correct height in the Page Layout Picker skeleton view
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
Labels: [Type] Bug, Site Creation

#16604 Fixes focus point not being shown with animation after switching tabs
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonItemAdapter.kt
Labels: [Type] Bug, Quick Start

#16583 Adds feature config for fetching beta site designs
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchHomePageLayoutsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BetaSiteDesignsFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/FetchHomePageLayoutsUseCaseTest.kt
Labels: [Type] Task, Site Creation

#16605 QRCode Auth: Create skeleton activity, fragment, vm, test
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/main/res/layout/qrcodeauth_activity.xml
  WordPress/src/main/res/layout/qrcodeauth_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
Labels: [Type] Task, QRCode Auth

#16607 Quick Start: Track Quick Start Card Shown
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Quick Start

#16601 QRCode Auth: Add enable flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
Labels: [Type] Task, QRCode Auth

#16613 Fix: Removes Explore Plan from Quick start list
  build.gradle
Labels: Quick Start

#16614 Integrate gutenberg-mobile release 1.76.1
  build.gradle
Labels: gutenberg-mobile

#16534 Issue/connect all bp instances to store
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/PromptReminderNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/reminder/PromptReminderNotifierTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16584 [Site design revamp] Preload MShots when the site creation activity starts
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsRowViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
Labels: [Type] Enhancement, Site Creation, Part of a WIP Feature

#16611 Quick Start: Refactor tasks checklist modal adapter
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTasksDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/viewholders/CompletedHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/viewholders/TaskViewHolder.kt
Labels: Quick Start

#16586 Replace icons with spectrum icons set.
  WordPress/src/jetpack/res/drawable/app_icon_background.xml
  WordPress/src/jetpack/res/drawable/app_icon_foreground.xml
  WordPress/src/jetpack/res/mipmap-hdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xhdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xxhdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xxxhdpi/app_icon.png
  WordPress/src/main/res/drawable/app_icon_background.xml
  WordPress/src/main/res/drawable/app_icon_foreground.xml
  WordPress/src/main/res/mipmap-hdpi/app_icon.png
  WordPress/src/main/res/mipmap-xhdpi/app_icon.png
  WordPress/src/main/res/mipmap-xxhdpi/app_icon.png
  WordPress/src/main/res/mipmap-xxxhdpi/app_icon.png
Labels: [Type] Task

#16536 [Blogging prompts v1] Implement "My Site" card analytics events
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptsCardAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptsCardAnalyticsTrackerTest.kt
  config/detekt/baseline.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blogging Prompts v1

#16622 Quick Start: Remove completed list from tasks checklist modal
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTasksDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/viewholders/CompletedHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/viewholders/TaskViewHolder.kt
  WordPress/src/main/res/drawable/img_illustration_site_about_182dp.xml
  WordPress/src/main/res/drawable/img_illustration_site_brush_191dp.xml
  WordPress/src/main/res/layout/quick_start_completed_tasks_list_header.xml
  WordPress/src/main/res/layout/quick_start_dialog_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Quick Start

#16618 My Site Dashboard: Track tap on "Write first post" and "Write next post"
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
Labels: My Site Dashboard

#16620 Merge release/19.9 (19.9-rc-3 + conflict resolution)
  WordPress/src/jetpack/res/drawable/app_icon_background.xml
  WordPress/src/jetpack/res/drawable/app_icon_foreground.xml
  WordPress/src/jetpack/res/mipmap-hdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xhdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xxhdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xxxhdpi/app_icon.png
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonItemAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/quickstart/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTracker.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/res/drawable/app_icon_background.xml
  WordPress/src/main/res/drawable/app_icon_foreground.xml
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_explore_plans.xml
  WordPress/src/main/res/mipmap-hdpi/app_icon.png
  WordPress/src/main/res/mipmap-xhdpi/app_icon.png
  WordPress/src/main/res/mipmap-xxhdpi/app_icon.png
  WordPress/src/main/res/mipmap-xxxhdpi/app_icon.png
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  build.gradle
  fastlane/resources/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  version.properties
Labels: Releases

#16624 [Site design revamp] Use the custom Glide loader for preloading the thumbnails
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
Labels: [Type] Task, Site Creation

#16560 Stats revamp v2 views and visitors graph improvements
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LineChartMarkerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LineChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/LineChartAccessibilityHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/LineChartLabelFormatter.kt
  WordPress/src/main/res/color/bg_color_chip_state_list.xml
  WordPress/src/main/res/color/text_color_chip_state_list.xml
  WordPress/src/main/res/layout/stats_block_two_chips_item.xml
  WordPress/src/main/res/layout/stats_line_chart_marker.xml
  WordPress/src/main/res/values/colors_stats.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Stats Revamp

#16623 App crashes on changing the password
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AccountSettingsFragment.java
Labels: /Me

#16638 Jetpack app domains issues
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsFragment.kt
  WordPress/src/main/res/layout/domain_suggestions_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, Jetpack App, Domains

#16621 Issue/sync bp reminders swith with store
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersUiModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModel.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/PromptReminderNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/DaySelectionBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/EpilogueBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/reminder/PromptReminderNotifierTest.kt
  build.gradle
Labels: [Type] Task, Blogging Prompts v1

#16640 Merge release/19.9 after `19.9-rc-4` beta (+ conflict resolution)
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonViewHolder.kt
  WordPress/src/main/res/layout/domain_suggestions_fragment.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilderTest.kt
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16472 [Blogging prompts v1] Adjust feature introduction ems
  WordPress/src/main/res/layout/blogging_prompts_onboarding_dialog_content_view.xml
  config/detekt/baseline.xml
Labels: [Type] Enhancement, Blogging Prompts v1

#16639 Quick Start: New visuals for Quick Start Modal
  WordPress/src/jetpack/res/drawable/img_quick_start_tasks_list_header.xml
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartFullScreenDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/viewholders/HeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/viewholders/TaskViewHolder.kt
  WordPress/src/main/res/drawable/bg_rectangle_gray_10_radius_5dp.xml
  WordPress/src/main/res/drawable/img_quick_start_tasks_list_header.xml
  WordPress/src/main/res/layout/quick_start_dialog_fragment.xml
  WordPress/src/main/res/layout/quick_start_list_header_item.xml
  WordPress/src/main/res/layout/quick_start_list_item.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Design Review, Quick Start

#16646 My Site Dashboard: Fix persistent loading indicator when blogging prompt feature is disabled
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
Labels: My Site Dashboard, Blogging Prompts v1

#16648 Integrate gutenberg-mobile release 1.76.2
  build.gradle
Labels: gutenberg-mobile

#16631 Stats revampv2 empty states for some cards
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/GuideCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LineChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/TextViewHolder.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16625 Integrate gutenberg-mobile release 1.77.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#16643 Domain Search : Invalid URLs for the RTL Display
  WordPress/src/main/res/layout/site_creation_domains_item.xml
Labels: Domain Search, Site Creation

#16651 Display `Quick Start` card on site switch only when `Quick Start` is started
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartType.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  build.gradle
Labels: Quick Start

#16629 Adds quick start new visuals for quick start card
  RELEASE-NOTES.txt
  WordPress/src/jetpack/res/drawable/img_quick_start_tour_illustration.xml
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardViewHolder.kt
  WordPress/src/main/res/drawable/ic_baseline_check_24.xml
  WordPress/src/main/res/drawable/ic_baseline_format_list_numbered_24.xml
  WordPress/src/main/res/drawable/quick_start_card_horizontal_progress_drawable.xml
  WordPress/src/main/res/layout/my_site_card_toolbar.xml
  WordPress/src/main/res/layout/new_quick_start_task_type_item.xml
  WordPress/src/main/res/layout/quick_start_card.xml
  WordPress/src/main/res/layout/quick_start_list_header_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/wordpress/res/drawable/img_quick_start_tour_illustration.xml
Labels: [Type] Task, [Status] Needs Design Review, Quick Start

#16645 [Gutenberg] Bump `react-native-gesture-handler` to version `2.3.2`
  build.gradle
Labels: gutenberg-mobile

#16662 Merge release/20.0 after code freeze
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/jetpack_metadata/release_notes_short.txt
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16616 Stats Revamp v2: Pie chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/PieChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/widgets/RoundedSlicesPieChartRenderer.kt
  WordPress/src/main/res/drawable/ic_dot_white_12dp.xml
  WordPress/src/main/res/layout/item_pie_chart_legend.xml
  WordPress/src/main/res/layout/stats_block_pie_chart_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16666 UI tweaks to the Quick Start Card and Site header
  WordPress/src/main/res/layout/my_site_info_header_card.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Needs Design Review, My Site Dashboard

#16667 Adds release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, Site Creation

#16671 Merge Gutenberg 1.77.0 after branch
  build.gradle
Labels: Gutenberg, gutenberg-mobile

#16659 Stats Revamp v2: No data states for total cards
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalCommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ValueWithChartViewHolder.kt
Labels: [Type] Task, Stats Revamp
