Repository wordpress-mobile/WordPress-Android, pull requests merged in 2022-07, with the labels that each got.

#16841 Enables assignment requests for unauthenticated users with an anonymous_id
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsTrackerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/experiments/ExPlat.kt
  WordPress/src/test/java/org/wordpress/android/util/experiments/ExPlatTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: [Type] Enhancement, ExPlat

#16849 Stats Revamp v2: Fix detail screen not loading
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
Labels: [Type] Bug, Stats Revamp

#16840 Weekly roundup format notification
  WordPress/src/main/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifier.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifierTest.kt
Labels: [Type] Enhancement, Notifications

#16858 Merge hotfix 20.1.1 into release/20.2
  WordPress/src/main/AndroidManifest.xml
Labels: Releases

#16859 Merge release/20.2 after rc-3 + hotfix
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  version.properties
Labels: Releases

#16861 Fix wrong previous week data on total stats cards
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
Labels: [Type] Bug, [Status] Needs Code Review, Stats Revamp

#16864 Stats revamp v2 fix date range issue on views & visitors graph
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LineChartViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
Labels: [Type] Bug, Stats Revamp

#16868 Stats: Fix default stats cards save problem
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
Labels: [Type] Bug, [Status] Needs Code Review, Stats Revamp

#16869 Implement blogging prompts onboarding flag to decide when to show the site picker
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/usecase/GetIsFirstBloggingPromptsOnboardingUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/usecase/SaveFirstBloggingPromptsOnboardingUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/usecase/GetIsFirstBloggingPromptsOnboardingUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/usecase/SaveFirstBloggingPromptsOnboardingUseCaseTest.kt
Labels: [Type] Enhancement, Blogging Prompts v1

#16850 Add Jetpack banner to Stats and Notifications screens
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/res/drawable/ic_jetpack_logo_green_24dp.xml
  WordPress/src/main/res/layout/jetpack_banner.xml
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/stats_list_activity.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack

#16839 Addresses lint issues in AGP 7.2.1 update
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerJobService.java
  WordPress/src/main/java/org/wordpress/android/widgets/TextDrawable.java
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/main/res/values-night/styles_zendesk.xml
  WordPress/src/main/res/values/dimens.xml
  libs/editor/src/main/res/values/styles.xml
Labels: Lint

#16872 Merge changes from 20.2-rc-4
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LineChartViewHolder.kt
  WordPress/src/main/res/drawable/ic_jetpack_logo_green_24dp.xml
  WordPress/src/main/res/layout/jetpack_banner.xml
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/stats_list_activity.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16871 Stats revamp v2 format text of guide card on total likes
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/TotalLikesDetailUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16844 [Tooling] [L10n] Add Jetpack-specific strings to localization pipeline
  fastlane/Fastfile
  fastlane/jetpack_resources/values/strings.xml
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/screenshots.rb
Labels: Tooling

#16881 [Fix] Remove Only the Default Initializer to Provide Custom Configuration
  WordPress/src/main/AndroidManifest.xml
Labels: Releases

#16883 Update Dagger to 2.42
  settings.gradle
Labels: dependency update

#16878 Update our dependencies to AGP 7.2.1 PRs
  build.gradle
  libs/editor/build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  settings.gradle
Labels: dependency update

#16834 Update Gradle to 7.4.2 & AGP to 7.2.1
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/service/InstallationReferrerJobService.java
  WordPress/src/main/java/org/wordpress/android/widgets/TextDrawable.java
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/main/res/values-night/styles_zendesk.xml
  WordPress/src/main/res/values/dimens.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  libs/editor/build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/res/values/styles.xml
  settings.gradle
Labels: Tooling

#16885 Integrate pending Gutenberg Mobile 1.79.0 changes
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
  libs/editor/build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#16884 Integrate gutenberg-mobile release 1.79.0
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#16879 Stats revamp v2 update prompt dialog
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/UpdateAlertDialogFragment.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Stats Revamp

#16889 Fix content description on total followers list item
  WordPress/src/main/res/values/strings.xml
Labels: Stats Revamp

#16873 Migration: Android 12 Removes unsafe intent launches
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/InstanceIDService.java
Labels: Android 12

#16890 Merge release/20.3 after code-freeze (20.3-rc-1)
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16877 Fix JP Screenshot Automation UI Tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/EditorTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/JPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/main/res/layout/feature_introduction_dialog_fragment.xml
  libs/mocks/src/main/assets/mocks/mappings/wpcom/activity/wpcom_v2_sites_181977606_activity.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_181977606.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_181977606_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_185119032_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_185124945.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom-v2-sites-181977606-rewind-downloads.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom-v2-sites-181977606-rewind.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_181977606_rewind_capabilities.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_185119032_rewind_capabilities.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_185124945_rewind_capabilities.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/me/jetpack_rest_v11_me_sites.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/me/rest_v11_me_sites.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/plans/rest_v13_sites_181977606_plans.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/posts/rest_v11_sites_181977606_posts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/scan/wpcom_v2_sites_181977606_scan.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v11_sites_181977606_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v11_sites_185119032_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_181977606_xposts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_185124945_xposts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_181977606_dashboard_cards.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_181977606_gutenberg.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_185119032_gutenberg.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-authors-day.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-posts-day.json
Labels: [Type] Task, Jetpack Mobile, Jetpack App, UI Tests

#16846 Fix WP Screenshot Automation UI Tests
  WordPress/src/androidTest/java/org/wordpress/android/e2e/EditorTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/PostsListPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/JPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/main/res/layout/feature_introduction_dialog_fragment.xml
  libs/mocks/src/main/assets/mocks/mappings/wpcom/activity/wpcom_v2_sites_181977606_activity.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_181977606.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_181977606_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_185119032_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack-blogs/rest_v11_jetpack_blogs_185124945.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom-v2-sites-181977606-rewind-downloads.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom-v2-sites-181977606-rewind.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_181977606_rewind_capabilities.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_185119032_rewind_capabilities.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_185124945_rewind_capabilities.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/me/jetpack_rest_v11_me_sites.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/me/rest_v11_me_sites.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/plans/rest_v13_sites_181977606_plans.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/posts/rest_v11_sites_181977606_posts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/scan/wpcom_v2_sites_181977606_scan.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v11_sites_181977606_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v11_sites_185119032_settings.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_181977606_xposts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_185124945_xposts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_181851495_dashboard_cards.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_181977606_dashboard_cards.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_181977606_gutenberg.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_185119032_gutenberg.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-authors-day.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_top-posts-day.json
Labels: [Type] Task, UI Tests

#16902 [Tooling/L10n] Ensure Jetpack does not fallback to WordPress copies for unsupported locales
  fastlane/lanes/localization.rb
Labels: Tooling

#16901 Add Jetpack badge to My Site
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/MySiteJetpackBadgeViewHolder.kt
  WordPress/src/main/res/drawable-night/ic_jetpack_logo_24dp.xml
  WordPress/src/main/res/drawable/ic_jetpack_logo_24dp.xml
  WordPress/src/main/res/drawable/ic_jetpack_logo_white_24dp.xml
  WordPress/src/main/res/layout/jetpack_badge.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_chip.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Jetpack Mobile, Jetpack App

#16908 Jetpack powered feature config
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackPoweredFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Jetpack Mobile, Jetpack App

#16911 Show Jetpack badge on Me, App Settings, Activity Detail, Notifications Settings & Reader Post
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/res/layout/activity_log_item_detail.xml
  WordPress/src/main/res/layout/jetpack_badge_footer.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Type] Task, Jetpack Mobile, Jetpack App

#16914 Jetpack banner improvements
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/res/layout/jetpack_badge.xml
  WordPress/src/main/res/layout/jetpack_banner.xml
Labels: [Status] Needs Code Review, [Type] Task, Jetpack

#16904 Merge Release Notes for 20.3
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  fastlane/lanes/localization.rb
Labels: Releases

#16916 Move Dependency Tree Diff to Buildkite
  .buildkite/commands/dependency-tree-diff.sh
  .buildkite/pipeline.yml
  .circleci/config.yml
Labels: Tooling

#16913 [Gutenberg] Add shouldUseFastImage capability
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergPropsBuilder.kt
Labels: gutenberg-mobile

#16920 Show Jetpack banner when searching in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
Labels: [Type] Task, Jetpack Mobile, Jetpack App

#16915 Use Buildkite for Instrumented Tests
  .buildkite/commands/dependency-tree-diff.sh
  .buildkite/commands/instrumented-tests.sh
  .buildkite/pipeline.yml
  .circleci/config.yml
  .configure
  .configure-files/firebase.secrets.json.enc
  Gemfile.lock
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ContactUsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.java
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/lanes/test.rb
Labels: Tooling

#16922 [Update Detekt Configuration] Build Upon Default Config & Enable All Modules
  .buildkite/pipeline.yml
  WordPress/build.gradle
  WordPress/src/debug/java/org/wordpress/android/WPWellSqlConfig.kt
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/LoginPrologueFragment.kt
  WordPress/src/wordpress/java/org.wordpress.android.ui.accounts.login/LoginPrologueFragment.kt
  build.gradle
  config/detekt/baseline.xml
  config/detekt/detekt.yml
  docs/coding-style.md
  libs/annotations/src/main/java/org/wordpress/android/annotation/FeatureInDevelopment.kt
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergDialogFragment.kt
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/crop/CropFragment.kt
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/crop/CropViewModel.kt
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewModel.kt
  libs/processors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessor.kt
Labels: Tooling

#16875 Media - Add large and medium image sizes
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/BlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostUtilsUploadProcessingTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/AudioBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/CoverBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/FileBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/GalleryBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/ImageBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaTextBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaUploadCompletionProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoBlockProcessorTest.kt
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Media, gutenberg-mobile

#16925 Integrate gutenberg-mobile release 1.79.1
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#16926 Jetpack banner scroll animation
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackBannerUtils.kt
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/reader_fragment_layout.xml
Labels: Jetpack

#16927 [Update Detekt Version] Update Detekt to 1.16.0
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/java/org/wordpress/android/Constants.java
  WordPress/src/main/java/org/wordpress/android/WordPress.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/jetpack/LoginNoSitesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/CommentsStoreAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/usecases/CreateCartUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/usecases/FetchPlansUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/GifMediaInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/JetpackPoweredDialogViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/JetpackPoweredViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/WPEditTextWithChipsOutlined.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerUiItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StoriesEventListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsInterfaceWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/PostSubscribersApiCallsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/MapViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/prefs/StoriesPrefs.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/usecase/LoadStoryFromStoriesPrefsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/AuthenticationUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ContextExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostFetcher.kt
  WordPress/src/main/java/org/wordpress/android/widgets/AppRatingDialog.kt
  WordPress/src/main/java/org/wordpress/android/widgets/ColorUnderlineSpan.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModelTest.kt
  config/detekt/baseline.xml
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/crop/CropFragment.kt
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/crop/CropViewModel.kt
  libs/processors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessor.kt
  settings.gradle
Labels: Tooling, Tech debt, dependency update

#16929 Jetpack Focus: Enhance screenshots
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/JPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_block_layouts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_blogging_prompts.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v2_sites_common_starter_site_designs.json
Labels: [Type] Task, Jetpack App, UI Tests

#16931 Integrate gutenberg-mobile release 1.80.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#16937 Jetpack Focus: Disable bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/MySiteJetpackBadgeViewHolder.kt
Labels: [Type] Task, Jetpack, Jetpack Mobile, Jetpack App

#16838 [UI Tests] Fix flaky `allDayStatsLoad` test
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.java
Labels: UI Tests

#16939 Stop WPScreenshot.editBlogPost from running
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
Labels: [Type] Task, UI Tests

#16936 Fix: Logout after QR Code Flow deeplink
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
Labels: [Type] Task, QRCode Auth

#16924 Jetpack Focus: Update main store listing content
  fastlane/jetpack_metadata/android/en-US/full_description.txt
  fastlane/jetpack_metadata/android/en-US/short_description.txt
  fastlane/jetpack_metadata/android/en-US/title.txt
Labels: [Type] Task, Jetpack

#16891 Update `compileSdkVersion` (from `29` to `31`) for All Modules
  libs/analytics/build.gradle
  libs/editor/build.gradle
  libs/mocks/build.gradle
  libs/networking/build.gradle
Labels: Tooling

#16940 Enables the jetpack powered badge
  RELEASE-NOTES.txt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackPoweredFeatureConfig.kt
Labels: [Type] Task, Jetpack Mobile, Jetpack App

#16941 Remove Jetpack banner from Themes
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/res/layout/theme_browser_activity.xml
Labels: [Type] Task, Jetpack

#16942 Remove Jetpack banner from People
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/res/layout/people_management_activity.xml
Labels: [Type] Task, Jetpack

#16943 Replaces the different checks for jetpack branding visibility with a single flag
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackPoweredFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/WindowExtensions.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Jetpack

#16944 Refactor swipeToAvoidGrayOverlay to ignore failures and become reusable
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/JPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/util/UiTestingUtils.kt
Labels: [Type] Enhancement, UI Tests

#16917 Move Release Builds to Buildkite
  .buildkite/beta-builds.yml
  .buildkite/commands/beta-build.sh
  .buildkite/commands/installable-build.sh
  .buildkite/commands/lint.sh
  .buildkite/commands/release-build.sh
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  fastlane/lanes/release.rb
Labels: Releases, Tooling

#16945 Merge 20.4 into trunk
  .buildkite/beta-builds.yml
  .buildkite/commands/beta-build.sh
  .buildkite/commands/installable-build.sh
  .buildkite/commands/lint.sh
  .buildkite/commands/release-build.sh
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/lanes/release.rb
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16935 [Gutenberg Mobile] Enable the native editor to receive a host app's namespace
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergPropsBuilder.kt
Labels: Gutenberg, gutenberg-mobile

#16946 Jetpack focus: Open the app if installed otherwise store link
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncherWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/JetpackPoweredBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/JetpackPoweredDialogViewModel.kt
Labels: [Type] Task, Jetpack, Jetpack Mobile, Jetpack App

#16949 [Update Detekt Version] Update Detekt to 1.19.0
  config/detekt/detekt.yml
  settings.gradle
Labels: Tooling, Tech debt, dependency update

#16954 Jetpack focus: Connect jetpack powered overlay to badges
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/main/res/layout/jetpack_badge.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
Labels: [Type] Task, Jetpack, Jetpack Mobile, Jetpack App

#16950 [UI Tests] Added support for `Jetpack powered` ad.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/SignupFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
Labels: UI Tests

#16961 [Update Detekt Version] Update Detekt to 1.21.0
  WordPress/src/main/java/org/wordpress/android/modules/CrashLoggingModule.kt
  WordPress/src/main/java/org/wordpress/android/modules/FluxCModule.kt
  WordPress/src/main/java/org/wordpress/android/modules/LoginModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/filter/ActivityLogTypeFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/usecases/CreateCartUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/usecases/FetchPlansUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/ListScenarioUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/ExoPlayerUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/WPEditTextWithChipsOutlined.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GetCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PrepublishingHomeAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/PostListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/AppendMediaToEditorUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/homepage/HomepageSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/PrefMainSwitchToolbarView.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/viewholders/TaskViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/reblog/ReblogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FetchFollowedTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FetchInterestTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FollowInterestTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderPostBookmarkUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendationProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/CreateSiteUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchHomePageLayoutsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchSegmentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationIntentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/UpdateAlertDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/util/wizard/WizardManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/SingleEventObservable.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/history/HistoryViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/widgets/PostListButton.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaUploadCompletionProcessorPatternsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ClicksUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/FileDownloadsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  build.gradle
  config/detekt/baseline.xml
  config/detekt/detekt.yml
  settings.gradle
Labels: Tooling, Tech debt, dependency update

#16964 Adds: Android entry point to the Notification detail activity
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
Labels: Notifications

#16957 Jetpack Focus: Jetpack powered bottom sheet feature config
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackPoweredBottomSheetFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
Labels: [Type] Task, Jetpack, Jetpack Mobile, Jetpack App

#16956 Updates: Exported attributes of activities
  WordPress/src/main/AndroidManifest.xml
Labels: [Type] Task, Tooling, Android 12

#16965 Jetpack focus: Connect Jetpack overlay to banners
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
Labels: [Type] Task, Jetpack, Jetpack Mobile, Jetpack App

#16959 Merge Release Notes for 20.4
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#16934 Migrate QRCode Auth to Compose
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/compose/Color.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/WordPressTheme.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/VerticalScrollBox.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/AppTheme.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/JetpackColors.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/WordPressColors.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/unit/FontSize.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/unit/Margin.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/UiStringText.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/components/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/components/SecondaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/components/Subtitle.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/components/Title.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/state/ContentState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/state/ErrorState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/state/LoadingState.kt
  WordPress/src/main/res/layout/qrcodeauth_content_view.xml
  WordPress/src/main/res/layout/qrcodeauth_error_view.xml
  WordPress/src/main/res/layout/qrcodeauth_fragment.xml
  WordPress/src/main/res/layout/qrcodeauth_loading_view.xml
  WordPress/src/main/res/values/qrcodeauth_styles.xml
  config/detekt/detekt.yml
Labels: [Type] Enhancement, [Status] Needs Code Review, Compose, QRCode Auth
