Repository wordpress-mobile/WordPress-Android, pull requests merged in 2022-06, with the labels that each got.

#16669 Fix wrong scope of StatsViewModel
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
Labels: [Type] Bug, Stats

#16608 Stats revamp v2 action cards
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NavigationTarget.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ActionCardGrowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ActionCardReminderUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ActionCardScheduleUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ActionCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/TextViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/ActionCardHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/res/layout/stats_block_list_action_card.xml
  WordPress/src/main/res/layout/stats_list_block.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
  build.gradle
Labels: [Type] Task, Stats Revamp

#16683 Stats Revamp v2: Update card title style
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/TitleWithMoreViewHolder.kt
  WordPress/src/main/res/layout/stats_block_title_item.xml
  WordPress/src/main/res/layout/stats_block_title_with_more_item.xml
  WordPress/src/main/res/layout/stats_date_selector.xml
  WordPress/src/main/res/values/stats_styles.xml
Labels: [Type] Task, Stats Revamp

#16679 Merge Editorial Release Notes from release/20.0
  Gemfile.lock
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  fastlane/Pluginfile
Labels: Releases

#16687 Enable pseudoLocales
  WordPress/build.gradle
Labels: [Type] Enhancement, Localization

#16677 Replace deprecated display apis with windowmetrics apis
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/EditorPhotoPicker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPhotoViewerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderResourceVars.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostTagsUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ThreadedCommentsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderThumbnailStrip.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/util/DisplayUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilderTest.kt
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/EditorMediaUtils.java
Labels: [Type] Task, Android 12

#16369 Refactor Account Settings Screen - Creates AccountSettingsViewModel
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsOptimisticUpdateHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/PushAccountSettingsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModelTest.kt
  config/detekt/baseline.xml
Labels: /Me

#16090 Android 12: Performance - Remove notification trampoline
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageHandler.java
  WordPress/src/main/java/org/wordpress/android/push/NativeNotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/ShareAndDismissNotificationReceiver.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
Labels: Android 12

#16692 [Site design revamp] Adds margin between recommended design title and subtitle
  WordPress/src/main/res/layout/modal_layout_picker_layouts_row.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Type] Task, Site Creation

#16693 [Site design revamp] Remove selection border when collapsing themes
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutViewHolder.kt
Labels: [Type] Task, Site Creation

#16663 [Blogging prompts v1] Hide "Remove from dashboard", hide share prompt button, decode HTML in prompt cards
  WordPress/src/main/java/org/wordpress/android/ui/main/AddContentAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationScheduler.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/prompt/PromptReminderNotifier.kt
  WordPress/src/main/res/layout/my_site_blogging_promp_card.xml
  WordPress/src/main/res/menu/blogging_prompt_card_menu.xml
  WordPress/src/test/java/org/wordpress/android/workers/reminder/PromptReminderNotifierTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16682 Stats Revamp v2: Vertical spacings on cards
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ValueWithChartViewHolder.kt
  WordPress/src/main/res/layout/stats_block_list_guide_card.xml
  WordPress/src/main/res/layout/stats_block_two_chips_item.xml
Labels: [Type] Enhancement, Stats Revamp

#16700 [Site Design Revamp] Fix blank theme preview after orientation change
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
Labels: Site Creation

#16468 Site Design Screen Improvements
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutCategoryUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutListItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutsRowViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/ThumbDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mlp/ModalLayoutPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/sitename/SiteCreationSiteNameFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/sitename/SiteCreationSiteNameViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignPickerDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendationProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendedDimensionProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchHomePageLayoutsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationIntentsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/verticals/SiteCreationIntentsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/drawable/ic_info_outline_grey_dark_24dp.xml
  WordPress/src/main/res/drawable/top_divider_background.xml
  WordPress/src/main/res/layout-sw600dp/home_page_picker_bottom_toolbar.xml
  WordPress/src/main/res/layout/home_page_picker_bottom_toolbar.xml
  WordPress/src/main/res/layout/home_page_picker_footer.xml
  WordPress/src/main/res/layout/home_page_picker_fragment.xml
  WordPress/src/main/res/layout/home_page_picker_titlebar.xml
  WordPress/src/main/res/layout/modal_layout_picker_layouts_row.xml
  WordPress/src/main/res/layout/modal_layout_picker_layouts_skeleton.xml
  WordPress/src/main/res/layout/site_creation_header_v2.xml
  WordPress/src/main/res/layout/site_creation_intents_titlebar.xml
  WordPress/src/main/res/values-sw600dp/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/FetchHomePageLayoutsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/theme/SiteDesignRecommendationProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Enhancement, Site Creation

#16699 Android 12: Backup and restore - New format for the XML configuration
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/res/xml/backup_scheme.xml
  WordPress/src/main/res/xml/legacy_backup_scheme.xml
Labels: Android 12

#16702 [Site Design Revamp] Removed small border on top and bottom of recommended design
  WordPress/src/main/res/values/dimens.xml
Labels: [Type] Task, Site Creation

#16701 [Tooling] Remove duplicate locales in translations download
  fastlane/lanes/localization.rb
Labels: Tooling

#16681 Issue/do not show next post card when bp card is visible
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16676 Issue/mark blogging prompt as answered
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/editor/EditorBloggingPromptsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardSourceTest.kt
  build.gradle
Labels: [Type] Task, Blogging Prompts v1

#16697 Issue/skip blogging prompt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardSourceTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16685 Stats revamp v2 detail screens date pickers
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NavigationTarget.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/InsightsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalCommentsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalCommentsDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalFollowersDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalFollowersDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalLikesDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/TotalLikesDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalCommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalCommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16698 Issue/prompt card visibility logic
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16712 [Blogging prompts v1] Filter self-hosted sites from site picker in onboarding dialog flow
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
Labels: [Type] Task, Blogging Prompts v1

#16696 Fix deeplink verification
  RELEASE-NOTES.txt
  WordPress/src/main/AndroidManifest.xml
Labels: [Type] Bug

#16722 Add JP flag to BP feature config.
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsFeatureConfig.kt
Labels: [Type] Task, Blogging Prompts v1

#16657 [Blogging prompts v1] Update editor analytics events
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/prompt/PromptReminderNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/PostEditorAnalyticsSessionTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blogging Prompts v1

#16721 Fix connected tests
  libs/mocks/WordPressMocks/src/main/assets/mocks/mappings/wpcom/posts/posts-first.json
Labels: Testing

#16720 Quick Start: Fix quick start focus point RTL issues
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
Labels: Quick Start

#16725 [Blogging prompts v1] Fix trailing label item with minimum 2 lines
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/res/layout/blogging_prompt_card_compact.xml
  WordPress/src/main/res/layout/trailing_label_item.xml
Labels: [Type] Task, Blogging Prompts v1

#16642 Add WordPress and Jetpack Installable Builds
  .buildkite/commands/jetpack-installable-build.sh
  .buildkite/commands/wordpress-installable-build.sh
  .buildkite/pipeline.yml
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/lanes/build.rb
Labels: Tooling

#16726 Integrate gutenberg-mobile release 1.78.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#16728 Fix blogging prompts select correct site in picker and minor UI fixes
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/UpdateSelectedSiteListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/ReminderNotifier.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/prompt/PromptReminderNotifier.kt
  WordPress/src/test/java/org/wordpress/android/workers/reminder/PromptReminderNotifierTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16723 Issue/show onboarding dialog on app start
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/featureintroduction/FeatureIntroductionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/SnackbarSequencer.kt
  WordPress/src/main/res/layout/feature_introduction_dialog_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16729 [Blogging prompts v1] Update release notes with blogging prompts
  RELEASE-NOTES.txt
Labels: [Type] Task, Blogging Prompts v1

#16730 Turn default blogging reminders FF to ON
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsFeatureConfig.kt
Labels: [Type] Task, Blogging Prompts v1

#16694 Fix/16689 notifications not dismissing when logged out
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
Labels: Notifications

#16706 QR Code Auth: Part 1 - Launching the flow
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthActivity.kt
  WordPress/src/main/res/layout/qrcodeauth_activity.xml
Labels: [Type] Task, QRCode Auth

#16707 QR Code Auth: Part 2 - Layouts, styles, strings, and illustrations
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/res/drawable/img_illustration_qrcode_auth_login_success_218dp.xml
  WordPress/src/main/res/drawable/img_illustration_qrcode_auth_validated_152dp.xml
  WordPress/src/main/res/layout/qrcodeauth_content_view.xml
  WordPress/src/main/res/layout/qrcodeauth_error_view.xml
  WordPress/src/main/res/layout/qrcodeauth_fragment.xml
  WordPress/src/main/res/layout/qrcodeauth_loading_view.xml
  WordPress/src/main/res/values/qrcodeauth_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, QRCode Auth

#16708 QR Code Auth: Part 3 - UiState introduction
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiStateType.kt
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiStateMapperTest.kt
Labels: [Type] Task, QRCode Auth

#16711 QR Code Auth: Part 6 - Save/Restore state and render UI
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
Labels: [Type] Task, QRCode Auth

#16713 QR Code Auth: Part 7 - Implement FluxC Validate and Authenticate calls
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/main/res/layout/qrcodeauth_error_view.xml
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
Labels: [Type] Task, QRCode Auth

#16714 QRCode Auth: Add tracking events
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, QRCode Auth

#16741 Merge release/20.1 after code freeze
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16703 Stats Revamp v2: Feature Announcement
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeatureIntroViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeaturesIntroAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeaturesIntroDialogFragment.kt
  WordPress/src/main/res/drawable-hdpi/stats_feature_intro.png
  WordPress/src/main/res/drawable-xhdpi/stats_feature_intro.png
  WordPress/src/main/res/drawable-xxhdpi/stats_feature_intro.png
  WordPress/src/main/res/drawable-xxxhdpi/stats_feature_intro.png
  WordPress/src/main/res/layout/stats_revamp_v2_features_intro_content_view.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/WordPressAnalytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Stats Revamp

#16747 [Site Design Revamp] Reduce recommended design thumbnail sizes
  WordPress/src/main/res/values/dimens.xml
Labels: [Type] Task

#16749 Fix a typo in a newly-introduced string for 20.1
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases, Localization

#16750 Merge release/20.1 to land a typo fix
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#16754 Stats Revamp v2: Fix date problem on line chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/LineChartLabelFormatter.kt
Labels: [Type] Bug, Stats Revamp

#16744 [Modules Restructuring] Restructure Analytics Module
  WordPress/build.gradle
  libs/analytics/.gitignore
  libs/analytics/README.md
  libs/analytics/WordPressAnalytics/build.gradle
  libs/analytics/WordPressAnalytics/gradle.properties-example
  libs/analytics/build.gradle
  libs/analytics/settings.gradle
  libs/analytics/src/main/AndroidManifest.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsException.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsInjectExperimentProperties.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsMetadata.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/Tracker.java
  settings.gradle
Labels: Tooling

#16752 [Modules Restructuring] Restructure Networking Module
  WordPress/build.gradle
  libs/networking/.gitignore
  libs/networking/README.md
  libs/networking/WordPressNetworking/build.gradle
  libs/networking/WordPressNetworking/gradle.properties-example
  libs/networking/build.gradle
  libs/networking/settings.gradle
  libs/networking/src/main/AndroidManifest.xml
  libs/networking/src/main/java/org/wordpress/android/networking/Authenticator.java
  libs/networking/src/main/java/org/wordpress/android/networking/AuthenticatorRequest.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientFactory.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientFactoryAbstract.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientFactoryDefault.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientUtils.java
  settings.gradle
Labels: Tooling

#16761 Merge release/20.1 with Editorialized Release Notes
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#16764 Integrate gutenberg-mobile release 1.78.1
  build.gradle
Labels: gutenberg-mobile

#16758 Remove Site Name experiment code and set feature flag to disabled
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/ExperimentModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteNameFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/experiments/SiteNameABExperiment.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Site Creation, Tech debt

#16751 Updates: the scrolling behaviour of the site header
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
Labels: Quick Start

#16763 QR Code Auth: Implement flow
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthActionEvent.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthDialogModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiStateType.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthValidator.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/UriWrapper.kt
  WordPress/src/main/res/drawable/img_illustration_qrcode_auth_login_success_218dp.xml
  WordPress/src/main/res/drawable/img_illustration_qrcode_auth_validated_152dp.xml
  WordPress/src/main/res/layout/qrcodeauth_activity.xml
  WordPress/src/main/res/layout/qrcodeauth_content_view.xml
  WordPress/src/main/res/layout/qrcodeauth_error_view.xml
  WordPress/src/main/res/layout/qrcodeauth_fragment.xml
  WordPress/src/main/res/layout/qrcodeauth_loading_view.xml
  WordPress/src/main/res/values/qrcodeauth_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, QRCode Auth

#16768 Merge release/20.1 (20.1-rc-2)
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  version.properties
Labels: Releases

#16771 QRCode Auth: Enable for Jetpack Only
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/QRCodeAuthFlowFeatureConfig.kt
Labels: [Type] Task, QRCode Auth

#16770 QRCode Auth: Launch flow by deep link
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlers.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeAuthLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlersTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
Labels: [Type] Task, QRCode Auth

#16766 Stats revamp v2: Update for date pickers
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/PostsAndPagesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalCommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
Labels: [Type] Task, Stats Revamp

#16777 Fix duplicate legends problem on the pie chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/PieChartViewHolder.kt
Labels: [Type] Bug, [Status] Needs Code Review, Stats Revamp

#16776 Stats Revamp v2: Add tracks
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeatureIntroViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeaturesIntroDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ActionCardGrowUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ActionCardReminderUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ActionCardScheduleUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalCommentsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Status] Needs Code Review, [Type] Task, Stats Revamp

#16773 Support HEIC/ HEIF files in media picker
  RELEASE-NOTES.txt
  build.gradle
Labels: Media

#16778 Refresh BP card when date changes
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardSourceTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16786 Update grow action card course link
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
Labels: [Status] Needs Code Review, [Type] Task, Stats Revamp

#16783 QRCode Auth: Additional track events
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthUiStateType.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, QRCode Auth

#16793 Merge 20.1-rc-3 beta
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  version.properties
Labels: Releases

#16673 Fixed category title in RTL languages
  WordPress/src/main/res/layout/modal_layout_picker_layouts_row.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Type] Enhancement, Site Creation

#16806 [Do Not Merge] - Triggering CI on https://github.com/wordpress-mobile/WordPress-Android/pull/16673
  WordPress/src/main/res/layout/modal_layout_picker_layouts_row.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Type] Enhancement, Site Creation

#16802 Stats revamp v2: Review accessibility on graphs
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LineChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/LineChartAccessibilityHelper.kt
  WordPress/src/main/res/layout/stats_block_line_chart_item.xml
Labels: [Type] Task, Stats Revamp

#16790 Quick start for existing users v2 Delete - "edit your homepage" tour
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/dynamiccards/quickstart/QuickStartItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartNoticeDetails.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTaskDetails.kt
  WordPress/src/main/java/org/wordpress/android/util/QuickStartUtils.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/res/drawable/img_illustration_quick_start_task_edit_your_homepage.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  build.gradle
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Quick Start

#16787 fix: Image block preserves alt text from media library
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
  build.gradle
  libs/editor/WordPressEditor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: [Type] Bug, Media, gutenberg-mobile

#16807 Stats revamp v2 update copy changes
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ActionCardViewHolder.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Stats Revamp

#16808 Stats revamp v2 on jetpack app only
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeatureIntroViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeaturesIntroDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16812 Fix line chart color problems
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LineChartViewHolder.kt
  WordPress/src/main/res/drawable/bg_rectangle_stats_line_chart_blue_gradient.xml
  WordPress/src/main/res/drawable/bg_rectangle_stats_line_chart_purple_gradient.xml
  WordPress/src/main/res/values/stats_styles.xml
Labels: [Type] Task, Stats Revamp

#16803 Replace app icons with default set
  WordPress/src/jetpack/res/drawable/app_icon_background.xml
  WordPress/src/jetpack/res/drawable/app_icon_foreground.xml
  WordPress/src/jetpack/res/mipmap-hdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xhdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xxhdpi/app_icon.png
  WordPress/src/jetpack/res/mipmap-xxxhdpi/app_icon.png
  WordPress/src/main/res/drawable/app_icon_background.xml
  WordPress/src/main/res/drawable/app_icon_foreground.xml
  WordPress/src/main/res/mipmap-hdpi/app_icon.png
  WordPress/src/main/res/mipmap-xhdpi/app_icon.png
  WordPress/src/main/res/mipmap-xxhdpi/app_icon.png
  WordPress/src/main/res/mipmap-xxxhdpi/app_icon.png
Labels: [Type] Task

#16810 [Blogging prompts v1] Increase "?" buttons area for compact card and reminder dialog
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/res/layout/blogging_prompt_card_compact.xml
  WordPress/src/main/res/layout/blogging_reminders_prompt_switch.xml
Labels: [Type] Task, Blogging Prompts v1

#16798 QR Code Auth: Prep for release
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/QRCodeAuthFlowFeatureConfig.kt
Labels: [Type] Task, QRCode Auth

#16809 [Modules Restructuring] Remove Editor Example Module
  libs/editor-example/README.md
  libs/editor-example/build.gradle
  libs/editor-example/src/main/AndroidManifest.xml
  libs/editor-example/src/main/assets/example/cowboy-cat.jpg
  libs/editor-example/src/main/assets/example/example-content.html
  libs/editor-example/src/main/java/org/wordpress/android/editor/example/EditorExampleActivity.java
  libs/editor-example/src/main/java/org/wordpress/android/editor/example/MainExampleActivity.java
  libs/editor-example/src/main/res/layout/activity_aztec_editor.xml
  libs/editor-example/src/main/res/layout/activity_example.xml
  libs/editor-example/src/main/res/layout/activity_gutenberg_editor.xml
  libs/editor-example/src/main/res/mipmap-hdpi/ic_launcher.png
  libs/editor-example/src/main/res/mipmap-mdpi/ic_launcher.png
  libs/editor-example/src/main/res/mipmap-xhdpi/ic_launcher.png
  libs/editor-example/src/main/res/mipmap-xxhdpi/ic_launcher.png
  libs/editor-example/src/main/res/values/colors.xml
  libs/editor-example/src/main/res/values/strings.xml
  libs/editor-example/src/main/res/values/styles.xml
  libs/editor-example/src/test/java/org/wordpress/android/editor/EditorFragmentAbstractTest.java
  libs/editor-example/src/test/java/org/wordpress/android/editor/HtmlStyleTextWatcherTest.java
  libs/editor-example/src/test/java/org/wordpress/android/editor/HtmlStyleUtilsTest.java
  libs/editor-example/src/test/java/org/wordpress/android/editor/UtilsTest.java
  settings.gradle
Labels: Tooling

#16792 Update Fragment to 1.4.1
  build.gradle
Labels: Tooling

#16785 Modules Restructuring - Restructure Annotations + Processors Modules
  .buildkite/pipeline.yml
  WordPress/build.gradle
  libs/WordPressAnnotations/.gitignore
  libs/WordPressProcessors/.gitignore
  libs/annotations/README.md
  libs/annotations/build.gradle
  libs/annotations/src/main/java/org/wordpress/android/annotation/Experiment.kt
  libs/annotations/src/main/java/org/wordpress/android/annotation/Feature.kt
  libs/annotations/src/main/java/org/wordpress/android/annotation/FeatureInDevelopment.kt
  libs/processors/README.md
  libs/processors/build.gradle
  libs/processors/src/main/java/org/wordpress/android/processor/FeaturesInDevelopmentDefaultsBuilder.kt
  libs/processors/src/main/java/org/wordpress/android/processor/RemoteConfigCheckBuilder.kt
  libs/processors/src/main/java/org/wordpress/android/processor/RemoteConfigDefaultsBuilder.kt
  libs/processors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessor.kt
  libs/processors/src/test/kotlin/org/wordpress/android/processor/RemoteConfigDefaultsBuilderTest.kt
  settings.gradle
Labels: Tooling

#16797 QRCode Auth: Add Jetpack AndroidManifest
  WordPress/src/jetpack/AndroidManifest.xml
  WordPress/src/main/AndroidManifest.xml
Labels: [Type] Task, QRCode Auth

#16813 Stats Revamp v2: Update this week's day count
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalLikesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
Labels: [Type] Task, Stats Revamp

#16800 Issue/remove bp onboarding dialog
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
Labels: [Type] Task, Jetpack App, Blogging Prompts v1

#16804 Issue/site based bp skipping
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompt/BloggingPromptCardSourceTest.kt
Labels: [Type] Enhancement, Jetpack App, Blogging Prompts v1

#16814 [Blogging prompts v1] Change number of answers text color in dashboard and introduction dialog
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/res/layout/blogging_prompts_onboarding_dialog_content_view.xml
  WordPress/src/main/res/layout/my_site_blogging_prompt_card.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSourceTest.kt
Labels: [Type] Task, Blogging Prompts v1

#16821 Update stats feature announcement logic
  WordPress/src/main/java/org/wordpress/android/ui/featureintroduction/FeatureIntroductionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeatureIntroViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeaturesIntroDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/res/drawable/ic_stats_alt_blue_gradient_wordpress_48dp.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Status] Needs Code Review, [Type] Task, Stats Revamp

#16823 Stats revamp v2: Fix Views & Visitors problems
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/CountryViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
Labels: [Status] Needs Code Review, [Type] Task, Stats Revamp

#16822 Stats revamp v2: Update Insights to new set of defaults
  WordPress/src/main/java/org/wordpress/android/ui/stats/intro/StatsNewFeaturesIntroDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
  build.gradle
Labels: [Type] Task, Stats Revamp

#16820 Stats revamp v2 enable feature
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/StatsRevampV2FeatureConfig.kt
Labels: [Type] Task, [Status] Not Ready for Merge, Stats Revamp

#16827 Merge release/20.2 after code freeze
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#16799 [UI Tests] Addressing failures in `allDayStatsLoad` and `helpCanBeOpenedWhileEnteringEmail`
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ContactUsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.java
Labels: UI Tests

#16830 Remove Unnecessary Kotlin StdLib Dependency from All Modules
  WordPress/build.gradle
  libs/annotations/build.gradle
  libs/editor/build.gradle
  libs/image-editor/build.gradle
  libs/processors/build.gradle
Labels: Tooling

#16833 [Tooling] Annotate Installable Builds info in Buildkite jobs
  fastlane/lanes/build.rb
Labels: Tooling

#16206 Create Compose theme based on existing Base.Wordpress
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/compose/Color.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/WordPressTheme.kt
  build.gradle
Labels: [Type] Enhancement, Compose

#16837 Update stats tab offscreenPageLimit to fix datepicker problem
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
Labels: [Type] Bug, Stats Revamp

#16843 Merge release/20.2 (20.2-rc-2 + Release Notes)
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
  version.properties
Labels: Releases
