Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-03, with the labels that each got.

#17950 [UI Tests] - Add step on Buildkite to run Jetpack UI Tests
  .buildkite/commands/instrumented-tests.sh
  .buildkite/pipeline.yml
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MePage.java
  WordPress/src/androidTest/java/org/wordpress/android/push/GCMMessageService.kt
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
  fastlane/lanes/test.rb
Labels: UI Tests

#17993 Add UI for paid domains
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/SolidCircle.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/DomainItem.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#18016 Implement discount price for domains on sale
  WordPress/src/main/java/org/wordpress/android/Constants.java
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ProductExtensions.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#17967 [Domain Purchasing during Site Creation] Add tracks events
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsRegistrationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainRegistrationMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModelTest.kt
Labels: [Type] Task, Site Creation, Jetpack App, Domains, Tracks

#18013 Blaze: Implement promote with blaze web view flow
  WordPress/src/main/java/org/wordpress/android/ui/WPWebChromeClientWithFileChooser.java
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeActionEvent.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeWebClient.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazewebview/BlazeWebViewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazewebview/BlazeWebViewViewModel.kt
  WordPress/src/main/res/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blaze

#18028 Integrate gutenberg-mobile release 1.89.1
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#18026 Implements Site eligibility check for Blaze in Publised Posts
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModelConnector.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/PromoteWithBlazeCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelCopyPostTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: [Type] Task, Blaze

#18035 Integrate gutenberg-mobile release 1.90.0
  build.gradle
Labels: gutenberg-mobile

#18031 Blaze: Tidy the WebView Header UI
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazewebview/BlazeWebViewFragment.kt
Labels: [Type] Task, Blaze

#18037 Blaze: Rename feature entry point tracking events
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blaze

#18038 Blaze: Add menu item entry point
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/ListItemAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/MySiteListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Blaze

#18043 Blaze: Implements the Published Pages Entry point
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazewebview/BlazeWebViewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/menu/page_more.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: [Type] Task, 1, Blaze

#18046 Blaze: Track posts lists entry point clicked
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
Labels: [Type] Task, Blaze

#18047 Blaze: Hide promote with blaze card by site
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Blaze

#18050 Blaze: Implement remote hashes for disabled cancel and done steps
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazewebview/BlazeWebViewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BlazeRemoteFields.kt
Labels: [Type] Task, Blaze

#18052 Merge 21.8 finalization into trunk
  RELEASE-NOTES.txt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-hu/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-uz/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/jetpack_metadata/android/en-US/changelogs/1314.txt
  fastlane/jetpack_metadata/android/en-US/changelogs/1317.txt
  fastlane/metadata/android/en-US/changelogs/1314.txt
  fastlane/metadata/android/en-US/changelogs/1317.txt
  fastlane/metadata/android/id/changelogs/1317.txt
  fastlane/metadata/android/pl-PL/changelogs/1317.txt
  version.properties
Labels: Releases

#18032 Support forum JP migration FAQ card
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/res/layout/help_activity.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Support Forum

#17987 [Build] Remove Gradle Enterprise from Project
  build.gradle
  config/gradle/gradle_build_cache.gradle
  config/gradle/gradle_build_scan.gradle
  settings.gradle
Labels: Tooling

#18056 Blaze: Fixes Bulleted text and Image resource
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
  WordPress/src/main/res/drawable/ic_blaze_overlay_image.xml
  WordPress/src/main/res/drawable/ic_blaze_promotional_image.xml
Labels: Blaze

#18057 Blaze: Add release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, Blaze

#18059 Merge 21.9 code freeze into trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/jetpack_metadata/release_notes_short.txt
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#18064 [Dependency Updates] Update `androidDesugarVersion` to 1.1.8
  build.gradle
Labels: Tech Debt, dependency update

#18040 [Jetpack Full Plugin] Install flow UI tweaks
  WordPress/src/main/java/org/wordpress/android/ui/JetpackRemoteInstallViewState.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ContentAlphaProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/EmptyContent.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/SecondaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/ButtonSize.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/ImageButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/SecondaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/ComposeUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/UiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/BaseState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/DoneState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/ErrorState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/InitialState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/InstallingState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/component/PluginDescription.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/state/LoadedState.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DeleteStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DoneStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/ErrorStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/NotificationsStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/WelcomeStep.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/StringExtensions.kt
  WordPress/src/main/res/drawable/ic_warning.xml
  WordPress/src/main/res/drawable/img_illustration_info_outline_88dp.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/JetpackRemoteInstallViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallUiStateMapperTest.kt
Labels: [Type] Enhancement, [Status] Needs Design Review, Jetpack Install Full Plugin

#18074 [UI Tests] Adjust "e2eAllDayStatsLoad" for JP
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.kt
Labels: UI Tests

#18075 [Gutenberg] Allow audio upload to premium users after Jetpack features removal
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Bug, gutenberg-mobile

#18069 Enable forum support for all on WP
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
Labels: [Type] Task, Support Forum

#18078 Update my site dashboard cards styles
  WordPress/src/jetpack/res/drawable/ic_splash.xml
  WordPress/src/main/res/layout/my_site_blogging_prompt_card.xml
  WordPress/src/main/res/layout/my_site_card_toolbar.xml
  WordPress/src/main/res/layout/my_site_todays_stats_card.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, My Site Dashboard

#18070 Remove large titles
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/main/res/layout/reader_home_settings_menu_action_layout.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles_toolbar.xml
Labels: Reader, Notifications, [Type] Task

#18083 Blaze: Fix view not scrolling for large font size/displays
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
Labels: [Type] Bug, Blaze

#18062 Update menu and tab bar icons
  WordPress/src/jetpack/res/drawable/ic_bell_white_24dp.xml
  WordPress/src/jetpack/res/drawable/ic_my_sites_white_24dp.xml
  WordPress/src/jetpack/res/drawable/ic_reader_white_24dp.xml
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/categoryheader/MySiteCategoryItemEmptyViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/res/drawable/ic_cog_white_24dp.xml
  WordPress/src/main/res/drawable/ic_comment_white_24dp.xml
  WordPress/src/main/res/drawable/ic_domains_white_24dp.xml
  WordPress/src/main/res/drawable/ic_globe_white_24dp.xml
  WordPress/src/main/res/drawable/ic_gridicons_clipboard_white_24dp.xml
  WordPress/src/main/res/drawable/ic_history_white_24dp.xml
  WordPress/src/main/res/drawable/ic_media_white_24dp.xml
  WordPress/src/main/res/drawable/ic_menu_white_24dp.xml
  WordPress/src/main/res/drawable/ic_pages_white_24dp.xml
  WordPress/src/main/res/drawable/ic_posts_white_24dp.xml
  WordPress/src/main/res/drawable/ic_share_white_24dp.xml
  WordPress/src/main/res/drawable/ic_stats_alt_white_24dp.xml
  WordPress/src/main/res/drawable/ic_themes_white_24dp.xml
  WordPress/src/main/res/drawable/ic_user_white_24dp.xml
  WordPress/src/main/res/drawable/ic_wordpress_white_24dp.xml
  WordPress/src/main/res/layout/my_site_category_empty_header_item.xml
  WordPress/src/main/res/layout/my_site_item_block.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
Labels: Menus, [Type] Task

#18071 Convert files on e2e folder from Java to Kotlin
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ContactUsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ContactUsTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/SignupFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/SignupFlow.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/AppSettingsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/AppSettingsPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/BlockEditorPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/BlockEditorPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ContactSupportScreen.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ContactSupportScreen.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/HelpScreen.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/HelpScreen.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MePage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MePage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/PostPreviewPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/PostPreviewPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/PostsListPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/PostsListPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderViewPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderViewPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/SitePickerPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/SitePickerPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/SiteSettingsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/SiteSettingsPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.kt
Labels: [Type] Task, UI Tests

#18094 Fix blaze animation and click behavior
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ImageButton.kt
  WordPress/src/main/res/layout/promote_with_blaze_card.xml
Labels: [Type] Task, Blaze

#18060 [Dependency Updates] Update `uCropVersion` to 2.2.8
  build.gradle
Labels: Tech Debt, dependency update

#18098 Fixes: Post info overlay background color
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
Labels: [Type] Bug, Blaze

#18077 Update deprecated PackageManager functions
  WordPress/src/main/java/org/wordpress/android/util/PackageManagerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/CompatExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/publicdata/PackageManagerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/signature/SignatureUtils.kt
Labels: [Type] Task, Android 13

#18090 [Dependency Updates] Update `zendeskVersion` to 5.1.1
  WordPress/build.gradle
  WordPress/src/main/res/layout/zs_activity_request_list_scene_empty.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubfilterListItemMapperTest.kt
  build.gradle
Labels: Tech Debt, dependency update

#18118 Adds: Flag and Helper function to identify the new disabled state
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackFeatureRemovalStaticPostersConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelperTest.kt
Labels: [Type] Task, Jetpack Focus

#18126 [Jetpack Full Plugin] Update texts in card and dialog
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/JetpackFullPluginInstallOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/JetpackFullPluginInstallOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/compose/component/PluginDescription.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/compose/state/LoadedState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jpfullplugininstall/JetpackInstallFullPluginCardViewHolder.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/JetpackFullPluginInstallOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/JetpackFullPluginInstallOnboardingViewModelTest.kt
Labels: [Type] Enhancement, Jetpack Install Full Plugin

#18120 Adds: Logic for navigating to Static pages
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/StatsLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalWidgetHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackStaticPosterActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/StatsLinkHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelCopyPostTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModelTest.kt
Labels: Jetpack Focus

#18132 Disable features on static posters phase
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Jetpack Focus

#18122 Integrate gutenberg-mobile release 1.91.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#18127 Add UI design to the reusable Jetpack Static Poster
  WordPress/src/main/java/org/wordpress/android/models/JetpackPoweredScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/SecondaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
  WordPress/src/main/res/drawable/ic_external_v2.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack Focus

#18136 Removes: Stats button from published Posts more menu
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: Jetpack Focus

#18138 [Blogging Prompts] Fix answer label in prompt sample card
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
Labels: [Type] Bug, Blogging Prompts

#18124 [Dependency Updates] Update `googleGsonVersion` to 2.10.1
  build.gradle
Labels: Tech Debt, dependency update

#18134 Disable email contact on Start Over for WP users
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: [Type] Enhancement, Support Forum

#18141 Fix merge conflicts related to compose buttons
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/SecondaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/SecondaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/install/compose/state/DoneState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/install/compose/state/ErrorState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/install/compose/state/InitialState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/install/compose/state/InstallingState.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
Labels: Releases

#18146 Merge 22.0 code freeze to trunk
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/jetpack_metadata/release_notes_short.txt
  WordPress/metadata/release_notes.txt
  WordPress/metadata/release_notes_short.txt
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#18148 Fix/default static poster to portrait
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
Labels: [Type] Bug, Jetpack Focus

#18145 Fix button color for Static Poster and Primary Button
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
Labels: [Type] Bug, Jetpack Focus

#18149 Add scrolling to Jetpack Static Posters view
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
Labels: [Type] Bug, Jetpack Focus

#18156 Merge 21.9.1 to release/22.0
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  version.properties
Labels: Releases

#18157 Merge 22.0-rc-2 to trunk
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  version.properties
Labels: Releases

#18106 [Gutenberg] Add `metadata` parameter when inserting media into editor
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#18155 [WIP] [UI Tests] Minor refactoring around "e2eAllDayStatsLoad" UI test.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
Labels: UI Tests

#18163 Fix typo in notifications word
  WordPress/src/main/java/org/wordpress/android/models/NotificationsSettings.java
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: /My site, Jetpack Focus

#18164 Update deprecated functions of JetpackStaticPosterFragment
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterFragment.kt
Labels: [Type] Bug, Android 13

#18159 Update a8c-ci-toolkit Buildkite plugin to new name and latest version
  .buildkite/beta-builds.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
Labels: Tooling

#18165 [WP Individual JP Plugin] Create overlay feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/util/config/WPIndividualPluginOverlayFeatureConfig.kt
Labels: Jetpack Plugins, [Type] Task

#18168 Merge 22.0 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/models/NotificationsSettings.java
  WordPress/src/main/res/layout/jetpack_feature_removal_overlay.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#18171 Update ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Labels: Tooling

#18102 [Dependency Updates] Update `jsoupVersion` to 1.15.4
  build.gradle
  libs/editor/build.gradle
Labels: Tech Debt, dependency update

#18166 [WP Individual JP Plugin] FluxC Integration to get JP connected sites
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/GetShowJetpackFullPluginInstallOnboardingUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/JetpackFullPluginInstallOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jpfullplugininstall/JetpackInstallFullPluginCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/IndividualJetpackPluginExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/SiteModelExtensions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/SitePickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/util/extensions/IndividualJetpackPluginExtensionsKtTest.kt
  WordPress/src/test/java/org/wordpress/android/util/extensions/SiteModelExtensionsKtTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/SitePickerViewModelTest.kt
  build.gradle
Labels: Jetpack Plugins, [Type] Task

#18167 [WP Individual JP Plugin] Create Overlay UI
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/compose/MultipleSitesContent.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/compose/SingleSiteContent.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/compose/WPJetpackIndividualPluginOverlayScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/compose/component/JPInstallFullPluginAnimation.kt
  WordPress/src/main/res/values/strings.xml
Labels: Jetpack Plugins, [Type] Task

#18182 Add ripgrep ignore file to .gitignore
  .gitignore
Labels: General

#18169 [WP Individual JP Plugin] Show dialog with overlay
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/FullscreenBottomSheetDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginEpilogueActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginEpilogueViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/PostSignupInterstitialActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/DialogExtensions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/accounts/PostSignupInterstitialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/SitePickerViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/accounts/LoginEpilogueViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/accounts/PostSignupInterstitialViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/SitePickerViewModelTest.kt
Labels: Jetpack Plugins, [Type] Task

#18184 [WP Individual JP Plugin] Hardcoded overlay shown max count
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/TestUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginViewModelTest.kt
Labels: Jetpack Plugins, [Type] Task

#18189 [WP Individual JP Plugin] Remote overlay shown max count
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BlazeRemoteFields.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackFeatureRemovalRemoteFields.kt
  WordPress/src/main/java/org/wordpress/android/util/config/RemoteConfigField.kt
  WordPress/src/main/java/org/wordpress/android/util/config/RemoteFieldConfigRepository.kt
  WordPress/src/main/java/org/wordpress/android/util/config/WPIndividualPluginOverlayMaxShownConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtilTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginViewModelTest.kt
Labels: Jetpack Plugins, [Type] Task

#18199 [WP Individual JP Plugin] Enable FF and add release notes
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/WPIndividualPluginOverlayFeatureConfig.kt
Labels: Jetpack Plugins, [Type] Task

#18158 Migrate Dagger's ContributesAndroidInjector annotations to Hilt
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/ui/CommentFullScreenDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SignupEpilogueActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/BaseUsernameChangerFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SettingsUsernameChangerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/UsernameChangerFullScreenDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/DebugSettingsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/DebugSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AccountSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostWebViewCachingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/alltime/StatsAllTimeWidgetConfigureActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetColorSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetConfigureFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetDataTypeSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetSiteSelectionDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/StatsMinifiedWidgetConfigureActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/StatsMinifiedWidgetConfigureFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/StatsTodayWidgetConfigureActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/StatsViewsWidgetConfigureActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/StatsWeekWidgetConfigureActivity.kt
  build.gradle
Labels: [Type] Enhancement, Tech Debt

#18125 [Dependency Updates] Update `androidVolleyVersion` to 1.2.1
  build.gradle
Labels: Tech Debt, dependency update

#18203 Integrate gutenberg-mobile release 1.92.0
  build.gradle
Labels: gutenberg-mobile

#18076 [Dependency Updates] Update `googleAutoServiceVersion` to 1.0.1
  build.gradle
Labels: Tech Debt, dependency update

#18186 [Lint Warnings] Reconfigure & Add Baseline
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/ComposeUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/LocaleManager.java
  config/lint.xml
  config/lint/baseline.xml
  config/lint/lint.xml
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergUtils.java
  libs/editor/src/main/res/layout/alert_create_link.xml
  libs/editor/src/main/res/layout/alert_image_options.xml
  libs/editor/src/main/res/values/colors.xml
  libs/editor/src/main/res/values/dimens.xml
  libs/editor/src/main/res/values/styles.xml
  libs/editor/src/main/res/values/wp_colors.xml
Labels: Tooling, Tech Debt, [Status] Not Ready for Merge

#18221 Adds feature flags for Pages and Activity logs dashboard card
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/DashboardCardActvitiyLogConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/DashboardCardPagesConfig.kt
Labels: [Type] Task, My Site Dashboard

#18200 [Jetpack Full Plugin] Fix JP connected sites not being shown after login on Jetpack
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  build.gradle
Labels: [Type] Bug, Jetpack Install Full Plugin
