Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-01, with the labels that each got.

#17693 Jetpack Focus: Hook up Jetpack feature card CTA interactions
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/res/layout/jetpack_feature_card.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardHelperTest.kt
Labels: [Type] Task, Jetpack Focus

#17694 Jetpack Focus: Jetpack feature card tidy UI
  WordPress/src/main/res/color/hetpack_feature_card_emphasis_medium_selector.xml
  WordPress/src/main/res/layout/jetpack_feature_card.xml
Labels: [Type] Task, [Status] Not Ready for Merge, Jetpack Focus

#17695 [Blogging Prompts] Prompts List architectural boilerplate
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListScreenPreviewProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/model/BloggingPromptsListItemModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/usecase/FetchBloggingPromptsListUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/MainTopAppBar.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/ComposeUtils.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/usecase/FetchBloggingPromptsListUseCaseTest.kt
Labels: Blogging Prompts Enhancement

#15804 Remove old about activity and related resources
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/Constants.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AboutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/LicensesActivity.java
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedAboutFeatureConfig.kt
  WordPress/src/main/res/layout/about_activity.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/values-v27/styles.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/main/res/xml/app_settings.xml
Labels: [Type] Task, Unified About

#17580 Jetpack focus: Display feature specific overlays for phase 2 and 3
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackOverlayUIState.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/res/layout-land/jetpack_feature_removal_overlay.xml
  WordPress/src/main/res/layout/jetpack_feature_removal_overlay.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtilTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack

#17707 [Blogging Prompts] Create Prompts List item
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListPreviewProviders.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListScreenPreviewProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/mapper/BloggingPromptsListItemModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/model/BloggingPromptsListItemModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/usecase/FetchBloggingPromptsListUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/AppColor.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/JetpackColors.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/WordPressColors.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/unit/FontSize.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/UiStringText.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/mapper/BloggingPromptsListItemModelMapperTest.kt
Labels: Blogging Prompts Enhancement

#17713 Add Jetpack branding to Themes screen starting from Phase Two
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
  WordPress/src/main/java/org/wordpress/android/widgets/HeaderGridView.java
  WordPress/src/main/res/layout/theme_browser_activity.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtilTest.kt
Labels: [Type] Task, Jetpack Focus

#17720 Integrate gutenberg-mobile release 1.87.0
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#17684 Merge 21.4-rc-2 into trunk
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#17721 Add Jetpack branding to People screens starting from Phase Two
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
  WordPress/src/main/res/layout/people_list_fragment.xml
  WordPress/src/main/res/layout/person_detail_fragment.xml
Labels: [Type] Task, Jetpack Focus

#17723 Jetpack Focus: show overlay on Jetpack feature card tap
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackOverlayUIState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/res/raw/jp_all_features_left.json
  WordPress/src/main/res/raw/jp_all_features_rtl.json
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtilTest.kt
Labels: [Type] Task, Jetpack Focus

#17722 [Blogging Prompts] Fetch Prompts List real data
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/usecase/FetchBloggingPromptsListUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/mapper/BloggingPromptsListItemModelMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/usecase/FetchBloggingPromptsListUseCaseTest.kt
  build.gradle
Labels: Blogging Prompts Enhancement

#17710 #title getting cut in settings screen fixed
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/res/layout/notifications_settings_activity.xml
  WordPress/src/main/res/layout/reader_activity_subs.xml
Labels: [Type] Bug

#17725 [Blogging Prompts] Prompts List Loading, Error, and Empty states
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListPreviewProviders.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/EmptyContent.kt
  WordPress/src/main/res/values/strings.xml
Labels: Blogging Prompts Enhancement

#17729 [Blogging Prompts] Prompts List accessibility improvements
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListItem.kt
Labels: Blogging Prompts Enhancement

#17724 Fix JP Banner Click Tracking on Backup Screen
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
Labels: [Type] Task, Jetpack Focus

#17726 Jetpack Focus: Display Jetpack overlay on app launch in phase 3
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackOverlayUIState.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
Labels: [Type] Task, Jetpack Focus

#17701 Reset migration state when interrupted
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/JetpackAppMigrationFlowUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/utils/JetpackAppMigrationFlowUtilsTest.kt
Labels: [Type] Bug, Jetpack Focus

#17736 [Blogging Prompts] Prompts List remote feature flag
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsListFeatureConfig.kt
Labels: Blogging Prompts Enhancement

#17744 Merge/release 21.5 into trunk
  Gemfile.lock
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#17696 [Dependency Updates] Update `androidxFragmentVersion` to 1.5.5
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationBaseFormFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/InsightsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementFragment.kt
  build.gradle
  config/detekt/baseline.xml
  libs/editor/build.gradle
  libs/image-editor/build.gradle
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/crop/CropFragment.kt
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
Labels: Tech Debt, [Status] Not Ready for Merge, dependency update

#17737 Jetpack Focus: Handle shortcuts in phase four
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
Labels: [Type] Task, Jetpack Focus

#17738 Jetpack Focus: Handle create page flow for phase four
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
Labels: [Type] Task, Jetpack Focus

#17743 [Dependency Updates] Update `androidxAppcompatVersion` to 1.4.2
  WordPress/build.gradle
  build.gradle
Labels: Tech Debt, dependency update

#17750 Jetpack Focus: Redirect jetpack feature deep links for P4
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverViewModelTest.kt
Labels: [Type] Task, Jetpack Focus

#17757 Integrate gutenberg-mobile release 1.87.1
  build.gradle
Labels: gutenberg-mobile

#17745 Stats Revamp: match data across platforms
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ViewsAndVisitorsDetailUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapper.kt
  WordPress/src/main/res/layout/stats_block_legends_blue_item.xml
  WordPress/src/main/res/layout/stats_block_legends_purple_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsMapperTest.kt
Labels: [Type] Task, Stats Revamp

#17765 Merge editorialized release notes for version 21.5
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  build.gradle
Labels: Releases, Localization

#17749 Fix theme inconsistency when Jetpack migration is restarted
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/LocalMigrationResult.kt
  WordPress/src/main/java/org/wordpress/android/sharedlogin/resolver/LocalMigrationOrchestrator.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/test/java/org/wordpress/android/sharedlogin/resolver/LocalMigrationOrchestratorTest.kt
Labels: Jetpack Focus

#17761 [Blogging Prompts] Change Skip prompt button for better clarity
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Blogging Prompts Enhancement

#17760 [Blogging Prompts] Create feature flag for blogging prompts enhancements
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsEnhancementsFeatureConfig.kt
Labels: Blogging Prompts Enhancement

#17764 Stats revamp remove upgrade alert
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/JPScreenshotTest.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/UpdateAlertDialogFragment.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Stats Revamp

#17774 Add Latvian to the list of locales included in the app
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values/available_languages.xml
  fastlane/lanes/localization.rb
Labels: [Type] Enhancement, Localization, Tooling

#17768 Apply user language selected in WordPress app to Jetpack app during migration
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/LocalMigrationResult.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/ComposeUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackMigrationLanguageUtil.kt
  WordPress/src/main/java/org/wordpress/android/util/LocaleManagerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ConfigurationExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ContextExtensions.kt
  WordPress/src/test/java/org/wordpress/android/sharedlogin/resolver/LocalMigrationOrchestratorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModelTest.kt
Labels: i18n, Jetpack Focus

#17728 Jetpack focus: remove tab bar and dashboard
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilder.kt
  WordPress/src/main/res/layout/main_activity.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
Labels: [Type] Task, Jetpack Focus

#17779 Add switch to Jetpack in menu items on Phase 4
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackOverlayUIState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/SwitchToJetpackMenuCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/layout/switch_to_jetpack_menu.xml
  WordPress/src/main/res/menu/switch_to_jetpack_card_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtilTest.kt
Labels: Jetpack Focus

#17777 Stats revamp fix refresh does not work on details screens
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/InsightsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/InsightsDetailViewModel.kt
Labels: [Type] Bug, Stats Revamp

#17783 [Blogging prompts] Fix DayOne attribution string translation
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/res/layout/blogging_prompt_card_compact.xml
  WordPress/src/main/res/layout/my_site_blogging_prompt_card.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: [Type] Bug, Blogging Prompts

#17769 [Blogging prompts] Add empty block below blogging prompts block
  WordPress/src/main/java/org/wordpress/android/ui/posts/BloggingPromptsEditorBlockMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/editor/EditorBloggingPromptsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/BloggingPromptsEditorBlockMapperTest.kt
Labels: [Type] Task, Blogging Prompts

#17748 Add logging for all known migration errors
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/sharedlogin/resolver/LocalMigrationOrchestrator.kt
  WordPress/src/test/java/org/wordpress/android/fluxc/utils/AppLogWrapper.kt
  WordPress/src/test/java/org/wordpress/android/sharedlogin/resolver/LocalMigrationOrchestratorTest.kt
  WordPress/src/test/java/org/wordpress/android/util/AppLog.java
  build.gradle
Labels: [Type] Enhancement, Jetpack Focus

#17786 [Blogging Prompts Enhancements] Add new tag to prompt answer
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/editor/EditorBloggingPromptsViewModelTest.kt
Labels: [Type] Task, Blogging Prompts

#17785 Integrate gutenberg-mobile release 1.87.2
  build.gradle
Labels: gutenberg-mobile

#17788 Fixes: Activity not found exception
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncherWrapper.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, [Type] Crash

#17776 Fixes: Site creation overlay and Overlay frequency logic
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtilTest.kt
Labels: [Type] Bug, Jetpack Focus

#17699 [Blogging prompts] Add new analytics event for create sheet
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blogging Prompts

#17791 Remove jetpack features in site settings
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: [Type] Task, Jetpack Focus

#17742 Trigger Migration Flow when launching the app from deep links
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/utils/JetpackAppMigrationFlowUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/utils/JetpackAppMigrationFlowUtilsTest.kt
Labels: [Type] Enhancement, Deeplinks, Jetpack Focus

#17781 Jetpack Focus: Update banners and badges text based on the current phase
  WordPress/src/main/java/org/wordpress/android/models/JetpackPoweredScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/detail/ActivityLogDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackBrandingUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/MySiteJetpackBadgeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiString.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/JetpackBrandingUtils.kt
  WordPress/src/main/res/layout/jetpack_banner.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtilTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/config/JPDeadlineConfigStub.kt
Labels: [Type] Task, Jetpack Focus

#17797 Disables Notifications in Jetpack removal Phase 4
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/ui/debug/DebugSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PublishNotificationReceiver.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartReminderReceiver.java
  WordPress/src/main/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationHandler.kt
  WordPress/src/main/java/org/wordpress/android/workers/notification/createsite/CreateSiteNotificationHandler.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/ReminderNotifier.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/prompt/PromptReminderNotifier.kt
  WordPress/src/main/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/debug/DebugSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/notification/createsite/CreateSiteNotificationHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/reminder/PromptReminderNotifierTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/reminder/ReminderNotifierTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifierTest.kt
Labels: [Type] Task, Jetpack Focus

#17796 Wp support feature flag configuration
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/config/WordPressSupportForumFeatureConfig.kt
Labels: [Type] Task, Support

#17799 Jetpack Focus: Prevent back navigation to WordPress app from Jetpack migration flow
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncherWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/ActivityLauncherWrapperTest.kt
Labels: [Type] Task, Jetpack Focus

#17812 [Build] Remove Multidex Configuration
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/WordPress.kt
  build.gradle
Labels: Tech Debt

#17787 [Blogging prompts] Prompts list item opens editor with prompt block
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blogging Prompts

#17800 [Blogging Prompts] Open Reader when tapping view all responses in card
  WordPress/src/main/java/org/wordpress/android/ui/InterceptingFrameLayout.kt
  WordPress/src/main/java/org/wordpress/android/ui/avatars/AvatarViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptsCardAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/res/layout/my_site_blogging_prompt_card.xml
  WordPress/src/main/res/layout/reader_post_likers_faces_list.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/editor/EditorBloggingPromptsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptsCardAnalyticsTrackerTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blogging Prompts

#17815 Jetpack Focus: Update site creation overlay primary button text for Phase Two
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Jetpack Focus

#17741 [Dependency Updates] Main Batch - AndroidX Core
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/history/ScanHistoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageParentFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationBaseFormFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/InsightsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/ContentDescriptionListAnnouncer.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ContextExtensions.kt
  WordPress/src/main/java/org/wordpress/android/widgets/SuggestionAutoCompleteText.java
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ConversationNotificationsViewModelTest.kt
  build.gradle
  config/detekt/baseline.xml
  libs/editor/build.gradle
  libs/image-editor/build.gradle
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/crop/CropFragment.kt
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageFragment.kt
Labels: Tech Debt, dependency update

#17822 Jetpack Focus: Show overlay on feature card learn more tap
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
Labels: [Type] Task, Jetpack Focus

#17816 Load account data including avatar when completing the migration
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModelTest.kt
Labels: [Type] Bug, [Pri] Medium, Jetpack Focus

#17817 Allow resuming the migration after logout from site address login
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/accounts/HelpViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModelTest.kt
Labels: [Type] Bug, [Pri] Low, Jetpack Focus

#17813 Adds: Jetpack feature removal card for Self hosted and New users
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackFeatureRemovalSelfHostedUsersConfig.kt
  WordPress/src/main/res/layout/jetpack_feature_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtilTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardHelperTest.kt
Labels: Jetpack Focus

#17828 Jetpack Focus: Fix landing page content scrolling issue
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/res/layout/main_activity.xml
Labels: [Type] Task, Jetpack Focus

#17794 [Blogging Prompts] Track Prompt Card viewed in My Site dashboard
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptsCardAnalyticsTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Task, Blogging Prompts

#17829 [Dependency Updates] Remove Custom Emoji Support
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/res/values/font_certs.xml
  build.gradle
Labels: Tech Debt, dependency update

#17830 Jetpack Focus: Display feature collection overlay on launch in phase 4
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackOverlayUIState.kt
Labels: [Type] Task, Jetpack Focus

#17838 Adds: overlay for new users and self hosted users
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayContentBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackOverlayUIState.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/drawable/ic_notification_feature_overlay_new_users.xml
  WordPress/src/main/res/drawable/ic_reader_feature_overlay_reader_new_users.xml
  WordPress/src/main/res/drawable/ic_stats_feature_overlay_new_users.xml
  WordPress/src/main/res/layout-land/jetpack_feature_removal_overlay.xml
  WordPress/src/main/res/layout-land/jetpack_feature_removal_overlay_new_users_content.xml
  WordPress/src/main/res/layout/jetpack_feature_removal_overlay.xml
  WordPress/src/main/res/layout/jetpack_feature_removal_overlay_new_users_content.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, [Status] Needs Design Review, Jetpack Focus

#17820 Wp support forum card on help screen
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/res/layout/help_activity.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Support Forum

#17840 Integrate gutenberg-mobile release 1.87.3
  build.gradle
Labels: gutenberg-mobile

#17841 [JP Install Full Plugin] Implement jetpack install full plugin feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackInstallFullPluginFeatureConfig.kt
Labels: [Type] Task, Jetpack Install Full Plugin

#17847 Merge 21.6 rc2 into trunk
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/res/layout/main_activity.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  version.properties
Labels: Releases

#17850 Update mockitoVersion to 5.1.1
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifierTest.kt
  build.gradle
Labels: dependency update

#17848 [Jetpack Install Full Plugin] Add function to check if JP is connected without full plugin
  WordPress/src/main/java/org/wordpress/android/util/extensions/SiteModelExtensions.kt
  WordPress/src/test/java/org/wordpress/android/util/extensions/SiteModelExtensionsKtTest.kt
Labels: Jetpack Install Full Plugin
