Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-12, with the labels that each got.

#19708 QR Code: Partial MLKit Revert
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/CodeScannerModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScannerScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/CodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleBarcodeFormatMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleCodeScannerErrorMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleMLKitCodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/InputImageProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
  build.gradle
Labels: [Type] Crash, QRCode Auth

#19705 [Boganuary] Implement Modal action to enable prompts
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlayViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlayViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: [Type] Task, Bloganuary

#19710 [SotW 2023] Feature Flag
  WordPress/src/main/java/org/wordpress/android/util/config/WpSotw2023NudgeFeatureConfig.kt
Labels: [Type] Task, My Site Dashboard, unit-tests-exemption

#19715 [Bloganuary] Implement Dashboard Card and Modal for Bloganuary Nudge
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/BloganuaryNudgeAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlay.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlayUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlayViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/styles/DashboardCardTypography.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BloganuaryNudgeFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/DialogExtensions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/drawable/ic_bloganuary_learn_more_item_one.xml
  WordPress/src/main/res/drawable/ic_bloganuary_learn_more_item_three.xml
  WordPress/src/main/res/drawable/ic_bloganuary_learn_more_item_two.xml
  WordPress/src/main/res/drawable/logo_bloganuary.xml
  WordPress/src/main/res/layout/bloganuary_nudge_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloganuary/BloganuaryNudgeAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloganuary/learnmore/BloganuaryNudgeLearnMoreOverlayViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Bloganuary

#19717 [SotW 2023] Implement card interactions
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSliceTest.kt
Labels: [Type] Task, My Site Dashboard

#19718 [SotW 2023] Implement card visibility/eligibility logic
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/WpSotw2023NudgeFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSliceTest.kt
Labels: [Type] Task, My Site Dashboard

#19719 [SotW 2023] Implement card analytics
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSliceTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, My Site Dashboard

#19720 [SotW 2023] Set strings as translatable=false
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, My Site Dashboard

#19724 Address `NullPointerException` crash in `AztecHeadingSpan`
  build.gradle
Labels: [Type] Crash, Aztec, Gutenberg, gutenberg-mobile

#19731 [Reader Improvements] Show "View in browser" and "Share" actions in reader post details toolbar
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/res/menu/reader_detail.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Reader Improvements

#19730 [Prompts] Fix response list paging regression
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProviderTest.kt
Labels: [Type] Bug, Blogging Prompts

#19732 Integrate gutenberg-mobile release v1.109.2
  build.gradle
Labels: Gutenberg

#19742 [Fix] Danger warning about strings that reference other strings
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, Lint

#19736 Add feature flag for in-app reviews
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/InAppReviewsFeatureConfig.kt
Labels: [Type] Enhancement, In-app Reviews

#19740 Catches `ExecutionException` thrown during thumbnail preload
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
Labels: [Type] Crash, Site Creation

#19744 Fixes: Personalization viewmodel start crash
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModel.kt
Labels: [Type] Crash, Dashboard Personalization

#19751 Merge 23.8-rc-5 to trunk
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/WpSotw2023NudgeFeatureConfig.kt
  WordPress/src/main/res/layout/wp_sotw_20223_nudge_card.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/sotw2023/WpSotw2023NudgeCardViewModelSliceTest.kt
  build.gradle
  fastlane/resources/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  version.properties
Labels: Releases

#19749 Do not launch share intent for a page that is null
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
Labels: [Type] Bug, Pages List, [Type] Crash

#19752 Add nullability recommendation to the "Converting to Kotlin" documentation
  docs/converting-to-kotlin.md
Labels: [Type] Enhancement, Documentation

#19753 Fix a crash on the design preview screen
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPreviewFragment.kt
Labels: [Type] Crash, Site Creation

#19747 Replaces bundle usage in the editor with a local database
  WordPress/src/androidTest/java/org/wordpress/android/editor/savedinstance/ParcelableObjectTest.kt
  WordPress/src/androidTest/java/org/wordpress/android/editor/savedinstance/SavedInstanceDatabaseTest.kt
  WordPress/src/androidTest/java/org/wordpress/android/editor/savedinstance/TestParcelable.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailContainerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/savedinstance/ParcelableObject.kt
  libs/editor/src/main/java/org/wordpress/android/editor/savedinstance/SavedInstanceDatabase.kt
  libs/editor/src/main/java/org/wordpress/android/editor/savedinstance/SavedParcelTable.kt
Labels: [Type] Crash, Gutenberg

#19760 If the step index saved in the instance state is invalid reset the wizard
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
Labels: [Type] Crash, Site Creation

#19757 Integrate measure builds plugin
  .configure
  .configure-files/gradle.properties.enc
  build.gradle
  settings.gradle
Labels: Tooling

#19765 Add remote feature flag for Dynamic Dashboard Cards
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/DynamicDashboardCardsFeatureConfig.kt
Labels: [Type] Task, Jetpack Mobile, My Site Dashboard

#19762 [Upload] Add UploadService and UploadWorker logs
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/FeaturedImageHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PreviewStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryMediaSaveUploadBridge.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadServiceFacade.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadStarter.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/util/UploadWorker.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/FeaturedImageHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/uploads/UploadStarterConcurrentTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/uploads/UploadStarterMutexTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/uploads/UploadStarterTest.kt
Labels: [Type] Enhancement, Core

#19692 feat: Provide Gutenberg editor network connection status
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergNetworkConnectionListener.kt
Labels: Gutenberg

#19754 [Gutenberg] - Filter media types when sharing files to the app
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Media, Gutenberg

#19774 [Bloganuary] Replace hyphen with em dash in Bloganuary Nudge text
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, Bloganuary

#19768 Support media deep links
  WordPress/src/jetpack/AndroidManifest.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlers.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/MediaLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlersTest.kt
Labels: [Type] Task

#19773 [Dynamic Cards] Update Endpoint Response
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  build.gradle
Labels: [Type] Task, My Site Dynamic Cards, My Site Dashboard

#19781 Merge 23.9 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  fastlane/Fastfile
Labels: Releases

#19784 Merge 23.8.1 to release/23.9
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  version.properties
Labels: Releases

#19779 Updates: the logic of updating the post revisions in a background thread.
  WordPress/src/main/java/org/wordpress/android/viewmodel/history/HistoryViewModel.kt
Labels: [Type] Crash

#19786 Merge 23.9-rc-2 to trunk
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#19775 Implement composable UI for Dynamic Dashboard Cards
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/card/UnelevatedCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/styles/DashboardCardTypography.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardCallToActionButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardComposable.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardFeatureImage.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardRows.kt
Labels: [Type] Task, My Site Dynamic Cards, My Site Dashboard, unit-tests-exemption

#19783 Fix crash when creating new post with Atomic/SH site
  build.gradle
Labels: [Type] Task, [Type] Crash

#19771 Improvements: Dashboard UI
  WordPress/src/jetpack/res/values/styles_toolbar.xml
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCampaignsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardViewholder.kt
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles_toolbar.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteCardAndItemTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardBuilderTest.kt
Labels: My Site Dashboard, unit-tests-exemption

#19679 [Reader IA] Implement dropdown menu component UI
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/WPSwitch.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/DropdownMenuButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/JetpackDropdownMenu.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/MenuColors.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/MenuElementData.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/AppColor.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/ComposeUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeStatusLabel.kt
  WordPress/src/main/res/drawable/ic_small_chevron_down_white_16dp.xml
  WordPress/src/test/java/org/wordpress/android/ui/compose/components/menu/MenuElementDataTest.kt
Labels: [Type] Task, Reader IA

#19789 Integrate gutenberg-mobile release v1.109.3
  build.gradle
Labels: Gutenberg

#19777 Remove domains transfer card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessageViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/drawable/ic_domain_transfer_54x32.xml
  WordPress/src/main/res/layout/domain_transfer_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Domains, Domains Dashboard Card

#19741 In-app reviews
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/review/ReviewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/review/ReviewViewModelTest.kt
  build.gradle
  docs/test_instructions_per_dependency_update.md
Labels: [Type] Enhancement, In-app Reviews

#19792 Fix register domain feature-related copy
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, My Site Dashboard

#19782 fix: Prevent unnecessary content changes clearing redo actions
  build.gradle
Labels: [Type] Bug, Gutenberg

#19793 [Dynamic Cards] Attach the cards to the dashboard adapter
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardRows.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicDashboardCardViewHolder.kt
  WordPress/src/main/res/layout/dynamic_dashboard_card.xml
Labels: [Type] Task, My Site Dashboard, Dynamic Dashboard Cards

#19790 🤖 [Dynamic Cards] Ordering logic
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSliceTest.kt
Labels: [Type] Task, Dynamic Dashboard Cards

#19799 Renames dynamic cards list property for consistency
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSliceTest.kt
  build.gradle
Labels: [Type] Task, Dynamic Dashboard Cards

#19804 [Dynamic Cards] Hide dynamic card through a card menu
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardComposable.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSliceTest.kt
Labels: [Type] Task, My Site Dashboard, Dynamic Dashboard Cards

#19801 🤖 [Dynamic Cards] Implement card display logic according to the remote feature flags
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilderTest.kt
Labels: [Type] Enhancement, [Type] Task, My Site Dashboard, Dynamic Dashboard Cards

#19817 Super Fast Media Uploads: Add support for QR Code Media Links
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlers.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeAuthLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandler.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/UriTestHelper.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlersTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeAuthLinkHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandlerTest.kt
Labels: [Type] Task, QRCode Auth

#19810 🤖 [Dynamic Cards] Card Actions
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlers.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSliceTest.kt
Labels: [Type] Task, My Site Dashboard, Dynamic Dashboard Cards

#19821 🤖 [Dynamic Cards] Adds domain management feature deep linking support
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlers.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/DomainManagementLinkHandler.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlersTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/DomainManagementLinkHandlerTest.kt
Labels: [Type] Task, My Site Dashboard, Dynamic Dashboard Cards

#19823 [Dynamic Cards] Add tracking dynamic cards actions
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardComposable.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsViewModelSliceTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, My Site Dashboard, Dynamic Dashboard Cards

#19788 Removes: un-used resources using the Android studio tool
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/main/java/org/wordpress/android/JavaScriptException.java
  WordPress/src/main/java/org/wordpress/android/ui/ExpandableHeightGridView.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/common/viewholders/JetpackButtonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/widgets/AutoCompleteEmptyTextView.java
  WordPress/src/main/java/org/wordpress/android/widgets/ContextMenuEditText.java
  WordPress/src/main/java/org/wordpress/android/widgets/FlowLayout.java
  WordPress/src/main/res/drawable/bg_oval_transparent_stroke_on_surface_lowest.xml
  WordPress/src/main/res/drawable/img_write_212dp.xml
  WordPress/src/main/res/drawable/tooltip_arrow.xml
  WordPress/src/main/res/layout/comment_activity.xml
  WordPress/src/main/res/layout/comment_list_fragment.xml
  WordPress/src/main/res/layout/debug_settings_button.xml
  WordPress/src/main/res/layout/debug_settings_header.xml
  WordPress/src/main/res/layout/debug_settings_row.xml
  WordPress/src/main/res/layout/jetpack_powered_animated_image.xml
  WordPress/src/main/res/layout/jetpack_powered_caption.xml
  WordPress/src/main/res/layout/jetpack_powered_title.xml
  WordPress/src/main/res/layout/me_action_layout.xml
  WordPress/src/main/res/layout/my_site_card_footer_link.xml
  WordPress/src/main/res/layout/my_site_post_card_without_post_items.xml
  WordPress/src/main/res/layout/site_settings_timezone_dialog.xml
  WordPress/src/main/res/layout/tooltip_above.xml
  WordPress/src/main/res/layout/tooltip_below.xml
  WordPress/src/main/res/layout/tooltip_left.xml
  WordPress/src/main/res/layout/tooltip_right.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/dashboard_card_styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  libs/editor/src/main/res/drawable-hdpi/ab_icon_edit.png
  libs/editor/src/main/res/drawable-hdpi/format_bar_chevron.png
  libs/editor/src/main/res/drawable-hdpi/ic_post_settings.png
  libs/editor/src/main/res/drawable-hdpi/list_focused_wordpress.9.png
  libs/editor/src/main/res/drawable-hdpi/noticon_picture.png
  libs/editor/src/main/res/drawable-hdpi/noticon_picture_grey.png
  libs/editor/src/main/res/drawable-xhdpi/ab_icon_edit.png
  libs/editor/src/main/res/drawable-xhdpi/format_bar_chevron.png
  libs/editor/src/main/res/drawable-xhdpi/ic_post_settings.png
  libs/editor/src/main/res/drawable-xhdpi/list_focused_wordpress.9.png
  libs/editor/src/main/res/drawable-xhdpi/noticon_picture.png
  libs/editor/src/main/res/drawable-xhdpi/noticon_picture_grey.png
  libs/editor/src/main/res/drawable-xxhdpi/ab_icon_edit.png
  libs/editor/src/main/res/drawable-xxhdpi/format_bar_chevron.png
  libs/editor/src/main/res/drawable-xxhdpi/ic_post_settings.png
  libs/editor/src/main/res/drawable-xxhdpi/noticon_picture.png
  libs/editor/src/main/res/drawable-xxhdpi/noticon_picture_grey.png
  libs/editor/src/main/res/drawable/format_bar_button_media.xml
  libs/editor/src/main/res/drawable/format_bar_button_media_disabled.xml
  libs/editor/src/main/res/drawable/format_bar_button_media_highlighted.xml
  libs/editor/src/main/res/drawable/format_bar_button_media_selector.xml
  libs/editor/src/main/res/drawable/ic_gridicon_add.xml
  libs/editor/src/main/res/drawable/list_divider.xml
  libs/editor/src/main/res/drawable/selectable_background_wordpress.xml
Labels: Tech Debt

#19826 🤖 [Dynamic Cards] Adds domain management feature web link support
  WordPress/src/main/AndroidManifest.xml
Labels: [Type] Enhancement, Deeplinks, Domain Management, Dynamic Dashboard Cards

#19816 [Reader IA][WIP] Implements the new Reader top bar and removes tab layout and existing filter UI
  WordPress/src/androidTestJetpack/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/DropdownMenuButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/JetpackDropdownMenu.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
  WordPress/src/main/res/drawable/ic_magnifying_glass_16dp.xml
  WordPress/src/main/res/drawable/ic_reader_discover_24dp.xml
  WordPress/src/main/res/drawable/ic_reader_liked_24dp.xml
  WordPress/src/main/res/drawable/ic_reader_saved_24dp.xml
  WordPress/src/main/res/drawable/ic_reader_subscriptions_24dp.xml
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Reader IA

#19818 Plans on site domain display updated card
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/res/layout/domain_plan_purchase_card.xml
  WordPress/src/main/res/values-land/dimens.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainsDashboardViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Plans on site domain

#19827 [Dynamic Card] Make a dynamic card featured image height flexible
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardFeatureImage.kt
Labels: [Type] Enhancement, My Site Dashboard, Dynamic Dashboard Cards

#19822 Super Fast Media Uploads: Open Photo Picker on scan
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkTrackingUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeAuthLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/DeepLinkTrackingUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/UriTestHelper.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandlerTest.kt
Labels: [Type] Task

#19820 Adds: Missing tracking for Copy Link in Pages More Menu
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesListActions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: [Type] Bug, Pages List

#19834 🤖 [Dynamic Cards] Makes the whole card actionable
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardComposable.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dynamiccard/DynamicCardsBuilderTest.kt
Labels: [Type] Task, Dynamic Dashboard Cards

#19838 Co-branding JP login screen with WP.com
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/LoginPrologueRevampedFragment.kt
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/components/JetpackLogo.kt
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/components/PrimaryButton.kt
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/components/SecondaryButton.kt
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/components/TopLinearGradient.kt
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/components/WordpressJetpackLogo.kt
  WordPress/src/jetpack/res/drawable-hdpi/bg_jetpack_login_splash.png
  WordPress/src/jetpack/res/drawable-hdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-mdpi/bg_jetpack_login_splash.png
  WordPress/src/jetpack/res/drawable-mdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-night-hdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-night-mdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-night-xhdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-night-xxhdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-night-xxxhdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-xhdpi/bg_jetpack_login_splash.png
  WordPress/src/jetpack/res/drawable-xhdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-xxhdpi/bg_jetpack_login_splash.png
  WordPress/src/jetpack/res/drawable-xxhdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable-xxxhdpi/bg_jetpack_login_splash.webp
  WordPress/src/jetpack/res/drawable/ic_wordpress_jetpack_welcome.xml
  WordPress/src/jetpack/res/values-night/colors.xml
  WordPress/src/jetpack/res/values/colors.xml
  WordPress/src/jetpack/res/values/strings.xml
  WordPress/src/jetpack/res/values/texts_login_prologue_jetpack_features.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Type] Task, Login

#19840 Add missing analytics tracking to the revamped login screen
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/LoginPrologueRevampedFragment.kt
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/LoginPrologueRevampedViewModel.kt
Labels: Analytics, Login, Tech Debt

#19845 Replace green-ish gradient colors to white on the login screen
  WordPress/src/jetpack/res/values/colors.xml
  WordPress/src/jetpack/res/values/strings.xml
  WordPress/src/jetpack/res/values/texts_login_prologue_jetpack_features.xml
Labels: [Type] Enhancement, Login

#19831 Plans on site domain update domain purchase card design
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/res/drawable/img_illustration_domains_card_header.xml
  WordPress/src/main/res/layout/domain_add_domain_cta.xml
  WordPress/src/main/res/layout/domain_free_site_address_card.xml
  WordPress/src/main/res/layout/domain_purchase_card.xml
  WordPress/src/main/res/layout/domain_site_domains_card.xml
  WordPress/src/main/res/layout/domain_site_domains_header.xml
  WordPress/src/main/res/menu/domains_more.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, Plans on site domain

#19803 feat: Retry failed media uploads when re-establishing network connection
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: [Type] Enhancement, Media, Gutenberg

#19805 [Reader IA] Subscription filter chip group
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/DropdownMenuButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/JetpackDropdownMenu.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/MenuElementData.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/utils/FadingEdgesModifier.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/filter/ReaderFilterChipGroup.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/compose/components/menu/MenuElementDataTest.kt
Labels: [Type] Task, unit-tests-exemption, Reader IA

#19853 Use `trackWithSiteDetails` to track media upload events
  WordPress/src/main/java/org/wordpress/android/ui/uploads/MediaUploadHandler.java
Labels: Media, Analytics

#19842 [Reader IA] Fix RTL drop-down menu not being shown
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/JetpackDropdownMenu.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
Labels: [Type] Task, Reader IA

#19848 [JP Social] Fix social share limit being shown Atomic
  WordPress/src/main/java/org/wordpress/android/usecase/social/GetJetpackSocialShareLimitStatusUseCase.kt
  WordPress/src/test/java/org/wordpress/android/usecase/social/GetJetpackSocialShareLimitStatusUseCaseTest.kt
Labels: [Type] Bug, Jetpack Social
