Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-09, with the labels that each got.

#19124 Update chatbot style
  RELEASE-NOTES.txt
  WordPress/src/jetpack/assets/support_chat_widget.css
Labels: [Type] Bug, Contact Support

#19102 Fix crash when contacting customer support within the editor
  RELEASE-NOTES.txt
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: [Type] Crash, Gutenberg

#19117 Integrate gutenberg-mobile release 1.103.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#19116 [Nullability Annotations to Java Classes] Enable and Configure `UnknownNullness` Android Lint Check
  WordPress/build.gradle
  config/lint/lint.xml
  libs/analytics/build.gradle
  libs/editor/build.gradle
  libs/image-editor/build.gradle
  libs/mocks/build.gradle
  libs/networking/build.gradle
Labels: Core, Tech Debt

#19130 Domain transfer card fix crash on more menu tapped
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewHolder.kt
  WordPress/src/main/res/layout/domain_transfer_card.xml
Labels: [Type] Crash

#19125 Dashboard Personalization: Set "hide-this" pref from Quick Start Dialog
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartPromptDialogViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/QuickStartPromptDialogFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Dashboard Personalization

#18935 [Nullability Annotations to Java Classes] Replace `findViewById ` with `ViewBinding` for Notifications
  WordPress/src/main/java/org/wordpress/android/datasets/NotificationsTable.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentActions.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/services/NotificationsUpdateServiceStarter.java
Labels: Core, Tech Debt

#19095 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to All Networking Model Classes (`safe`)
  WordPress/src/androidTest/java/org/wordpress/android/mocks/RestClientFactoryTest.java
  WordPress/src/androidTest/java/org/wordpress/android/networking/AuthenticatorRequestTest.java
  WordPress/src/main/java/org/wordpress/android/modules/LegacyModule.java
  WordPress/src/main/java/org/wordpress/android/networking/OAuthAuthenticator.java
  build.gradle
  libs/networking/build.gradle
  libs/networking/src/main/java/org/wordpress/android/networking/Authenticator.java
  libs/networking/src/main/java/org/wordpress/android/networking/AuthenticatorRequest.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientFactory.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientFactoryAbstract.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientFactoryDefault.java
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientUtils.java
Labels: Core, Tech Debt

#19137 [UI Tests] Move JP UI tests to JP directory.
  WordPress/src/androidTestJetpack/java/org/wordpress/android/e2e/ContactUsTests.kt
  WordPress/src/androidTestJetpack/java/org/wordpress/android/e2e/DashboardTests.kt
Labels: UI Tests

#19141 Audit access to private data
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
Labels: [Type] Task

#19136 Removes: Quick Actions Card from MySiteDashboard
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickactions/QuickActionsCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickactions/QuickActionsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartMySitePrompts.kt
  WordPress/src/main/java/org/wordpress/android/util/BuildConfigWrapper.kt
  WordPress/src/main/res/layout/my_site_quick_actions_card.xml
  WordPress/src/main/res/layout/quick_actions_card.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteCardAndItemTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickactions/QuickActionsCardBuilderTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Tech Debt

#19148 Merge 23.2 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  build.gradle
Labels: Releases

#19135 Domain dashboard card: Remove feature flag
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/DomainsScreen.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/androidTestJetpack/java/org/wordpress/android/e2e/DashboardTests.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardDomainCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardDomainCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/DasboardCardDomainFeatureConfig.kt
  WordPress/src/main/res/layout/dashboard_card_domain.xml
  WordPress/src/main/res/menu/dashboard_card_domain_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardDomainCardBuilderTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/mocks/src/main/assets/mocks/mappings/wpcom/mobile/feature-flags.json
Labels: [Type] Task, Tech Debt, Domains Dashboard Card

#19154 Fix wrong menu button behavior on post detail screen
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
Labels: [Type] Bug, Reader

#19156 Plans on JP: Remove feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/plans/PlansCardUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/config/DashboardCardFreeToPaidPlansFeatureConfig.kt
Labels: [Type] Task, WP.com Plans, Plans on JP Mobile

#19103 [Permissions] Clean-up storage permissions and video recording
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/OptimizeMediaUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFileDownloadManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/DownloadManagerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/MediaUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderFileDownloadManagerTest.kt
  build.gradle
Labels: [Type] Task, Tech Debt, Android 14

#19159 Integrate gutenberg-mobile release 1.103.2
  build.gradle
Labels: Gutenberg

#19138 Moves: SiteInfoItems builder logic to Viewmodel Slice
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/categoryheader/SiteCategoryItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/infoitem/MySiteInfoItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/ListItemAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/categoryheader/SiteCategoryItemBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilderTest.kt
Labels: [Type] Task, Tech Debt

#19109 [Android 14] Support partial media access
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PermissionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/main/res/layout/media_picker_include_partial_access_prompt.xml
  WordPress/src/main/res/layout/photo_picker_fragment.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/util/LiveDataUtilsTest.kt
Labels: [Type] Task, Media Picker, Android 14

#19153 Change ruby version to 3.2.2
  .ruby-version
Labels: Core

#19164 [Nullability Annotations to Java Classes] Add Missing Nullability Annotations to All SDK Override `onMenu(...)` Methods (`relatively safe`)
  WordPress/src/main/java/org/wordpress/android/ui/AddQuickPressShortcutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/AppLogViewerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/WebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/EditCommentActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/CommentListActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/DebugSettingsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailContainerFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaPreviewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsTagsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/SelectCategoriesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AccountSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/BlogPreferencesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTagDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTagListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPhotoViewerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeWebActivity.java
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/ImageSettingsDialogFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Core, Tech Debt

#19152 Implements: Blogging prompt card viewmodel slice
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/avatars/TrainOfAvatarsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/PrologueBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsEnhancementsFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsFeature.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsListFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsSocialFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationScheduler.kt
  WordPress/src/main/java/org/wordpress/android/workers/reminder/prompt/PromptReminderNotifier.kt
  WordPress/src/main/res/menu/blogging_prompt_card_menu.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/editor/EditorBloggingPromptsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/PrologueBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationSchedulerTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/reminder/PromptReminderNotifierTest.kt
Labels: Tech Debt, My Site Dashboard, Blogging Prompts

#19046 [Social Connections] Fix flickering while loading publicize connections list in Social screen
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeServiceAdapter.java
Labels: [Type] Bug, Sharing

#19171 Skeleton: Dashboard Personalisation: Personalise Home tab
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/DashboardCardState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/PersonalisationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/PersonalisationViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Dashboard Personalization

#19167 Dashboard Personalization: Personalize Card
  WordPress/src/main/java/org/wordpress/android/ui/compose/styles/DashboardCardTypography.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardViewModelSlice.kt
  WordPress/src/main/res/drawable/ic_settings_white_24dp.xml
  WordPress/src/main/res/layout/personalize_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Dashboard Personalization

#19176 Fix chatbot layout issues
  WordPress/src/jetpack/assets/support_chat_widget.css
Labels: [Type] Enhancement, [Status] Needs Design Review, Contact Support

#19175 Dashboard Personalization: Personalize card navigation, tracking and unit testing
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/PersonalisationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19194 Specify android agent in Buildkite pipeline
  .buildkite/pipeline.yml
Labels: Tooling

#19190 Integrate gutenberg-mobile release 1.104.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#19170 Contact Support: fixes for feedback from CfT
  WordPress/src/jetpack/assets/support_chat_widget.js
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Contact Support

#19126 [Reader Improvements] Implement new header for tag
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.kt
  WordPress/src/main/res/layout/reader_header_follow_container.xml
  WordPress/src/main/res/layout/reader_site_header_view_new.xml
  WordPress/src/main/res/layout/reader_tag_header_view_new.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: [Type] Task, Reader Improvements

#19183 Dashboard Personalization: Implement tracking
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/DashboardCardState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/DashboardCardState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Do Not Merge, Dashboard Personalization

#19178 Dashboard Personalization: Implements the Personalization Screen
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/DashboardCardState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/PersonalisationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalisation/PersonalisationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/DashboardCardState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Dashboard Personalization

#19205 Dashboard Personalization: Implement No Card State
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessage.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessageViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessageViewModelSlice.kt
  WordPress/src/main/res/layout/no_cards_message.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessageViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19166 [Android 14] Update WordPress/Automattic libs to compileSdk 34
  build.gradle
Labels: [Type] Task, Android 14, Do Not Merge

#19214 Update fastlane to `2.215.1` and release toolkit to `9.0.1`
  Gemfile.lock
  fastlane/Fastfile
  fastlane/lanes/screenshots.rb
Labels: Tooling

#19200 [Reader Improvements] Update Tag Header to match i2 design
  WordPress/src/main/res/layout/reader_tag_header_view_new.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: [Type] Task, Reader Improvements

#19201 [Reader Improvements] Update Site Header to match i2 design
  WordPress/src/main/res/font/noto_serif.xml
  WordPress/src/main/res/font/noto_serif_bold.ttf
  WordPress/src/main/res/font/noto_serif_regular.ttf
  WordPress/src/main/res/layout/reader_header_follow_container.xml
  WordPress/src/main/res/layout/reader_site_header_view_new.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: [Type] Task, Reader Improvements

#19160 Fix the menu buttons bug on the reader post detail screen that occurs on low memory
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
Labels: [Type] Bug, Reader

#19213 Merge 23.3 code freeze to trunk
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  version.properties
Labels: Releases

#19172 [Nullability Annotations to Java Classes] Replace `findViewById` with `ViewBinding` for History (`relatively safe`)
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailContainerFragment.java
Labels: Core, Tech Debt

#19209 [Nullability Annotations to Java Classes] Replace `findViewById` with `ViewBinding` for Site Picker (`relatively safe`)
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
Labels: Core, Tech Debt

#19219 Merge 23.3 code freeze string to trunk
  Gemfile.lock
  WordPress/src/main/res/values/strings.xml
  fastlane/Fastfile
  fastlane/lanes/screenshots.rb
  fastlane/resources/values/strings.xml
Labels: Releases

#19222 Dashboard Personalization: Remove quick start cards from the personalize view
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/DashboardCardState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#19224 Fixes: Strings in Personalization Screen
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Dashboard Personalization

#19221 [Reader Improvements] Reader tag chips style update
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/res/color/reader_chip_stroke_color.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_chip_new.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_overflow_chip_new.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Reader Improvements

#19217 [Nullability Annotations to Java Classes] Replace `findViewById` with `ViewBinding` for Comments (`relatively safe`)
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragmentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/LoadCommentsTask.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
Labels: Core, Tech Debt

#19199 Improves: the performance and Architecture of My Site Dashboard
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCampaignsCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCampaignsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityItemsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/error/ErrorCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/error/ErrorWithinCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesItemsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/plans/PlansCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/plans/PlansCardUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/plans/PlansCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostItemsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessageViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessageViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/personalize/PersonalizeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/infoitem/MySiteInfoItemViewHolder.kt
  WordPress/src/main/res/layout/my_site_dashboard_cards.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/nocards/NoCardsMessageViewModelSliceTest.kt
Labels: [Type] Task, Tech Debt

#19238 Implements: ViewModelSlice for SiteinfoHeaderCard
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardViewModelSliceTest.kt
Labels: [Type] Task, My Site Dashboard

#19234 [Reader Improvements] Post details body content sans-serif
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostWebViewCachingFragment.java
Labels: [Type] Task, Reader Improvements

#19242 [JP Social] Connect to Mastodon via web
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/util/config/JPSocialMastodonConnectViaWebFeatureConfig.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, Jetpack Social

#19247 Merge 23.3 editorialized release notes to trunk
  WordPress/build.gradle
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/DashboardCardState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/util/config/JPSocialMastodonConnectViaWebFeatureConfig.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModelTest.kt
Labels: Releases

#19255 Fixes: Site icon not shown in editor when launched through Quick press shortcut
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Bug

#19253 Plans in site creation: Remove site domains feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteDomainsFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilderTest.kt
Labels: [Type] Task, Plans in Site Creation

#19254 Plans in site creation: Add feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/PlansInSiteCreationFeatureConfig.kt
Labels: [Type] Task, Plans in Site Creation

#19241 My Site Menu: Plugins item - Update visibility rule
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginUtils.java
Labels: [Type] Task, /My site

#19259 Pages Activity Crash on deep link when site is null
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, [Type] Crash

#19244 Unified Dashboard: Refactoring Part 1
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteMenuFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/res/layout/activity_mysite_menu.xml
  WordPress/src/main/res/layout/my_site_menu_fragment.xml
  WordPress/src/main/res/layout/quick_start_focus_point.xml
  WordPress/src/main/res/xml/app_settings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#19239 [Edit Comment] Remove Legacy `EditCommentActivity` Screen
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/EditCommentActivity.java
  WordPress/src/main/java/org/wordpress/android/util/config/UnifiedCommentsCommentEditFeatureConfig.kt
  WordPress/src/main/res/layout/comment_edit_activity.xml
  WordPress/src/main/res/menu/edit_comment.xml
  WordPress/src/main/res/values/strings.xml
Labels: Core, Tech Debt

#19266 [JP Social] Revert Mastodon client side pop-up
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeWebViewFragment.java
  WordPress/src/main/java/org/wordpress/android/util/config/JPSocialMastodonConnectViaWebFeatureConfig.kt
Labels: [Type] Enhancement, Jetpack Social

#19246 [Reader Improvements] Update follow/unfollow button on site header and tag header
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButtonType.kt
  WordPress/src/main/res/color/black_default_light_grey_selected_selector.xml
  WordPress/src/main/res/color/default_white_selected_black_selector.xml
  WordPress/src/main/res/color/on_secondary_on_background_selector.xml
  WordPress/src/main/res/color/secondary_surface_selector.xml
  WordPress/src/main/res/color/transparent_on_background_selector.xml
  WordPress/src/main/res/color/white_default_light_grey_selected_selector.xml
  WordPress/src/main/res/drawable/ic_reader_follow_conversation_white_24dp.xml
  WordPress/src/main/res/drawable/ic_reader_following_conversation_white_24dp.xml
  WordPress/src/main/res/drawable/reader_follow_button_dark.xml
  WordPress/src/main/res/drawable/reader_follow_button_effect_dark.xml
  WordPress/src/main/res/drawable/reader_follow_button_effect_light.xml
  WordPress/src/main/res/drawable/reader_follow_button_light.xml
  WordPress/src/main/res/layout/reader_header_follow_container.xml
  WordPress/src/main/res/layout/reader_site_header_view.xml
  WordPress/src/main/res/values-night/reader_styles.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, Reader Improvements

#19249 [Reader Improvements] Update follow/unfollow button on Reader post header
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view_new.xml
  WordPress/src/main/res/values-w600dp/reader_styles.xml
  WordPress/src/main/res/values/reader_styles.xml
Labels: [Type] Task, Do Not Merge, Reader Improvements

#19262 Plans in site creation: Remove domain purchasing feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsRegistrationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteCreationDomainPurchasingFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
Labels: [Type] Task, Plans in Site Creation

#19182 [Gutenberg] Update `compileSdkVersion` to 34
  build.gradle
Labels: Gutenberg, dependency update

#19263 Unified Dashboard: Refactoring Part 2 - Remove Tabs from viewmodel and view
  WordPress/src/androidTestJetpack/java/org/wordpress/android/e2e/DashboardTests.kt
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BloggingPromptsOnboardingListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteMenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteMenuFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jpfullplugininstall/JetpackInstallFullPluginShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTracker.kt
  WordPress/src/main/res/layout/activity_mysite_menu.xml
  WordPress/src/main/res/layout/my_site_fragment.xml
  WordPress/src/main/res/layout/my_site_menu_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsViewModelSliceTest.kt
Labels: [Type] Task

#19203 Add remote feature flag for domain management
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/DomainManagementFeatureConfig.kt
Labels: Domain Management

#19268 Add domains button to the me screen
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/res/layout/me_fragment.xml
Labels: [Type] Enhancement, Me Screen, Domain Management

#19273 Dashboard: unified menu Refactoring
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/ShortcutState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/ShortcutsPersonalizationViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteCardAndItemTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemFixtures.kt
Labels: [Type] Task

#19275 Merge 23.3-rc-2 to trunk
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeWebViewFragment.java
  WordPress/src/main/java/org/wordpress/android/util/config/JPSocialMastodonConnectViaWebFeatureConfig.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-hu/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-uz/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#19279 Implements: the quick link item logic in Unified Menu
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/ListItemActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinksItemViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/ListItemActionHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsViewModelSliceTest.kt
Labels: 1, My Site Dashboard
