Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-04, with the labels that each got.

#18187 Add upload completion processor for VideoPress block
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/BlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/BlockProcessorFactory.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaBlockType.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoPressBlockProcessor.kt
  WordPress/src/main/java/org/wordpress/android/util/UriWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/TestContent.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoBlockProcessorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoPressBlockProcessorTest.kt
Labels: Media, Gutenberg, gutenberg-mobile

#18233 Fix crash when opening app after upgrade to 22.1
  build.gradle
Labels: [Type] Crash, [Status] Not Ready for Merge

#18234 [WP Individual JP Plugin] Remove URL scheme from UI
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelper.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelperTest.kt
Labels: [Type] Bug, Jetpack Plugins

#18235 Merge 22.1-rc-2 to trunk
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelper.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginHelperTest.kt
  build.gradle
  version.properties
Labels: Releases

#18224 Domains dashboard card feature config
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/domains/DashboardCardDomainUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/DasboardCardDomainFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
Labels: [Type] Task, Domains Dashboard Card

#18181 [Gutenberg] Support POST requests
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/reactnative/ReactNativeRequestHandler.kt
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#18241 Merge 22.1 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#18242 Fix the font crash on Android 7.1
  WordPress/src/wordpress/java/org/wordpress/android/ui/compose/theme/Fonts.kt
Labels: [Type] Crash, Login

#18183 Android 13 media permissions
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PermissionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
Labels: Android 13

#18227 [Lint Warnings] Source Sets: Debug, WordPress and Jetpack - Resolve All Warnings
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/jetpack/AndroidManifest.xml
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/components/RepeatingColumn.kt
  WordPress/src/jetpack/res/drawable/img_quick_start_tour_illustration.xml
  WordPress/src/wordpress/AndroidManifest.xml
  WordPress/src/wordpress/res/drawable/img_quick_start_tour_illustration.xml
  config/lint/baseline.xml
  config/lint/lint.xml
Labels: Tooling, Tech Debt

#18246 Merge 22.1-rc-3 to trunk
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/wordpress/java/org/wordpress/android/ui/compose/theme/Fonts.kt
  version.properties
Labels: Releases

#18239 Runtime notifications permission
  RELEASE-NOTES.txt
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingReminderBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/NotificationsPermissionBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsPermissionBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/notifications_permission_bottom_sheet.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModelTest.kt
  build.gradle
Labels: [Type] Task, Android 13

#18244 Adds dashboard card - pages card in the correct position
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardContentType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesItemsAdapter.kt
  WordPress/src/main/res/layout/my_site_pages_card_footer_link.xml
  WordPress/src/main/res/layout/my_site_pages_card_with_page_items.xml
  WordPress/src/main/res/layout/pages_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  build.gradle
Labels: [Type] Task, [Status] Not Ready for Merge, My Site Dashboard

#18248 Integrate gutenberg-mobile release 1.92.1
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile

#18251 Fix the bold font crash
  WordPress/src/main/res/values/styles_toolbar.xml
Labels: [Type] Crash

#18252 Merge 22.0.1 hotfix to release/22.1
  WordPress/src/main/res/values/styles_toolbar.xml
  version.properties
Labels: Releases

#18247 Fix the crash on reader post list screen
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderViewPage.kt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  libs/mocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v11_read_sites_70135762.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v12_read_sites_70135762_posts.json
Labels: [Type] Crash, Tech Debt

#18254 [UI Tests] Disabled `e2eAllDayStatsLoad` for JP completely.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.kt
Labels: UI Tests

#18253 Merge 22.1-rc-4 to trunk
  RELEASE-NOTES.txt
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values/styles_toolbar.xml
  version.properties
Labels: Releases

#18259 Move media permissions from debug to main AndroidManifest
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/main/AndroidManifest.xml
Labels: UI Tests, Android 13

#18255 Fix previews of sites created with paid domains
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ProductExtensions.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressViewModelTest.kt
  build.gradle
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#18265 [Blogging Prompts] Add remote field to Social FF and enable it
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsSocialFeatureConfig.kt
Labels: [Type] Task, Blogging Prompts

#18267 Merge 22.1-rc-5 to trunk
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ReaderViewPage.kt
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  libs/mocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v11_read_sites_70135762.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v12_read_sites_70135762_posts.json
  version.properties
Labels: Releases

#18263 Dashboard Cards: Add Activity Log to card source
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  build.gradle
Labels: [Type] Task, [Status] Not Ready for Merge, My Site Dashboard

#18240 Dashboard domain card UI
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domain/DashboardDomainCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/domain/DashboardDomainCardViewHolder.kt
  WordPress/src/main/res/layout/dashboard_card_domain.xml
  WordPress/src/main/res/menu/dashboard_card_domain_menu.xml
  WordPress/src/main/res/values/dashboard_card_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardDomainCardBuilderTest.kt
Labels: [Type] Task, Domains Dashboard Card

#18272 Fix crash on comment detail screen
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsDetailActivity.java
Labels: [Type] Crash

#18273 Dashboard card domain analytics
  WordPress/src/main/java/org/wordpress/android/ui/domains/DashboardCardDomainUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardDomainCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardDomainCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlanUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardDomainCardBuilderTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Domains Dashboard Card

#18172 Parent-PR-for-updating-targetSdkVersion-to-33-(Android-13)
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingReminderBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/NotificationsPermissionBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerSetup.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsPermissionBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/MediaPickerLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PermissionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/res/layout/media_picker_fragment.xml
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/layout/notifications_permission_bottom_sheet.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLoaderFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModelTest.kt
  build.gradle
Labels: [Type] Task, Android 13

#18243 [Jetpack Plugin Full Install] Track error reason when installation fails
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/install/JetpackFullPluginInstallAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/install/JetpackFullPluginInstallViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/install/JetpackFullPluginInstallAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/install/JetpackFullPluginInstallViewModelTest.kt
Labels: [Type] Enhancement, Analytics, Jetpack Install Full Plugin

#18276 [Jetpack] Fix pagination not working when opening a tag from "View all responses" blogging prompt card button
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostLogic.java
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProviderTest.kt
Labels: [Type] Bug, Blogging Prompts

#18278 Fix the infinite loading indicator issue on my site
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlanUtils.kt
Labels: [Type] Bug, Domains Dashboard Card

#18261 Remove Gutenberg VideoPress block for excerpt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostUtilsUnitTest.kt
Labels: gutenberg-mobile

#18270 Dashboard Cards: Activity Card Foundation
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityItemsAdapter.kt
  WordPress/src/main/res/layout/my_site_activity_card_item.xml
  WordPress/src/main/res/layout/my_site_activity_card_with_activity_items.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, My Site Dashboard

#17903 [Dependency Updates] Reconfigure Media-for-Mobile Dependency
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/uploads/M4mVideoOptimizer.java
  build.gradle
Labels: Tech Debt, dependency update

#18245 [Lint Warnings] Source Set: Main - Resolve All Warnings [`Correctness`] - Part.1
  WordPress/src/main/java/org/wordpress/android/ui/TextInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostSettingsInputDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PublishSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/NumberPickerDialog.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverJobService.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverService.kt
  WordPress/src/main/res/layout/account_settings_activity.xml
  WordPress/src/main/res/layout/activity_log_list_activity.xml
  WordPress/src/main/res/layout/app_settings_activity.xml
  WordPress/src/main/res/layout/backup_download_activity.xml
  WordPress/src/main/res/layout/debug_settings_activity.xml
  WordPress/src/main/res/layout/fragment_jetpack_security_settings.xml
  WordPress/src/main/res/layout/insights_management_activity.xml
  WordPress/src/main/res/layout/my_profile_activity.xml
  WordPress/src/main/res/layout/pages_parent_activity.xml
  WordPress/src/main/res/layout/plans_activity.xml
  WordPress/src/main/res/layout/reader_interests_activity.xml
  WordPress/src/main/res/layout/restore_activity.xml
  WordPress/src/main/res/layout/scan_activity.xml
  WordPress/src/main/res/layout/scan_history_activity.xml
  WordPress/src/main/res/layout/site_settings_categories_list_activity.xml
  WordPress/src/main/res/layout/stats_all_time_widget_configure_activity.xml
  WordPress/src/main/res/layout/stats_minified_widget_configure_activity.xml
  WordPress/src/main/res/layout/stats_today_widget_configure_activity.xml
  WordPress/src/main/res/layout/stats_views_widget_configure_activity.xml
  WordPress/src/main/res/layout/stats_week_views_widget_configure_activity.xml
  WordPress/src/main/res/layout/threat_details_activity.xml
  config/lint/baseline.xml
  config/lint/lint.xml
  libs/image-editor/src/main/res/layout/activity_edit_image.xml
Labels: Tooling, Tech Debt

#18288 Merge 22.2-rc-2 to trunk
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/res/drawable-ldrtl/ic_wordpress_jetpack_appicon.xml
  WordPress/src/main/res/drawable/ic_wordpress_jetpack_appicon.xml
  WordPress/src/main/res/layout/my_site_single_action_card_item.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#18289 [Sharing] Fix Tumblr form being pushed down
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeWebViewFragment.java
  WordPress/src/main/res/layout/publicize_webview_fragment.xml
Labels: [Type] Bug, Sharing

#18279 [Gutenberg] Emit editor save events
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Gutenberg, gutenberg-mobile

#18292 Dashboard Cards: Activity Card rearrange content in card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityItemViewHolder.kt
  WordPress/src/main/res/layout/my_site_activity_card_item.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, My Site Dashboard

#18300 Merge 22.2 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#18299 Implement final screen UI
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/AppColor.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/JetpackColors.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/DomainItem.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
Labels: [Status] Not Ready for Review, [Type] Task, [Status] Not Ready for Merge

#18301 Fix dashboard card domain navigation
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
Labels: [Type] Bug, Domains Dashboard Card

#18302 Update domain empty view UI
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationHeaderUiState.kt
  WordPress/src/main/res/layout/site_creation_domains_screen.xml
  WordPress/src/main/res/layout/site_creation_domains_screen_example_updated.xml
  WordPress/src/main/res/values/strings.xml
Labels: Site Creation, Jetpack App, Domains

#18303 [Dependency Updates] Update `androidxComposeCompilerVersion` and `kotlinVersion` to 1.3.2 and 1.7.20
  WordPress/src/main/java/org/wordpress/android/ui/activitylog/list/ActivityLogListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/install/JetpackFullPluginInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/PreferenceFragmentLifeCycleOwner.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/categories/detail/CategoryDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/LargeValueFormatter.kt
  WordPress/src/main/java/org/wordpress/android/widgets/AppRatingDialog.kt
  build.gradle
  settings.gradle
Labels: Tech Debt, dependency update

#18310 Dashboard Cards: Activity Card implement tracking
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
Labels: [Type] Task, My Site Dashboard

#18315 Implement list UI updates for paid domains
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/DomainItem.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#18290 Fix camera permission issue
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PermissionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  build.gradle
Labels: [Type] Bug, Android 13

#18309 Dashboard Cards: Activity Card tweak UI
  WordPress/src/main/res/layout/my_site_activity_card_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, My Site Dashboard

#18313 Dashboard Card Domain: Do not show card on P2s
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainUtils.kt
Labels: [Type] Task, Domains Dashboard Card

#18305 Implement final screen UI
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiHelpers.kt
  WordPress/src/main/res/layout-land/site_creation_preview_screen_default.xml
  WordPress/src/main/res/layout/site_creation_header_v2.xml
  WordPress/src/main/res/layout/site_creation_preview_header_item.xml
  WordPress/src/main/res/layout/site_creation_preview_screen_default.xml
  WordPress/src/main/res/layout/site_creation_preview_web_view_container.xml
  WordPress/src/main/res/values-land/styles.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#18318 Merge 22.2-rc-3 to trunk
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PermissionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  version.properties
Labels: Releases

#18320 Fix inconsistent background color of domain list in dark theme on landscape
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/DomainItem.kt
Labels: [Type] Bug, Domain Search, Site Creation, Jetpack App

#18286 Update dashboard card domain to v2
  WordPress/src/main/res/drawable-night/browser_address_bar.xml
  WordPress/src/main/res/drawable/browser_address_bar.xml
  WordPress/src/main/res/layout/dashboard_card_domain.xml
  WordPress/src/main/res/values/dashboard_card_styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, [Status] Not Ready for Merge, Domains Dashboard Card

#18113 [Dependency Updates] Update `squareupOkioVersion` to 3.2.0
  build.gradle
Labels: Tech Debt, dependency update

#18325 Handle edge cases on the new Site Creation progress screen
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressViewModelTest.kt
Labels: Site Creation, Jetpack App, Domains

#18329 Merge 22.2-rc-4 to trunk
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  version.properties
Labels: Releases

#18323 [Reader] Add support to Prompt block
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/utils/ReaderUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: [Type] Bug, Reader

#18322 Implement create new section in pages card
  WordPress/src/main/java/org/wordpress/android/ui/PagePostCreationSourcesDetail.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/mlp/ModalLayoutPickerViewModel.kt
  WordPress/src/main/res/drawable-hdpi/illustration_page_card_create_page.png
  WordPress/src/main/res/drawable-xhdpi/illustration_page_card_create_page.png
  WordPress/src/main/res/drawable-xxhdpi/illustration_page_card_create_page.png
  WordPress/src/main/res/drawable-xxxhdpi/illustration_page_card_create_page.png
  WordPress/src/main/res/layout/my_site_pages_card_footer_link.xml
  WordPress/src/main/res/layout/my_site_pages_card_with_page_items.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
Labels: [Type] Task, [Status] Needs Design Review, My Site Dashboard

#18335 [Tool] Configure Dependabot to Ignore AGP Plugins
  .github/dependabot.yml
Labels: Tooling

#18298 Store domains endpoint
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/domain/DashboardCardDomainSourceTest.kt
  build.gradle
Labels: [Type] Bug, Domains Dashboard Card

#18334 Runtime permission to notification settings
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsFragment.java
  WordPress/src/main/res/values/strings.xml
Labels: Android 13
