Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-08, with the labels that each got.

#18862 Fixes require statement logic error
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModelFactory.kt
Labels: Stats, [Type] Crash

#18866 Fixing commented out unit tests for EditPostPublishSettingsJetpackSocialUiStateMapperTest
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
Labels: [Type] Task, Jetpack Social

#18868 Blaze Campaigns: Update campaign detail URL format
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaigndetail/CampaignDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaigndetail/CampaignDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaigndetail/CampaignDetailWebViewNavigationDelegate.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazepromote/BlazePromoteWebViewFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/CampaignDetailWebViewNavigationDelegateTest.kt
Labels: [Type] Task, Blaze

#18865 Add a dialog for missing splits case
  WordPress/src/jetpack/java/org/wordpress/android/util/MissingSplitsUtils.kt
  WordPress/src/jetpack/res/values/strings.xml
  WordPress/src/main/java/org/wordpress/android/ui/WPLaunchActivity.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/wordpress/java/org/wordpress/android/util/MissingSplitsUtils.kt
Labels: [Type] Crash

#18860 Disable R8 fullMode
  .configure
  .configure-files/gradle.properties.enc
  gradle.properties-example
Labels: Tooling

#18871 [Jetpack Social] Implement show jetpack social no connection shared pref
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/usecase/social/JetpackSocialFlow.kt
Labels: [Type] Task, Jetpack Social

#18842 Blaze: Manage Campaigns: Implement Pagination and PTR
  WordPress/src/main/java/org/wordpress/android/Result.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListUseCases.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingUIModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/LoadingState.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/CampaignListingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingUIModelMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/FetchCampaignListUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/GetCampaignListFromDbUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeCardBuilderTest.kt
  build.gradle
Labels: [Type] Task, Blaze

#18823 [Jetpack Social] Implement CTAs in post settings screen (part 1)
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialConnectionsContainer.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialConnectionsList.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialContainer.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialContainerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialNoConnections.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialSharesContainer.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/PostSocialConnection.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/compose/PostSocialConnectionItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/compose/PostSocialSharingItem.kt
  WordPress/src/main/java/org/wordpress/android/usecase/social/GetPublicizeConnectionsForUserUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/CollectionExtensions.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PublishSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/usecase/social/GetPublicizeConnectionsForUserUseCaseTest.kt
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_106707880_external_services.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/jetpack/wpcom_v2_sites_106707880_jetpack_social.json
Labels: [Type] Task, Jetpack Social

#18877 Blaze: Campaigns: Blaze Card Source Refactoring
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/MostRecentCampaignUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/blaze/MostRecentCampaignUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeCardSourceTest.kt
Labels: [Type] Task, Blaze

#18880 Integrate gutenberg-mobile release 1.101.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#18851 [Jetpack Social] Post settings publicize skip connections integration
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/util/extensions/PostModelExtensions.kt
  build.gradle
Labels: [Type] Task, Jetpack Social

#18861 [Jetpack Social] Fix post settings publicize icons according to selected accounts
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapperTest.kt
Labels: [Type] Task, Jetpack Social

#18869 [Jetpack Social] Enable/disable post settings connections considering shares remaining
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/usecase/social/GetJetpackSocialShareLimitStatusUseCase.kt
Labels: [Type] Task, Jetpack Social

#18875 [Jetpack Social] Implement "Not now" button in post settings no connections container
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialContainerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialNoConnections.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PublishSettingsViewModelTest.kt
Labels: [Type] Task, Jetpack Social

#18881 Add release notes for blaze campaigns
  RELEASE-NOTES.txt
Labels: [Type] Task, Blaze

#18883 [JP Social/Post Editor] Extract common logic to ViewModel scoped to Editor Activity
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialContainerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PublishSettingsViewModelTest.kt
Labels: [Type] Task, Jetpack Social

#18885 [JP Social/Pre-publish] Integrate real data in the pre-publish home bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialContainerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/compose/PrepublishingHomeSocialNoConnectionsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/compose/PostSocialSharingItem.kt
  WordPress/src/main/res/layout/post_prepublishing_home_fragment.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapperTest.kt
Labels: [Type] Task, Jetpack Social

#18892 [JP Social/Pre-publish] Social sharing settings deeper-level
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostJetpackSocialConnectionsContainer.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostJetpackSocialConnectionsList.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialContainerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeItemUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/social/PrepublishingSocialFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/social/compose/PrepublishingSocialScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/compose/PostSocialSharingItem.kt
  WordPress/src/main/res/layout/prepublishing_social_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModelTest.kt
Labels: [Type] Task, Jetpack Social

#18895 [JP Social/Pre-publish] Load JP Social item for pre-publish sheet on PostsListActivity
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/listeners/PrepublishingSocialViewModelProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/social/PrepublishingSocialFragment.kt
Labels: [Type] Task, Do Not Merge, Jetpack Social

#18896 Social sharing adding tracking for post settings
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostJetpackSocialConnectionsContainer.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostJetpackSocialConnectionsList.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialContainerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/compose/PrepublishingHomeSocialNoConnectionsItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/social/compose/PrepublishingSocialScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/social/JetpackSocialSharingTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack Social

#18898 [Jetpack Social] Post settings UI fixes
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsJetpackSocialSharesContainer.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
Labels: [Type] Task, Jetpack Social

#18897 [JP Social] Create improvements feature config and enable it by default
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackSocialFeatureConfig.kt
Labels: [Type] Task, Do Not Merge, Jetpack Social

#18852 Domain transfer dashboard card
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ContactUsTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/DashboardTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/LandingPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
  WordPress/src/androidTest/java/org/wordpress/android/support/ComposeEspressoLink.kt
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/drawable/ic_domain_transfer_54x32.xml
  WordPress/src/main/res/layout/domain_transfer_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Domains, Domains Dashboard Card

#18890 Crash on the installation of a plugin that is already installed
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  build.gradle
Labels: Jetpack Plugins, [Type] Crash

#18879 Contact support launch chat widget
  WordPress/build.gradle
  WordPress/src/jetpack/assets/support_chat_widget.html
  WordPress/src/jetpack/assets/support_chat_widget.js
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewClient.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpViewModel.kt
  build.gradle
Labels: Contact Support

#18920 [JP Social/New Post] Add for=mobile query param to new post request (FluxC)
  build.gradle
Labels: [Type] Bug, Posting/Editing, Jetpack Social

#18928 [JP Social/Post Editing] Show social service icon in connections list
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/PostSocialConnection.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/compose/PostSocialConnectionItem.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapperTest.kt
Labels: [Type] Bug, Jetpack Social

#18933 Fix Campaign status label color - scheduled
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/CampaignStatus.kt
Labels: Blaze

#18929 [Bottom Navigation] Remove default content description from navbar item layout
  WordPress/src/main/res/layout/navbar_item.xml
Labels: [Type] Bug, Accessibility, Bottom Navigation, Me Screen

#18951 Merge 23.0 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/CampaignStatus.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/PostSocialConnection.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/compose/PostSocialConnectionItem.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsJetpackSocialUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/social/PostSocialSharingModelMapperTest.kt
  build.gradle
Labels: Releases

#18925 [Nullability Annotations to Java Classes] Replace `org.jetbrains` with `androidx` annotations
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/ImeTestRule.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/BaseUsernameChangerFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/EditCommentActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/RoleChangeDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/DetailListPreference.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MultiSelectRecyclerViewAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTagListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeConnectionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderTagActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSearchSuggestionRecyclerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/Mp4ComposerVideoOptimizer.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/editor/src/main/java/org/wordpress/android/editor/MediaToolbarAction.java
  libs/editor/src/main/java/org/wordpress/android/editor/MediaToolbarCameraButton.java
  libs/editor/src/main/java/org/wordpress/android/editor/MediaToolbarGalleryButton.java
  libs/editor/src/main/java/org/wordpress/android/editor/MediaToolbarLibraryButton.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Core, Tech Debt

#18930 Contact support configure chat widget
  WordPress/src/jetpack/assets/bot_widget.js
  WordPress/src/jetpack/assets/support_chat_widget.html
  WordPress/src/jetpack/assets/support_chat_widget.js
  WordPress/src/main/java/org/wordpress/android/support/JsObject.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewClient.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Contact Support

#18957 [Reader] Mute all videos by default to avoid hearing the audio of another post in the displayed post
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
Labels: [Type] Bug, Reader

#18952 [Site Picker] Don't filter out Jetpack CP-connected sites when adding a self-hosted site
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  build.gradle
Labels: [Type] Bug, Site Picker

#18960 Dashboard Cards: Remove "Create Next Post" card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardType.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
Labels: [Type] Task, My Site Dashboard

#18962 Dashboard Cards: Remove "Create First Post" card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
Labels: [Type] Task

#18934 Jetpack feature removal: Adds the logic to show phase 4 overlay with frequency
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureOverlayShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackFeatureRemovalRemoteFields.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelperTest.kt
Labels: [Type] Task, Jetpack Focus

#18963 UI Modernization: Add dashboard personalization feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/DashboardPersonalizationFeatureConfig.kt
Labels: [Type] Task, Dashboard Personalization

#18959 [Post Upload] Crash fix: remove call to mutex#unlock from UploadStarter
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadStarter.kt
  WordPress/src/test/java/org/wordpress/android/ui/uploads/UploadStarterMutexTest.kt
Labels: [Type] Crash, Offline Support

#18964 Contact Support: Improve bot opening
  WordPress/src/jetpack/assets/bot_widget.js
  WordPress/src/jetpack/assets/support_chat_widget.js
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/assets/support_chat_widget.css
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Contact Support

#18982 Contact Support: Navigation improvements for links
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewClient.kt
Labels: [Type] Task, Contact Support

#18961 Create ZD ticket from chat bot
  WordPress/src/jetpack/assets/support_chat_widget.js
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewClient.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpViewModel.kt
  WordPress/src/main/res/layout/progress_layout.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task

#18965 UI modernization remove fab tool tip on posts screen
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/UserFlagsProviderHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/LayoutBehaviors.kt
  WordPress/src/main/java/org/wordpress/android/ui/WPTooltipView.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/post_list_activity.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListCreateMenuViewModelTest.kt
Labels: [Type] Bug, [Type] Task

#18967 [Jetpack Social] Hide Jetpack Social container if PostStatus is PRIVATE
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
Labels: [Type] Bug, Jetpack Social

#18990 Attach signed apks to GitHub release
  fastlane/lanes/build.rb
  fastlane/lanes/release.rb
Labels: Tooling

#18988 Update hardcoded DocsBot id
  .configure
  .configure-files/gradle.properties.enc
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  gradle.properties-example
Labels: [Type] Task, Contact Support

#18987 Don't return to the chat bot screen again after ticket creation
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
Labels: [Type] Enhancement, Contact Support

#18986 Remove ExPlat experiment for domain purchasing during site creation
  WordPress/src/main/java/org/wordpress/android/modules/ExperimentModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteCreationDomainPurchasingFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/experiments/SiteCreationDomainPurchasingExperiment.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Tech Debt, Domains

#18889 Gutenberg - Hide undo/redo buttons in HTML Mode
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/BlockEditorPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Testing, Gutenberg

#18968 Dashboard Personalization: Recent Activity Log Card
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardViewHolder.kt
  WordPress/src/main/res/layout/my_site_activity_card_with_activity_items.xml
  WordPress/src/main/res/menu/activity_log_card_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityCardBuilderTest.kt
Labels: [Type] Task, Dashboard Personalization

#18979 [Jetpack Social] Update social network icons in social connections screen
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeServiceIcon.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeServiceAdapter.java
Labels: [Type] Enhancement, Jetpack Social

#18996 Integrate gutenberg-mobile release 1.101.1
  build.gradle
Labels: Gutenberg

#19001 Disable domain purchasing during site creation on Jetpack
  WordPress/build.gradle
Labels: Domains

#18993 Contact support launch chat from all entry points
  WordPress/build.gradle
  WordPress/src/jetpack/assets/support_chat_widget.css
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostCustomerSupportHelper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ContactSupportFeatureConfig.kt
Labels: [Type] Task, Contact Support

#19003 Integrate gutenberg-mobile release 1.102.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#18994 Dashboard Card Personalization: Pages Card
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/domaintransfer/DomainTransferCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/util/config/DashboardCardPagesConfig.kt
  WordPress/src/main/res/menu/dashboard_card_domain_menu.xml
  WordPress/src/main/res/menu/dashboard_card_plans_menu.xml
  WordPress/src/main/res/menu/jetpack_feature_card_menu.xml
  WordPress/src/main/res/menu/jp_install_full_plugin_card_menu.xml
  WordPress/src/main/res/menu/pages_card_menu.xml
  WordPress/src/main/res/menu/promote_with_blaze_card_menu.xml
  WordPress/src/main/res/menu/switch_to_jetpack_card_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#18850 Add a guard to avoid calling Glide load when activity is destroyed
  build.gradle
Labels: [Type] Crash, Media Editing

#19000 Contact Support: Add Analytics
  WordPress/src/jetpack/assets/support_chat_widget.js
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivityViewModel.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Contact Support

#19005 Dashboard Personalization: Activity Card track More Menu events
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Dashboard Personalization

#19008 Dashboard Personalization: Activity Card implement hide card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/DashboardActivityLogCardFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/DashboardActivityLogCardFeatureUtilsTest.kt
Labels: [Type] Task, Dashboard Personalization

#19014 [Pre-publish] Make pre-publish bottom-sheet fully scrollable
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/main/res/layout/post_prepublishing_home_fragment.xml
Labels: [Type] Bug, Prepublishing Nudges

#19023 Create ZD ticket from account closure error dialog
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureUi.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Enhancement, Contact Support

#19011 Fixes: Card Refresh not working properly
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/activitylog/ActivityLogDetailViewModelTest.kt
  build.gradle
Labels: [Type] Task, Dashboard Personalization

#19015 Add logic to remove empty categories from site settings page
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: [Type] Bug, Site Settings

#19020 Implements the tracking for more menu item clicks - Pages Card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19042 Dashboard Personalization: Remove today stats card remote feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/config/MySiteDashboardTodaysStatsCardFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
Labels: [Type] Task, Dashboard Personalization

#19043 Dashboard Personalization: Todays Stats extract to view model slice
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19047 Dashboard Personalization: Add more menu to todays stats card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/main/res/layout/my_site_todays_stats_card.xml
  WordPress/src/main/res/menu/dashboard_card_todays_stats_menu.xml
  WordPress/src/main/res/values/dashboard_card_styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19012 EditPostActivity - Check for mSite before accessing the site's icon URL
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Gutenberg

#19024 [Android 14] Update compileSdkVersion to 34
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksribbon/QuickLinkRibbonViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/NoSiteToReblogActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderInterestsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/LineChartMarkerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/SuggestionActivity.kt
  build.gradle
Labels: [Type] Task, Android 14

#19053 Today stats card - moves tracking events to viewmodel slice
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19055 Pages card: Hide implementation
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19049 Contact support update chat styles
  WordPress/src/jetpack/assets/support_chat_widget.css
  WordPress/src/jetpack/res/values/colors.xml
  WordPress/src/main/java/org/wordpress/android/support/SupportWebViewActivity.kt
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Contact Support

#19058 Dashboard Personalization: Today's stats card more menu tracking
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19059 Dashboard Personalization: Todays Stats Implement Hide This
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19056 Implement more menu for Blaze Card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCampaignsCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardViewHolder.kt
  WordPress/src/main/res/menu/promote_with_blaze_card_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeCardBuilderTest.kt
Labels: [Type] Task, Dashboard Personalization

#19061 Fix - Remove ContactsContract reference from SiteSettingsFragment by …
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: [Type] Enhancement, Site Settings

#19063 Implementation: More menu clicks in blaze card
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazeoverlay/BlazeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazepromote/BlazePromoteParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCampaignsCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeViewModelTest.kt
Labels: [Type] Task, Dashboard Personalization

#19076 [Tech Debt] Remove GET_ACCOUNTS permission
  WordPress/src/main/AndroidManifest.xml
  build.gradle
Labels: [Type] Bug, Tech Debt

#19068 Merge release/23.1-rc-2 into trunk (`beta`)
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/res/layout/post_prepublishing_home_fragment.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  version.properties
Labels: Releases

#19088 Merge editorialized release notes for version 23.1
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#19080 [Reader Improvements] Implement Reader Improvements feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderImprovementsFeatureConfig.kt
Labels: [Type] Task, Reader Improvements

#19092 Update RELEASE-NOTES.txt
  RELEASE-NOTES.txt
Labels: [Type] Task, Contact Support

#19075 Dashboard Personalization: Posts extract to view model slice
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19089 Dashboard Personalization: Add more menu to drafts and scheduled posts dashboard cards
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSlice.kt
  WordPress/src/main/res/layout/my_site_post_card_with_post_items.xml
  WordPress/src/main/res/menu/dashboard_card_draft_posts_menu.xml
  WordPress/src/main/res/menu/dashboard_card_scheduled_posts_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19090 Dashboard Personalization: Post Card more menu click implementation
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19091 Dashboard Personalization: Post cards more menu tracking
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/posts/PostsCardViewModelSliceTest.kt
Labels: [Type] Task, Dashboard Personalization

#19099 Dashboard Personalization: Adds tracking for more menu clicks in Blaze cards
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSliceTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Dashboard Personalization

#19104 Dashboard Personalization: Next Steps More Card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteDialogModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTracker.kt
  WordPress/src/main/res/menu/quick_start_card_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardBuilderTest.kt
Labels: [Type] Task, [Status] Not Ready for Merge, Dashboard Personalization

#19107 Dashboard Personalization: Quick Start cards more menu implementation
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartCardBuilderTest.kt
Labels: [Type] Task, Dashboard Personalization

#19115 Fixes: My site dashboard menu items tracking
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/SiteItemsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/ListItemAction.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsTrackerTest.kt
Labels: [Type] Bug, Dashboard Personalization

#19112 Implements: Viewmodel slice for ActivityLogCard
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityLogCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/DashboardActivityLogCardFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/config/DashboardCardActvitiyLogConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/ActivityLogCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/activity/DashboardActivityLogCardFeatureUtilsTest.kt
Labels: [Type] Task, Dashboard Personalization

#19108 Merge 23.1-rc-3 to trunk
  version.properties
Labels: Releases
