Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-11, with the labels that each got.

#19466 Implement Search for a domain screen
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainStatusRow.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainsListCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/MyDomainsScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/composable/DomainsSearchTextField.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/composable/PendingGhostStrip.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/composable/JetpackOutlinedButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/composable/NewDomainSearchScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/NewDomainsSearchRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/ProposedDomain.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/SuggestedDomainsFetcher.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/NewDomainsSearchRepositoryTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack App, Domain Management

#19485 Displays transfer domains webview from domains search screen
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/composable/NewDomainSearchScreen.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack App, Domain Management

#19491 UI Modernization posts: Add comments action to post list context menu
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: [Type] Task, UI Modernization

#19218 Rubocop fixes and configuration update
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  fastlane/Fastfile
  fastlane/helpers/github.rb
  fastlane/lanes/build.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/release_management_in_ci.rb
  fastlane/lanes/screenshots.rb
  fastlane/lanes/test.rb
Labels: Tooling

#19489 Captures search domain tap
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/composable/NewDomainSearchScreen.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack App, Domain Management

#19504 Refactors ProposedDomain prefix and suffix as computed properties
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/composable/NewDomainSearchScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/NewDomainsSearchRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/ProposedDomain.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/NewDomainsSearchRepositoryTest.kt
Labels: [Type] Enhancement, [Type] Task, Domain Management

#19505 UI Modernization Posts: Update author filter rule
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
Labels: [Type] Task, UI Modernization

#19494 Convert to kotlin themebrowserfragment
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.kt
Labels: Themes, [Type] Task, Convert to Kotlin

#19493 [Reader Improvements] Fix Reader placeholder for recommended blog item and site header
  WordPress/src/main/java/org/wordpress/android/util/image/ImagePlaceholderManager.kt
  WordPress/src/main/res/drawable/bg_oval_placeholder_globe_32dp.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item_new.xml
Labels: [Type] Task, Reader Improvements

#19495 [Reader] Show loading indicator when loading and feed not empty
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: [Type] Bug, Reader, Reader Improvements

#19509 Handle navigation back button on the All Domain screen
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/MyDomainsScreen.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/DomainManagementViewModelTest.kt
Labels: [Type] Task, Domain Management

#19471 Part-1: Compiler Warnings as Errors - WordPress Module - FragmentManager
  WordPress/src/main/java/org/wordpress/android/ui/PrivateAtCookieRefreshProgressDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsWidgetConfigureFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/StatsMinifiedWidgetConfigureFragment.kt
  WordPress/src/main/java/org/wordpress/android/widgets/AppRatingDialog.kt
Labels: [Type] Task, Tooling, Tech Debt

#19496 [Reader] Only show/announce empty state when empty after updating posts
  WordPress/src/main/java/org/wordpress/android/ui/ActionableEmptyView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: [Type] Bug, Reader, Accessibility, Reader Improvements

#19498 Implements: the design changes for the Pages row
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/layout/page_parent_list_item.xml
  WordPress/src/main/res/layout/page_parent_top_level_item.xml
  WordPress/src/main/res/layout/page_virtual_homepage_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
Labels: Pages List, [Status] Needs Design Review, UI Modernization

#19513 Update context menus in Pages list Action
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageSearchAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesListActions.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/SearchListViewModel.kt
  WordPress/src/main/res/drawable/gb_ic_home_page_24dp.xml
  WordPress/src/main/res/drawable/gb_ic_pages_set_as_parent.xml
  WordPress/src/main/res/drawable/ic_gridicons_link_white_24dp.xml
  WordPress/src/main/res/drawable/ic_homepage_16dp.xml
  WordPress/src/main/res/drawable/ic_posts_16dp.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/CreatePageListItemActionsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/SearchListViewModelTest.kt
Labels: Pages List, [Status] Needs Design Review, UI Modernization

#19523 Fix NullPointerException on singleUserSite access
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
Labels: [Type] Task, [Type] Crash

#19524 Fix Null Pointer Exception on getSelectedSite
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/menu/MenuViewModelTest.kt
Labels: [Type] Task, [Type] Crash

#19517 UI Modernization Posts: tweak post list item UI
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFragment.kt
Labels: [Type] Task, UI Modernization

#19507 UI Modernization Posts: Implement Share Action
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListActionTracker.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/widgets/PostListButtonType.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: [Type] Task, UI Modernization

#19510 Attach Purchase Domain screen to Domain Search flow
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/composable/NewDomainSearchScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/NewDomainsSearchRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/ProposedDomain.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/composable/PurchaseDomainScreen.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/domainsfetcher/NewDomainsSearchRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Domain Management

#19530 Tooling: Update Dangermattic gem
  Gemfile.lock
Labels: Tooling

#19528 UI Modernization Posts and Pages: single user site access
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListViewModel.kt
Labels: [Type] Task, UI Modernization

#19538 Quick Links - fix null pointer exception with siteRepository
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quicklinksitem/QuickLinksItemViewModelSlice.kt
Labels: [Type] Task, [Type] Crash

#19537 Fix personalize dashboard crash
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/DashboardCardPersonalizationViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/personalization/DashboardCardPersonalizationViewModelSliceTest.kt
Labels: [Type] Task, [Type] Crash

#19539 Hide domains button on Me screen for logged out users
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
Labels: Jetpack App, QRCode Auth, Domain Management

#19474 Disables image preloading when site creation is disabled
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
Labels: [Type] Crash, Site Creation, Jetpack Focus

#19550 Fixes a test breakage introduced with the integration of the latest FluxC version
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingUIModelMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeCardBuilderTest.kt
  build.gradle
Labels: [Type] Task, Testing, Blaze

#19527 🤖 Purchase a freestanding domain flow
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationCheckoutWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/usecases/CreateCartUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack App, Domain Management

#19490 Part-2: Compiler Warnings as Errors - WordPress Module - FragmentManager
  WordPress/src/main/java/org/wordpress/android/ui/CollapseFullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/FullScreenDialogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/AddCategoryFragment.java
Labels: [Type] Task, Tech Debt

#19529 [Nullability Annotations to Java Classes] Use Updated and Null Proof `Theme` Payload Classes (`safe`)
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  build.gradle
Labels: Core, Tech Debt

#18340 [Prompts] Use Blogging Prompts v3 Endpoint
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/editor/EditorBloggingPromptsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  build.gradle
Labels: [Type] Task, Blogging Prompts

#19553 Update the domain message UI in site preview screen
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/res/layout-land/site_creation_preview_screen_default.xml
  WordPress/src/main/res/layout/site_creation_preview_screen_default.xml
Labels: Site Creation, Plans in Site Creation

#19554 🤖 Show loading indicator when submitting the cart
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/MyDomainsScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/composable/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/composable/PurchaseDomainScreen.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
Labels: [Type] Task, Domain Management

#19555 🤖 Adds error state when adding a domain to the cart
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/composable/PurchaseDomainScreen.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
Labels: [Type] Task, Domain Management

#19547 Update search logic to include blog name and status
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/MyDomainsScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/util/DomainLocalSearchEngine.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/DomainManagementViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/PopulatedListTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/util/DomainLocalSearchEngineTest.kt
Labels: [Type] Task, Domain Management

#19506 [Nullability Annotations to Java Classes] Use Updated and Null Proof `MediaModel` Class (`breaking`)
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/services/MediaDeleteService.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/insert/StockMediaInsertUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/MediaLibraryDataSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListFeaturedImageTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StoriesEventListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/AppendMediaToEditorUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/RemoveMediaUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/MediaUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/insert/GifMediaInsertUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/insert/StockMediaInsertUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/MediaLibraryDataSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/FeaturedImageHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/AddExistingMediaToPostUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/AppendMediaToEditorUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/CleanUpMediaToPostAssociationUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/GetMediaModelUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/ReattachUploadingMediaUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/RemoveMediaUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/RetryFailedMediaUploadUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/UpdateMediaModelUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/UploadMediaUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/uploads/PostMediaHandlerTest.kt
  build.gradle
  config/detekt/baseline.xml
Labels: Core, Tech Debt

#19548 Bump Kotlin version from 1.8.21 to 1.9.10
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ColumnWithFrostedGlassBackground.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/components/SiteList.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/WelcomeStep.kt
  build.gradle
  settings.gradle
Labels: [Type] Task, Compose, dependency update

#19511 [Reader Performance] Remove unnecessary requests to following/mine endpoint on "Following" tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
Labels: [Type] Task, Reader Performance

#19570 🤖 Prevent navigation outside the domain details webview
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaigndetail/CampaignDetailWebViewNavigationDelegate.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationCheckoutWebViewNavigationDelegate.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsWebViewClient.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsWebViewNavigationDelegate.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/AbstractAllowedUrlsWebViewNavigationDelegate.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/CampaignDetailWebViewNavigationDelegateTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainRegistrationCheckoutWebViewNavigationDelegateTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsWebViewNavigationDelegateTest.kt
Labels: [Type] Task, Domain Management, unit-tests-exemption

#19565 Add pull to refresh on all domains screen
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/ErrorScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/MyDomainsScreen.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/DomainManagementViewModelTest.kt
Labels: Jetpack App, Domain Management

#19574 Cancel stale request on domain search screen
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
Labels: [Type] Bug, Domain Management

#19566 Link domain purchase to existing site flow
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerContract.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
Labels: Jetpack App, Domain Management, unit-tests-exemption

#19556 Enable image optimization setting by default
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/app_settings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Enhancement, Media, Gutenberg, App Settings

#19577 [Jetpack Social] Remove feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackSocialFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModelTest.kt
Labels: [Type] Enhancement, Jetpack Social

#19584 [Prompts] Update FluxC to have bloganuaryId in Prompts Model
  build.gradle
Labels: [Type] Task, [Status] Not Ready for Merge, Blogging Prompts, Bloganuary

#19590 [Bloganuary] Add bloganuary tags to Bloganuary prompt answers
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/editor/EditorBloggingPromptsViewModelTest.kt
Labels: [Type] Task, Blogging Prompts, Bloganuary

#19593 [Bloganuary] Show prompts bloganuary attribution UI
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptAttribution.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/res/drawable-night/ic_bloganuary_24dp.xml
  WordPress/src/main/res/drawable/ic_bloganuary_24dp.xml
  WordPress/src/main/res/layout/blogging_prompt_card_compact.xml
  WordPress/src/main/res/layout/my_site_blogging_prompt_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
Labels: [Type] Task, Blogging Prompts, Bloganuary

#19589 Add error handling to new domain search screen
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/ErrorScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/MyDomainsScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/composable/NewDomainSearchScreen.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
Labels: [Type] Enhancement, Jetpack App, Domain Management

#19585 🤖 Prevent navigation outside the domain details webview enhancements
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainsListCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/MyDomainsScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsWebViewClient.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsWebViewNavigationDelegate.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/AbstractAllowedUrlsWebViewNavigationDelegate.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/DomainManagementViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsWebViewClientTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsWebViewNavigationDelegateTest.kt
Labels: [Type] Task, Domain Management

#19595 Fixes: Dashboard showing data when there is no sites
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
Labels: [Type] Bug, My Site Dashboard

#19597 Handle webview checkout result
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/composable/PurchaseDomainScreen.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
Labels: [Type] Task, Jetpack App, Domain Management

#19598 Adds: the logic to handle site removed
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuViewModel.kt
Labels: [Type] Bug, My Site Dashboard

#19586 Integrate gutenberg-mobile release v1.108.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#19552 [Dependency Updates] Test Instructions Documentations per Dependency Update
  .github/PULL_REQUEST_TEMPLATE.md
  docs/test_instructions_per_dependency_update.md
Labels: Tooling, Tech Debt, dependency update

#19601 Fix: Site info header not showing
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
Labels: [Type] Bug, [Type] Task

#19599 🤖 Adds release notes for the domain management feature
  RELEASE-NOTES.txt
Labels: [Type] Task, Domain Management

#19603 [Bloganuary] Add attribution property to dashboard card tracking
  WordPress/src/main/java/org/wordpress/android/ui/main/CompactBloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptAttribution.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptsCardAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptsCardAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: [Type] Task, Blogging Prompts

#19591 Integrate passkey support
  WordPress/src/androidTest/java/org/wordpress/android/support/MockingInterceptor.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginAnalyticsTracker.java
  build.gradle
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  libs/mocks/src/main/assets/mocks/mappings/wpcom/auth/login-endpoint.json
Labels: [Type] Task

#19625 Ui Modernization: Posts and Pages release notes and minor tweaks
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesListActions.kt
  WordPress/src/main/java/org/wordpress/android/widgets/PostListButtonType.kt
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/layout/post_list_item.xml
Labels: [Type] Task, UI Modernization

#19628 Revert "[Reader] Update limit of fetched tag posts from 20 to 7 in Reader"
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
Labels: [Type] Task, Reader Performance

#19629 Implements: the UI tweaks in Pages and Posts list
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListItemViewHolder.kt
  WordPress/src/main/res/layout/page_divider_item.xml
  WordPress/src/main/res/layout/page_list_item.xml
  WordPress/src/main/res/layout/page_virtual_homepage_item.xml
  WordPress/src/main/res/layout/pages_fragment.xml
  WordPress/src/main/res/layout/post_list_item.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Post List, Pages List, [Status] Needs Design Review

#19631 Merge 23.7 code freeze to trunk
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#19635 Merge editorialized 23.7 release notes
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#19640 Add support for social webauthn/passkey
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  build.gradle
Labels: [Type] Task, Login, unit-tests-exemption

#19633 Revamp the search field component
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/composable/DomainsSearchTextField.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Enhancement, Jetpack App, Domain Management

#19602 🤖 Updates Tracks Events
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/DomainManagementViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Task, Domain Management

#19648 Update default max size to 2000 for optimized images
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
Labels: Media, Gutenberg, App Settings

#19643 Introduce a themed adaptive icon for Jetpack app
  WordPress/src/jetpack/res/drawable/app_icon_monochromatic.xml
  WordPress/src/jetpack/res/mipmap-anydpi-v26/app_icon.xml
Labels: [Type] Enhancement, Jetpack App

#19645 [Prompt] Check bloganuary_id for mapping attribution
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptAttribution.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
Labels: [Type] Bug, Bloganuary

#19637 Migrate the scanning library from Google Code Scanner to MLKit
  .idea/checkstyle-idea.xml
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/CodeScannerModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScannerScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/CodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleBarcodeFormatMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleCodeScannerErrorMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleMLKitCodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/InputImageProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/BasicDialogViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
  build.gradle
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, QRCode Auth, unit-tests-exemption

#19649 Fix the wrong behavior of PlansInSiteCreationFeatureConfig flag
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/PlansScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/SiteCreationPlansFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/SiteCreationPlansViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
Labels: Plans in Site Creation

#19644 Update values associated with "Low" and "Medium" image quality settings
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Enhancement, Media, Gutenberg, App Settings

#19652 Fix VideoPress preview tap issue in the Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
Labels: [Type] Bug, Reader

#19642 Jetpack Focus: Implement no-sites user migration path
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/ContentMigrationAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/LocalContentEntity.kt
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/LocalEligibilityStatusProviderHelper.kt
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/LocalSiteProviderHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DoneStep.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/localcontentmigration/LocalMigrationResultTest.kt
  WordPress/src/test/java/org/wordpress/android/localcontentmigration/LocalPostProviderHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/sharedlogin/resolver/LocalMigrationOrchestratorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModelTest.kt
Labels: [Type] Task, [Status] Not Ready for Merge, Jetpack Focus

#19581 Updates to image optimization settings
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rAU/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/app_settings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Media, Gutenberg, App Settings

#19659 Merge 23.7-rc-2 to trunk
  Gemfile.lock
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/DomainManagementViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/details/DomainManagementDetailsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/PlansScreenListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/SiteCreationPlansFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/SiteCreationPlansViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressViewModel.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/DomainManagementViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/newdomainsearch/NewDomainSearchViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/management/purchasedomain/PurchaseDomainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  fastlane/Fastfile
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
  version.properties
Labels: Releases

#19497 Remove partner themes from theme list
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserFragment.kt
  build.gradle
Labels: [Type] Bug, Themes

#19657 Integrate gutenberg-mobile release v1.109.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#19665 Prevents crashing when the titleLayout is not initialised
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListItemViewHolder.kt
Labels: [Pri] Blocking, Post List, [Type] Crash

#19662 [Reader] Add comments and likes to Post Details Header
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailsHeaderViewUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/InteractionSectionUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderBlogSectionUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderPostDetailsHeaderAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/uistates/ReaderPostDetailsHeaderViewUiState.kt
  WordPress/src/main/res/layout/reader_post_detail_header_view_new.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: Reader, [Type] Task, Reader IA

#19512 Adds referrer information when opening a Google Play store link
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncherWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureFullScreenOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/individualplugin/WPJetpackIndividualPluginFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/jetpackbadge/JetpackPoweredBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/test/java/org/wordpress/android/ui/ActivityLauncherWrapperTest.kt
Labels: [Type] Task, Jetpack Focus

#19668 Align with FluxC breaking changes
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserActivity.java
  build.gradle
Labels: [Type] Task

#19664 [Bloganuary] Create Bloganuary Nudge FF
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/BloganuaryNudgeFeatureConfig.kt
Labels: [Type] Task, unit-tests-exemption, Bloganuary

#19656 Removes category selection from page pre-publishing options
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PrepublishingHomeViewModelTest.kt
Labels: [Type] Bug, Prepublishing Nudges

#19658 Removes ImageSettingsDialogFragment which is not used anymore
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  libs/editor/src/main/java/org/wordpress/android/editor/ImageSettingsDialogFragment.java
  libs/editor/src/main/res/layout/dialog_image_options.xml
  libs/editor/src/main/res/layout/image_settings_formatbar.xml
  libs/editor/src/main/res/values-w720dp/layouts.xml
  libs/editor/src/main/res/values/dimens.xml
  libs/editor/src/main/res/values/layouts.xml
  libs/editor/src/main/res/values/styles.xml
Labels: [Type] Task, Gutenberg, Tech Debt

#19676 Move the Transfer Domain card below the main dashboard cards
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
Labels: [Type] Enhancement, My Site Dashboard

#19682 New strings for popup for clear translations
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, Media, i18n

#19673 [Bloganuary] Dashboard Nudge card
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/styles/DashboardCardTypography.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSlice.kt
  WordPress/src/main/res/layout/bloganuary_nudge_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSliceTest.kt
Labels: [Type] Task, Bloganuary

#19677 [Bloganuary] Implement Dashboard Nudge card hide button functionality
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSliceTest.kt
Labels: [Type] Task, Bloganuary

#19683 Adds XMLRPCRequest missing accept header
  build.gradle
Labels: [Type] Bug, Posting/Editing, Media, Self-hosted

#19688 Changes domain placeholder to yourgroovydomain.com
  WordPress/src/main/res/drawable-night/browser_address_bar.xml
  WordPress/src/main/res/drawable/browser_address_bar.xml
Labels: [Type] Task, Domains Dashboard Card

#19684 [Bloganuary] Implement Dashboard Nudge card analytics
  WordPress/src/main/java/org/wordpress/android/ui/bloganuary/BloganuaryNudgeAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSlice.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloganuary/BloganuaryNudgeAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSliceTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Task, Bloganuary

#19694 [Prompts/Crash] Fix crash on Prompts local table migration
  build.gradle
Labels: [Type] Crash, Blogging Prompts

#19698 Merge 23.7.1 to release/23.8
  build.gradle
  version.properties
Labels: Releases

#19691 Integrate gutenberg-mobile release v1.109.1
  build.gradle
Labels: Gutenberg

#19700 Updates FluxC reference to point to trunk
  build.gradle
Labels: [Type] Task

#19703 Merge 23.8-rc-2 to trunk
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases
