Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-02, with the labels that each got.

#17856 Jetpack Focus: Add Jetpack branding to stats when accessed from published posts
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/res/layout/stats_detail_fragment.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: [Type] Task, Jetpack Focus

#17851 Jetpack focus: display an overlay when the app is accessed from a disabled entry point oh Phase 4
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalOverlayUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Focus

#17861 Removes log statement
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: [Type] Task

#17863 Fix snackbar color in light color theme
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Bug, Design, Jetpack App

#17857 [Blogging Prompts Enhancements] Setting to enable/disable prompts
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/site_settings.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  build.gradle
Labels: [Type] Task, Blogging Prompts

#17864 Jetpack Focus: Add hide option to switch to jetpack card menu items
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/JetpackFeatureCardHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jetpackfeature/SwitchToJetpackMenuCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/menu/switch_to_jetpack_card_menu.xml
Labels: [Type] Task, Jetpack Focus

#17852 Bump Aztec version to `1.6.3`
  RELEASE-NOTES.txt
  build.gradle
Labels: gutenberg-mobile, dependency update

#17865 [Blogging Prompts Enhancements] Turn off prompt card menu item
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/TitleSubtitleSnackbarSpannable.kt
  WordPress/src/main/res/menu/blogging_prompt_card_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
Labels: [Type] Task, [Status] Needs Design Review, Blogging Prompts

#17872 [Blogging Prompts Social] Create Feature Flag and use it for "View all answers"
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsSocialFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
Labels: [Type] Task, Blogging Prompts

#17825 Fix total followers guide card condition
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalStatsMapper.kt
Labels: [Type] Enhancement, Stats

#17866 Excludes self-hosted from user blocking and reporting
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
Labels: [Type] Bug, Reader

#17821 Add Internal Release Notes For 21.6 Changes
  RELEASE-NOTES.txt
Labels: Documentation, Jetpack Focus

#17878 Fixes: android support for rtl for the bottom sheet and overlay
  WordPress/src/main/res/layout-land/jetpack_feature_removal_overlay.xml
  WordPress/src/main/res/layout-land/jetpack_feature_removal_overlay_new_users_content.xml
  WordPress/src/main/res/layout-land/jetpack_powered_bottom_sheet.xml
  WordPress/src/main/res/layout-land/jetpack_powered_expanded_bottom_sheet.xml
  WordPress/src/main/res/layout/jetpack_feature_removal_overlay.xml
  WordPress/src/main/res/layout/jetpack_feature_removal_overlay_new_users_content.xml
  WordPress/src/main/res/layout/jetpack_powered_bottom_sheet.xml
  WordPress/src/main/res/layout/jetpack_powered_expanded_bottom_sheet.xml
Labels: [Type] Bug, Jetpack Focus

#17875 [Blogging Prompts Enhancements] Blogging section in site settings
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/notifications/NotificationsSettingsDialogPreference.java
  WordPress/src/main/res/values/key_strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/xml/site_settings.xml
Labels: [Type] Task, Blogging Prompts

#17869 Add Support for UI Testing the Jetpack app and Compose layouts
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ContactUsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/SignupFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/LandingPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
  WordPress/src/jetpack/java/org/wordpress/android/ui/accounts/login/LoginPrologueRevampedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/TestTags.kt
  WordPress/src/wordpress/java/org/wordpress/android/ui/accounts/login/LoginPrologueRevampedFragment.kt
Labels: Jetpack, UI Tests, Compose

#17886 [Blogging Prompts and Reminders] Update copies to match spec
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Enhancement, Blogging Prompts

#17881 [Blogging Prompts List] Turn prompts list feature flag on
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsListFeatureConfig.kt
Labels: [Type] Task, Blogging Prompts

#17888 [Blogging Prompts] Track prompts setting tapped
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blogging Prompts

#17882 [Blogging Prompts Enhancements] Turn feature flag on
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/BloggingPromptsEnhancementsFeatureConfig.kt
Labels: [Type] Task, [Status] Not Ready for Merge, Blogging Prompts

#17873 Integrate gutenberg-mobile release 1.88.0
  build.gradle
Labels: gutenberg-mobile

#17887 Fix showing sale domain item when it should've been free
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewHolder.kt
Labels: [Type] Bug, Domain Search

#17889 Merge 21.6 finalization into trunk
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/jetpack_metadata/android/ar/changelogs/1308.txt
  fastlane/jetpack_metadata/android/de-DE/changelogs/1308.txt
  fastlane/jetpack_metadata/android/en-US/changelogs/1308.txt
  fastlane/jetpack_metadata/android/en-US/changelogs/1311.txt
  fastlane/jetpack_metadata/android/es-ES/changelogs/1308.txt
  fastlane/jetpack_metadata/android/fr-FR/changelogs/1308.txt
  fastlane/jetpack_metadata/android/id/changelogs/1308.txt
  fastlane/jetpack_metadata/android/it-IT/changelogs/1308.txt
  fastlane/jetpack_metadata/android/iw-IL/changelogs/1308.txt
  fastlane/jetpack_metadata/android/ja-JP/changelogs/1308.txt
  fastlane/jetpack_metadata/android/ko-KR/changelogs/1308.txt
  fastlane/jetpack_metadata/android/nl-NL/changelogs/1308.txt
  fastlane/jetpack_metadata/android/pt-BR/changelogs/1308.txt
  fastlane/jetpack_metadata/android/ru-RU/changelogs/1308.txt
  fastlane/jetpack_metadata/android/sv-SE/changelogs/1308.txt
  fastlane/jetpack_metadata/android/tr-TR/changelogs/1308.txt
  fastlane/jetpack_metadata/android/zh-CN/changelogs/1308.txt
  fastlane/jetpack_metadata/android/zh-TW/changelogs/1308.txt
  fastlane/metadata/android/ar/changelogs/1308.txt
  fastlane/metadata/android/de-DE/changelogs/1308.txt
  fastlane/metadata/android/en-US/changelogs/1308.txt
  fastlane/metadata/android/en-US/changelogs/1311.txt
  fastlane/metadata/android/es-ES/changelogs/1308.txt
  fastlane/metadata/android/fr-CA/changelogs/1308.txt
  fastlane/metadata/android/fr-FR/changelogs/1308.txt
  fastlane/metadata/android/id/changelogs/1308.txt
  fastlane/metadata/android/it-IT/changelogs/1308.txt
  fastlane/metadata/android/iw-IL/changelogs/1308.txt
  fastlane/metadata/android/ja-JP/changelogs/1308.txt
  fastlane/metadata/android/ko-KR/changelogs/1308.txt
  fastlane/metadata/android/nl-NL/changelogs/1308.txt
  fastlane/metadata/android/ru-RU/changelogs/1308.txt
  fastlane/metadata/android/sv-SE/changelogs/1308.txt
  fastlane/metadata/android/tr-TR/changelogs/1308.txt
  fastlane/metadata/android/zh-CN/changelogs/1308.txt
  fastlane/metadata/android/zh-TW/changelogs/1308.txt
  version.properties
Labels: Releases

#17919 Merge 21.7 code freeze into trunk
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#17924 Fix typo in string resource
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: [Type] Bug

#17927 Land strings.xml typo fix in `trunk` — to update it in GlotPress
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
Labels: Releases

#17908 Adds: remote feature flag for Jetpack blaze
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/BlazeFeatureConfig.kt
Labels: Blaze

#17880 The site settings title should update when the site title is updated
  WordPress/src/main/java/org/wordpress/android/ui/prefs/BlogPreferencesActivity.java
Labels: [Type] Bug, Site Settings

#17890 [JP install full plugin] Create onboarding UI
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ButtonsColumn.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/PrimaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/SecondaryButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/text/Message.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/text/Subtitle.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/text/Title.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/AppColor.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/unit/Margin.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/components/PluginDescription.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/components/TermsAndConditions.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/components/SiteList.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DeleteStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DoneStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/ErrorStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/NotificationsStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/WelcomeStep.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ContextExtensions.kt
  WordPress/src/main/res/raw/jp_install_full_plugin_left.json
  WordPress/src/main/res/raw/jp_install_full_plugin_rtl.json
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: [Type] Task, Jetpack Install Full Plugin

#17904 [Blogging Prompts Enhancements] Fix prompt setting reset after reminder is changed
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersUiModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/test/java/org/wordpress/android/bloggingreminders/resolver/BloggingRemindersHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/DaySelectionBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/EpilogueBuilderTest.kt
Labels: [Type] Bug, Blogging Prompts

#17920 [Crash Fix] Don't use same LiveData for Prompts card tracking
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Crash, My Site Dashboard, Blogging Prompts

#17932 [Blogging Prompts] Update prompts visibility and setting logic and setting
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/DaySelectionBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/DaySelectionBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  build.gradle
Labels: [Type] Bug, Blogging Prompts

#17902 [Dependency Updates] Remove Media Dependency
  WordPress/build.gradle
  build.gradle
Labels: Tech Debt, dependency update

#17929 [Blaze]: Adds the menu option for promoting with blaze on Posts list
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListActionTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/main/java/org/wordpress/android/widgets/PostListButtonType.kt
  WordPress/src/main/res/drawable/ic_promote_with_blaze.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: [Type] Task, [Status] Needs Design Review, Jetpack App, Blaze

#17942 Fixes: the padding between the icon and the menu
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListItemViewHolder.kt
Labels: [Type] Bug

#17938 Update need more help on enter site address
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
Labels: [Type] Task, Support Forum

#17943 [Domain Purchasing during Site Creation] Add local feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackMigrationFlowFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteCreationDomainPurchasingFeatureConfig.kt
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#17944 Blaze: Update FluxC hash to support blaze status calls
  build.gradle
Labels: [Type] Task, Blaze

#17939 Donot merge: Only here to trigger CI on PR - https://github.com/wordpress-mobile/WordPress-Android/pull/17934
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsFragment.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task

#17955 Merge 21.7 beta 2 into trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersUiModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingreminders/DaySelectionBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/test/java/org/wordpress/android/bloggingreminders/resolver/BloggingRemindersHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsSettingsHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/BloggingRemindersViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/DaySelectionBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingreminders/EpilogueBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BloggingPromptsCardTrackHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  version.properties
Labels: Releases

#17956 Add higher CI priority to release builds
  .buildkite/release-builds.yml
Labels: Tooling

#17954 Blaze: Add the promote with blaze card skeleton
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardViewHolder.kt
  WordPress/src/main/res/drawable/img_blaze_flame.xml
  WordPress/src/main/res/layout/promote_with_blaze_card.xml
  WordPress/src/main/res/menu/promote_with_blaze_card_menu.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Blaze

#17948 WP Support Forum: Update RELEASE-NOTES.txt
  RELEASE-NOTES.txt
Labels: [Type] Task, Support Forum

#17952 [Dependency Updates] Update `androidxRecyclerviewVersion` to 1.2.1
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/UsernameChangerRecyclerViewAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/avatars/TrailingLabelViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MultiSelectRecyclerViewAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsTagListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeAccountChooserListAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderSiteSearchAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/stockmedia/StockMediaPickerActivity.java
  build.gradle
  libs/image-editor/build.gradle
  libs/image-editor/src/main/kotlin/org/wordpress/android/imageeditor/preview/PreviewImageViewHolder.kt
Labels: Tech Debt, dependency update

#17953 Fix the error on site preview screen
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/FetchWpComSiteUseCase.kt
Labels: [Type] Bug, Site Creation

#17867 [Dependency Updates] Remove Room Dependency
  WordPress/build.gradle
  build.gradle
Labels: Tech Debt, dependency update

#17945 [Domain Purchasing during Site Creation] Add A/B experiment
  WordPress/src/main/java/org/wordpress/android/modules/ExperimentModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationTracker.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteCreationDomainPurchasingFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/experiments/SiteCreationDomainPurchasingExperiment.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Site Creation, ExPlat, Jetpack App, Domains, Tracks

#17928 Enable VideoPress block on Android
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergPropsBuilder.kt
Labels: Posting/Editing, Media, Gutenberg, gutenberg-mobile

#17949 [JP install full plugin] Implement onboarding navigation
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/JetpackFullPluginInstallOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/components/PluginDescription.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/component/JPInstallFullPluginAnimation.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/component/PluginDescription.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/component/TermsAndConditions.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/state/Loaded.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/SiteModelExtensions.kt
  WordPress/src/main/java/org/wordpress/android/workers/notification/bloggingprompts/BloggingPromptsOnboardingNotificationHandler.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/JetpackFullPluginInstallOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModelTest.kt
Labels: Jetpack Install Full Plugin

#17957 [JP install full plugin] Implement onboarding tracking
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Jetpack Install Full Plugin

#17965 Integrate gutenberg-mobile release 1.89.0
  build.gradle
Labels: gutenberg-mobile

#17968 Show Zendesk support to paid users
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
Labels: [Type] Task, Support Forum

#17969 [JP install full plugin] Install screen UI
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/BloggingPromptsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/unit/FontSize.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/unit/Margin.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/BaseState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/DoneState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/ErrorState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/InitialState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/InstallingState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/state/LoadedState.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ActivityExtensions.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/JetpackFullPluginInstallOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModelTest.kt
Labels: [Type] Task, Jetpack Install Full Plugin

#17970 [JP install full plugin] Install screen integration
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/ActionEvent.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/UiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/BaseState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/DoneState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/ErrorState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/InitialState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/compose/state/InstallingState.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallViewModelTest.kt
Labels: [Type] Task, Jetpack Install Full Plugin

#17868 Update My Site Dashboard - added icons in the heading and bolder text
  WordPress/src/main/res/drawable/ic_baseline_format_list_numbered_24.xml
  WordPress/src/main/res/layout/my_site_card_toolbar.xml
  WordPress/src/main/res/layout/my_site_todays_stats_card.xml
  WordPress/src/main/res/values/styles.xml
Labels: My Site Dashboard

#17971 Do not merge: Only here to trigger CI on PR - https://github.com/wordpress-mobile/WordPress-Android/pull/17868
  WordPress/src/main/res/drawable/ic_baseline_format_list_numbered_24.xml
  WordPress/src/main/res/layout/my_site_card_toolbar.xml
  WordPress/src/main/res/layout/my_site_todays_stats_card.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Status] Not Ready for Merge

#17975 Jetpack Focus: Hide the initial screen setting when in phase four
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppSettingsFragment.java
Labels: [Type] Task, Jetpack Focus

#17946 [JP Install Full Plugin] Dashboard / Menu card
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/component/PluginDescription.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/compose/state/LoadedState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jpfullplugininstall/JetpackInstallFullPluginCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jpfullplugininstall/JetpackInstallFullPluginCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/res/drawable/ic_jetpack_plugin_install.xml
  WordPress/src/main/res/layout/jp_install_full_plugin_card.xml
  WordPress/src/main/res/menu/jp_install_full_plugin_card_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack Install Full Plugin

#17980 JP install endpoint integration
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallViewModelTest.kt
  build.gradle
Labels: [Type] Task, Jetpack App

#17981 [JP Install Full Plugin] Implement tracking on install flow
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack Install Full Plugin

#17982 [JP Install Full Plugin] Open onboarding when individual plugin site is selected the first time
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/GetShowJetpackFullPluginInstallOnboardingUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/GetShowJetpackFullPluginInstallOnboardingUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, Jetpack Install Full Plugin

#17984 Issue/17836 jp install plugin viewed event
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/jpfullplugininstall/JetpackInstallFullPluginShownTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack Install Full Plugin

#17983 [JP Install Full Plugin] Enable feature flag and update release notes
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackInstallFullPluginFeatureConfig.kt
Labels: [Type] Task, Jetpack Install Full Plugin

#17978 Jetpack Focus: Intercept reader links in p4 and redirect to main view
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
Labels: [Type] Task, Jetpack Focus

#17974 Blaze: Show the promote with blaze card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapterDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/PromoteWithBlazeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/PromoteWithBlazeCardSourceTest.kt
  build.gradle
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/wpcom_v2_sites_blaze_status.json
Labels: [Type] Task, Blaze

#17979 Merge 21.7 finalization into trunk
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/FetchWpComSiteUseCase.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/jetpack_metadata/android/en-US/changelogs/1311.txt
  fastlane/jetpack_metadata/android/en-US/changelogs/1314.txt
  fastlane/metadata/android/en-US/changelogs/1311.txt
  fastlane/metadata/android/en-US/changelogs/1314.txt
  version.properties
Labels: Releases

#17996 [Dependency Updates] Update `googlePlayServicesCodeScannerVersion` to `16.0.0-beta3`
  WordPress/build.gradle
  build.gradle
Labels: Tech Debt, dependency update

#17990 Blaze: Handle click and tracking events on the promote with blaze dashboard card
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Blaze

#17992 Merge 21.8 code freeze into trunk
  Gemfile
  Gemfile.lock
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#17960 [Dependency Updates] Update `androidxPreferenceVersion` to 1.2.0
  build.gradle
Labels: Tech Debt, dependency update

#17964 Remove unused release notes screen
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/ReleaseNotesActivity.java
  WordPress/src/main/res/menu/webview_release_notes.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Tech Debt

#17995 Blaze: Tidy the blaze card UI
  WordPress/src/main/res/layout/promote_with_blaze_card.xml
  WordPress/src/main/res/values/blaze_styles.xml
Labels: [Type] Task, Blaze

#17999 Blaze: Fetch Blaze status
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
Labels: Blaze

#17997 Fix support forums logic for self-hosted sites
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
Labels: [Type] Bug, Support Forum

#17977 Fetch free and paid domains
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/usecases/FetchDomainsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteCreationDomainPurchasingFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/usecases/FetchDomainsUseCaseTest.kt
  build.gradle
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#17998 Update free domain suggestions UI
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/DomainItem.kt
  WordPress/src/main/res/layout/site_creation_domains_item_v2.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#17961 [Gutenberg] Add metadata on media upload success event
  WordPress/src/main/java/org/wordpress/android/util/FluxCUtils.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#17941 Adds: blaze overlay with and without post content
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ImageButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/theme/AppColor.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsShownTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListAction.kt
  WordPress/src/main/res/drawable/ic_blaze_promotional_image.xml
  WordPress/src/main/res/layout/activity_blaze_parent.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  build.gradle
Labels: [Type] Task, Blaze

#18007 Fixes: Crash on navigating to Site settings with No internet
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: [Type] Crash

#18012 [Dashboard] Fix infinite loading in My Site dashboard
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
Labels: [Type] Bug, My Site Dashboard

#18006 WP Support Forum: Update help screen layout to match designs
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/res/layout/help_activity.xml
Labels: [Type] Task, Support Forum

#18002 Update copy of help screen
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ContactUsTests.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/flows/LoginFlow.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/ContactSupportScreen.java
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/HelpScreen.java
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/ScanFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/install/JetpackFullPluginInstallActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jpfullplugininstall/onboarding/JetpackFullPluginInstallOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostCustomerSupportHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/res/layout/help_activity.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Support Forum

#18021 Merge 21.8 rc-2 into trunk
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/PromoteWithBlazeCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/test/java/org/wordpress/android/util/SiteUtilsTest.kt
  version.properties
Labels: Releases

#18022 Remove unused import after merge from release/21.8
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
Labels: [Type] Bug

#18023 Merge 21.8 release notes fix into trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes_short.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes_short.txt
Labels: Releases
