Repository wordpress-mobile/WordPress-Android, pull requests merged in 2023-05, with the labels that each got.

#18337 Dashboard Cards: Display 3 latest pages card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardContentType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/res/drawable/bg_rectangle_dashboard_card_page_status.xml
  WordPress/src/main/res/drawable/ic_dashboard_card_pages_draft_page_status.xml
  WordPress/src/main/res/drawable/ic_dashboard_card_pages_published_page_status.xml
  WordPress/src/main/res/drawable/ic_dashboard_card_pages_scheduled_page_status.xml
  WordPress/src/main/res/layout/pages_item.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
Labels: [Type] Task, My Site Dashboard

#18348 Merge 22.3 code freeze to trunk
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#18326 [Dependency Updates] Update `coilComposeVersion` to 2.2.2
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/components/SiteList.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/components/UserAvatarImage.kt
  WordPress/src/main/res/drawable/bg_rectangle_placeholder_globe_margin_8dp.xml
  WordPress/src/main/res/drawable/ic_site_icon_placeholder_primary_24.xml
  WordPress/src/main/res/drawable/ic_user_placeholder_primary_24.xml
  build.gradle
Labels: Tech Debt, dependency update

#18330 [Dependency Updates] Update `androidxRecyclerviewVersion` to 1.3.0
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsAdapter.kt
  build.gradle
Labels: Tech Debt, dependency update

#18338 [Dependency Updates] Update `androidxComposeCompilerVersion` and `kotlinVersion` to 1.4.6 and 1.8.20
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/components/SiteList.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DeleteStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DoneStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/ErrorStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/NotificationsStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/WelcomeStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/state/ContentState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/state/ErrorState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/DomainItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.kt
  build.gradle
  settings.gradle
Labels: Tech Debt, [Status] Not Ready for Merge, dependency update

#18336 [Dependency Updates] Update `daggerVersion` to 2.45
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentsEditViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/components/SiteList.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DeleteStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/DoneStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/ErrorStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/NotificationsStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/compose/state/WelcomeStep.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/state/ContentState.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/compose/state/ErrorState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/DomainItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/progress/SiteCreationProgressFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.kt
  build.gradle
  settings.gradle
Labels: Tech Debt, dependency update

#18067 Refactor: Replace mutex.lock() with mutex.withLock()
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadStarter.kt
Labels: [Type] Bug, [Type] Task

#18358 Dashboard Cards: Add release notes for activity log and pages dashboard cards
  RELEASE-NOTES.txt
Labels: [Type] Task, My Site Dashboard

#18346 Dashboard Cards: Pages handle click actions
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardContentType.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/pages_item.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#18354 Dashboard Cards: Add activity log card unit tests
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#18327 Allow updating specific fields when updating media details
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostMediaHandler.kt
  build.gradle
Labels: Media

#18362 Merge 22.3 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#18359 Dashboard Cards: Pages UI Tweaks
  WordPress/src/main/res/color/bg_dashboard_card_pages_page_item_status_background.xml
  WordPress/src/main/res/drawable/bg_rectangle_dashboard_card_page_status.xml
  WordPress/src/main/res/drawable/ic_dashboard_card_pages_draft_page_status.xml
  WordPress/src/main/res/drawable/ic_dashboard_card_pages_published_page_status.xml
  WordPress/src/main/res/drawable/ic_dashboard_card_pages_scheduled_page_status.xml
  WordPress/src/main/res/layout/pages_item.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values-night/dimens.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, [Status] Needs Design Review, My Site Dashboard

#18345 [UI Tests] Add Domains Dashboard Card UI test
  WordPress/src/androidTest/java/org/wordpress/android/e2e/DashboardTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/DomainsScreen.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  libs/mocks/src/main/assets/mocks/mappings/wpcom/mobile/feature-flags.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/domains.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/domains_suggestions.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/products_domains.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/sites/rest_v11_sites_106707880.json
Labels: UI Tests

#18360 Implements Pages card visibility according to User roles
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
Labels: [Type] Task, My Site Dashboard

#18367 Feature Announcement: Update heading and row title font
  WordPress/src/main/res/layout/feature_announcement_dialog_fragment.xml
  WordPress/src/main/res/layout/feature_announcement_list_item.xml
Labels: [Type] Task, What's New

#18382 Add close account button
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/CloseAccountButton.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Type] Task, Account Management

#18365 Redesign domain empty state
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/compose/SiteExample.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SearchInputWithHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationHeaderUiState.kt
  WordPress/src/main/res/layout-land/site_creation_header_item.xml
  WordPress/src/main/res/layout/site_creation_domains_screen.xml
  WordPress/src/main/res/layout/site_creation_domains_screen_example_updated.xml
  WordPress/src/main/res/layout/site_creation_form_screen.xml
  WordPress/src/main/res/layout/site_creation_header_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Enhancement, Site Creation, Domains

#18378 [Dependency Updates] Update `androidxComposeBomVersion` to 2023.05.00
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/JetpackFullPluginInstallOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/compose/state/LoadedState.kt
  build.gradle
Labels: Tech Debt, dependency update

#18379 [Dependency Updates] AndroidX Compose/Kotlin (Final Tweaks)
  WordPress/src/main/java/org/wordpress/android/util/LiveDataUtils.kt
  build.gradle
  settings.gradle
Labels: Tech Debt, dependency update

#18386 Add a confirmation dialog for account closure
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/FlatButtons.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/IneligibleClosureDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/GetSitesUseCase.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Enhancement, Account Management

#18388 Updates the copy of the Jetpack static poster
  WordPress/src/main/java/org/wordpress/android/models/JetpackPoweredScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/JetpackStaticPosterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/staticposter/compose/JetpackStaticPoster.kt
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, [Status] Needs Design Review, Jetpack Focus

#18383 Add Gutenberg Embed WebView Activity
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: gutenberg-mobile

#18392 Add notifications runtime permission to the migration flow
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModelTest.kt
Labels: Android 13

#18403 [Site Editor MVP] Implement Site Editor MVP feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/SiteEditorMVPFeatureConfig.kt
Labels: [Type] Task, Site Editor

#18385 [Pages List] Detect block-based theme on PageListViewModel
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  build.gradle
Labels: Pages List, [Type] Task

#18398 Release management in CI
  .buildkite/beta-builds.yml
  .buildkite/code-freeze.yml
  .buildkite/commands/checkout-editorial-branch.sh
  .buildkite/commands/checkout-release-branch.sh
  .buildkite/commands/configure-git-for-release-management.sh
  .buildkite/complete-code-freeze.yml
  .buildkite/finalize-release.yml
  .buildkite/new-beta-release.yml
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  .buildkite/update-release-notes.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/helpers/github.rb
  fastlane/lanes/localization.rb
  fastlane/lanes/release.rb
  fastlane/lanes/release_management_in_ci.rb
Labels: Tooling

#18410 Integrate gutenberg-mobile release 1.95.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#18414 Enable domain purchases in site creation
  RELEASE-NOTES.txt
  WordPress/build.gradle
Labels: [Type] Task, Site Creation, Jetpack App, Domains

#18415 Revert "[Pages List] Detect block-based theme on PageListViewModel"
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  build.gradle
Labels: Pages List, [Type] Crash

#18425 Update release toolkit to 8.0.1
  Gemfile.lock
Labels: Tooling

#18390 Update events tracking in site creation domain purchasing
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsRegistrationTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainRegistrationMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVMTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModelTest.kt
Labels: [Type] Task, Site Creation, Tracks

#18418 Plans on JP: feature config
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/DashboardCardFreeToPaidPlansFeatureConfig.kt
Labels: WP.com Plans

#18434 [Pages List] Detect block-based theme on PageListViewModel (fixed)
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SelectedSiteRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostEditorAnalyticsSession.java
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/SelectedSiteRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  build.gradle
Labels: Pages List, [Type] Task

#18439 Merge 22.4 code freeze to trunk
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  WordPress/src/main/res/values/strings.xml
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#18400 [Pages] Show virtual Homepage for block-based themes
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageListFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PageListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/res/layout/page_virtual_homepage_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
Labels: Pages List, [Type] Task, [Status] Not Ready for Merge

#18443 Merge 22.4 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#18407 Add support for the close account API endpoint in FluxC
  build.gradle
Labels: [Type] Enhancement, Account Management

#18446 [UI Tests] Disabled four recently flaky tests.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.kt
Labels: UI Tests

#18450 Fix compilation issues in account settings vm tests
  WordPress/src/test/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModelTest.kt
Labels: [Type] Enhancement, Account Management

#18409 Add error handling to the account closure flow
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/DialogErrorUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/DialogSuccessUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/DialogUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/IneligibleClosureDialog.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Enhancement, Account Management

#18457 Add unit tests for the account closure feature
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/AccountClosureUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/accountsettings/GetSitesUseCaseTest.kt
Labels: [Type] Enhancement, Testing, Account Management

#18459 Merge 22.4 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#18436 [Pages] Implement virtual Homepage actions
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/wpwebview/WPWebViewSource.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/wpwebview/WPWebViewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/pages/PageItemVirtualHomepageActionTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/WPWebViewViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: [Type] Enhancement, Pages List

#18451 [Pages] Track virtual homepage actions
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Pages List, Analytics, [Type] Task, Site Editor

#18412 Enable account closure
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/CloseAccountButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/DialogErrorUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/DialogSuccessUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/DialogUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/FlatButtons.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/AccountClosureUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/usecase/GetSitesUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/accountsettings/GetSitesUseCaseTest.kt
  build.gradle
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Enhancement, Account Management

#18464 [UI Tests] Disabled `e2eDomainsCardNavigation`.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/DashboardTests.kt
Labels: UI Tests

#18470 Fix stale height issue in account closure dialog
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/AccountClosureUi.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/components/DialogUi.kt
Labels: [Type] Enhancement, Account Management

#18466 Adds domain registration card on dashboard
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteViewModelTest.kt
Labels: [Type] Task, My Site Dashboard

#18454 [Site Editor] Add remote FF to SiteEditorMVP and default to on
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/SiteEditorMVPFeatureConfig.kt
Labels: [Type] Task, [Status] Not Ready for Merge, Site Editor

#18461 Plans on JP: Free domain selection and plan selection
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationCheckoutWebViewActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationCheckoutWebViewNavigationDelegate.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteSourceManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/plans/PlansCardDomainSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/plans/PlansCardUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainRegistrationCheckoutWebViewNavigationDelegateTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/MySiteSourceManagerTest.kt
Labels: [Type] Task, WP.com Plans

#18440 [Gutenberg] Enable VideoPress block
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#18474 Fixes: No Such element exception in Pages Dashboard Card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardContentType.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
Labels: [Type] Crash, My Site Dashboard

#18473 Fixes: No Such element exception in Pages Dashboard Card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardContentType.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/pages/PagesCardBuilderTest.kt
Labels: [Type] Crash, My Site Dashboard

#18437 Update Automattic-Tracks to 3.0.0 and address breaking changes
  WordPress/src/main/java/org/wordpress/android/modules/CrashLoggingModule.kt
  WordPress/src/main/java/org/wordpress/android/util/crashlogging/WPCrashLoggingDataProvider.kt
  WordPress/src/test/java/org/wordpress/android/util/crashlogging/WPCrashLoggingDataProviderTest.kt
  build.gradle
Labels: Tooling

#18471 Fixes: Null pointer crash on blaze parent activity
  WordPress/src/main/java/org/wordpress/android/ui/blaze/ui/blazeoverlay/BlazeViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeViewModelTest.kt
Labels: [Type] Task, [Type] Crash, Blaze

#18492 [Tool] Configure Dependabot to Ignore Automattic Tracks
  .github/dependabot.yml
Labels: Tooling

#18487 [Jetpack Social] Implement Twitter deprecation notice container on Details screen
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeConstants.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeWarningView.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeConnectionAdapter.java
  WordPress/src/main/res/layout/publicize_detail_fragment.xml
  WordPress/src/main/res/layout/publicize_twitter_deprecation_notice_header.xml
  WordPress/src/main/res/layout/publicize_twitter_deprecation_notice_warning.xml
  WordPress/src/test/java/org/wordpress/android/ui/publicize/PublicizeListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeAnalyticsTrackerTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Jetpack Social

#18486 [Jetpack Social] Implement Twitter deprecation notice container on Sharing screen
  WordPress/src/main/java/org/wordpress/android/datasets/PublicizeTable.java
  WordPress/src/main/java/org/wordpress/android/models/PublicizeService.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeConstants.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeWarningView.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeConnectionAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeServiceAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/services/PublicizeUpdateServicesV2.kt
  WordPress/src/main/res/drawable/ic_notice_red_24dp.xml
  WordPress/src/main/res/layout/publicize_detail_fragment.xml
  WordPress/src/main/res/layout/publicize_list_fragment.xml
  WordPress/src/main/res/layout/publicize_listitem_connection.xml
  WordPress/src/main/res/layout/publicize_twitter_deprecation_notice_header.xml
  WordPress/src/main/res/layout/publicize_twitter_deprecation_notice_warning.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/publicize/PublicizeListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/publicize/PublicizeTwitterDeprecationNoticeAnalyticsTrackerTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Do Not Merge, Jetpack Social

#18499 [Do Not Merge] - CI Trigger for #18463
  config/detekt/detekt.yml
Labels: [Status] Not Ready for Merge

#18498 Disable overscroll animation on main plugins screen
  RELEASE-NOTES.txt
  WordPress/src/main/res/layout/plugin_browser_activity.xml
Labels: groundskeeping

#18505 Merge 22.4-rc-2 to release/22.4
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#18508 Integrate gutenberg-mobile release 1.96.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#18507 Follow up to Adds Sentry Performance Monitoring Capabilities
  WordPress/build.gradle
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/util/FirebaseRemoteConfigWrapper.kt
Labels: Tooling

#18516 [Site Editor] Remove CSS injection for site editor and WebView
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/pages/PageItemVirtualHomepageActionTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PageListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/pages/PagesViewModelTest.kt
Labels: [Type] Task, Site Editor

#18512 [UI Tests] Enable 5 UI tests... once again.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/DashboardTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/ReaderTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.kt
Labels: UI Tests

#18377 Implement: Common styles for Dashboard cards
  WordPress/src/main/java/org/wordpress/android/ui/avatars/TrailingLabelViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/onboarding/compose/component/PluginDescription.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ContextExtensions.kt
  WordPress/src/main/res/layout/blogging_prompt_card_compact.xml
  WordPress/src/main/res/layout/dashboard_card_domain.xml
  WordPress/src/main/res/layout/dashboard_card_plans.xml
  WordPress/src/main/res/layout/domain_registration_card.xml
  WordPress/src/main/res/layout/my_site_blogging_prompt_card.xml
  WordPress/src/main/res/layout/my_site_card_toolbar.xml
  WordPress/src/main/res/layout/my_site_pages_card_footer_link.xml
  WordPress/src/main/res/layout/my_site_post_card_without_post_items.xml
  WordPress/src/main/res/layout/pages_item.xml
  WordPress/src/main/res/layout/promote_with_blaze_card.xml
  WordPress/src/main/res/layout/quick_link_ribbon_item.xml
  WordPress/src/main/res/layout/quick_start_task_type_item.xml
  WordPress/src/main/res/values/blaze_styles.xml
  WordPress/src/main/res/values/dashboard_card_styles.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingUiStateMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardBuilderTest.kt
Labels: [Type] Enhancement, My Site Dashboard

#18519 Declare gallery v2 field as optional
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
Labels: Site Editor

#18497 Plans on JP: Checkout Success
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/RequestCodes.java
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainRegistrationResultFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/tabs/MySiteTabFragment.kt
  WordPress/src/main/res/drawable/ic_plans_domain_success.xml
  WordPress/src/main/res/drawable/img_illustration_domain_registration_success_218dp.xml
  WordPress/src/main/res/layout/domain_registration_result_fragment.xml
  WordPress/src/main/res/layout/plans_purchase_success_fragment.xml
  WordPress/src/main/res/values-land/dimens.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Task, WP.com Plans

#18539 Plans on JP: Analytics
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainSuggestionsViewModel.kt
  WordPress/src/main/res/layout/plans_purchase_success_fragment.xml
Labels: [Type] Task, WP.com Plans

#18537 Migrate from Firebase remote config to BE remote config
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkOpenWebLinksWithJetpackHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/FirebaseRemoteConfigWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/CodeableGetFreeEstimateUrlConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/OpenWebLinksWithJetpackFlowFrequencyConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/PerformanceMonitoringSampleRateConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/RemoteConfigField.kt
  WordPress/src/main/java/org/wordpress/android/util/config/RemoteConfigWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/crashlogging/WPPerformanceMonitoringConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/DeepLinkOpenWebLinksWithJetpackHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/details/ThreatDetailsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/crashlogging/WPPerformanceMonitoringConfigTest.kt
  build.gradle
Labels: [Type] Task, Tooling

#18544 [Gutenberg] Fix crash when showing media upload dialog
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: [Type] Bug, Gutenberg

#18543 [Tool] Configure Dependabot to Ignore React Native Related Dependencies
  .github/dependabot.yml
  build.gradle
  libs/editor/build.gradle
Labels: Tooling

#18551 Include a missing block editor entry to release notes
  RELEASE-NOTES.txt
Labels: Gutenberg

#18541 [UI Tests] Added teardown to magic links tests.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/LoginTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/SignUpTests.kt
Labels: UI Tests

#18553 Merge 22.5 raw release note changes
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/release_notes.txt
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Releases

#18552 [Dependency Updates] Update `firebaseBomVersion` to 32.1.0
  WordPress/build.gradle
  build.gradle
Labels: Tech Debt, dependency update

#18561 [Jetpack Social] Implement Jetpack Social feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/JetpackSocialFeatureConfig.kt
Labels: [Type] Task, Jetpack Social
