Repository wordpress-mobile/WordPress-Android, pull requests merged in 2024-02, with the labels that each got.

#20087 Site Monitor: Add release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, site monitor

#20095 Integrate Flipper
  WordPress/build.gradle
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/debug/java/org/wordpress/android/WordPressDebug.java
  WordPress/src/debug/java/org/wordpress/android/modules/InterceptorModule.java
  build.gradle
Labels: Tooling

#20092 Fixes: the padding of the Loading Indicator
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentActivity.kt
Labels: [Type] Task, site monitor

#20090 [Reader IA] Fix Discover scrolling to top when loading more posts
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: [Type] Bug, Reader, Reader IA

#20057 [Reader IA] Add "Followed P2s" item to dropdown menu
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderTopBarMenuHelper.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/utils/ReaderTopBarMenuHelperTest.kt
Labels: Reader, [Type] Task, Reader IA

#20102 Upgrade Login lib version to 1.12.0
  build.gradle
Labels: [Type] Bug, dependency update

#20103 [Reader IA] Show onboarding for users with no tags or dailyprompt tag only
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModel.kt
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsViewModelTest.kt
Labels: Reader, [Type] Task, Reader IA

#20093 Integrate gutenberg-mobile release v1.112.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#20098 Site Monitor: Adjust position in menu item
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsBuilder.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
Labels: [Type] Task, site monitor

#20107 Fixes: Campaign listing viewmodel crash on returning from background
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingViewModel.kt
Labels: [Type] Crash

#20104 [Reader IA] Prevent unwanted Reader feed state reset when reopening Reader tab
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
Labels: [Type] Bug, Reader, Reader IA

#20112 Fix in app reviews crash
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/InAppReviewExtensions.kt
Labels: [Type] Crash, In-app Reviews

#20114 [Reader IA] Fix top navigation bar disappearing when system has low-memory
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/filter/ReaderFilterChipGroup.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/UiString.kt
Labels: [Type] Bug, Reader, unit-tests-exemption, Reader IA

#20115 Updating the release notes.
  RELEASE-NOTES.txt
Labels: [Type] Task, Reader IA

#20119 [Reader] Change comment subscribe action label to "Follow"
  WordPress/src/main/res/layout/follow_action_layout.xml
  WordPress/src/main/res/menu/threaded_comments_menu.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, Reader, Reader IA

#20100 Finish migration of scanning library from Google Code Scanner to MLKIT
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/CodeScannerModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScannerScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/CodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleBarcodeFormatMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleCodeScannerErrorMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleMLKitCodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/InputImageProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
  build.gradle
Labels: [Type] Task, QRCode Auth, unit-tests-exemption

#20116 [Fix] Adds export behavior on broadcastreceiver to avoid SDK 34 crash.
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
Labels: [Type] Task, Android 14

#20122 PR submission checklist: Add reminder to check self-hosted sites
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Type] Task, Tooling

#20082 Add custom theme for Design System
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemActivity.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemAppColor.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemStartScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemTheme.kt
Labels: [Type] Task, Design System, unit-tests-exemption

#20124 Add an overflow menu in Notifications
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/res/layout/notification_action_menu.xml
  WordPress/src/main/res/layout/notification_actions.xml
  WordPress/src/main/res/menu/notifications_list_menu.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Notifications, [Type] Task

#20129 Convert notes adapter to kotlin
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
Labels: Notifications, Convert to Kotlin, unit-tests-exemption

#20113 [Reader IA] Subscribing to tag doesn't update the chip count
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderTagAdapter.java
Labels: [Type] Bug, Reader, Reader IA

#20136 Add mark all as read functionality
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
Labels: Notifications, [Type] Task

#20135 [Reader IA] Refresh blogs count after subscribing/unsubscribing from search screen
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSearchActivity.kt
Labels: Reader, [Type] Task, Reader IA

#20143 [Reader] Fix UninitializedPropertyAccessException in ReaderFragment
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
Labels: [Type] Bug, Reader, Reader IA

#20137 [Reader] Make sure to Show the "site URL" when the title is Empty/Untitled
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: [Type] Bug, Reader, Reader IA

#20139 Prevents TransactionTooLargeException error in WebViewActivity
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/WebViewActivity.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Crash, Webviews

#20133 🤖 Use multiple avatars for multiple new likes or subscribers
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
  WordPress/src/main/res/layout/notifications_list_double_avatar.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/layout/notifications_list_triple_avatar.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: Notifications, [Type] Task

#20153 🤖 Add the content of a comment in the push notification
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/push/NotificationHelperTest.kt
Labels: [Type] Task, Push notifications

#20169 Super Fast Media: Show error message
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandlerTest.kt
Labels: [Type] Task

#20171 [Reader] Update follow tags logic in "Manage Tags & Blogs" screen
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderTagAdapter.java
Labels: Reader, [Type] Task, Reader IA

#20134 [Lib] Update Tracks from 3.3 to 3.4 and update sentry gradle.
  build.gradle
  settings.gradle
Labels: [Type] Task, Android 14

#20168 Create the transient channel used for upload notification when notifications are disabled
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
Labels: Notifications, [Type] Crash

#20125 Issue/19952 update traffic tab by granularity
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/BaseListUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/SelectedDateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateSelector.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/StatsDateSelectorTest.kt
Labels: [Type] Task, Stats Traffic Tab

#20172 Notification inline actions - preliminary refactor
  WordPress/src/main/java/org/wordpress/android/datasets/NotificationsTable.java
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/models/NoteExtensions.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/ListScenarioUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
Labels: Notifications, unit-tests-exemption

#20138 Fix sharing image regression and add support for heic and heif files
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: [Type] Bug

#19918 GHA Workflow for validating issues
  .github/workflows/validate-issues.yml
Labels: Tooling

#20175 Fix the visibility issue with the menu button on the stats
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
Labels: [Type] Bug

#20177 Merge `release/24.2` to trigger `strings.xml` update in GlotPress
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderTagAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/BottomSheetUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/res/values/strings.xml
  build.gradle
  fastlane/resources/values/strings.xml
Labels: Releases

#20178 Add notifications inline action for share an own published post
  WordPress/src/main/java/org/wordpress/android/models/NoteExtensions.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/res/drawable/block_share.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
Labels: Notifications, unit-tests-exemption

#20174 Add Google credential manager support
  RELEASE-NOTES.txt
  build.gradle
Labels: [Type] Task, Login

#20132 Dangermattic checks update
  .github/workflows/run-danger.yml
  Dangerfile
  Gemfile
  Gemfile.lock
  fastlane/lanes/localization.rb
Labels: Tooling

#20184 Fixes: Issue post list tab switching
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
Labels: [Type] Bug, Post List

#20187 The inline action of Like Comment
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/models/NoteExtensions.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
  WordPress/src/main/res/drawable/star_filled.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
Labels: Notifications, [Type] Task

#20182 Notifications add tracks events for inline actions
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Notifications, unit-tests-exemption

#20195 Inline action of Like Post
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderLikeTable.java
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActionsWrapper.kt
Labels: Notifications

#20198 fix: disable crash logging (Sentry) debug logs also on debug
  WordPress/src/main/java/org/wordpress/android/util/crashlogging/WPCrashLoggingDataProvider.kt
Labels: Tooling

#20197 Fix the blocking issue in main thread in the Notifications tab
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
Labels: [Type] Bug, Notifications

#20193 [Gradle] Added tracks to included_builds.gradle
  WordPress/build.gradle
  config/gradle/included_builds.gradle
  local-builds.gradle-example
Labels: [Type] Task, Tracks

#20144 build: bump Hilt/Dagger to `2.50`
  WordPress/build.gradle
  settings.gradle
Labels: Tooling

#20145 Bump Glide to `4.16.0`
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  build.gradle
Labels: Tooling

#20194 Update stats analytics
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionResultActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/SelectedDateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/WidgetBlockListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/alltime/AllTimeWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/utils/WidgetUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/ViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Stats Traffic Tab

#20202 Use sans serif for notifications
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/res/layout/comment_detail_fragment.xml
  WordPress/src/main/res/layout/note_block_comment_user.xml
Labels: Notifications

#20180 Add informative Gravatar UI to the profile editing
  WordPress/src/jetpack/res/drawable-night/ic_logo_plus_gravatar.xml
  WordPress/src/jetpack/res/drawable/ic_logo_plus_gravatar.xml
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/MyProfileFragment.java
  WordPress/src/main/res/drawable/bg_wordpress_gravatar_info.xml
  WordPress/src/main/res/drawable/bg_wordpress_gravatar_sync_info.xml
  WordPress/src/main/res/layout/gravatar_sync_info_banner.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/layout/my_profile_fragment.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/wordpress/res/drawable-night/ic_logo_plus_gravatar.xml
  WordPress/src/wordpress/res/drawable/ic_logo_plus_gravatar.xml
Labels: Gravatar

#19981 [Fix] Add targetSdk 34 foreground service types to our services.
  WordPress/src/main/AndroidManifest.xml
Labels: Android 14

#20204 [Reader] Remove duplicates from the server blogs list only if local and remote lists don't match
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
Labels: [Type] Bug, Reader, Reader IA

#20203 Refactors for notifications
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NoteViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
Labels: Notifications, [Type] Task, unit-tests-exemption

#20200 Refactors `Notes` to Kotlin
  WordPress/src/main/java/org/wordpress/android/datasets/NotificationsTable.java
  WordPress/src/main/java/org/wordpress/android/models/Note.java
  WordPress/src/main/java/org/wordpress/android/models/Note.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
Labels: Notifications, Tech Debt, unit-tests-exemption

#20209 🤖 Add feature release note
  RELEASE-NOTES.txt
Labels: Notifications, [Type] Task

#20220 tools: make dependency diff report foldable
  WordPress/build.gradle
Labels: Tooling

#20215 Issue/20176 remove stats single post accessed event
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionResultActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/ShortcutsNavigator.java
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/FormattableContentClickHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/StatsDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/WidgetBlockListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/alltime/AllTimeWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/utils/WidgetUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/ViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifier.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stats, Analytics, Tracks, Stats Traffic Tab

#20214 🤖 Adds accessibility descriptions on inline actions
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NoteViewHolder.kt
Labels: Notifications, Accessibility

#20226 EditPostActivity - Update showVideoDurationLimitWarning to use Snackbar
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: Gutenberg

#20216 [Reader][0 blogs/0 tags] Fix Subscription feed infinite loading and fetch when tapping filters
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderTagTable.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagList.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderTagActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FetchFollowedTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/tags/FollowInterestTagsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/FetchFollowedTagsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: [Type] Bug, Reader, Reader IA

#20237 Merge 24.3 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#20223 Adds notifications list tests
  WordPress/src/main/java/org/wordpress/android/datasets/NotificationsTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/NotificationsTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsActions.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsActionsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/notifications/NotificationsListViewModelTest.kt
Labels: Notifications, [Type] Task, Testing

#20227 `:libs:processors` annotation processing unit test
  libs/processors/build.gradle
  libs/processors/src/test/kotlin/org/wordpress/android/processor/RemoteConfigProcessorTest.kt
Labels: Testing, Tooling

#20243 Fix issues related to the Like state in notifications tab
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
  WordPress/src/test/java/org/wordpress/android/ui/notifications/NotificationsListViewModelTest.kt
Labels: [Type] Bug, Notifications

#20240 [Sign Up][Crash] Fix crash in Sign Up confirmation (Login Lib)
  build.gradle
Labels: [Status] Not Ready for Review, [Type] Crash, Login, Signup

#20242 Stats traffic remove today card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
Labels: [Type] Task, Stats Traffic Tab

#20123 Updates Jetpack banners and badges copy
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtil.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalBrandingUtilTest.kt
Labels: [Type] Task, Jetpack Focus

#20251 🤖 Remove deprecated reblog notification type
  WordPress/src/main/java/org/wordpress/android/models/Note.kt
  WordPress/src/main/java/org/wordpress/android/models/NoteExtensions.kt
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageHandler.java
  WordPress/src/main/java/org/wordpress/android/push/NotificationType.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/SystemNotificationsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NoteViewHolder.kt
  WordPress/src/test/java/org/wordpress/android/ui/notifications/SystemNotificationsTrackerTest.kt
Labels: Tech Debt, Push notifications

#20181 Initial support for VideoPress v5
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergPropsBuilder.kt
Labels: Media, gutenberg-mobile

#20263 🤖 Fixes comment like blinking
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
Labels: [Type] Bug, Notifications

#20290 [Reader][Crash] Make sure query is not null in Reader Search
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/search/ReaderSearchJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/search/ReaderSearchLogic.java
Labels: Reader, [Type] Crash

#20304 Moves: the constants from EditPostActivity to a new kotlin file
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/AddQuickPressShortcutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivityConstants.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/SelectCategoriesActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
Labels: Posting/Editing

#20225 build: replace `kapt` with `ksp`
  WordPress/build.gradle
  config/lint/lint.xml
  settings.gradle
Labels: Tooling

#20305 Fix showing wrong data for a short time on the traffic tab
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
Labels: [Type] Bug, Stats Traffic Tab

#20294 Stats Traffic invoke traffic tab from widgets
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsTimeframe.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/WidgetBlockListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/MinifiedWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetBlockListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetUpdater.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetBlockListViewModelTest.kt
Labels: [Type] Task, Stats Traffic Tab

#20307 Stats traffic fix label formatters
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/BarChartLabelFormatter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/LineChartLabelFormatter.kt
Labels: [Type] Task, Stats Traffic Tab

#20302 [Reader] Tags chip should appear before blogs chip in "Subscriptions" feed
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/filter/ReaderFilterChipGroup.kt
Labels: Reader, [Type] Task, Reader IA

#20293 Replace INSERT with INSERT OR REPLACE when updating publicize connections table
  WordPress/src/main/java/org/wordpress/android/datasets/PublicizeTable.java
Labels: [Type] Crash, Jetpack Social

#20306 [Reader] Persist feed selection across sessions and fix text overlapping post list
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
Labels: [Type] Bug, Reader

#20317 [Reader][Discover] Move first recommendation card to be card number three
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: Reader, [Type] Task, Reader IA

#20316 Fix granularity issue with traffic widgets
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/MinifiedWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/utils/WidgetUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/ViewsWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetUpdater.kt
Labels: [Type] Bug, Stats Traffic Tab

#20339 Integrate gutenberg-mobile release v1.114.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#20309 Stats Traffic handle Deep links and Notifications
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
Labels: [Type] Task, Stats Traffic Tab

#20259 Add Colors screen for Design System
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemColorsScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemComponentsScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemDataSource.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemFoundationScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemTheme.kt
Labels: [Type] Task, Design System, unit-tests-exemption

#20340 Fix bar size issue on traffic tab
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficBarChartViewHolder.kt
Labels: [Type] Bug, Stats Traffic Tab

#20342 Fix stats_overview_type_tapped event
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Bug, Analytics, Stats Traffic Tab
