Repository wordpress-mobile/WordPress-Android, pull requests merged in 2024-04, with the labels that each got.

#20557 Sets an uninitialised flow step as unspecified before dismissing the screen
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazepromote/BlazePromoteWebViewViewModel.kt
Labels: [Type] Crash, Blaze

#20563 [Reader Customization] Update preview, adding link to feedback survey
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderReadingPreferencesDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesScreen.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderReadingPreferencesFeedbackFeatureConfig.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModelTest.kt
Labels: Reader, [Type] Task, [Status] Not Ready for Merge, unit-tests-exemption, Reader Customization

#20564 Change "∞" symbol with "100%" on stats
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtilsTest.kt
Labels: [Type] Enhancement, Stats

#20565 Prevents the app from crashing when the MediaDeleteService fails to resume
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
Labels: Media, [Type] Crash

#20566 Fix Crash in post related to sync publishing
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
Labels: [Type] Crash

#20568 Update Jetpack Connection Stats event
  WordPress/src/main/java/org/wordpress/android/ui/JetpackConnectionResultActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
Labels: Stats, [Type] Task

#20569 Fixes: NullPointerException in fillContentEditorFields()
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Bug

#20573 Merge 24.5 final to trunk (updated, and submitted for second time)
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
  version.properties
Labels: Releases

#20543 Offline Sync: EditPostActivity Conversion
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/UploadMediaUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/UploadMediaUseCaseTest.kt
Labels: Posting/Editing, unit-tests-exemption

#20571 Show error when the site is not created correctly
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModelTest.kt
Labels: [Type] Crash, Site Creation

#20580 Fix failing unit tests in post list item UI state helper test
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelperTest.kt
Labels: Post List, [Type] Task

#20574 [Reader Customization] Improve Reading Preferences sheet accessibility
  WordPress/src/main/java/org/wordpress/android/ui/reader/models/ReaderReadingPreferences.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesButtons.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesFontSizeSlider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesPreviewTag.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesScreen.kt
  WordPress/src/main/res/values/strings.xml
Labels: Reader, [Type] Task, Accessibility, Reader Customization

#20552 Sync issues: Post conflict handling
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostConflictResolver.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListEventListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUploadAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/SyncPublishingFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadActionUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PostModelUploadUiStateUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/posts/PostListItemUiStateHelper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostConflictResolverTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelCopyPostTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/SyncPublishingFeatureUtilsTest.kt
  build.gradle
Labels: [Type] Task, Offline Support, [Status] Not Ready for Merge, unit-tests-exemption

#20592 Fix the crash that occurs due to titles and categories containing '%'
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/accountsettings/AccountSettingsFragment.kt
Labels: Site Settings, [Type] Crash, Account Management

#20467 Refactor notification detail activity to use ViewPager2
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/widgets/WPSwipeSnackbar.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPViewPager2Transformer.kt
  WordPress/src/main/res/layout/notifications_detail_activity.xml
Labels: [Type] Enhancement, Notifications, Tech Debt, unit-tests-exemption

#20602 Fix an issue of IndexOutOfBoundsException
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.kt
Labels: [Type] Bug, [Type] Crash

#20478 Refactor notifications: remove async task
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
Labels: [Type] Enhancement, Notifications, Tech Debt

#20596 [Reader] Implement Tags IA feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderTopBarMenuHelper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderTagsFeedFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/utils/ReaderTopBarMenuHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, [Type] Task, Tags IA

#20600 Display tags chip in subscriptions feed based on tags feed feature flag
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/filter/ReaderFilterChipGroup.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, Tags IA

#20599 [Reading Preferences] Add Analytics Tracking
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderReadingPreferencesDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/models/ReaderReadingPreferences.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderReadingPreferencesRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderReadingPreferencesTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/ReaderReadingPreferencesRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/tracker/ReaderReadingPreferencesTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Reader, Analytics, [Type] Task, Tracks, Reader Customization

#20567 [Reader Customization] Remote Reading Preferences Feature Flag
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderReadingPreferencesFeatureConfig.kt
Labels: Reader, [Type] Task, [Status] Not Ready for Merge, Reader Customization

#20608 Stats: Add singular strings to weekly roundup notification
  WordPress/src/main/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifier.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifierTest.kt
Labels: [Type] Bug, Stats, Notifications

#20604 [Reader Customization] Add Experimental badge
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesScreen.kt
  WordPress/src/main/res/values/strings.xml
Labels: Reader, [Type] Task, Reader Customization

#20590 Replace GravatarUtils from WPUtils, use Gravatar-SDK-Android instead
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/networking/GravatarApiTest.java
  WordPress/src/androidTest/java/org/wordpress/android/util/WPAvatarUtilsTest.kt
  WordPress/src/jetpack/assets/licenses.html
  WordPress/src/main/assets/licenses.html
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderUserTable.java
  WordPress/src/main/java/org/wordpress/android/modules/GravatarModule.kt
  WordPress/src/main/java/org/wordpress/android/networking/GravatarApi.java
  WordPress/src/main/java/org/wordpress/android/networking/StreamingRequest.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginHeaderViewHolder.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/avatars/AvatarViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnifiedCommentViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/views/TrainOfAvatarsView.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/LikedItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/LikerViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/UserProfileBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/utils/MeGravatarLoader.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/adapters/AuthorSelectionAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderCommentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderUserAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/adapters/SuggestionAdapter.java
  WordPress/src/main/java/org/wordpress/android/util/GravatarUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/WPAvatarUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPAvatarUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/main/jetpack/migration/JetpackMigrationViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderPostDetailUiStateBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
  build.gradle
  config/gradle/included_builds.gradle
  docs/test_instructions_per_dependency_update.md
  local-builds.gradle-example
Labels: Gravatar

#20589 [Stats] Add year to date picker for weeks.
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
Labels: [Type] Task

#20612 Prevents the app from crashing when there is no space left to persist the logfiles
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
Labels: General, [Type] Crash

#20613 [Reader Customization] Add [internal] tag to the release note item
  RELEASE-NOTES.txt
Labels: Reader, [Type] Task

#20611 [Reader Tags Feed] Show tags chip in tags feed
  WordPress/src/main/java/org/wordpress/android/models/ReaderTag.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/filter/ReaderFilterChipGroup.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, [Type] Task, Tags IA

#20616 Handles fetch media exceptions
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
Labels: [Type] Crash, Media Picker

#20603 Removes multiple calls to the WebSettings.getDefaultUserAgent api
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/UserAgentTest.java
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/java/org/wordpress/android/WordPress.kt
  WordPress/src/main/java/org/wordpress/android/modules/AppConfigModule.java
  WordPress/src/main/java/org/wordpress/android/ui/WebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/ExoPlayerUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeWebViewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderVideoViewerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/SiteCreationPlansViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorUtilsTest.kt
Labels: General, [Type] ANR

#20620 Initialises DebugCookieManager only when the debug settings are enabled
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
Labels: [Type] Crash, Webviews

#20626 Fixes: bug in postLocalChangesAlreadyRemoteAutoSaved()
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
Labels: [Type] Bug, Offline Support

#20607 Offline mode: Post conflict resolution overlay
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostConflictResolutionFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListDialogHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostListMainViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlay.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlayAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlayFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlayListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlayUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlayViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/DateUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/config/PostConflictResolutionFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SyncPublishingFeatureConfig.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostConflictResolutionFeatureUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelCopyPostTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostListMainViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostResolutionOverlayAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostResolutionOverlayViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Post List, [Type] Task

#20629 Integrate gutenberg-mobile release v1.117.0
  build.gradle
Labels: Gutenberg

#20521 Pinned sites
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginEpilogueActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/onboarding/BloggingPromptsOnboardingDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/AddSiteDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/AddSiteHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/ChooseSiteActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/ChooseSiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/ChooseSiteViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/main/SitePickerContract.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SiteRecord.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/SiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/utils/SiteRecordUtil.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/QuickStartPromptDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/reblog/ReblogUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/SitePickerViewModel.kt
  WordPress/src/main/res/drawable/pin.xml
  WordPress/src/main/res/drawable/pin_filled.xml
  WordPress/src/main/res/layout/choose_site_activity.xml
  WordPress/src/main/res/layout/item_choose_site.xml
  WordPress/src/main/res/menu/choose_site.xml
  WordPress/src/main/res/menu/site_picker_action_mode.xml
  WordPress/src/main/res/menu/site_picker_reblog_action_mode.xml
  WordPress/src/main/res/values/colors_translucent.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/SitePickerViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/SiteViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Site Picker, [Type] Task, unit-tests-exemption

#20614 [Reader] Implement "Tags" feed horizontal posts list item component
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/horizontalpostlist/HorizontalPostListItem.kt
Labels: Reader, Tags IA

#20642 Prevents ANR when fetching reader post
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
Labels: Reader, Comments, [Type] ANR

#20649 Refactor Mark all as read in notifications
  WordPress/src/main/java/org/wordpress/android/models/Note.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsActionsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/ToastUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/notifications/NotificationsListViewModelTest.kt
Labels: Notifications

#20650 QR Code Scanning: Prevent illegalStateException
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningFragment.kt
Labels: [Type] Task, QRCode Auth

#20651 Post conflict resolution for self-hosted site companion
  build.gradle
Labels: [Type] Task

#20652 Fixes: NullPointerException in SiteCreationActivity
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationActivity.kt
Labels: [Type] Bug

#20606 [Bug] Fix root cause that caused StatsGranularTabsTest to fail.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsGranularTabsTest.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/PostDayViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsColorSelectionViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsSiteSelectionViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/detail/PostDayViewsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ReferrersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AllTimeStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/LatestPostSummaryUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/MostPopularInsightsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TodayStatsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsColorSelectionViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/widget/configuration/StatsSiteSelectionViewModelTest.kt
Labels: [Type] Bug

#20605 Update empty Stats display to match iOS
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficBarChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BarChartViewHolder.kt
Labels: Stats, [Type] Task

#20659 Merge 24.7 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/comment/ReaderCommentService.java
Labels: Releases

#20656 Fix negative percent issue on Stats for RTL languages
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/text/PercentFormatter.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/util/text/PercentFormatterTest.kt
Labels: [Type] Bug, Stats, i18n

#20654 Quick Start: Fix IllegalStateException
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
Labels: [Type] Task, Quick Start

#20668 Fix #20664 - fix crash in WPAvatarUtils
  WordPress/src/androidTest/java/org/wordpress/android/util/WPAvatarUtilsTest.kt
  WordPress/src/main/java/org/wordpress/android/util/WPAvatarUtils.java
Labels: [Type] Crash

#20672 Fix UninitializedPropertyAccessException in EditorJetpackSocialViewModel
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
Labels: Posting/Editing, [Type] Crash, Jetpack Social

#20661 Rename `stats_traffic_tab` config to `stats_traffic_subscribers_tab`
  WordPress/build.gradle
  WordPress/src/androidTest/resources/new-stats-feature-response.json
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/WidgetBlockListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/MinifiedWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetBlockListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/ViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/DateSelectorViewUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/java/org/wordpress/android/util/config/StatsTrafficSubscribersTabFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/StatsTrafficTabFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetBlockListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
Labels: Stats, [Type] Task

#20676 EditPost: fix lateinit property siteModel not initialized error
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
Labels: [Type] Task, [Type] Crash

#20677 Fix NullPointerException calling sendToJSPostSaveEvent
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
Labels: [Type] Task, [Type] Crash

#20634 [Reader] Implement "Tags" feed horizontal posts list item component loading
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/horizontalpostlist/HorizontalPostListItemLoading.kt
Labels: Reader, unit-tests-exemption, Tags IA

#20674 Fix empty bar chart issue
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BarChartViewHolder.kt
Labels: [Type] Bug, Stats

#20658 Conflict Resolution: Tracking source
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlayAnalyticsTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostResolutionOverlayViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostResolutionOverlayAnalyticsTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostResolutionOverlayViewModelTest.kt
Labels: [Type] Task

#20682 Merge 24.7-rc-2 to trunk
  WordPress/src/androidTest/java/org/wordpress/android/util/WPAvatarUtilsTest.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorJetpackSocialViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/WPAvatarUtils.java
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  version.properties
Labels: Releases

#20675 Consolidate granular stats tabs
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsBlockAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficBarChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficFourColumnsViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/BlockListViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/viewholders/LoadingViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/BarChartLabelFormatter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtils.kt
  WordPress/src/main/res/layout/stats_block_traffic_bar_chart_item.xml
  WordPress/src/main/res/layout/stats_block_traffic_four_columns_item.xml
  WordPress/src/main/res/layout/stats_block_traffic_selectable_column.xml
  WordPress/src/main/res/values/stats_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapperTest.kt
Labels: Stats, [Type] Task

#20693 Replace tab with a popup window in notifications
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/res/drawable/chevron_right_small.xml
  WordPress/src/main/res/layout/notification_filter_popup.xml
  WordPress/src/main/res/layout/notifications_list_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Notifications, [Type] Task

#20699 Fix IllegalStateException by using postValue() in clearMenuStep()
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/quickstart/QuickStartRepository.kt
Labels: [Type] Crash, Quick Start

#20685 Add new Subscribers tab
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsTimeframe.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/res/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Stats, [Type] Task

#20702 Fix editpost background issue
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
Labels: [Type] Task, [Type] Crash

#20704 Fixes unknown color Aztec crash
  build.gradle
Labels: Posting/Editing, [Type] Crash, Aztec

#20640 [Reader Customization] Allow dragging to close Preferences bottom sheet
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderReadingPreferencesDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesScreen.kt
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModelTest.kt
Labels: [Type] Enhancement, Reader, Reader Customization

#20686 [Reader] Implement tags feed UI
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItemLoading.kt
  WordPress/src/main/res/drawable/ic_wifi_off_24px.xml
  WordPress/src/main/res/values/strings.xml
Labels: Reader, unit-tests-exemption, Tags IA

#20695 [Reader] Implement "Tags" feed empty state UI
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
Labels: Reader, unit-tests-exemption, Tags IA

#20700 Update the UI of header and list in Likes Details
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/LikedItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/LikerViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/res/layout/liker_user.xml
  WordPress/src/main/res/layout/note_block_header.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
Labels: Notifications, [Type] Task, Likes

#20709 Add a Share Post button in Likes Details
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/engagement/EngagedPeopleListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/ListScenario.kt
  WordPress/src/main/java/org/wordpress/android/ui/engagement/ListScenarioUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/res/layout/engaged_people_list_fragment.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/engagement/ListScenarioUtilsTest.kt
Labels: Notifications, [Type] Task, Likes

#20713 Rename filter selection event
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/test/java/org/wordpress/android/util/analytics/AnalyticsTrackerNosaraTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Notifications, [Type] Task, Tracks

#20711 Refactors NoteBlock to Kotlin
  WordPress/src/androidTest/java/org/wordpress/android/ui/notifications/NotificationsUtilsTest.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/BlockType.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/BlockType.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/GeneratedNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockClickableSpan.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockClickableSpan.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockLinkMovementMethod.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlockLinkMovementMethod.kt
Labels: Notifications, Tech Debt, Convert to Kotlin, unit-tests-exemption

#20712 Merge 24.7-rc-3 to trunk
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  build.gradle
  version.properties
Labels: Releases

#20683 Fix null `siteModel` crash on the posts list screen
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
Labels: Post List, [Type] Crash

#20710 Offline mode: conflict on scheduled posts
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostConflictResolutionFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/DateTimeUtilsWrapper.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostConflictResolutionFeatureUtilsTest.kt
  build.gradle
Labels: Offline Support

#20717 Create intermediate branches for code freeze & finalize release PRs
  fastlane/lanes/release.rb
Labels: Tooling

#20716 Fixes: NullPointerException in BlazeViewModel
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazeoverlay/BlazeViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazepromote/BlazePromoteParentActivity.kt
Labels: [Type] Bug

#20719 Integrate gutenberg-mobile release v1.118.0
  build.gradle
Labels: Gutenberg

#20706 Subscribers line chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/SubscribersChartMarkerView.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/UiModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/LineChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/SubscribersChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SubscribersChartLabelFormatter.kt
  WordPress/src/main/res/layout/stats_block_line_chart_item.xml
  WordPress/src/main/res/layout/stats_subscribers_chart_marker.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/SubscribersChartUseCaseTest.kt
  build.gradle
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_subscribers.json
Labels: Stats, [Type] Task, [Status] Not Ready for Merge, unit-tests-exemption

#20720 Update FluxC reference to trunk
  build.gradle
Labels: [Type] Task, dependency update

#20684 [Tags IA] Fetch posts for multiple tags
  WordPress/src/main/java/org/wordpress/android/datasets/wrappers/ReaderPostTableWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/exceptions/ReaderPostFetchException.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostLogicFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/sources/ReaderPostLocalSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModel.kt
  WordPress/src/main/res/layout/reader_tag_feed_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/services/post/ReaderPostLogicFactoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/sources/ReaderPostLocalSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
Labels: Reader, [Type] Task, Tags IA

#20718 Refactors NoteBlock to Kotlin Part 2
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/CommentUserNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/FooterNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/HeaderNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/UserNoteBlock.kt
Labels: Notifications, Tech Debt, Convert to Kotlin, unit-tests-exemption

#20737 [Crash Fix] Update FluxC version to fix crash related to Woo DB
  build.gradle
Labels: Core, [Type] Crash

#20741 Merge 24.8-rc-2 to trunk
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  version.properties
Labels: Releases
