Repository wordpress-mobile/WordPress-Android, pull requests merged in 2024-03, with the labels that each got.

#20338 Fix updating granularity issue for widgets
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/WidgetBlockListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/ViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedTrafficGranularityManager.kt
Labels: [Type] Bug, Stats Traffic Tab

#20299 Remove Gutenberg Video block from excerpt to hide VideoPress URLs
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostUtilsUnitTest.kt
Labels: [Type] Enhancement, Gutenberg

#20303 [Reader] Add subscribed sites and followed tags to analytics
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Reader, [Type] Task, Reader IA

#20356 Update RELEASE-NOTES.txt
  RELEASE-NOTES.txt
Labels: [Type] Task, Stats Traffic Tab

#20315 [Stats] Fixed broken Stats UI tests.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/MySitesPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
Labels: [Type] Task, UI Tests

#20346 Fix crashes with Traffic tab when Talkback enabled
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficBarChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
Labels: [Type] Bug, Stats Traffic Tab

#20362 Fix incorrect date range on the traffic tab
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
Labels: [Type] Bug, Stats Traffic Tab

#20390 Fix the loading state of the traffic chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/UiModelMapper.kt
Labels: [Type] Bug, Stats Traffic Tab

#20391 Speed up the bar animation on the TRAFFIC tab
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficBarChartViewHolder.kt
Labels: [Type] Enhancement, Stats Traffic Tab

#20392 Make traffic tab default
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManagerTest.kt
Labels: [Type] Bug, Stats Traffic Tab

#20387 Fix timezone issue on traffic chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
  build.gradle
Labels: [Type] Bug, Stats Traffic Tab

#20393 Fix the stats screen issue that occurs with changing orientation
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
Labels: [Type] Bug, Stats Traffic Tab

#20341 Stories Additional Code Removals
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/buttons/ImageButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/home/PrepublishingHomeItemUiState.kt
  WordPress/src/main/res/drawable-hdpi/stories_intro_cover_1.png
  WordPress/src/main/res/drawable-hdpi/stories_intro_cover_2.png
  WordPress/src/main/res/drawable-xhdpi/stories_intro_cover_1.png
  WordPress/src/main/res/drawable-xhdpi/stories_intro_cover_2.png
  WordPress/src/main/res/drawable/ic_story_icon_24dp.xml
  WordPress/src/main/res/drawable/story_title_thumbnail_background.xml
  WordPress/src/main/res/layout/photo_picker_fragment.xml
  WordPress/src/main/res/layout/prepublishing_story_title_list_item.xml
  WordPress/src/main/res/layout/stories_intro_dialog_fragment.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  build.gradle
  config/lint/baseline.xml
  fastlane/lanes/localization.rb
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/StorySaveMediaListener.java
  local-builds.gradle-example
Labels: [Type] Task, Tech Debt, WP Stories

#20399 Removes duplicate lines from release notes
  RELEASE-NOTES.txt
Labels: [Type] Task, Documentation, WP Stories

#20402 [Reader] Persist feed selection across sessions
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
Labels: [Type] Bug, Reader

#20406 Merge 24.4 versionCode update to trunk
  version.properties
Labels: Releases

#20400 [Gutenberg] Remove code associated to Story block
  RELEASE-NOTES.txt
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Gutenberg

#20407 Display the privacy popup for US users
  WordPress/src/main/java/org/wordpress/android/ui/prefs/privacy/GeoRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/privacy/banner/domain/ShouldAskPrivacyConsent.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/privacy/banner/domain/ShouldAskPrivacyConsentTest.kt
Labels: [Type] Task

#20401 Update the title of "Testing Checklist" in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#20388 [Reader] Improve analytics tracking for subscribed sites and followed tags
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderTagActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/FetchFollowedTagsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/ReaderDiscoverDataProviderTest.kt
Labels: Reader, [Type] Task, unit-tests-exemption, Reader IA

#20361 Reader: Change "N bloggers like this" to "N likes"
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/res/layout/trailing_label_item.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
Labels: Reader, [Type] Task

#20167 [Gutenberg] React Native `0.73.3` Upgrade
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#20421 Merge 24.4 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#20395 Remove feature config for in app reviews
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/review/ReviewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/config/InAppReviewsFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/review/ReviewViewModelTest.kt
Labels: In-app Reviews

#20417 Fixes broken links on some notifications due to ranges with invalid urls
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/ui/notifications/NotificationsUtilsTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/notifications/NotificationsUtilsTest.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
Labels: [Type] Bug, Notifications

#20301 [Offline Mode] Post sync before editing
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/modules/PostModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/IPostFreshnessChecker.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostFreshnessCheckerImpl.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/config/SyncPublishingFeatureConfig.kt
  WordPress/src/main/res/layout/new_edit_post_activity.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/PostFreshnessCheckerImplTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/StorePostViewModelTest.kt
  build.gradle
Labels: [Type] Task, unit-tests-exemption

#20416 Fix timezone issue with traffic charts
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
  build.gradle
Labels: [Type] Bug, Stats Traffic Tab

#20414 [Reader] `read/streams/discover` endpoint integration
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderDiscoverNewEndpointFeatureConfig.kt
  libs/mocks/src/main/assets/mocks/mappings/wpcom/reader/rest_v2_read_streams_discover.json
Labels: Reader, [Type] Task, unit-tests-exemption, Reader IA

#20433 Add a timezone label to the date on the TRAFFIC tab of the stats
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateSelector.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/StatsDateSelectorTest.kt
Labels: [Type] Enhancement, Stats Traffic Tab

#20358 Task/migrate to new blaze fetch campaigns endpoint
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/BlazeCampaignPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaigndetail/CampaignDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaigndetail/CampaignDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListUseCases.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingUIModelMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/BlazeCardSource.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/blaze/CampaignStatus.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/CampaignDetailViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/CampaignListingViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/CampaignListingUIModelMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/FetchCampaignListUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/blaze/blazecampaigns/campaignlisting/GetCampaignListFromDbUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/blaze/BlazeCardSourceTest.kt
  build.gradle
Labels: Blaze

#20425 Filters free themes using the theme_tier field of the response
  RELEASE-NOTES.txt
  build.gradle
Labels: [Type] Bug, Themes

#20436 Fix bars turning green issue when switching from a graph with empty data
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficBarChartViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/BarChartViewHolder.kt
Labels: [Type] Bug, Stats Traffic Tab

#20430 [Reader] Fix for Incomplete subscribed sites list
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
Labels: [Type] Bug, Reader, Reader IA

#20219 build: bump kotlin to `1.9.22`
  build.gradle
  settings.gradle
Labels: Tooling

#20264 Use `ksp` in the project
  WordPress/build.gradle
  build.gradle
  config/lint/lint.xml
  libs/processors/build.gradle
  libs/processors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessor.kt
  libs/processors/src/main/java/org/wordpress/android/processor/RemoteConfigProcessorProvider.kt
  libs/processors/src/main/resources/META-INF/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
  libs/processors/src/test/kotlin/org/wordpress/android/processor/RemoteConfigProcessorTest.kt
  settings.gradle
Labels: Tooling

#20444 Merge 24.4-rc-2 to trunk
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-az/strings.xml
  WordPress/src/main/res/values-bg/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-cy/strings.xml
  WordPress/src/main/res/values-da/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gd/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-hi/strings.xml
  WordPress/src/main/res/values-hr/strings.xml
  WordPress/src/main/res/values-hu/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-is/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-mk/strings.xml
  WordPress/src/main/res/values-ms/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sk/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-th/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-uz/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  version.properties
Labels: Releases

#20359 [Gutenberg] Add error boundary components and exception logging
  Gemfile
  Gemfile.lock
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  fastlane/lanes/build.rb
  libs/editor/build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Gutenberg, Tracks

#20450 Fix crash on the domain selection screen
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
Labels: [Type] Bug, Domain Search, Site Creation

#20451 Moves the analytics event names declaration in the Stats enum
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/test/java/org/wordpress/android/util/analytics/AnalyticsTrackerNosaraTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, [Type] Task, Tech Debt

#20447 Ignore enums in null annotation detector
  build.gradle
Labels: [Type] Enhancement, Lint

#20452 Fixes broken milestone notification confetti effect
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/res/layout/notifications_detail_activity.xml
  WordPress/src/main/res/layout/notifications_fragment_detail_list.xml
Labels: [Type] Bug, Notifications

#20459 Fixes PhotonUtils.getPhotonImageUrl crash
  build.gradle
Labels: Media, [Type] Crash

#20463 Use ConstraintLayout on date selector to fix large font size issue
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/DateSelectorViewUtils.kt
  WordPress/src/main/res/layout/stats_date_selector.xml
Labels: [Type] Bug, Accessibility, Stats Traffic Tab

#20422 [Test] Added UI test for the new stats traffic tab.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsGranularTabsTest.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsTests.kt
  WordPress/src/androidTest/java/org/wordpress/android/e2e/pages/StatsPage.kt
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
  WordPress/src/androidTest/java/org/wordpress/android/wiremock/WireMockStub.kt
  WordPress/src/androidTest/resources/new-stats-feature-response.json
Labels: [Type] Task, UI Tests

#20457 [Reader] Rename the label to edit/manage Tags and Sites
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
Labels: Reader, [Type] Task, Reader IA

#20460 Fixes: Site icon refresh issue
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteIconUploadHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/siteinfo/SiteInfoHeaderCardViewHolder.kt
Labels: [Type] Bug

#20475 Fix bar count issue with traffic chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
Labels: [Type] Bug, Stats Traffic Tab

#20431 Replaces result listener animation with a Glide animation
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.java
  WordPress/src/main/java/org/wordpress/android/util/image/GlidePopTransitionOptions.kt
  WordPress/src/main/java/org/wordpress/android/util/image/ImageManager.kt
  WordPress/src/main/res/layout/note_block_basic.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/util/image/GlidePopTransitionOptionsTest.kt
Labels: [Type] Bug, Notifications

#20470 Handles NullPointerException in Plugin configuration
  WordPress/src/main/java/org/wordpress/android/ui/plugins/PluginDetailActivity.java
Labels: Jetpack Plugins, [Type] Crash

#20474 Fixes: NullPointerException in GutenbergEditorFragment
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: [Type] Bug

#20464 Update Design System color definitions
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemAppColor.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemTheme.kt
Labels: [Type] Task, Design System

#20482 [Reader] Fix Globe icon wrong color
  WordPress/src/main/res/drawable/ic_globe_white_24dp.xml
Labels: [Type] Bug, Reader

#20484 Adds null check in the UnrepliedCommentsUtils.isMyComment method
  WordPress/src/main/java/org/wordpress/android/ui/comments/unified/UnrepliedCommentsUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/comments/unified/UnrepliedCommentsUtilsTest.kt
Labels: Comments, [Type] Crash

#20480 Redirects to the site creation failure flow when the endpoint fails
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/services/SiteCreationServiceManager.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/services/SiteCreationServiceManagerTest.kt
Labels: [Type] Crash, Site Creation

#20477 [Reader] Fix `Reader` showing posts from a language different than the selected one
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/models/recommend/RecommendApiCallsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/people/InviteLinksApiCallsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/utils/PeopleUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeActions.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/services/PublicizeUpdateServicesV2.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderBlogActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/usecases/ParseDiscoverCardsJsonUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/comment/ReaderCommentService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/search/ReaderSearchJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/search/ReaderSearchLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/search/ReaderSearchService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/PostSubscribersApiCallsProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/service/SuggestionService.java
  WordPress/src/test/java/org/wordpress/android/models/recommend/RecommendApiCallsProviderTest.kt
  libs/networking/src/main/java/org/wordpress/android/networking/RestClientUtils.java
Labels: Reader, Reader IA

#20498 fix: React Native bundle source map copy task
  WordPress/build.gradle
Labels: [Type] Bug, Tooling

#20493 [UI Tests] Disabled the e2eAllDayStatsLoad granular test for JP.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsGranularTabsTest.kt
Labels: UI Tests

#20500 Stats Traffic: Remove heading on Today card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
Labels: [Type] Task, Stats Traffic Tab

#20428 build: bump measure builds version to 2.1.2
  settings.gradle
Labels: Tooling

#20495 Fixes: NumberFormatExcpetion in BlockProcessor
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/AudioBlockProcessor.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/BlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/CoverBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/GalleryBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/ImageBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/MediaTextBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoBlockProcessor.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/mediauploadcompletionprocessors/VideoPressBlockProcessor.kt
Labels: [Type] Bug

#20483 Bump Sentry Gradle plugin
  WordPress/build.gradle
  docs/test_instructions_per_dependency_update.md
  settings.gradle
Labels: Tooling

#20512 Fixes dynamic dashboard cards ordering in the new MySiteViewModel Architecture
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/DashboardCardsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/CardViewModelSlice.kt
Labels: Tech Debt, unit-tests-exemption, Dynamic Dashboard Cards

#20516 Merge 24.5 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/traffic/TrafficOverviewUseCase.kt
Labels: Releases

#19988 [Gutenberg] Highlight text bug fixes
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#20513 [Reader] Use `"follow"` for tag strings instead of `"subscribe"`
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/SubfilterPageViewModel.kt
  WordPress/src/main/res/layout/reader_activity_subs.xml
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/main/res/layout/subfilter_page_fragment.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/SubfilterPageViewModelTest.kt
  fastlane/resources/values/strings.xml
Labels: Reader, Reader IA

#20501 Add typography to theme + Fonts screen for the Design System
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemAppTypography.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemDataSource.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemFontsScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemTheme.kt
Labels: [Type] Task, Design System

#20522 Fixes broken notification comments regression
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/res/layout/notifications_fragment_detail_list.xml
Labels: [Type] Bug, Notifications

#20518 Fixes Aztec IndexOutOfBoundsException
  RELEASE-NOTES.txt
  build.gradle
Labels: [Type] Crash, Aztec, Gutenberg

#20507 [Reader] Fix IllegalStateException in ReaderPostListFragment
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
Labels: Reader

#20525 [Reader] Fix like button responsiveness in "Discover" feed
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostNewViewHolder.kt
Labels: Reader, Reader IA

#20526 Fix open traffic tab from today's stats card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsViewModelSliceTest.kt
Labels: [Type] Bug, Stats

#20528 [Reader] Fix like button text being cut off in Spanish
  WordPress/src/main/res/layout/reader_cardview_post_new.xml
Labels: Reader, Reader IA

#20364 [Lib] Update tracks targetSdk version from 33 to 34.
  build.gradle
Labels: [Type] Task, Android 14

#20533 Adds Webview version in Sentry crash logging
  WordPress/src/main/java/org/wordpress/android/util/crashlogging/WPCrashLoggingDataProvider.kt
  WordPress/src/main/java/org/wordpress/android/util/crashlogging/WebviewVersionProvider.kt
  WordPress/src/test/java/org/wordpress/android/util/crashlogging/WPCrashLoggingDataProviderTest.kt
Labels: [Type] Enhancement, Webviews

#20532 [Unit Tests] Remove mockito-core dependency
  WordPress/build.gradle
  WordPress/src/test/java/org/wordpress/android/ui/comments/unified/UnrepliedCommentsUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/comments/usecases/BatchModerateCommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/comments/usecases/ModerateCommentsWithUndoUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/comments/usecases/PaginateCommentsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/backup/download/BackupDownloadViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/restore/RestoreViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpack/scan/builders/ScanStateListItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackplugininstall/fullplugin/GetShowJetpackFullPluginInstallOnboardingUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mediapicker/loader/GifMediaDataSourceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/BlazeCardViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/RemotePreviewLogicHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/AddLocalMediaToPostUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/services/AztecImageLoaderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/prefs/privacy/banner/domain/ShouldAskPrivacyConsentTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/qrcodeauth/QRCodeAuthViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorWebViewClientTest.kt
  WordPress/src/test/java/org/wordpress/android/util/crashlogging/WPPerformanceMonitoringConfigTest.kt
  WordPress/src/test/java/org/wordpress/android/util/image/GlidePopTransitionOptionsTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/comments/UnifiedCommentListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/workers/weeklyroundup/WeeklyRoundupNotifierTest.kt
  build.gradle
Labels: [Type] Enhancement, Testing, Tech Debt

#20542 Integrate gutenberg-mobile release v1.116.0
  build.gradle
Labels: Gutenberg

#20546 Fix for auto-scrolling issues on stats screen
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/BaseListUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
Labels: [Type] Bug, Stats

#20545 feat: assign "debug" release, when app is not in `release` variant
  WordPress/src/main/java/org/wordpress/android/util/crashlogging/WPCrashLoggingDataProvider.kt
  WordPress/src/test/java/org/wordpress/android/util/crashlogging/WPCrashLoggingDataProviderTest.kt
  build.gradle
Labels: Tooling

#20544 [Reader] Scroll post list to top when Reader tab is tapped
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
Labels: Reader, Reader IA

#20517 [Test] Add custom Rule to retry failed tests if annotated appropriately.
  WordPress/src/androidTest/java/org/wordpress/android/e2e/StatsGranularTabsTest.kt
  WordPress/src/androidTest/java/org/wordpress/android/rules/Retry.kt
  WordPress/src/androidTest/java/org/wordpress/android/rules/RetryTestRule.kt
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
Labels: [Type] Task, [Status] Needs Discussion, UI Tests

#20549 Fixes get post likes crash
  WordPress/src/main/java/org/wordpress/android/ui/engagement/GetLikesUseCase.kt
Labels: Reader, Notifications, [Type] Crash, Likes

#20554 Scroll to top when selected bottom navigation tab is tapped
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
Labels: General, Bottom Navigation

#20506 HACK Week: Reader detail customization
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostWebViewCachingFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderReadingPreferencesDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderNavigationEvents.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/models/ReaderReadingPreferences.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderReadingPreferencesRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderGetReadingPreferencesSyncUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderGetReadingPreferencesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/ReaderSaveReadingPreferencesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReadingPreferencesUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesButtons.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesFontSizeSlider.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesPreviewTag.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/readingpreferences/ReadingPreferencesScreen.kt
  WordPress/src/main/java/org/wordpress/android/util/ColorUtils.kt
  WordPress/src/main/java/org/wordpress/android/util/EnumWithFallbackValueTypeAdapterFactory.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderReadingPreferencesFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/ContextExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/DialogExtensions.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/WindowExtensions.kt
  WordPress/src/main/res/drawable/ic_reader_preferences.xml
  WordPress/src/main/res/drawable/popup_background_surface.xml
  WordPress/src/main/res/menu/reader_detail.xml
  WordPress/src/main/res/values/reader_colors.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/models/ReaderReadingPreferencesThemeValuesTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/repository/ReaderReadingPreferencesRepositoryTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderGetReadingPreferencesSyncUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderGetReadingPreferencesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/usecases/ReaderSaveReadingPreferencesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderReadingPreferencesViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/util/EnumWithFallbackValueTypeAdapterFactoryTest.kt
Labels: Reader, [Type] Task, Reader Customization

#20553 [Reader Customization] Save reading preferences with device or app back buttons
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderReadingPreferencesDialogFragment.kt
Labels: Reader, [Type] Task, [Status] Not Ready for Merge, Reader Customization

#20558 [Reader Customization] Update links style and color
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/models/ReaderReadingPreferences.kt
Labels: Reader, [Type] Task, Reader Customization

#20560 [Reader Customization] Customize Subscribe button
  WordPress/src/main/res/color/reader_follow_button_selected_stroke_color.xml
  WordPress/src/main/res/color/reader_follow_button_text_color_selector.xml
  WordPress/src/main/res/drawable/reader_follow_button_shape.xml
  WordPress/src/main/res/drawable/reader_following_button_shape.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values-night/dimens.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: Reader, [Type] Task, Reader Customization

#20561 [Reader Customization] Fix snackbar action color
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/styles.xml
Labels: [Type] Bug, Reader, [Status] Not Ready for Merge, Reader Customization

#20551 Fix scrolling issue occurs when opening granular tabs on stats screen
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
Labels: [Type] Bug, Stats
