Repository wordpress-mobile/WordPress-Android, pull requests merged in 2024-01, with the labels that each got.

#19850 Removes - unused methods and classess using Android Studio Tool - 2/3
  RELEASE-NOTES.txt
  WordPress/src/androidTest/java/org/wordpress/android/util/WPUrlUtilsTest.java
  WordPress/src/main/java/org/wordpress/android/datasets/PeopleTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/PublicizeTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderBlogTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderCommentTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderLikeTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderUserTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/SQLTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/SiteSettingsTable.java
  WordPress/src/main/java/org/wordpress/android/datasets/UserSuggestionTable.java
  WordPress/src/main/java/org/wordpress/android/models/Capability.java
  WordPress/src/main/java/org/wordpress/android/models/CommentList.java
  WordPress/src/main/java/org/wordpress/android/models/PublicizeConnection.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderBlog.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderComment.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPost.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPostDiscoverData.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderPostList.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderUrlList.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderUser.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderUserList.java
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SmartLockHelper.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/plans/PlansConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPStartOverPreference.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/adapters/PublicizeServiceAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderEvents.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/models/ReaderTagHeaderInfo.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderLikingUsersView.java
  WordPress/src/main/java/org/wordpress/android/ui/themes/ThemeBrowserAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/main/java/org/wordpress/android/util/AniUtils.java
  WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java
  WordPress/src/main/java/org/wordpress/android/util/SmartToast.java
  WordPress/src/main/java/org/wordpress/android/util/VolleyUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPPermissionUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPPrefUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPUrlUtils.java
  WordPress/src/main/java/org/wordpress/android/util/WPWebViewClient.java
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
  WordPress/src/main/java/org/wordpress/android/widgets/HeaderGridView.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPDialogSnackbar.java
  WordPress/src/main/java/org/wordpress/android/widgets/WPScrollView.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Tech Debt

#19866 Remove unused menu button from domain cards
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/res/layout/domain_manage_domains_cta.xml
  WordPress/src/main/res/menu/domains_more.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Task, Plans on site domain

#19828 [Gutenberg] - Add support for unselecting blocks with the hardware back button
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Gutenberg

#19868 🤖 [Dynamic Cards] Adds release note for the dynamic dashboard cards
  RELEASE-NOTES.txt
Labels: [Type] Task, My Site Dashboard, Dynamic Dashboard Cards

#19871 [Bloganuary] Keep showing Bloganuary card in January
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSlice.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSliceTest.kt
Labels: [Type] Enhancement, Bloganuary

#19862 [Reader IA] Make Filter slide in/out horizontally when animating
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
Labels: [Type] Enhancement, Reader, Reader IA

#19844 [Reader IA] Update selected content stream based on menu item
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagList.java
  WordPress/src/main/java/org/wordpress/android/models/ReaderTagListExtension.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/usecases/LoadReaderTabsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderTopBarMenuHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/CollectionExtensions.kt
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/main/res/layout/tab_custom_view.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/utils/ReaderTopBarMenuHelperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: [Type] Task, Reader IA

#19874 Merge `23.9-rc-3` into `trunk`
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItemBuilderParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSlice.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/CardsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloganuary/BloganuaryNudgeCardViewModelSliceTest.kt
  fastlane/resources/values/strings.xml
  version.properties
Labels: Releases

#19865 Update Site Domain screen UI
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/res/layout/domain_add_domain_cta.xml
  WordPress/src/main/res/layout/domain_free_site_address_card.xml
  WordPress/src/main/res/layout/domain_manage_domains_cta.xml
  WordPress/src/main/res/layout/domain_plan_purchase_card.xml
  WordPress/src/main/res/layout/domain_purchase_card.xml
  WordPress/src/main/res/layout/domain_site_domains_blurb.xml
  WordPress/src/main/res/layout/domain_site_domains_card.xml
  WordPress/src/main/res/layout/domain_site_domains_header.xml
  WordPress/src/main/res/layout/domains_dashboard_fragment.xml
  WordPress/src/main/res/menu/domains_more.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainsDashboardViewModelTest.kt
  config/lint/baseline.xml
Labels: [Type] Task, Plans on site domain

#19873 Replace the Jetpack splash icon with Wordpress+Jetpack logo
  WordPress/src/jetpack/res/drawable/ic_splash.xml
  WordPress/src/jetpack/res/drawable/splash_icon.xml
  WordPress/src/jetpack/res/values/colors.xml
  WordPress/src/wordpress/res/drawable/splash_icon.xml
Labels: [Type] Task, Login

#19885 Integrate gutenberg-mobile release v1.110.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#19884 Add discrete onMediaUploadPaused handler to media uploads when offline
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/EditorMediaUploadListener.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Gutenberg

#19846 Update Utils library hash
  build.gradle
Labels: [Type] Task, Tech Debt

#19886 Super Fast Media Uploads: Adjustments to scan handling
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkTrackingUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandler.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/DeepLinkTrackingUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/QRCodeMediaLinkHandlerTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Media, [Type] Task

#19794 Updates: the tab bar icons and styling
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/res/anim/bottom_nav_icon_pop.xml
  WordPress/src/main/res/drawable/ic_home_selected.xml
  WordPress/src/main/res/drawable/ic_me_bottom_nav.xml
  WordPress/src/main/res/drawable/ic_notifications_selected.xml
  WordPress/src/main/res/drawable/ic_reader_selected.xml
  WordPress/src/main/res/drawable/nav_bar_button_selector.xml
  WordPress/src/main/res/layout/navbar_item.xml
  WordPress/src/main/res/values/dimens.xml
Labels: [Status] Needs Design Review, Design, My Site Dashboard

#19888 [Blogging Prompts] Fix blogging prompts not being translated
  build.gradle
Labels: [Type] Bug, Blogging Prompts

#19881 [Reader] Fix tag posts list paging
  WordPress/src/main/java/org/wordpress/android/datasets/ReaderPostTable.java
Labels: [Type] Bug, Reader

#19896 Revert "Removes: unused class WPStartOverPreference.java"
  WordPress/src/main/java/org/wordpress/android/ui/prefs/WPStartOverPreference.java
Labels: Site Settings, [Type] Crash, unit-tests-exemption

#19904 Uses the latest locale fix from FluxC
  build.gradle
Labels: [Type] Bug, Testing

#19901 Fastfile: Use `next_release_version` instead of `next_minor_version`
  fastlane/Fastfile
Labels: Tooling

#19908 Merge 23.9 second submission to trunk
  version.properties
Labels: Releases

#19880 Create a debug screen for displaying all shared pref flags
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/debug/DebugSettingsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/DebugSettingsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/preferences/DebugSharedPreferenceFlagsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/preferences/DebugSharedPreferenceFlagsScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/preferences/DebugSharedPreferenceFlagsViewModel.kt
  WordPress/src/main/res/menu/debug_settings_menu.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/debug/preferences/DebugSharedPreferenceFlagsViewModelTest.kt
Labels: Tooling

#19902 Stats traffic tab feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/StatsTrafficTabFeatureConfig.kt
Labels: [Type] Task, Stats Traffic Tab

#19905 Configure `kover`
  WordPress/build.gradle
  build.gradle
  config/gradle/code_coverage.gradle
  libs/editor/build.gradle
  libs/image-editor/build.gradle
  libs/processors/build.gradle
  settings.gradle
Labels: Tooling

#19878 feat: Pause media upload when internet connection unavailable
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/EditorMediaUploadListener.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Media, Gutenberg

#19856 [Reader IA] Integrate Top Bar Filter UI to Filter functionality
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/filter/ReaderFilterChipGroup.kt
  WordPress/src/main/res/layout/reader_fragment_post_cards.xml
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/layout/subfilter_component.xml
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-el/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es-rMX/strings.xml
  WordPress/src/main/res/values-es-rVE/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-eu/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-kmr/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nb/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sr/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-vi/strings.xml
  WordPress/src/main/res/values-w600dp/dimens.xml
  WordPress/src/main/res/values-w720dp/dimens.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
Labels: Reader, [Type] Task, Reader IA

#19860 [Reader IA] Open subscription management from Filter sheet
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/BottomSheetPageEmptyUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/res/color/on_surface_text_button_selector.xml
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
Labels: Reader, [Type] Task, [Status] Not Ready for Merge, Reader IA

#19912 Add domain status label to cards on Site Domain screen
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/res/drawable/ic_dot_white_8dp.xml
  WordPress/src/main/res/layout/domain_site_domains_card.xml
Labels: Plans on site domain

#19914 chore: Enable offline media upload features
  RELEASE-NOTES.txt
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: Media, Gutenberg

#19921 Merge 24.0 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#19863 [Reader IA] Update blog item UI in Filter sheet
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/adapters/SubfilterListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/viewholders/SiteViewHolder.kt
  WordPress/src/main/res/layout/subfilter_list_item.xml
Labels: Reader, [Type] Task, [Status] Not Ready for Merge, Reader IA

#19890 Add EDITOR_UPLOAD_MEDIA_PAUSED analytics event
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Analytics, Gutenberg

#19910 Add tapping functionality to domain cards on the Site Domain screen
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/domains/usecases/FetchAllDomainsUseCase.kt
  WordPress/src/main/res/drawable/ic_dot_white_8dp.xml
  WordPress/src/main/res/layout/domain_site_domains_card.xml
  WordPress/src/test/java/org/wordpress/android/ui/domains/DomainsDashboardViewModelTest.kt
Labels: [Type] Enhancement, Plans on site domain

#19847 [Tooling] Move Danger to GitHub Actions
  .buildkite/commands/danger-pr-check.sh
  .buildkite/pipeline.yml
  .github/workflows/run-danger.yml
Labels: Tooling

#19929 [Reader] Implement analytics events considering new filter UI
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterListItem.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
Labels: Reader, Reader IA

#19927 [Reader IA][Search] Hook Search top bar action to existing functionality
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
Labels: Reader, [Type] Task, Reader IA

#19928 [Reader] Remove first tags recommendation card
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
Labels: Reader, [Type] Task, Reader IA

#19882 [Reader] Update limit of fetched tag posts from 20 to 7 in Reader
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderConstants.java
Labels: Reader, [Type] Task

#19940 Format the value on the total followers card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
Labels: [Type] Bug, Stats

#19947 Prevent processing media if the Uri is null or if mLocalMediaUris is …
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
Labels: [Type] Bug, Sharing

#19942 Stats traffic tab add traffic tab
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateSelector.kt
  WordPress/src/main/res/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Stats Traffic Tab

#19948 Move WordPress Analytics from GravatarApi to WPAndroid
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
Labels: /Me

#19953 Update Gravatar default source directory
  local-builds.gradle-example
Labels: Gravatar

#19936 Configure Codecov
  .buildkite/commands/run-unit-tests.sh
  .buildkite/commands/upload-code-coverage.sh
  codecov.yml
  config/gradle/code_coverage.gradle
  docs/code-coverage.md
Labels: Tooling

#19954 Remove uncessary accesstoken checks - let the app crash on null access tokens
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
Labels: Gravatar

#19900 Use `trackWithSiteDetails` to track failed media uploads in the editor
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/RetryFailedMediaUploadUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/RetryFailedMediaUploadUseCaseTest.kt
Labels: Media, Analytics

#19957 Github Actions job for sending dependencies to GitHub Dependency Graph
  .github/workflows/submit-gradle-dependencies.yml
Labels: Tooling

#19958 Added release notes for domain card management feature on Site Domains
  RELEASE-NOTES.txt
Labels: [Type] Task, Plans on site domain

#19911 [Reader IA] Add dropdown menu analytics events
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/menu/dropdown/JetpackDropdownMenu.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderTopAppBar.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderTrackerTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, Reader IA

#19974 Stats traffic update today card
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteCardAndItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardViewHolder.kt
  WordPress/src/main/res/layout/my_site_todays_stats_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/todaysstats/TodaysStatsCardBuilderTest.kt
Labels: [Type] Task, Stats Traffic Tab

#19975 Integrate gutenberg-mobile release v1.111.0
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#19976 ci: generate and submit `WordPress` dependencies rather than `rootProject`
  .github/workflows/submit-gradle-dependencies.yml
Labels: Tooling

#19971 [Prompts] Build dailyprompt-id tag in code based on the Prompt ID
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorBloggingPromptsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/bloggingprompts/BloggingPromptsPostTagProviderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptCardViewModelSliceTest.kt
Labels: [Type] Bug, Blogging Prompts

#19962 Add an arrow icon for handling the UI of RTL
  RELEASE-NOTES.txt
  WordPress/src/main/res/drawable-ldrtl/ic_arrow_right_white_24dp.xml
Labels: [Type] Bug, Reader, i18n, Webviews

#19977 fix: Properly space Day One name
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/dashboard/bloggingprompts/BloggingPromptAttribution.kt
  WordPress/src/main/res/layout/blogging_prompt_card_compact.xml
  WordPress/src/main/res/layout/my_site_blogging_prompt_card.xml
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Bug, Blogging Prompts

#19987 Prevents the app from crashing when the foreground service fails to start
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
Labels: Posting/Editing, Media, [Type] Crash, Tech Debt

#19998 Integrate gutenberg-mobile release v1.110.1
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#20002 Merge 24.0.1 to release/24.1
  RELEASE-NOTES.txt
  version.properties
Labels: Releases

#20000 Integrate gutenberg-mobile release v1.111.1
  build.gradle
Labels: Gutenberg

#19960 [Reader] reader_accessed event not triggerered when app is resumed
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
Labels: Reader, [Type] Task

#20007 Merge 24.1-rc-2 to trunk
  RELEASE-NOTES.txt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  build.gradle
  version.properties
Labels: Releases

#20014 Disable the Stories feature
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
Labels: [Type] Task, WP Stories

#19979 [Fix] Made updates related to targetSdk update for media.
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/loader/DeviceListBuilder.kt
Labels: Android 14

#20019 Merge 24.1 editorialized release notes to trunk
  RELEASE-NOTES.txt
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
Labels: Releases

#20029 Site Monitoring: Add item to "more" menu
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/ListItemActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/ListItemAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/res/drawable/gb_ic_tool.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/ListItemActionHandlerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemFixtures.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/SiteItemsBuilderTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilderTest.kt
Labels: [Type] Task, site monitor

#20041 + Adds: the Skeleton classes for Site Monitoring Screen
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, site monitor

#20047 [Lib] Update AztecEditor lib from 1.9 to 2.0
  build.gradle
Labels: [Type] Task, dependency update

#19993 [Reader IA] Handle empty filter category states (0 Blogs / 0 Tags)
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/BottomSheetPageEmptyUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubfilterPageFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/SubfilterPageViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/layout/subfilter_page_fragment.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/TestUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/reader/SubfilterPageViewModelTest.kt
Labels: Reader, [Type] Task, Reader IA

#20045 Remove image optimization pop-up
  WordPress/src/main/java/org/wordpress/android/localcontentmigration/UserFlagsProviderHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/media/EditorMediaListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryEditorMedia.kt
  WordPress/src/main/java/org/wordpress/android/ui/stories/media/StoryMediaSaveUploadBridge.kt
  WordPress/src/main/java/org/wordpress/android/util/MediaUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/editor/media/EditorMediaTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stories/usecase/StoryEditorMediaTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: Media, Gutenberg

#20032 [Lib] Update Wordpress-Utils from 3.11.0 to 3.12.0
  build.gradle
Labels: [Type] Task, dependency update

#20030 [Lib] Update about-automattic to 1.4.0
  build.gradle
Labels: [Type] Task, dependency update

#20005 [Gutenberg] Disable Story block
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  config/gradle/included_builds.gradle
  libs/editor/build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergPropsBuilder.kt
Labels: Gutenberg

#20051 Integrate gutenberg-mobile release v1.111.2
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergPropsBuilder.kt
Labels: Gutenberg

#20053 fix: Prevent Gutenberg connection logic from crashing Aztec
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
Labels: [Type] Crash, Aztec

#20055 Merge 24.0.2 to release/24.1
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java
  version.properties
Labels: Releases

#19996 [Reader IA] Update Reader strings
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderSubsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderBlogAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderTagAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostCardActionsHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/interests/ReaderInterestsActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/update/ReaderUpdateLogic.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderFollowButton.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteSearchResultView.java
  WordPress/src/main/res/layout/follow_action_layout.xml
  WordPress/src/main/res/layout/reader_activity_subs.xml
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/main/res/layout/reader_empty_view.xml
  WordPress/src/main/res/layout/reader_fragment_list.xml
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/layout/reader_no_site_to_reblog.xml
  WordPress/src/main/res/layout/reader_popup_menu_item.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item_new.xml
  WordPress/src/main/res/layout/reader_recommended_blogs_card.xml
  WordPress/src/main/res/layout/subfilter_bottom_sheet.xml
  WordPress/src/main/res/menu/reader_home.xml
  WordPress/src/main/res/menu/threaded_comments_menu.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostMoreButtonUiStateBuilderTest.kt
  fastlane/resources/values/strings.xml
Labels: [Type] Task, Reader IA

#20042 Switch gutenberg-mobile's dependency group to org.wordpress
  .github/dependabot.yml
  WordPress/build.gradle
  libs/editor/build.gradle
Labels: Tooling

#20031 Add screen navigation for Design System
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemActivity.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemComponentsScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemDataSource.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemFoundationScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemScreen.kt
  WordPress/src/main/java/org/wordpress/android/designsystem/DesignSystemStartScreen.kt
  WordPress/src/main/res/values/strings.xml
  build.gradle
Labels: [Type] Task, Design System, unit-tests-exemption

#20060 [Lib] Bump fluxc to 2.64.0
  build.gradle
Labels: [Type] Task, Android 14

#20059 [Reader IA] Update some minor UI style in Reader buttons and feed empty states
  WordPress/src/main/java/org/wordpress/android/ui/ActionableEmptyView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderBlogFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/res/color/on_surface_on_primary_surface_selector.xml
  WordPress/src/main/res/color/reader_button_primary_background_selector.xml
  WordPress/src/main/res/color/reader_interest_filter_chip_background_selector.xml
  WordPress/src/main/res/color/reader_interest_filter_chip_ripple_selector.xml
  WordPress/src/main/res/color/reader_interest_filter_chip_stroke_selector.xml
  WordPress/src/main/res/color/reader_interest_filter_chip_text_selector.xml
  WordPress/src/main/res/drawable-mdpi/illustration_reader_empty.png
  WordPress/src/main/res/drawable-xhdpi/illustration_reader_empty.png
  WordPress/src/main/res/drawable-xxhdpi/illustration_reader_empty.png
  WordPress/src/main/res/drawable-xxxhdpi/illustration_reader_empty.png
  WordPress/src/main/res/drawable/img_illustration_following_empty_results_196dp.xml
  WordPress/src/main/res/layout/reader_discover_fragment_layout.xml
  WordPress/src/main/res/layout/reader_empty_view.xml
  WordPress/src/main/res/layout/reader_fragment_list.xml
  WordPress/src/main/res/layout/reader_interest_filter_chip.xml
  WordPress/src/main/res/layout/reader_interests_fragment_layout.xml
  WordPress/src/main/res/layout/reader_no_site_to_reblog.xml
  WordPress/src/main/res/layout/subfilter_page_fragment.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Reader, [Type] Task, Reader IA

#20071 Site Monitor: App links
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlers.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/SiteMonitorLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentActivity.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/DeepLinkHandlersTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, site monitor

#20068 Deprecates old in-line notification icons
  WordPress/src/jetpack/res/drawable/bg_note_avatar_badge.xml
  WordPress/src/main/java/org/wordpress/android/models/NoticonUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/widgets/BadgedImageView.kt
  WordPress/src/main/res/drawable/bg_note_avatar_badge.xml
  WordPress/src/main/res/drawable/bg_oval_warning_dark.xml
  WordPress/src/main/res/drawable/ic_cart_white_24dp.xml
  WordPress/src/main/res/drawable/ic_info_white_24dp.xml
  WordPress/src/main/res/drawable/ic_mention_white_24dp.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/test/java/org/wordpress/android/models/NoticonUtilsTest.kt
Labels: Notifications, [Type] Task

#20073 Update the heading style
  WordPress/src/main/res/layout/notifications_list_item.xml
Labels: Notifications, [Type] Task

#20075 Site Monitor: Add analytics for tabs and fix tab colors
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorTabHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorTabViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorUtils.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, site monitor

#20070 [Lib] Bump Login-Flow library from 1.10 to 1.11
  build.gradle
Labels: [Type] Task, Android 14

#20076 Update notification rows
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/utils/NotificationsUtils.java
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/values-night/styles.xml
  WordPress/src/main/res/values/attrs.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: Notifications, [Type] Task

#20074 Stats Traffic: Today card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCaseTest.kt
Labels: [Type] Task, Stats Traffic Tab

#19964 Upgrade React Native to version 0.71.15
  build.gradle
Labels: Gutenberg

#20046 Disables saving react root view from parent
  RELEASE-NOTES.txt
  build.gradle
Labels: Posting/Editing, [Type] Crash

#20069 Refactor the usage of the date selector in the Stats screens
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModelFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/DetailListViewModel.kt
Labels: [Type] Enhancement, Stats Traffic Tab

#20079 Update read/unread status indication
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NotesAdapter.java
  WordPress/src/main/res/drawable/ic_notification_unread.xml
  WordPress/src/main/res/layout/notifications_list_item.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/strings.xml
Labels: Notifications, [Type] Task

#20080 Handle granularity on Traffic tab pages
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModelFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/BaseListUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/DetailListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/detail/PostDayViewsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BaseStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/GranularStatefulUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/GranularStatelessUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/SelectedDateProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/OverviewUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AnnualSiteStatsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/ViewsAndVisitorsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedTrafficGranularityManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsAnalyticsUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateSelector.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/StatsDateSelectorTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/AnnualSiteStatsUseCaseTest.kt
Labels: [Type] Task, unit-tests-exemption, Stats Traffic Tab

#20081 [Reader IA] Fix crash on Subfilter Sheet when rotating the device
  WordPress/src/main/java/org/wordpress/android/ui/reader/SubfilterBottomSheetFragment.kt
Labels: Reader, [Type] Crash, Reader IA

#20077 Fixes: site monitor prevent webview reload
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorFragmentContainer.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorTabFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorTabHeader.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorTabNavigation.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorTabViewModelSlice.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorWebViewClient.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorTabViewModelSliceTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitemonitor/SiteMonitorWebViewClientTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTrackerNosara.java
Labels: [Type] Task, unit-tests-exemption, site monitor
