Repository wordpress-mobile/WordPress-Android, pull requests merged in 2024-05, with the labels that each got.

#20734 Profile every 100th performance transaction
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/util/crashlogging/WPPerformanceMonitoringConfig.kt
  WordPress/src/test/java/org/wordpress/android/util/crashlogging/WPPerformanceMonitoringConfigTest.kt
Labels: Tooling

#20728 Emails stats card
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/BlockDiffCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NavigationTarget.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModelFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/EmailsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ListHeaderViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ListItemWithTwoValuesViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/res/layout/stats_block_list_header_item.xml
  WordPress/src/main/res/layout/stats_block_list_item_with_two_values.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/EmailsUseCaseTest.kt
  build.gradle
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_emails_summary.json
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_subscribers.json
Labels: Stats, unit-tests-exemption

#20729 [Reader] Connect fetch tags logic with compose UI
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/utils/ReaderUtilsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItem.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: Reader, Tags IA

#20745 Fix: Null Pointer Exception in PublishSettingsViewModel
  WordPress/src/main/java/org/wordpress/android/ui/posts/PublishSettingsViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModelTest.kt
Labels: Posting/Editing, [Type] Crash

#20735 Add subscribers list card
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsViewType.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/NavigationTarget.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModelFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/EmailsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersChartUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsNavigator.kt
  WordPress/src/main/res/layout/stats_subscribers_chart_marker.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/EmailsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersChartUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersUseCaseTest.kt
  build.gradle
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Stats, unit-tests-exemption

#20744 Fixes: ActivityNotFoundException for camera
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/photopicker/PhotoPickerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/WPMediaUtils.java
  WordPress/src/main/res/values/strings.xml
Labels: [Type] Crash

#20749 Fix: ActivityNotFound on Publish when no calendar activity found
  WordPress/src/main/java/org/wordpress/android/ui/posts/PublishSettingsFragment.kt
  WordPress/src/main/res/values/strings.xml
Labels: Posting/Editing, [Type] Crash

#20732 Add Total Subscribers card to Subscribers tab
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/TotalSubscribersUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalSubscribersUseCaseTest.kt
Labels: Stats, [Type] Task, unit-tests-exemption

#20750 Fix: PublishSettingsViewModel NPE on create date
  WordPress/src/main/java/org/wordpress/android/ui/posts/PublishSettingsViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostPublishSettingsViewModelTest.kt
Labels: Posting/Editing, [Type] Crash

#20752 Fixes: publish post when device time is set manually
  build.gradle
Labels: [Type] Bug

#20753 Updates: the interval between saving editor changes to DB
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/StorePostViewModel.kt
Labels: Posting/Editing, [Type] Task

#20755 [Reader] Fix post link deeplinks not loading properly
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
Labels: [Type] Bug, Reader, Deeplinks

#20751 Add total subscribers count to subscribers detail
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersUseCaseTest.kt
Labels: Stats

#20743 Fix y-axis issues on the subscribers chart
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/SubscribersChartViewHolder.kt
Labels: Stats

#20742 Disable adding logs as breadcrumbs to Sentry
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
Labels: Tooling

#20746 Fix blank Views & Visitors detail screen
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/granular/usecases/ViewsAndVisitorsDetailUseCase.kt
Labels: [Type] Bug, Stats, unit-tests-exemption

#20760 Updates the PagesViewModel.kt logic for performance improvements
  WordPress/src/main/java/org/wordpress/android/viewmodel/pages/PagesViewModel.kt
Labels: Posting/Editing, Pages List

#20766 Fix: NPE when calling autoCreateLinks with null text
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
Labels: Posting/Editing, [Type] Crash

#20733 Bump Tracks to `5.0.0`
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  build.gradle
  libs/editor/build.gradle
Labels: Tooling

#20768 Merge 24.8-rc-3 and editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/actions/ReaderPostActions.java
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  version.properties
Labels: Releases

#20598 Upgrade ucrop library to 2.2.9
  build.gradle
Labels: [Type] Crash, Media Editing, dependency update

#20765 Prevent the crash on stats chart that occurs when refreshing
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/SubscribersChartViewHolder.kt
Labels: Stats, [Type] Crash

#20756 "stats/subscribers" deeplink
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/handlers/StatsLinkHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/deeplinks/handlers/StatsLinkHandlerTest.kt
Labels: Stats, Deeplinks

#20771 [Bug] Update Aztec editor to 2.1.3.
  build.gradle
Labels: [Type] Bug

#20762 Update background color for dropdown menus
  WordPress/src/main/res/layout/notification_actions.xml
  WordPress/src/main/res/layout/notification_filter_popup.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
Labels: Notifications

#20763 Remove social subscribers
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTotalsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/UiModelMapperTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTotalsUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
Labels: Stats

#20775 [Post List] Make "more" button focusable by screen readers
  WordPress/src/main/res/layout/post_list_item.xml
Labels: [Type] Bug, Post List, Accessibility

#20757 [Reader] Implement tags feed card actions (part 1)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItem.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: Reader, [Type] Task, Tags IA

#20715 [Notifications Refresh] 🤖 Milestone Details: hides the title for achievements
  WordPress/src/main/java/org/wordpress/android/models/NoteExtensions.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/test/java/org/wordpress/android/models/AchievementTypeTest.kt
  WordPress/src/test/java/org/wordpress/android/models/NoteExtensionsTest.kt
Labels: Notifications, [Type] Task, Milestone Notifications

#20759 Comment refactor Part 1
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragmentAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/NotificationCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/SiteCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NoteBlockAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/adapters/NoteBlockAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.kt
Labels: Notifications, Comments

#20779 [Reader] Implement tags feed card actions (part 2)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItem.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: Reader, [Type] Task, Tags IA

#20782 Updates Aztec Editor to 2.1.3
  build.gradle
Labels: [Type] Crash, Aztec

#20774 Fix accessibility issue on emails card
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/BlockListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/EmailsUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/viewholders/ListItemWithTwoValuesViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/ContentDescriptionHelper.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/EmailsUseCaseTest.kt
Labels: [Type] Bug, Stats

#20769 Update "Followers" terminology to "Subscribers"
  WordPress/src/main/java/org/wordpress/android/models/PeopleListFilter.java
  WordPress/src/main/java/org/wordpress/android/models/RoleUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragmentPage.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PersonDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/people/utils/PeopleUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewAllViewModelFactory.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/management/InsightsManagementMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCase.kt
  WordPress/src/main/res/layout/people_list_fragment.xml
  WordPress/src/main/res/layout/person_detail_fragment.xml
  WordPress/src/main/res/layout/stats_block_list_guide_card.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowerTypesUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/FollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/PublicizeUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TotalFollowersUseCaseTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/ServiceMapperTest.kt
Labels: Stats, [Type] Task

#20789 Fix Total Subscribers count
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersUseCase.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/subscribers/usecases/SubscribersUseCaseTest.kt
  build.gradle
  libs/mocks/src/main/assets/mocks/mappings/wpcom/stats/stats_followers.json
Labels: [Type] Bug, Stats, [Status] Not Ready for Merge

#20781 Avoid tracking page accessed on static posters in the WP app
  WordPress/src/main/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/test/java/org/wordpress/android/ui/jetpackoverlay/JetpackFeatureRemovalPhaseHelperTest.kt
Labels: [Type] Bug, Analytics

#20794 [Notifications] Renames follows to subscribers
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/res/layout/notification_filter_popup.xml
Labels: Notifications, [Type] Task

#20761 Redesign the header in the screen of comment details
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/NotificationCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/SiteCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/res/drawable/arrow_right.xml
  WordPress/src/main/res/layout/comment_detail_fragment.xml
  WordPress/src/main/res/layout/note_block_header.xml
Labels: Notifications, Comments

#20787 Prevents the app from crashing when the user agent has not been initialised
  WordPress/src/main/java/org/wordpress/android/ui/WebViewActivity.java
Labels: [Type] Crash, Login

#20785 Fixes: Personalization screen not respecting translation or RTL
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationViewModel.kt
Labels: [Type] Bug, Dashboard Personalization

#20795 Bump to Gravatar-SDK to 0.3.0
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  build.gradle
Labels: [Type] Bug

#20790 [Tags Feed] Lazy load tag rows
  WordPress/src/main/java/org/wordpress/android/ui/reader/repository/ReaderPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: [Type] Task, Tags IA

#20791 [Tags Feed] Implement pull-to-refresh
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: [Type] Task, Tags IA

#20797 Rename incorrect `stats_traffic_subscribers_tab` flag
  WordPress/build.gradle
  WordPress/src/androidTest/resources/new-stats-feature-response.json
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsModule.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/StatsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/WidgetBlockListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/minified/MinifiedWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetBlockListViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/views/ViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetListProvider.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/widget/weeks/WeekViewsWidgetUpdater.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManager.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatter.kt
  WordPress/src/main/java/org/wordpress/android/util/config/StatsTrafficSubscribersTabFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/StatsTrafficSubscribersTabsFeatureConfig.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/StatsViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/widget/today/TodayWidgetBlockListViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/SelectedSectionManagerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/utils/StatsDateFormatterTest.kt
Labels: [Type] Bug, Stats

#20796 Fix: Blaze views not respecting translation or RTL
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazecampaigns/BlazeCampaignParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/blaze/blazepromote/BlazePromoteParentActivity.kt
Labels: [Type] Task, Blaze

#20804 Fix the alignment issue in RTL
  RELEASE-NOTES.txt
  WordPress/src/main/res/layout/item_choose_site.xml
Labels: [Type] Bug, Site Picker

#20801 [Reader] Implement tags feed card actions (part 3)
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTypes.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItem.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: Reader, Tags IA

#20486 [Hack] Add logic to BuildConfig to allow for announcement debugging.
  WordPress/src/main/java/org/wordpress/android/ui/debug/preferences/DebugPrefs.kt
  WordPress/src/main/java/org/wordpress/android/ui/debug/preferences/DebugSharedPreferenceFlagsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/debug/preferences/DebugSharedPreferenceFlagsViewModelTest.kt
Labels: [Type] Enhancement, unit-tests-exemption

#20813 Fix a rare crash on Post List screen
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
Labels: Post List, [Type] Crash

#20816 Fix NPE on History List screen
  WordPress/src/main/java/org/wordpress/android/ui/history/HistoryDetailContainerFragment.java
Labels: [Type] Crash

#20821 Fix a rare crash on login screen
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/SmartLockHelper.java
Labels: [Type] Crash, Login

#20830 Merge 24.9 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
Labels: Releases

#20817 [Reader] Implement analytics events for Tags IA
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/tracker/ReaderTracker.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/ReaderTrackerTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Reader, unit-tests-exemption, Tags IA

#20802 [Tags Feed] Implement Post Item UI improvements
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedComposeUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItemLoading.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: [Type] Task, Tags IA

#20825 [Tags Feed] Improve accessibility
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeedPostListItem.kt
  WordPress/src/main/res/values/strings.xml
Labels: Reader, [Type] Task, Accessibility, Tags IA

#20736 [Gutenberg] - Cancel failed or in progress uploads if the media block is removed
  build.gradle
Labels: Gutenberg

#20827 Add .aiexclude file for safer Gemini usage
  .aiexclude
Labels: [Type] Enhancement, Tooling

#20833 Move the code snippet which caused ANR to background thread
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
Labels: [Type] Bug, Reader, [Type] ANR

#20824 [Bug] Fixed lateinit UninitializedPropertyAccessException
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/SiteCreationMainVM.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/sitecreation/previews/SitePreviewViewModelTest.kt
Labels: [Type] Bug

#20828 Fix NPE on Publish Settings screen
  WordPress/src/main/java/org/wordpress/android/ui/posts/PublishSettingsViewModel.kt
Labels: [Type] Crash

#20836 Fix a rare crash on featured image confirmation dialog
  RELEASE-NOTES.txt
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
Labels: [Type] Crash, Site Editor

#20837 Fix a crash that occurs when remove a user
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleManagementActivity.java
Labels: People Management, [Type] Crash

#20807 [Tooling] Run Danger on the Linter Agent
  .buildkite/pipeline.yml
  .github/workflows/run-danger.yml
  Dangerfile
  Gemfile.lock
Labels: Tooling

#20841 [Gutenberg] Upgrade target sdk version to Android API 34
  RELEASE-NOTES.txt
  build.gradle
Labels: Gutenberg

#20839 [Tags Feed] Implement retry action for error state
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: Reader, [Type] Task, Tags IA

#20842 [Tags Feed] Implement no connection state
  WordPress/src/main/java/org/wordpress/android/ui/bloggingprompts/promptslist/compose/BloggingPromptsListScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/main/res/values-ar/strings.xml
  WordPress/src/main/res/values-cs/strings.xml
  WordPress/src/main/res/values-de/strings.xml
  WordPress/src/main/res/values-en-rCA/strings.xml
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCO/strings.xml
  WordPress/src/main/res/values-es/strings.xml
  WordPress/src/main/res/values-fr-rCA/strings.xml
  WordPress/src/main/res/values-fr/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  WordPress/src/main/res/values-he/strings.xml
  WordPress/src/main/res/values-id/strings.xml
  WordPress/src/main/res/values-it/strings.xml
  WordPress/src/main/res/values-ja/strings.xml
  WordPress/src/main/res/values-ko/strings.xml
  WordPress/src/main/res/values-lv/strings.xml
  WordPress/src/main/res/values-nl/strings.xml
  WordPress/src/main/res/values-pt-rBR/strings.xml
  WordPress/src/main/res/values-ro/strings.xml
  WordPress/src/main/res/values-ru/strings.xml
  WordPress/src/main/res/values-sq/strings.xml
  WordPress/src/main/res/values-sv/strings.xml
  WordPress/src/main/res/values-tr/strings.xml
  WordPress/src/main/res/values-zh-rCN/strings.xml
  WordPress/src/main/res/values-zh-rHK/strings.xml
  WordPress/src/main/res/values-zh-rTW/strings.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
Labels: Reader, [Type] Task, Tags IA

#20844 [Tags Feed] Fix duplicate tracking in Reader subfilter
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/subfilter/SubFilterViewModelTest.kt
Labels: [Type] Bug, Reader, Analytics, [Status] Not Ready for Merge, Tags IA

#20853 [Voice to Content] Implement voice to content feature flag
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/util/config/VoiceToContentFeatureConfig.kt
Labels: [Type] Task, Voice to Content

#20846 [Reader] Implement announcement card
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefsWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderAnnouncementCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCase.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderAnnouncementCardFeatureConfig.kt
  WordPress/src/main/res/drawable/ic_reader_tag.xml
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/stats/refresh/lists/sections/insights/usecases/TagsAndCategoriesUseCaseTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Reader, unit-tests-exemption, Tags IA

#20845 Fix NPE in Site Settings
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
Labels: Site Settings, [Type] Crash

#20861 [Reader] Implement announcement card improvements
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
  WordPress/src/main/res/layout/reader_fragment_layout.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModelTest.kt
Labels: Reader, Tags IA

#20867 [Reader] Show filters in A8C and P2 feeds
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderViewModel.kt
Labels: [Type] Bug, Reader, Tags IA

#20871 [Voice to Content] Implement frag/view model skeleton
  WordPress/src/main/assets/jetpack-ai-transcription-test-audio-file.m4a
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  WordPress/src/main/res/drawable/ic_mic_white_24dp.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/voicetocontent/VoiceToContentFeatureUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/voicetocontent/VoiceToContentViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModelTest.kt
  build.gradle
Labels: [Type] Task, Voice to Content

#20869 Integrate gutenberg-mobile release v1.119.0
  build.gradle
Labels: Gutenberg

#20877 [Reader] Also add announcement card into the new Tags Feed
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderAnnouncementCardView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderAnnouncementCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderTagsFeedViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedUiStateMapperTest.kt
Labels: [Type] Enhancement, Reader, Tags IA

#20879 [Tags Feed] Enable FFs by default for Tags Feed and Announcement
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderAnnouncementCardFeatureConfig.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderTagsFeedFeatureConfig.kt
Labels: Reader, [Type] Task, Tags IA

#20884 Update RELEASE-NOTES for tags ia changes
  RELEASE-NOTES.txt
Labels: [Type] Task, Tags IA

#20883 [Reader] Use Body Small style for Announcement card descriptions
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/ReaderAnnouncementCard.kt
Labels: [Type] Enhancement, Reader, Tags IA

#20876 Handles authorisation in image urls with redirection
  WordPress/src/main/java/org/wordpress/android/modules/WordPressGlideModule.kt
  build.gradle
Labels: [Type] Bug, Reader, Media

#20878 [Voice to Content] Implement Jetpack-ai-query into workflow
  WordPress/src/main/java/org/wordpress/android/ui/main/MainActionListItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentUseCase.kt
  WordPress/src/main/java/org/wordpress/android/viewmodel/main/WPMainActivityViewModel.kt
  build.gradle
Labels: [Type] Task, unit-tests-exemption, Voice to Content

#20885 [Voice to Content] Implement jetpack ai assistant feature into view model
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/voicetocontent/VoiceToContentViewModelTest.kt
  build.gradle
Labels: [Type] Task, unit-tests-exemption, Voice to Content

#20895 [Reader] Add tracks for text highlight/copy in Post Details body
  WordPress/src/jetpack/assets/reader_text_events.js
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Reader, Analytics, [Type] Task, Tracks

#20897 [Reader] Fix "Your Tags" feed scrolling to top on screen orientation change
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
Labels: Reader, Tags IA

#20901 Merge 25.0 editorialized release notes to trunk
  WordPress/jetpack_metadata/PlayStoreStrings.po
  WordPress/jetpack_metadata/release_notes.txt
  WordPress/metadata/PlayStoreStrings.po
  WordPress/metadata/release_notes.txt
  WordPress/src/jetpack/assets/reader_text_events.js
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostRenderer.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderTagsFeedFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/compose/tagsfeed/ReaderTagsFeed.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/viewmodels/ReaderPostDetailViewModelTest.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Releases

#20894 Comment details pending moderation redesign
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/ModerationBottomSheetDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/NotificationCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/SharedCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/SiteCommentDetailFragment.kt
  WordPress/src/main/res/drawable/delete_24.xml
  WordPress/src/main/res/drawable/error_outline_24.xml
  WordPress/src/main/res/drawable/ic_time_16dp.xml
  WordPress/src/main/res/drawable/watch_later_24.xml
  WordPress/src/main/res/layout/comment_detail_fragment.xml
  WordPress/src/main/res/layout/comment_moderation.xml
  WordPress/src/main/res/layout/comment_pending.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
Labels: Notifications, Comments

#20886 Voice to Content: basic media recorder implementation
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/RecordingUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/audio/AudioRecorder.kt
  WordPress/src/main/java/org/wordpress/android/util/audio/IAudioRecorder.kt
  WordPress/src/main/java/org/wordpress/android/util/audio/RecordingParams.kt
  WordPress/src/main/java/org/wordpress/android/util/audio/RecordingUpdate.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/voicetocontent/VoiceToContentFeatureUtilsTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/voicetocontent/VoiceToContentViewModelTest.kt
Labels: unit-tests-exemption, Voice to Content

#20870 [Bug] Remove flow and use callbacks instead. I know, pain.
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScannerScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/BarcodeScanningFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/CodeScanner.kt
  WordPress/src/main/java/org/wordpress/android/ui/barcodescanner/GoogleMLKitCodeScanner.kt
Labels: [Type] Bug

#20911 Increase Cursor Window Size to 20mb to load larger posts
  WordPress/src/main/java/org/wordpress/android/WellSqlInitializer.kt
  WordPress/src/release/java/org/wordpress/android/WPWellSqlConfig.kt
  WordPress/src/release/java/org/wordpress/android/WellSqlInitializer.kt
Labels: Core, [Type] Crash, unit-tests-exemption

#19440 Remove unnecessary logs from the domain screen in the site creation flow
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
Labels: [Type] Enhancement, Plans in Site Creation

#20915 [Voice To Content] AudioRecorder improvements
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/RecordingUseCase.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/audio/AudioRecorder.kt
  WordPress/src/main/java/org/wordpress/android/util/audio/IAudioRecorder.kt
  WordPress/src/main/java/org/wordpress/android/util/audio/RecordingStrategy.kt
Labels: [Type] Task, unit-tests-exemption, Voice to Content

#20852 [Gutenberg] Voice to content
  RELEASE-NOTES.txt
  build.gradle
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergContainerFragment.java
Labels: Gutenberg

#20916 Comment details approve moderation redesign
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentDetailViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/ModerationBottomSheetDialogFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/NotificationCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/SharedCommentDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/comments/SiteCommentDetailFragment.kt
  WordPress/src/main/res/drawable/baseline_check_16.xml
  WordPress/src/main/res/layout/comment_approved.xml
  WordPress/src/main/res/layout/comment_detail_fragment.xml
  WordPress/src/main/res/layout/comment_moderation.xml
  WordPress/src/main/res/layout/comment_pending.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/main/res/values/styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/comments/CommentDetailViewModelTest.kt
Labels: Notifications, Comments

#20924 [Voice to Content] Capture transcription error logs
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/VoiceToContentUseCase.kt
  build.gradle
Labels: [Type] Task, unit-tests-exemption, Voice to Content

#20809 [Notifications Refresh] 🤖 Milestone Details: Badge and Title
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/MilestoneDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NoteBlockTextClickListener.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/MilestoneNoteBlock.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/blocks/NoteBlock.kt
  WordPress/src/main/res/layout/note_block_milestone.xml
  WordPress/src/main/res/layout/notifications_fragment_detail_list.xml
  WordPress/src/main/res/raw/confetti.json
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/styles.xml
Labels: Notifications, [Type] Task, unit-tests-exemption
