Repository wordpress-mobile/WordPress-Android, pull requests merged in 2024-08, with the labels that each got.

#21104 Update `release-toolkit` to version 11.1.0
  Gemfile.lock
Labels: Tooling

#21106 Disable Sentry telemetry
  WordPress/build.gradle
Labels: Tooling

#21107 Feedback form attachments UI
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormAttachment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserType.java
  WordPress/src/main/java/org/wordpress/android/util/extensions/UriExt.kt
  WordPress/src/main/res/drawable/ic_attachment_link.xml
  WordPress/src/main/res/values/strings.xml
Labels: User Feedback, unit-tests-exemption

#21112 Hotfix 25.2.1: Remove the app rating dialog
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/AppPrefs.java
  WordPress/src/main/java/org/wordpress/android/widgets/AppReviewManager.kt
Labels: Linked to App Review

#21110 Merge JUnit unit tests report
  .buildkite/commands/run-unit-tests.sh
  .buildkite/pipeline.yml
  .buildkite/shared-pipeline-vars
Labels: [Type] Enhancement, Testing

#21082 Bump AGP to `8.5.1`
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/HelpActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/signup/SignupEpilogueFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/views/TrainOfAvatarsView.kt
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkNavigator.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainNavigationView.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/personalization/PersonalizationActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/pages/PageItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/people/WPEditTextWithChipsOutlined.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostUtils.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/social/compose/PostSocialMessageItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/LearnMorePreference.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorParentActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/lists/StatsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/suggestion/SuggestionActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/DownloadManagerWrapper.kt
  WordPress/src/main/java/org/wordpress/android/ui/voicetocontent/WaveformVisualizer.kt
  WordPress/src/main/java/org/wordpress/android/util/WPLinkMovementMethod.java
  WordPress/src/test/java/org/wordpress/android/viewmodel/helpers/ConnectionStatusLiveDataTest.kt
  config/lint/baseline.xml
  config/lint/lint.xml
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  settings.gradle
Labels: Tech Debt

#21115 Feedback form: upload attachments
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskUploadHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormAttachment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormViewModel.kt
Labels: User Feedback, unit-tests-exemption

#21116 Feedback form progress
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ProgressDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: User Feedback, unit-tests-exemption

#21117 Feedback form: suspend while uploading
  .idea/codeStyles/Project.xml
  WordPress/src/main/java/org/wordpress/android/support/ZendeskUploadHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/FileExt.kt
Labels: User Feedback, unit-tests-exemption

#21119 Feedback form: suspend cancel upload
  WordPress/src/main/java/org/wordpress/android/support/ZendeskUploadHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: User Feedback, unit-tests-exemption

#21120 [Tooling] Update Ruby dependencies
  Gemfile.lock
Labels: Tooling

#21118 Bump `checkstyle` to `10.17.0`
  WordPress/src/androidTest/java/org/wordpress/android/UserAgentTest.java
  WordPress/src/androidTest/java/org/wordpress/android/networking/AuthenticatorRequestTest.java
  WordPress/src/androidTest/java/org/wordpress/android/networking/WPNetworkImageViewTest.java
  WordPress/src/androidTest/java/org/wordpress/android/support/BaseTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/notifications/NotesParseTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/posts/PostUtilsTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/JPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/ui/screenshots/WPScreenshotTest.java
  WordPress/src/androidTest/java/org/wordpress/android/util/AutolinkUtilsTest.java
  WordPress/src/androidTest/java/org/wordpress/android/util/UrlUtilsTest.java
  WordPress/src/androidTest/java/org/wordpress/android/util/WPUrlUtilsTest.java
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
  WordPress/src/main/java/org/wordpress/android/push/GCMMessageService.java
  WordPress/src/main/java/org/wordpress/android/push/NotificationsProcessingService.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/comments/CommentsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/deeplinks/DeepLinkingIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaGridAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsDetailActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/people/PeopleInviteFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/prefs/SiteSettingsFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeDetailFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/quickstart/QuickStartReminderReceiver.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderCommentListActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostJobService.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/post/ReaderPostService.java
  build.gradle
  config/checkstyle.xml
Labels: [Type] Enhancement, Tooling

#21114 Feature: Feedback form attachments
  .idea/codeStyles/Project.xml
  WordPress/src/main/java/org/wordpress/android/support/ZendeskHelper.kt
  WordPress/src/main/java/org/wordpress/android/support/ZendeskUploadHelper.kt
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ProgressDialog.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormAttachment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserType.java
  WordPress/src/main/java/org/wordpress/android/util/extensions/FileExt.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/UriExt.kt
  WordPress/src/main/res/drawable/ic_attachment_link.xml
  WordPress/src/main/res/values/strings.xml
Labels: User Feedback, unit-tests-exemption

#21123 Bump Aztec to `2.1.4`
  build.gradle
Labels: [Type] Enhancement, Tech Debt

#21125 Constraint `gson` in build classpath
  build.gradle
Labels: [Type] Enhancement, Tech Debt

#21101 Introduce tests sharding
  .buildkite/commands/run-instrumented-tests.sh
  WordPress/build.gradle
  fastlane/lanes/test.rb
  settings.gradle
Labels: [Type] Enhancement, UI Tests

#21121 Feedback form: attachment pager
  Gemfile.lock
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/MediaUriPager.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormAttachment.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/feedbackform/FeedbackFormViewModel.kt
  WordPress/src/main/java/org/wordpress/android/util/extensions/UriExt.kt
  WordPress/src/main/res/values/strings.xml
Labels: Media, unit-tests-exemption

#21129 [Tooling] Update Ruby Dependencies
  Gemfile.lock
Labels: Tooling, dependency update

#21155 Drop Flipper
  WordPress/build.gradle
  WordPress/src/androidTest/java/org/wordpress/android/modules/DummyInterceptorModule.kt
  WordPress/src/debug/AndroidManifest.xml
  WordPress/src/debug/java/org/wordpress/android/WordPressDebug.java
  WordPress/src/debug/java/org/wordpress/android/modules/InterceptorModule.java
  build.gradle
Labels: Tech Debt

#20958 Remove maximum number of posts that can be loaded in ReaderPostAdapter
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
Labels: Reader

#20947 [Reader] Remove improvements FF and unused UI files
  WordPress/build.gradle
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostDetailFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/adapters/ReaderPostAdapter.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderCardUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderInterestNewAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderRecommendedBlogsAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderRecommendedBlogsNewAdapter.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderInterestNewViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderInterestViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderInterestsCardNewViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderInterestsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostNewViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderPostViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogNewViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogsCardNewViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/viewholders/ReaderRecommendedBlogsCardViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/viewmodels/tagsfeed/ReaderTagsFeedViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderExpandableTagsView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderPostDetailsHeaderViewUiStateBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderSiteHeaderView.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderTagHeaderView.kt
  WordPress/src/main/java/org/wordpress/android/util/config/ReaderImprovementsFeatureConfig.kt
  WordPress/src/main/res/layout/reader_cardview_removed_post.xml
  WordPress/src/main/res/layout/reader_cardview_removed_post_new.xml
  WordPress/src/main/res/layout/reader_cardview_xpost.xml
  WordPress/src/main/res/layout/reader_cardview_xpost_new.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_chip_new.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_overflow_chip.xml
  WordPress/src/main/res/layout/reader_expandable_tags_view_overflow_chip_new.xml
  WordPress/src/main/res/layout/reader_fragment_post_detail.xml
  WordPress/src/main/res/layout/reader_include_post_detail_footer.xml
  WordPress/src/main/res/layout/reader_include_post_detail_footer_new.xml
  WordPress/src/main/res/layout/reader_interest_card.xml
  WordPress/src/main/res/layout/reader_interest_card_new.xml
  WordPress/src/main/res/layout/reader_interest_item.xml
  WordPress/src/main/res/layout/reader_interest_item_new.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view.xml
  WordPress/src/main/res/layout/reader_post_detail_header_view_new.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item.xml
  WordPress/src/main/res/layout/reader_recommended_blog_item_new.xml
  WordPress/src/main/res/layout/reader_recommended_blogs_card.xml
  WordPress/src/main/res/layout/reader_recommended_blogs_card_new.xml
  WordPress/src/main/res/layout/reader_site_header_view.xml
  WordPress/src/main/res/layout/reader_site_header_view_new.xml
  WordPress/src/main/res/layout/reader_tag_header_view.xml
  WordPress/src/main/res/layout/reader_tag_header_view_new.xml
  WordPress/src/main/res/values-night/colors.xml
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/dimens.xml
  WordPress/src/main/res/values/reader_styles.xml
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderPostUiStateBuilderTest.kt
Labels: Reader, unit-tests-exemption
