Repository wordpress-mobile/WordPress-Android, pull requests merged in 2025-06, with the labels that each got.

#21930 Use Nullable annotation for the new SiteModel fields
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/model/SiteModel.java
Labels: [Type] Enhancement

#21934 WPAndroid: Fix keyboard overlaps editor (again)
  WordPress/src/main/java/org/wordpress/android/ui/main/BaseAppCompatActivity.kt
Labels: Posting/Editing, Bug

#21947 Initial subscribers DataView
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewFieldType.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemField.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemFilter.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemImage.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DummyDataViewItems.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/BaseAppCompatActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: unit-tests-exemption, Subscribers

#21956 Enable Subscribers on MenuActivity
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/test/java/org/wordpress/android/ui/mysite/cards/ListItemActionHandlerTest.kt
Labels: Subscribers, My Site

#21953 feat: GutenbergKit synchronizes featured images
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  gradle/libs.versions.toml
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergKitEditorFragment.java
Labels: [Type] Enhancement, Gutenberg

#21957 Subscribers network call
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewFieldType.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemField.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewUiState.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DummyDataViewItems.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/menu/MenuActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersViewModel.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/notifications/NotificationsListViewModelTest.kt
  gradle/libs.versions.toml
Labels: Subscribers

#21970 Remove singleton for WpLoginClient creation
  WordPress/src/main/java/org/wordpress/android/modules/ApplicationModule.java
Labels: [Type] Task

#21969 Subscriber detail navigation, take two
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/compose/RemoteImage.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscriberDetailScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: Subscribers

#21968 Show the site selector and set up my site screen after the application password login
  WordPress/src/main/java/org/wordpress/android/ui/accounts/applicationpassword/ApplicationPasswordLoginActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/applicationpassword/ApplicationPasswordLoginViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/ApplicationPasswordLoginHelper.kt
  WordPress/src/test/java/org/wordpress/android/ui/accounts/applicationpassword/ApplicationPasswordLoginViewModelTest.kt
Labels: [Type] Task

#21976 Create claude.md
  CLAUDE.md
Labels: AI
