Repository wordpress-mobile/WordPress-Android, pull requests merged in 2025-02, with the labels that each got.

#21658 fix: Address editor crashes from null listeners
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergKitEditorFragment.java
Labels: [Type] Crash, Gutenberg

#21657 fix: Address editor crashes from null listeners
  RELEASE-NOTES.txt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergKitEditorFragment.java
Labels: [Type] Crash, Gutenberg

#21660 fix: Address editor crashes from null listeners
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergKitEditorFragment.java
Labels: [Type] Crash, Gutenberg

#21662 fix: Prevent discarding editor WebView state during orientation change
  RELEASE-NOTES.txt
  WordPress/src/main/AndroidManifest.xml
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergKitEditorFragment.java
Labels: [Type] Bug, Gutenberg

#21663 refactor: Simplify GutenbergKit content change listener
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  gradle/libs.versions.toml
  libs/editor/src/main/java/org/wordpress/android/editor/AztecEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/EditorFragmentAbstract.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergEditorFragment.java
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergKitEditorFragment.java
Labels: [Type] Task, Gutenberg

#21665 Fix ClassCastException caused by assuming editorFragment was a Gutenb…
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
Labels: [Type] Crash, Gutenberg

#21667 [25.7] Fix ClassCastException caused by assuming editorFragment was a GutenbergEditorFragment
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
Labels: Gutenberg

#21670 Fix site creation illegal state
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/domains/SiteCreationDomainsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/misc/SiteCreationSearchInputUiState.kt
Labels: [Type] Crash, Site Creation

#21673 fix: Catch null content errors
  RELEASE-NOTES.txt
  gradle/libs.versions.toml
  libs/editor/src/main/java/org/wordpress/android/editor/gutenberg/GutenbergKitEditorFragment.java
Labels: [Type] Crash, Gutenberg

#21677 [CI] Fix Incorrect Duration of Buildkite Groups
  .buildkite/shared-pipeline-vars
Labels: Core, Tooling

#21688 Update Gravatar to 2.3.1
  gradle/libs.versions.toml
Labels: Gravatar

#21680 [Build] Update Gradle to 8.12.1 and AGP to 8.8.1
  WordPress/src/main/java/org/wordpress/android/ui/history/RevisionItemViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpack/scan/details/adapters/viewholders/ThreatContextLineViewHolder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mediapicker/MediaPickerActionModeCallback.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/refresh/SubscribersChartMarkerView.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  libs/login/src/main/java/org/wordpress/android/login/webauthn/PasskeyRequest.kt
Labels: Core, Tooling, Tech Debt

#21695 Check the login mode before exiting when already logged in (25.7)
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
Labels: Self-hosted, Login

#21703 Merge 25.7-rc-2 to trunk
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/res/values-en-rGB/strings.xml
  WordPress/src/main/res/values-es-rCL/strings.xml
  WordPress/src/main/res/values-gl/strings.xml
  fastlane/metadata/android/es-ES/changelogs/default.txt
  fastlane/metadata/android/nl-NL/changelogs/default.txt
  version.properties
Labels: Releases

#21707 Reader Discover not matching iOS & Web
  WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/services/discover/ReaderDiscoverLogic.kt
  WordPress/src/test/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverViewModelTest.kt
Labels: Reader

#21698 refactor: Improve GutenbergKit autosave logic
  gradle/libs.versions.toml
Labels: [Type] Task, Gutenberg
