Repository wordpress-mobile/WordPress-Android, pull requests merged in 2025-08, with the labels that each got.

#22082 Dependabot should ignore `encryptedlogging` updates due our custom versioning
  .github/dependabot.yml
Labels: Tooling

#22085 Move `GutenbergKitEditorFragment` to WordPress Module
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.java
  WordPress/src/main/res/layout/fragment_gutenberg_kit_editor.xml
Labels: Posting/Editing, Gutenberg

#22084 Replace `PrepublishingBottomSheetListener` with `ViewModel` Communication
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingBottomSheetFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/PrepublishingViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/categories/PrepublishingCategoriesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/categories/addcategory/PrepublishingAddCategoryFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/prepublishing/social/PrepublishingSocialFragment.kt
Labels: Posting/Editing

#22086 Convert `GutenbergKitEditorFragment` from Java to Kotlin
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.kt
Labels: Posting/Editing, Gutenberg

#22087 Implement GutenbergKit ViewModel Architecture
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/modules/ViewModelModule.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/GutenbergKitViewModelTest.kt
Labels: Posting/Editing, Gutenberg

#22080 feat: GutenbergKit uploads VideoPress files
  gradle/libs.versions.toml
Labels: [Type] Enhancement, Gutenberg

#22096 [Tests] Fix Android Tests Compilation Failure (`V2`)
  WordPress/src/androidTest/java/org/wordpress/android/support/WPSupportUtils.java
  gradle.properties
Labels: UI Tests

#22079 Jetpack connection UI
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ScreenWithTopAppBarM3.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackconnection/JetpackConnectionActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackconnection/JetpackConnectionScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackconnection/JetpackConnectionViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
Labels: unit-tests-exemption, Jetpack Connection

#22101 Create application password list screen with dummy data
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/applicationpassword/ApplicationPasswordsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/accounts/applicationpassword/ApplicationPasswordsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/res/drawable/ic_outline_key_vertical_24.xml
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/values/strings.xml
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: [Type] Task, unit-tests-exemption

#22105 Fix inaccessible button in Jetpack install
  WordPress/src/main/java/org/wordpress/android/ui/main/BaseAppCompatActivity.kt
Labels: Jetpack, Android 15

#22114 Fix: hide the Application Password card when the feature is disabled
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/applicationpassword/ApplicationPasswordViewModelSlice.kt
Labels: [Type] Bug

#22108 CMM 671: show real data inside the new application password screen
  WordPress/src/main/java/org/wordpress/android/ui/accounts/applicationpassword/ApplicationPasswordsViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItem.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewItemCard.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/MeFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/MySiteFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/SiteNavigationAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/cards/ListItemActionHandler.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/ListItemAction.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteItemsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilder.kt
  WordPress/src/main/res/layout/me_fragment.xml
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/mysite/items/listitem/SiteListItemBuilderTest.kt
Labels: [Type] Task

#22103 Jetpack rest connection feature branch
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/ui/compose/components/ScreenWithTopAppBarM3.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/experimentalfeatures/ExperimentalFeatures.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/experimentalfeatures/ExperimentalFeaturesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.kt
  WordPress/src/main/res/values/colors.xml
  WordPress/src/main/res/values/strings.xml
Labels: unit-tests-exemption, Jetpack REST Connection

#22115 Jetpack REST connection log into wp.com
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/accounts/LoginActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModel.kt
  WordPress/src/main/res/values/strings.xml
  libs/login/src/main/java/org/wordpress/android/login/LoginMode.java
Labels: Jetpack REST Connection

#22118 CMM-676 DataView custom empty view
  WordPress/src/main/java/org/wordpress/android/ui/accounts/applicationpassword/ApplicationPasswordsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/dataview/DataViewViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/subscribers/SubscribersViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: Subscribers

#22109 feat: GutenbergKit supports mentions and cross-posts
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.kt
  gradle/libs.versions.toml
Labels: [Type] Enhancement, Gutenberg

#22120 Migrate Remaining `EditPostActivity` Direct Launches to `EditorLauncher`
  WordPress/src/main/java/org/wordpress/android/ui/ActivityLauncher.java
  WordPress/src/main/java/org/wordpress/android/ui/AddQuickPressShortcutActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/ShareIntentReceiverFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorLauncherParams.kt
  WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadNotifier.java
  WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadUtils.java
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditorLauncherTest.kt
Labels: Posting/Editing

#22122 Remove `EditPostActivity` companion object
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/pages/PagesFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorConstants.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/PostsListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostListActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderPostPagerActivity.kt
  WordPress/src/main/java/org/wordpress/android/util/analytics/AnalyticsUtils.java
Labels: Posting/Editing

#22119 Jetpack REST connection: install plugin
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackInstaller.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModel.kt
  WordPress/src/main/res/values/strings.xml
Labels: unit-tests-exemption, Jetpack REST Connection

#22123 Extract unit functions and repository logic from `EditPostActivity`
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostRepository.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorUnitFunctions.kt
Labels: Posting/Editing

#22140 Duplicate `EditPostActivity` as `GutenbergKitActivity`
  WordPress/src/main/AndroidManifest.xml
  WordPress/src/main/java/org/wordpress/android/modules/AppComponent.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
Labels: Posting/Editing, Gutenberg, unit-tests-exemption

#22141 Clean up `GutenbergKitActivity` and enable navigation routing
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditorLauncher.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
Labels: Posting/Editing, Gutenberg

#22143 Create standalone `GutenbergKit` editor base class
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragmentBase.java
Labels: Posting/Editing, Gutenberg, unit-tests-exemption

#22149 Fix HTML Mode toggle for Gutenberg Mobile editor
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
Labels: Posting/Editing, Gutenberg

#22152 Renamed variable to make it clear it's the site url
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/main/WPMainActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaBrowserActivity.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/WpAppNotifierHandler.kt
Labels: Jetpack REST Connection

#22154 Fix: bug when requesting Jetpack sites after plugin installation
  WordPress/src/main/java/org/wordpress/android/ui/accounts/login/ApplicationPasswordLoginHelper.kt
  WordPress/src/test/java/org/wordpress/android/ui/accounts/login/ApplicationPasswordLoginHelperTest.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/action/SiteAction.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.kt
Labels: [Type] Bug

#22156 Jetpack REST connection analytics
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModel.kt
  libs/analytics/src/main/java/org/wordpress/android/analytics/AnalyticsTracker.java
Labels: Analytics, Jetpack REST Connection

#22162 Jetpack REST connection: Remove feature flag
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/notifications/NotificationsListFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/experimentalfeatures/ExperimentalFeatures.kt
  WordPress/src/main/java/org/wordpress/android/ui/prefs/experimentalfeatures/ExperimentalFeaturesViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/stats/StatsConnectJetpackActivity.kt
  WordPress/src/main/res/values/strings.xml
  WordPress/src/test/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModelTest.kt
Labels: Jetpack REST Connection

#22163 JP connect errors
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionScreen.kt
  WordPress/src/main/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModel.kt
  WordPress/src/test/java/org/wordpress/android/ui/jetpackrestconnection/JetpackRestConnectionViewModelTest.kt
Labels: Jetpack REST Connection

#22164 feat: Enable GutenbergKit remote editor for Jetpack-connected sites
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
Labels: [Type] Enhancement, Gutenberg

#22166 refactor: Remove unused Jetpack global configuration
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.kt
  gradle/libs.versions.toml
Labels: [Type] Task, Gutenberg

#22170 Extract `GutenbergKitSettingsBuilder` to its own file
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitSettingsBuilder.kt
Labels: Posting/Editing, Gutenberg

#22171 Refactor: Move fragment logic from GutenbergKitActivity to fragment
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/editor/GutenbergKitEditorFragmentBase.java
Labels: Posting/Editing, Gutenberg

#22174 Fix UserAgent ANR (again)
  WordPress/src/androidTest/java/org/wordpress/android/UserAgentTest.java
  WordPress/src/main/java/org/wordpress/android/AppInitializer.kt
  WordPress/src/main/java/org/wordpress/android/ui/WebViewActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/blaze/BlazeFeatureUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/layoutpicker/LayoutPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/ExoPlayerUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/media/MediaSettingsActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostAuthViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitActivity.kt
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitSettingsBuilder.kt
  WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeWebViewFragment.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/ReaderVideoViewerActivity.java
  WordPress/src/main/java/org/wordpress/android/ui/reader/views/ReaderWebView.java
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/plans/SiteCreationPlansViewModel.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt
  WordPress/src/main/java/org/wordpress/android/ui/sitemonitor/SiteMonitorUtils.kt
  WordPress/src/main/java/org/wordpress/android/ui/utils/AuthenticationUtils.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/EditPostAuthViewModelTest.kt
  WordPress/src/test/java/org/wordpress/android/ui/posts/GutenbergKitSettingsBuilderTest.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/UserAgent.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/BaseWPAPIRestClient.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/ApplicationPasswordsNetwork.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpapi/applicationpasswords/WPApiApplicationPasswordsRestClient.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/BaseWPComRestClient.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/jetpackai/JetpackAITranscriptionRestClient.kt
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/media/MediaRestClient.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/wporg/BaseWPOrgAPIClient.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/BaseXMLRPCClient.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/MediaXMLRPCClient.java
  libs/fluxc/src/main/java/org/wordpress/android/fluxc/tools/FluxCImageLoader.java
  libs/fluxc/src/test/java/org/wordpress/android/fluxc/network/UserAgentTest.kt
Labels: [Type] Crash, Tech Debt

#22179 fix: Handle possible null web editor values
  WordPress/src/main/java/org/wordpress/android/ui/posts/GutenbergKitSettingsBuilder.kt
Labels: [Type] Crash, Gutenberg
